<!-- main -->

<div class="model-container">
    <!-- header -->
    
        <div class="model-header text-center">
            <mat-icon (click)="close()">close</mat-icon>
            <div class="header-content">
                <img src="../../../../assets/images/avatars/error.svg" class="error-img" alt="">
                <h3 class="fw-bold">Are you Sure?</h3>
            </div>
    
        </div>
    
        <!-- body -->
    
        <div class="model-body">
                <div class="description" *ngIf="document.modelType=='reset'" >
                    This action will reset all statuses under this column. All uploaded documents, pending requests, and rejections will be cleared. Administrators can still access uploaded documents through the history tab for each user.
                </div>
    
                <div class="description" *ngIf="document.modelType=='notification'" >
                    A notification will be sent to all that have a missing/ rejected status for this document.
                </div>
               
        </div>
        <!-- footer -->
    
        <div class="model-footer">
            <button type="button" class="btn btn-primary" (click)="clear()">Clear</button>
            
        </div>
    
    </div>
    
    
    
    
    