<div class="flex flex-col flex-auto min-w-0 main-body-watermark">
    <div class="flex-auto p-6">
        <div class="rounded-2xl common-style-for-cards">
            <div class="com-main" style="border-radius: 10px;">
                <div class="nav rounded-2xl" style="justify-content: space-between;">
                    <div class="flex">
                        <mat-icon svgIcon="arrow_back"
                            [routerLink]="childfolderId ? ['/files-list',folderId,id ] : ['/company-documents']"></mat-icon>
                        <h4 style="margin-left: 15px;">Files and Folders</h4>
                    </div>
                    <div class="flex">
                        <button *ngIf="childfolderId == ''" class="btn" type="button" style="margin-right: 10px;"
                            (click)="openFoldercanvas()">Create Folder</button>
                        <button class="btn" type="button" (click)="openFilecanvas('open', 1)">Upload Files</button>
                    </div>
                </div>

                <div class="offcanvas offcanvas-end" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1"
                    aria-labelledby="offcanvasDocumentLabel" #createFile>
                    <div class="offcanvas-header" style="padding-bottom: 0;">
                        <h5 class="offcanvas-title" id="offcanvasDocumentLabel">{{headingText}}</h5>
                        <button type="button" class="text-reset" aria-label="Close" (click)="closeFilecanvas()">
                            <mat-icon svgIcon="cancel"></mat-icon>
                        </button>
                    </div>
                    <hr>
                    <!-- Canvas for upload file-->
                    <div class="offcanvas-body" *ngIf="this.viewCondition">
                        <form [formGroup]="AddFileName">
                            <div class="row p-3">
                                <label class="form-label">File Name</label>
                                <input class="form-control" type="text" placeholder="Enter File Name"
                                    formControlName="name">
                            </div>
                            <div class="row p-3" *ngIf="!file">
                                <label for="formFile" class="form-label">Upload File</label>
                                <input class="form-control" type="file" id="formFile" placeholder="Upload File"
                                    accept=".pdf,.jpg,.png" (change)="uploadFiles($event)">
                            </div>

                            <div class="row" *ngIf="file">
                                <div class="row pb-1 mt-1 d-flex">
                                    <div class="col-3">
                                        <button (click)="viewFile()" mat-button color="accent" style="border: 1px solid; border-radius: 10px;"><mat-icon
                                                svgIcon="mat_outline:attach_file"></mat-icon>{{ file_name
                                            }}</button>
                                    </div>
                                    <div class="col-4">
                                        <mat-icon (click)="handleFileInput()" style="width:25px;height:25px"
                                            svgIcon="mat_outline:drive_file_rename_outline" style="margin-left: 100px;"></mat-icon>
                                    </div>
                                </div>
                            </div>

                            <div class="row p-3">
                                <label for="formFile" class="form-label">Expiry</label>
                                <input class="form-control" type="date" placeholder="Expiry"
                                    formControlName="expiry_date">
                            </div>

                            <div class="row" style="margin-top: 30px;">
                                <div class="col-12" style="text-align: center;">
                                    <button class="btn" (click)="SaveFile()">Save</button>
                                </div>
                            </div>
                        </form>
                    </div>


                    <!-- Canvas for view document-->
                    <div class="offcanvas-body offcanvas-doc-body" *ngIf="!this.viewCondition && getData">
                        <div class="row">
                            <ng-container>
                                <iframe [src]="previewUrl"
                                    style="width: 100%; height: 250px; border-bottom: 1px solid lightgray;"></iframe>
                            </ng-container>
                        </div>
                        <div class="row" style="margin-top: 20px;">
                            <h4>{{ getData.name }}</h4>
                        </div>
                        <div class="row">
                            <div class="col--12">
                                <button
                                    style="background-color: green; color: #fff; font-weight: 700; cursor: none; padding: 5px 10px;">{{getFileFormat(getData.file_link)}}</button>
                            </div>
                        </div>
                        <div class="row" style="margin-top: 2rem;">
                            <h5>Information</h5>
                        </div>
                        <div class="row" style="border-top: 1px solid lightgrey;">
                            <div class="col-6">
                                <p style="font-weight: 500;">Created by</p>
                            </div>
                            <div class="col-6">
                                <p>{{ getData.created_by }}</p>
                            </div>
                        </div>

                        <div class="row" style="border-top: 1px solid lightgrey;">
                            <div class="col-6">
                                <p style="font-weight: 500;">Created At</p>
                            </div>
                            <div class="col-6">
                                <p>{{ getData.created_at | date: 'd MMMM, y' }}</p>
                            </div>
                        </div>

                        <div class="row" style="border-top: 1px solid lightgrey; border-bottom: 1px solid lightgrey;">
                            <div class="col-6">
                                <p style="font-weight: 500;">Modified At</p>
                            </div>
                            <div class="col-6">
                                <p>{{ getData.updated_at | date: 'd MMMM, y'}}</p>
                            </div>
                        </div>

                        <div class="row company-document-bottom">
                            <div class="col-4" style="text-align: center;">
                                <button class="btn" (click)="downloadFile()">Download</button>
                            </div>
                            <div class="col-4" style="text-align: center;">
                                <button class=""
                                    style="background-color: red; color: #fff; padding: 10px 20px; border-radius: 5px;"
                                    (click)="deleteFile(getData.id)">Delete</button>
                            </div>
                            <div class="col-4" style="text-align: center; margin-left: -24px;">
                                <button class="" style="background-color: #006CA5; color: #fff; padding: 10px 20px; border-radius: 5px; margin-right: 15px;" 
                                (click)="openFilecanvas('edit', getData.id)">Edit</button>
                            </div>
                        </div>
                    </div>


                </div>

            </div>
        </div>

        <section>
            <!--List of Files and Folders-->
            <div class="main pb-3 w-100 px-2">
                <ng-container>
                    <div>
                        <div class="flex flex-wrap -m-2 mt-2">
                            <!--Show Files-->
                            <ng-container *ngFor="let data of allFiles">
                                <div class="relative w-40 h-40 m-2 p-4 shadow rounded-2xl bg-card">
                                    <a class="z-10 absolute inset-0 flex flex-col p-2 cursor-pointer">
                                        <button type="button" (click)="openFilecanvas('view', data.id)">
                                            <div class="aspect-[9/6]">
                                                <div class="flex items-center justify-center h-full">
                                                    <!-- Icon -->
                                                    <mat-icon class="icon-size-14 text-hint opacity-50"
                                                        [svgIcon]="'mat_solid:insert_drive_file'"></mat-icon>
                                                </div>
                                            </div>
                                            <div class="flex flex-col flex-auto justify-center text-center text-sm font-medium">
                                                <div class="truncate">{{data.name}}</div>
                                                <div>{{data.expiry_date | date:'dd-MM-yyyy' }}</div>
                                                <ng-container *ngIf="! data.expiry_date">
                                                    <div class="text-secondary">
                                                        {{this.dateNull}}
                                                    </div>
                                                </ng-container>
                                            </div>
                                        </button>

                                        <!-- <div class="flex flex-row justify-end items-center" style="margin-top: -5px;">
                                            <div class="truncate mr-2">
                                                <i class="fa-regular fa-pen-to-square" style="color: #02367b; font-size: 14px;"
                                                ></i>
                                            </div>
                                        </div> -->
                                    </a>
                                </div>
                            </ng-container>


                            <!--Show Folders-->
                            <ng-container *ngFor="let value of allFolders">
                                <div class="relative w-40 h-40 m-2 p-4 shadow rounded-2xl bg-card">
                                    <a class="z-10 absolute inset-0 flex flex-col p-4 cursor-pointer">
                                        <button type="button" [routerLink]="['/files-list',folderId,value.id]">
                                            <div class="aspect-[9/6]">
                                                <div class="flex items-center justify-center h-full">
                                                    <!-- Icon -->
                                                    <mat-icon class="icon-size-16 text-hint opacity-50"
                                                        [svgIcon]="'heroicons_solid:folder'"
                                                        [ngClass]="{'yellow-icon': true}"></mat-icon>
                                                </div>
                                            </div>
                                            <div
                                                class="flex flex-col flex-auto justify-center text-center text-sm font-medium">
                                                <div class="truncate">{{value.folder}}</div>
                                            </div>
                                        </button>
                                        <div class="flex flex-row justify-end items-center mt-2">
                                            <div class="truncate mr-2">
                                                <i class="fa-regular fa-pen-to-square"
                                                    style="color: #02367b; font-size: 14px;"
                                                    (click)="editFolder(value.id)"></i>
                                            </div>
                                            <div class="truncate">
                                                <i class="fa-solid fa-trash-can"
                                                    style="color: #d1001f; font-size: 14px;"
                                                    (click)="deleteFolder(value.id)"></i>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </ng-container>
                        </div>
                    </div>
                </ng-container>
            </div>

        </section>

    </div>
</div>



<!--upload document-->

<div class="offcanvas offcanvas-end" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1"
    aria-labelledby="offcanvasScrollingLabel" #createFolder>
    <div class="offcanvas-header" style="padding-bottom: 0;">
        <h5 class="offcanvas-title" id="offcanvasScrollingLabel">Create Folder</h5>
        <button type="button" class="text-reset" aria-label="Close" (click)="closeFoldercanvas()">
            <mat-icon svgIcon="cancel"></mat-icon>
        </button>
    </div>
    <hr>
    <div class="offcanvas-body">
        <form [formGroup]="AddFolderName">
            <div class="row">
                <mat-form-field>
                    <mat-label>Name</mat-label>
                    <input matInput placeholder="Enter Folder Name" formControlName="name">
                </mat-form-field>
            </div>
            <div class="row" style="margin-top: 30px;">
                <div class="col-12" style="text-align: center;">
                    <button class="btn" (click)="Save()">Save</button>
                </div>
            </div>
        </form>
    </div>
</div>


<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="default" color="#fff" type="line-spin-fade-rotating">
    <p style="color: white">Please Wait...</p>
</ngx-spinner>