<div class="flex flex-col flex-auto min-w-0 main-body-watermark">
    <!-- Main -->
    <div class="flex-auto p-6">
        <!-- CONTENT GOES HERE -->
        <div class="rounded-2xl common-style-for-cards">
            <div class="com-main" style="border-radius: 10px;">
                <div class="nav rounded-2xl">
                    <h4>Chats</h4>
                </div>
                <div class="main p-6 w-100">
                    <div class="row main_inner w-100 m-0">
                        <ng-container *ngFor="let user of filteredChatsUser">
                            <div class="card p-0 h-100">
                                <img class="card-img-top" [src]="user.image" alt="Card image" style="height: 200px;">
                                <div class="card-body">
                                    <h4 class="card-title">{{ user.name }}</h4>
                                    <div class="actions">
                                        <button [routerLink]="['/chat-app/',user.url]" class="accept">
                                            Access Now
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </ng-container>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>