<div class="card" #fullScreen style="min-height: 450px;max-height: 450px;">
    <div class="flex p-4 justify-between font-size-lg text-capitalize font-weight-normal">
        <span class="mr-2 opacity-7 fw-bold">
            <i class="fa fa-cog fa-spin"></i>
            Security Licences ({{ securityLicenseData.length }})
        </span>
        <mat-icon svgIcon="mat_outline:open_in_full" class="icon-size-5" (click)="openFullscreen()"></mat-icon>
    </div>
    <div class="p-4" [ngClass]="{'full-height-license': isFullscreen, 'table-container-security': !isFullscreen}">
        <table id="example" class="table table-hover table-striped table-borderless ">
            <thead class="bg-black">
                <tr>
                    <th>License</th>
                    <th>Due Date</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody [@stagger]="securityLicenseData.length">
                <ng-container *ngFor="let data of securityLicenseData; let i = index; trackBy: trackByFn">
                    <tr scope="row" [@fadeIn]="" [@stagger]="i">
                        <td>{{ data.first_name }} {{ data.middle_name }} {{ data.last_name }}</td>
                        <td>{{ data.document_expire | date: 'dd-MM-yyyy' }}</td>
                        <td>
                            <span [ngClass]="{'badge badge-pill badge-success':statusCheck(data.document_expire)=='Expired'}">
                                {{ statusCheck(data.document_expire) }}
                            </span>
                        </td>
                    </tr>
                </ng-container>
            </tbody>
        </table>
    </div>
</div>