<div class="flex flex-col flex-auto min-w-0 main-body-watermark">
    <div class="flex-auto p-6">
        <div class="rounded-2xl" *ngIf="adminPermissions && adminPermissions.read">
            <div class="visacheck-page">
                <div class="user-nav rounded-2xl">
                    <h4>Visa Check</h4>
                    <!-- <button *ngIf="adminPermissions && adminPermissions.create" class="btn btn-border-3" (click)="manualVisaVerification('new')">Check Latest Record</button> -->
                </div>
            </div>

            <div class="bg-white rounded-2xl row">
                <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Passport</th>
                            <th>Country Origin</th>
                            <!-- <th>Visa</th> -->
                            <th>Visa Exp</th>
                            <th>Visa Class / Subclass</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let user of filteredVisaData">
                            <td>{{ user.name }}</td>
                            <td>{{ user.passport }}</td>
                            <td>{{ user.country }}</td>
                            <!-- <td>{{ user.visa }}</td> -->
                            <td>{{ user.visa_exp }}</td>
                            <td>{{user.visa_class_subclass}}</td>
                            <td>
                                <button [ngClass]="{
                              'visa-status-student': user.status === 'Student',
                              'visa-status-pr': user.status === 'PR',
                              'visa-status-expired': user.status == 'In Effect',
                              'visa-status-expired': user.status === 'Expired'
                            }">
                                    {{ user.status }}
                                </button>
                            </td>
                            <td>
                                <ng-container *ngIf="user.is_correct === 1; else missingUnavailable">
                                    <button class="detail" (click)="openLg(content,user)">Detail</button>
                                    <mat-icon svgIcon="heroicons_outline:refresh" style="padding-top: 7px;"
                                        *ngIf="user.visa_exp === 'N/A' && user.visa_class_subclass === 'N/A'"
                                        (click)="getIncompletevisaData(user)"></mat-icon>
                                </ng-container>
                                <ng-template #missingUnavailable>
                                    <button class="missing_detail" style="margin-right: 5px;">Incomplete</button>
                                    <mat-icon svgIcon="heroicons_outline:refresh" style="padding-top: 7px;"
                                        (click)="getIncompletevisaData(user)"></mat-icon>
                                </ng-template>
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>

<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Visa Detail</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <div class="table-container common-admin-customer-contractor mat-field-client pt-3">
            <table class="table table-striped table-border centered-table">
                <thead>
                    <tr>
                        <th scope="col">Lable</th>
                        <th scope="col">Value</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of results?.action_type?.results">
                        <th scope="row">{{ item.label }}</th>
                        <td>{{ item.value }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
    </div>
</ng-template>


<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="default" color="#fff" type="line-spin-fade-rotating">
    <p style="color: white">Please wait...</p>
</ngx-spinner>