.visacheck-page {
    border-radius: var(--br-2xl);

    .task-head {
        background-color: var(--tw-ring-offset-color) !important;
        border-radius: 13px;
    }

    .user-nav {
        display: flex;
        justify-content: space-between;
        padding: 19px 41px;
        box-shadow: 0 2px 17px rgb(30 30 30 / 5%);
        background-color: rgba(var(--fuse-bg-card-rgb), var(--tw-bg-opacity)) !important;
        border-radius: var(--br-2xl);
        align-items: center;
    }
}

.row {
    margin: 30px 2px;

    table {
        width: 100%;
    }
}

.detail {
    background-color: #3CB371;
    padding: 4px 12px;
    border-radius: 12px;
    color: white;
}

.visa-status-student {
    background-color: orange;
    color: white;
    padding: 4px 10px;
    border-radius: 15px;
}

.visa-status-pr {
    background-color: green;
    color: white;
    padding: 4px 15px;
    border-radius: 12px;
}

.visa-status-expired {
    background-color: red;
    color: white;
    padding: 4px 10px;
    border-radius: 15px;
}

.missing_detail {
    background-color: red;
    padding: 4px 12px;
    border-radius: 12px;
    color: white;
}