<div class="absolute inset-0 flex flex-col overflow-hidden">
    <div class="flex-auto">
        <div class="row app-one">
            <!-- Sidebar -->
            <div class="col-sm-4 side">
                <div class="side-one">
                    <!-- Profile Info -->
                    <div class="row heading align-items-center">
                        <div class="col-sm-3 col-xs-3 heading-avatar">
                            <div class="heading-avatar-icon">
                                <img [src]="profile.avatar" (error)="handleBrokenImage($event)">
                            </div>
                        </div>
                        <div class="col-sm-5 col-xs-1 heading-dot pull-right">
                            <strong class="text-capitalize">{{ profile.name }}</strong>
                        </div>
                        <div class="col-sm-2 col-xs-1 heading-dot pull-right" (click)="getContacts()"
                            #tooltip="matTooltip" matTooltipHideDelay="100000" matTooltip="New Contact">
                            <i class="fa fa-plus fa-2x pull-right" aria-hidden="true"></i>
                        </div>
                    </div>
                    <!-- Search Box -->
                    <div class="row searchBox">
                        <div class="col-sm-12 searchBox-inner">
                            <div class="form-group has-feedback">
                                <input id="searchText" type="text" class="form-control m-auto" name="searchText"
                                    placeholder="Search" [(ngModel)]="searchContact">
                                <span class="glyphicon glyphicon-search form-control-feedback"></span>
                            </div>
                        </div>
                    </div>
                    <!-- Back to Chat -->
                    <div class="row searchBox align-items-center cursor-pointer h-auto" *ngIf="isShowContacts"
                        (click)="backToChat()">
                        <span><i class="fa fa-arrow-up mr-2" aria-hidden="true"></i>Back to chat</span>
                    </div>
                    <!-- Chat List -->
                    <div class="row sideBar">
                        <ng-container *ngIf="!contacts && !isShowContacts">
                            <div class="row sideBar-body" *ngFor="let item of chats "
                                (click)="getChatHistory(item)" [ngClass]="{'active': item === selectedChat}">
                                <div class="col-sm-3 col-xs-3 sideBar-avatar">
                                    <div class="avatar-icon">
                                        <img [src]="'https://apis.thescouts.com.au/guard/' + item?.image"
                                            (error)="handleBrokenImage($event)">
                                    </div>
                                </div>
                                <div class="col-sm-9 col-xs-9 sideBar-main">
                                    <div class="row">
                                        <div class="col-sm-8 col-xs-8 sideBar-name">
                                            <span class="name-meta">{{ item.name }}</span>
                                            <p style="margin: 0; font-size: 12px;">{{ item.message |
                                                slice: '0-7' }}</p>
                                        </div>
                                        <div class="col-sm-4 col-xs-4 pull-right sideBar-time">
                                            <span class="time-meta pull-right">{{ item.updated_at |
                                                date:'HH:mm' }}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ng-container>
                        <!-- Admins, Contractors, and Customers -->
                        <div class="relative overflow-y-auto">
                            <!-- Loop through different contact types -->
                            <ng-container *ngIf="contacts">
                                <ng-container *ngFor="let contact of contacts ">
                                    <a class="z-20 flex items-center px-6 py-4 md:px-8 no-underline cursor-pointer border-b hover:bg-gray-100 dark:hover:bg-hover"
                                        (click)="navigate(contact)">
                                        <div
                                            class="flex flex-0 items-center justify-center w-10 h-10 rounded-full overflow-hidden">
                                            <img *ngIf="contact.image" class="object-cover w-full h-full"
                                                [src]="contact.image" alt="admin image" />
                                            <div *ngIf="!contact.image"
                                                class="flex items-center justify-center w-full h-full rounded-full text-lg uppercase bg-gray-200 text-gray-600 dark:bg-gray-700 dark:text-gray-200">
                                                {{ contact.name.charAt(0) }}{{ contact.name.charAt(1) }}
                                            </div>
                                        </div>
                                        <div class="min-w-0 ml-4">
                                            <div class="font-medium leading-5 truncate">{{ contact.name
                                                }}</div>
                                        </div>
                                        <div class="flex flex-1 justify-end">
                                            <span class="dot ml-2"
                                                [style.background-color]="contact.is_online ? 'green' : 'red'"
                                                style="height: 10px; width: 10px; border-radius: 50%; display: inline-block;"></span>
                                        </div>
                                    </a>
                                </ng-container>
                            </ng-container>
                        </div>
                        <ng-template *ngIf="!contacts">
                            <div class="p-4 sm:p-10 border-t text-4xl font-semibold tracking-tight text-center">
                                There are no contacts!</div>
                        </ng-template>
                    </div>
                </div>
            </div>

            <!-- Conversation -->
            <div class="col-sm-8 conversation" *ngIf="conversationStart; else notStart">
                <!-- Conversation Header -->
                <div class="row heading">
                    <div class="col-sm-2 col-md-1 col-xs-3 heading-avatar">
                        <div class="heading-avatar-icon">
                            <img src="{{ receiverProfile?.image }}" (error)="handleBrokenImage($event)">
                        </div>
                    </div>
                    <div class="col-sm-8 col-xs-7 heading-name">
                        <a class="heading-name-meta text-capitalize">{{ receiverProfile?.name }}</a>
                        <!-- <span class="heading-online">Online</span> -->
                    </div>
                    <!-- <div class="col-sm-1 col-xs-1 heading-dot pull-right">
                                        <i class="fa fa-ellipsis-v fa-2x pull-right" aria-hidden="true"></i>
                                    </div> -->
                </div>

                <!-- Messages -->
                <div class="row message" id="conversation" #chatContainer>
                    <div class="chats-direction flex flex-col">
                      <div class="message-body m-2" *ngFor="let item of chatHistory">
                        <div [ngClass]="global.admin.chat_type == item.send_by ? 'message-main-sender' : 'message-main-receiver'">
                          <div [ngClass]="global.admin.admin_name == item.send_by ? 'sender' : 'receiver'">
                            <div class="message-text" *ngIf="item.message && !item.file" style="white-space: pre-wrap;">
                              <!-- Display message -->
                              {{ item.message }}
                            </div>
                            <div *ngIf="item.file && item.file !== 'null'" (click)="openFile(item.file)">
                              <!-- Display file preview -->
                              <ng-container *ngIf="isImageFile(item.file)">
                                <img [src]="item.file" alt="File Preview" style="height: 200px;">
                              </ng-container>
                              <ng-container *ngIf="!isImageFile(item.file)">
                                <!-- If it's not an image, assume it's an iframe and display it -->
                                <iframe  [src]="getSafeUrl(item.file)" style="z-index: 2; border: none; width: 100%;" height="200" title="upload document"></iframe>
                              </ng-container>
                            </div>
                            <span class="message-time pull-right">{{ item.created_at | date:'MMM dd, h:mm a' }}</span>
                          </div>
                        </div>
                      </div>
                      <div class="image_div" style="position: absolute; border-radius: 15px; bottom: 15%; left: 5%; width: 50%; border: none; background: #F7F7F7;" *ngIf="file" (click)="openFile(file)">
                        <mat-icon svgIcon="mat_outline:cancel" style="position: absolute;top:-4%;right:-3%" (click)="removeFile()"></mat-icon>
                        <!-- Preview for currently selected file -->
                        <div style="box-shadow: 0 0 15px rgba(2, 0, 0, 0.3); border-radius: 15px;">
                          <ng-container *ngIf="isImage">
                            <img [src]="file" alt="File Preview" style="object-fit: contain; max-width: 100%; max-height: 300px;">
                          </ng-container>
                          <ng-container *ngIf="!isImage">
                            <iframe [src]="getSafeUrl(file)" style="z-index: 2; border: none; width: 100%; height: 200px;" title="upload document"></iframe>
                          </ng-container>
                        </div>
                      </div>
                    </div>
                  </div>
                  


                <!-- Reply Section -->
                <div class="row reply align-items-center">
                    <div class="flex">
                        <div class="col-sm-1 col-xs-1 reply-emojis" (click)="addAttachements()">
                            <i class="fa fa-paperclip fa-2x"></i>
                        </div>
                        <div class="flex align-items-center w-100">
                            <textarea class="form-control" rows="1" id="comment" [(ngModel)]="message"
                            (keydown.enter)="preventNewLine($event)"></textarea>
                            <i class="fa fa-paper-plane fa-2x m-2 cursor-pointer" aria-hidden="true"
                                (click)="sendMessage()" [disabled]="isSendButtonDisabled()"></i>
                        </div>
                    </div>
                </div>
            </div>
            <ng-template #notStart>
                <!-- Placeholder Content -->
                <div class="col-sm-8 conversation h-100 flex">
                    <div class="flex flex-col flex-auto items-center justify-center">
                        <mat-icon class="icon-size-24" [svgIcon]="'heroicons_outline:chat'"></mat-icon>
                        <div class="mt-4 text-2xl font-semibold tracking-tight text-secondary">Select a
                            conversation
                            or start a new chat</div>
                    </div>
                </div>
            </ng-template>
        </div>
    </div>

</div>


<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="default" color="#fff" type="line-spin-fade-rotating">
    <p style="color: white">Please Wait...</p>
</ngx-spinner>