$primary-color: var(--primary_color, #01A37E);
$color-secondary: var(--color-secondary, #1e293c);
$color-light-button: var(--color-light-button, #01a37e2e);
$pending-shifts: var(--pending_shifts, #01a37e2e);
$missed-shifts: var(--missed_shifts, #FF7377);
$rejected-shifts: var(--rejected_shifts, #FF99FF);
$uncovered-shifts: var(--uncovered_shifts, #FFFF00);
$unpublish-shifts: var(--unpublish_shifts, #33CCCC);
$publish-shifts: var(--publish_shifts, #ebf1dd);
$unpublish-site-shifts: var(--unpublish_site_shifts, #01a37e2e);
$mock-shifts: var(--mock_shifts, #66FFFF);
$completed-shifts: var(--completed_shift, #66FFFF);
$confirmed-shifts: var(--confirmed_shift, #19706d);
$operational-notes-shifts: var(--operational_notes_shifts, #0cb71b);
$uncoverd-shifts: var(--uncoverd_shifts, #0cb71b);
$green: #00b388;
$duck: #006c5b;
$smoke: #afafa9;
$midnight: #101820;
$neon: #307fe2;
$red: #ff5c39;
$orange: #ff854c;
$white: #fff;
$smoke-lighten-80: #f4f4f4;

$cyan: #003b4c;
$cyan-dark: #00242d;

$code-background: #40464d;
$code-font-color: #d9d9d6;
$border-radius: 4px;

.px-3 {
    margin: 0;
    margin-top: 5px;
    font-weight: 600;
}

.two-weeks-th {
    font-size: 11px;
    padding: 4px;
    border-bottom-width: 1px;
}

.mat-option {
    height: 2, 5rem !important;
}

.button-back {
    background: $primary-color;
    color: var(--color-primary);
}


////Media Query For Column in Roster////////////////////
@media only screen and (min-width: 768px) {

    /* For mobile phones: */
    .col-width {
        width: 11% !important;
        padding: 16px 4px;
        border: 1px solid #f2f2f2;
    }
}

::ng-deep .cdk-overlay-container {
    z-index: 9999;
}

.cdk-global-overlay-wrapper,
.cdk-overlay-container {
    z-index: 99999 !important;
}

.example-radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
    align-items: flex-start;
}

.example-radio-button {
    margin: 5px;
}


.example-menu {
    display: inline-flex;
    flex-direction: column;
    min-width: 130px;
    max-width: 230px;
    background-color: rgb(255, 255, 255);
    padding: 6px 0;
}

.example-menu-item {
    background-color: transparent;
    cursor: pointer;
    border: none;

    user-select: none;
    min-width: 64px;
    line-height: 36px;
    padding: 0 16px;

    display: flex;
    align-items: center;
    flex-direction: row;
    flex: 1;
}

.example-menu-item:hover {
    background-color: rgb(208, 208, 208);
}

.example-menu-item:active {
    background-color: rgb(170, 170, 170);
}

/* Set the background color and width of the tooltip */
::ng-deep .tooltip-inner {
    // background-color: $color-light-button;
    background-color: #00ACEE;
    width: 400px;
    // color: #ffffff;
    color: black;
    font-size: 100%;

}

#blink {
    width: 50px;
    height: 50px;
    background-color: red;
    border-radius: 100px;
    margin: 20px;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}

.bg_light {
    background-color: $color-light-button;
}

.site-shifts-hour p {
    margin: 0;
    padding: 0;
    text-align: center;
    align-items: center;
    line-height: 2;
    letter-spacing: 2px;
    font-weight: 500;
    position: relative;
    top: 10%;
}

.site-shifts-hour {
    background-color: $color-light-button;
    font-size: 10px;
    padding: 3px;

    .first {
        position: relative;
        width: 12vw;
        padding: 0;
        border: 0;
    }
}

.shift-total-hors {
    margin: 0;
    position: sticky;
    bottom: -30px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin-top: 60px;
    border: 0;
    z-index: 2;
}

.submit {
    background: $color-light-button;
}

.missed-shift {
    background-color: $missed-shifts !important;
    // border: 1px solid #FF0000;
}

.confirmed-shift {
    background-color: $confirmed-shifts !important;
    // border: 1px solid #296327;
}

.unpublish-shift {
    background-color: $unpublish-shifts !important;
}

.uncoverd-shifts {
    background-color: $uncoverd-shifts !important;
}


.publish-shifts {
    background-color: $publish-shifts !important;
}

.rejected-shift {
    background-color: $rejected-shifts !important;
    // border: 1px solid #296327;
}

.mock-shift {
    background-color: $mock-shifts !important;
    // border: 1px solid #296327;
}



.missedShiftStatus {
    content: "";
    background-color: rgb(148, 26, 32);
}

// .rejectedShiftStatus {
//     content: "";
//     background-color: #296327;
// }

// .confirmedShiftStatus {
//     content: "";
//     background-color: var(--confirmed_shift);
// }

.completeShiftStatus {
    content: "";
    background-color: #1a591a;
}

.pendingShiftStatus {
    content: "";
    background-color: #1A5D1A;
    animation-name: blink;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

// .guardShiftStatus {
//     content: "";
//     background-color: $color-light-button !important;
// }

.pendingShiftStatus,
.completeShiftStatus,
// .rejectedShiftStatus,
.missedShiftStatus // .guardShiftStatus,

// .confirmedShiftStatus
    {
    width: 5px;
    height: 5px;
    position: absolute;
    left: 2px;
    top: 5px;
    border-radius: 50%;
}

.complete-shift {
    background-color: $completed-shifts !important;
}

.guard-shift {
    background-color: $pending-shifts !important;
    border: 1px solid #296327;
}

.pending-shift {
    background-color: #d9e2f4 !important;
    border: 1px solid #3a21d6;
}

.complete-shift,
.pending-shift,
.missed-shift,
.guard-shift,
.rejected-shift,
.mock-shift,
.publish-shifts,
.confirmed-shift,
.unpublish-shift,
.uncoverd-shifts {
    // margin-bottom: 5px;
    cursor: pointer;

    p {
        margin: 0;
        font-weight: bold;
        font-size: 8px;
        margin-left: 10px;
    }

    span {
        text-align: center;
        font-size: 8px;
        // width: 91px;
    }
}


.parent-shift-activity {
    margin-top: 5px;
}

.shift-activity-button {
    display: flex;
    font-size: 8px;
    justify-content: space-around;
    border-top: 1px solid rgb(125, 123, 123);

    .activity,
    .detail,
    .note {
        width: 100%;
        font-weight: 400;
    }

    .activity {
        background-color: $color-secondary;
        color: #ffffff;
    }

    .detail {
        background-color: $primary-color;
        color: #ffffff;
    }

    .note {
        background-color: #b48ca6;
        color: #ffffff;
    }
}