<table class="w-100 h-100">
    <tbody>
        <tr class="d-flex">
            <td class="image"><img src="../../../../assets/images/ui/sidecurve.png" alt="">
                <table class="email p-3">
                    <thead>
                        <tr>
                            <th><img src="../../assets/images/logo/scouts.png" alt="" style="margin:auto"> </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="d-flex justify-content-between align-items-center">
                                <h5 class="text-muted">Verify Your Email</h5> 
                                <img src="../../../../assets/images/ui/mail.png" alt="">
                            </td>
                        </tr>
                        <tr>
                            <p class="pe-5 text-break">Lorem ipsum dolor sit amet consectetur adipisicing elit. Est
                                voluptate possimus atque exercitationem aut commodi, expedita obcaecati repudiandae
                                porro fuga similique, vitae totam veniam? Dolorem soluta impedit hic assumenda nam.
                            </p>
                        </tr>
                        <tr style="text-align: center; ">
                            <button class="btn w-75 mb-4 btn-success text-white mt-6">Verify</button></tr>
                    </tbody>
                </table>
            </td>
            <td style="display:flex;height:100vh; width:50%; justify-content: end;"> 
                <img src="../../../../assets/images/ui/manPoster.png" alt="" class="w-75">
            </td>
        </tr>
    </tbody>
</table>