<div class="row w-100 ">

    <!-- Message Selection -->
    <div class="col-9 p-6"> 
       <div class="selects d-flex w-100  justify-content-between align-items-center "> 
        <app-select-multiple-customer class="select_" [dataArray]="" [placeholderText]="'Select Guards'"></app-select-multiple-customer>
        <button class="btn btn-primary" (click)="showFilters()">Filters</button>
        <!-- <mat-select class="select_ w-80" placeholder="Guards">
            <mat-option *ngFor="let guard of guards" [value]="guard">
                {{guard}}
            </mat-option>
        </mat-select> -->
        <!-- <mat-select class="select_ w-80" placeholder="Filters">
            <mat-option *ngFor="let filter of filters" [value]="filter">
                {{filter}}
            </mat-option>
        </mat-select> -->
       </div>
       
<!-- message head/body -->
<br>
<div class="message  p-6 " *ngIf="filtersShown">
    <div class="row">
        <div class="col-6">
            <label>Select Guard Type</label>
            <mat-select class="select_ w-80" placeholder="Select Guard Type">
                <mat-option *ngFor="let filter of filters" [value]="filter">
                    {{filter}}
                </mat-option>
            </mat-select>
            <br>
            <br>

        </div>
        <div class="col-6">
            <label>Select Customer</label>
            <mat-select class="select_ w-80" placeholder="Select">
                <mat-option *ngFor="let filter of filters" [value]="filter">
                    {{filter}}
                </mat-option>
            </mat-select>
            <br>
            <br>
        </div>
        <div class="col-6">
            <label>Select Active Sites</label>
            <mat-select class="select_ w-80" placeholder="Select">
                <mat-option *ngFor="let filter of filters" [value]="filter">
                    {{filter}}
                </mat-option>
            </mat-select>
            <br>
            <br>

        </div>
        <div class="col-6">
            <label>Select Inactive Sites</label>
            <mat-select class="select_ w-80" placeholder="Select">
                <mat-option *ngFor="let filter of filters" [value]="filter">
                    {{filter}}
                </mat-option>
            </mat-select>
            <br>
            <br>

        </div>
    </div>
         
</div>
<br>
       <div class="message bg-white p-6 ">
        <mat-form-field class=" w-100">
            <mat-label>Heading</mat-label>
            <input type="email" [value]="activeTemplate.heading" matInput  placeholder="Some Heading">
          </mat-form-field>
          <br>
          <br>
          <mat-form-field class=" w-100">
            <mat-label>Body</mat-label>
            <textarea rows="4" [value]="activeTemplate.body" matInput placeholder="Message body"></textarea>
          </mat-form-field>

<div class="send_button w-100 d-flex  justify-content-end align-items-center ">
    <button class="btn btn-secondary">Send Message</button>
</div>



          
       </div>
    </div>

    <!-- templates -->
    <div class="col-3 templates_main"> 

     <div class="list  p-6 bg-white">
         
         <div class="send_button w-100 d-flex  justify-content-end align-items-center ">
            <button class="btn btn-dark" (click)="openTemplateModal()">Add template</button>
        </div>
        <div *ngIf="globals.messageTemplates.length>0">
            <mat-selection-list #template [multiple]="false"  >
                <mat-list-option *ngFor="let template of globals.messageTemplates" [value]="template" (click)="selectMessage(template)">
                  <p class="heading_msg">{{template.heading}}</p>
                  <p class="body_msg">{{template.body.slice(0,25)}}</p>
                </mat-list-option>
              </mat-selection-list>
        </div>
        <div class="no_message d-flex h-50  justify-content-center align-items-center " *ngIf="globals.messageTemplates.length==0">
            <p>No templates</p>
            
        </div>
       
     </div>
    </div>

    <!-- history -->
    <div class="col-12 p-6 "> 
       <!-- <h1>History</h1> -->
       <div class="table_main bg-white">
        <table mat-table [dataSource]="dataSource " class="w-100">
          
            <ng-container matColumnDef="image">
                <th mat-header-cell *matHeaderCellDef> Image</th>
                <td mat-cell *matCellDef="let element"> <img src="https://mdbootstrap.com/img/new/avatars/8.jpg"
                        class="rounded-circle" alt="" style="width: 50px; height: 50px" /> </td>
            </ng-container>
          
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Guard</th>
                <td mat-cell *matCellDef="let element">{{element.name}}</td>
            </ng-container>


            <ng-container matColumnDef="date">
                <th mat-header-cell *matHeaderCellDef> Date </th>
                <td mat-cell *matCellDef="let element"> {{element.date}} </td>
            </ng-container>

            <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef> Status</th>
                <td mat-cell *matCellDef="let element" >
                        {{element.status}}
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;" >
            </tr>
         

          
        </table>
         <!-- Pagination Start -->
         <!-- <mat-paginator [pageSize]="5" [pageSizeOptions]="[5, 10]" showFirstLastButtons></mat-paginator> -->
        <!-- Pagination End -->
       <!-- <table class="table  w-100 ">
           <thead>
               <tr>
                   <th>Guard</th>
                   <th>Message</th>
                   <th>Date</th>
                   <th>Status</th>
               </tr>
               
           </thead>
           <tbody>
               <tr>
                   <td>Naveed</td>
                   <td>Test Message</td>
                   <td>Feb 20, 2023</td>
                   <td>Delivered</td>

               </tr>
               <tr>
                <td>Naveed</td>
                <td>Test Message</td>
                <td>Feb 20, 2023</td>
                <td>Delivered</td>

            </tr>
           </tbody>
       </table> -->
       </div>
    </div>


</div>