<div class="flex flex-col flex-auto min-w-0 main-body-watermark">
    <div class="flex-auto p-6">
        <div class="rounded-2xl common-style-for-cards">
            <div class="com-main" style="border-radius: 10px;">
                <div class="nav rounded-2xl">
                    <h4>Rates</h4>
                    <input type="text" name="text" placeholder="Search here" class="input" [(ngModel)]="searchText">
                </div>
                <div class="main pt-6 w-100">
                    <div class="page-navbar">
                        <div class="pcss3t pcss3t-effect-scale pcss3t-theme-4">
                            <ul>
                                <li class="tab-content typography">
                                    <div class="row main_inner w-100 m-0">
                                        <ng-container *ngFor="let rate of rates | nameFilter:searchText">
                                            <div class="card p-0" *ngIf="array.enabled" >
                                                <img class="card-img-top" [src]="rate.image" alt="Card image">
                                                <div class="card-body">
                                                    <h4 class="card-title">{{ rate.name }}</h4>
                                                    <p class="card-text">{{ rate.text }}</p>
                                                    
                                                </div>
                                                <div class="card-footer bg-transparent border-0">
                                                    <button (click)="Rates(rate.url)" class="accept">
                                                        Access Now
                                                    </button>
                                                </div>
                                            </div>
                                        </ng-container>
                                        <div class="card p-0" *ngIf="invoice.enabled" >
                                            <img class="card-img-top" [src]="rate.image" alt="Card image">
                                            <div class="card-body">
                                                <h4 class="card-title">Invoice</h4>
                                                <p class="card-text">It is used to send an  invoice to the customer and other users of the system</p>
                                                
                                            </div>
                                            <div class="card-footer bg-transparent border-0">
                                                <button class="accept" [routerLink]="['/invoice']">
                                                    Access Now
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>