<div class="testbox main-body-watermark">
    <form (ngSubmit)="submitForm()">
        <div class="banner">
            <h1>Company Personal Information</h1>
        </div>

        <h3 class="text-divider text-muted heading-small"><span>Account Details</span></h3>

        <div class="colums">
            <div class="item">
                <label for="account_number">ABN/ACN</label>
                <input type="text" id="abn" name="abn" [(ngModel)]="formData.abn">
            </div>
            <div class="item">
                <label for="bsb">Bank Name</label>
                <input type="text" id="bank_name" name="bank_name" [(ngModel)]="formData.bank_name">
            </div>
            <div class="item">
                <label for="bsb">BSB</label>
                <input type="text" id="bsb" name="bsb" [(ngModel)]="formData.bsb">
            </div>
            <div class="item">
                <label for="account_number">Account Number</label>
                <input type="text" id="account_number" name="account_number" [(ngModel)]="formData.account_number">
            </div>

            <div class="item">
                <label for="bsb">Biller Code</label>
                <input type="number" id="biller_code" name="biller_code" [(ngModel)]="formData.biller_code">
            </div>
            <div class="item">
                <label for="bsb">Reference Number</label>
                <input type="number" id="reference_no" name="reference_no" [(ngModel)]="formData.reference_no">
            </div>
            <div class="item">
                <label for="phone">Phone Number</label>
                <input type="text" id="phone" name="phone" [(ngModel)]="formData.phone">
            </div>
        </div>
        <div class="btn-block" *ngIf="adminPermissions && (adminPermissions.update || adminPermissions.create)">
            <button type="submit">{{ formData?.id? 'UPDATE':'SUBMIT' }}</button>
        </div>
    </form>
</div>