.container {
    .buhaha {
        border-bottom: 1px solid rgb(237, 237, 237);
    }

    .haha {
        border-bottom: 1px dotted rgb(237, 237, 237);
    }
}

table {
    td {
        padding: 1.25rem;
    }

    .pe-7 {
        padding-right: 1.75rem !important;
    }

    .ps-0 {
        padding-left: 0 !important;
    }

    .pt-8 {
        padding-top: 2rem !important;
    }

    .pt-5 {
        padding-top: 1.25rem !important;
    }


}