.loading-bar {
    width: 100%;
    height: 10px;
    background-color: #f0f0f0;
    border-radius: 5px;
    overflow: hidden;
  }
  
  .loading-fill {
    width: 0;
    height: 100%;
    background-color: #3498db;
    animation: fillAnimation 2s linear infinite;
  }
  
  @keyframes fillAnimation {
    0% {
      width: 0;
    }
    100% {
      width: 100%;
    }
  }
// main
.main {
    // header section 
    .header {
        // max-width: 1023px;
        // display: block;
        width: 100%;
        // padding: 12px 0;
        // margin: 0 auto;
        // background: var(--background-primary);

        // container
        .header-title-container {
            color: #1e163c;

            .back {
                color: #3d1cba;
                cursor: pointer;
                text-transform: capitalize;
                margin: 0px;
                display: flex;
                align-items: center;
                .mat-icon{
                    color: var(--color-primary);
                }
            }

            .header-title {
                color: white;
                padding-left: 20px;
            }
        }
        // subtitle
        .header-subtitle {
            padding-top: 8px;
            font-size: 18px;
            line-height: 24px;
            color: #6c6a72;
            font-weight: 500;

            small {
                font-size: 85%;
            }
        }
        // header-action
        .header-action {
            display: block;
            margin: auto;
            .model-close {
                position: absolute;
                top: 10px;
                right: 10px;
                z-index: 1;
                padding: 5px 10px;
                font-size: 24px;
                color: #1e163c;
                cursor: pointer;
                background: transparent;
                border-radius: 50%;
                transition: background .3s ease;
            }
        }

    }
    // tabs section 
    .tabs {

        position: sticky;
        top: 0px;
        background-color: #fff;
        width: 100%;
        margin: 0 auto;
        max-width: 1023px;
        margin-bottom: 28px;
        margin-top: 18px;

        ul {
            display: flex;
            align-items: center;
            margin: 0;
            padding-left: 0px;
            border-bottom: 1px solid #e4e7ed;
            li {
                cursor: pointer;
                font-weight: 500;
                margin-right: 30px;
                color: #1e163c;
                padding: 18px 0px 7px 0px;
                transition: transform .3s cubic-bezier(0.645, 0.045, 0.355, 1);
                list-style: none;
            }
        }

        .active {
            border-bottom: 2px solid;
            border-color: #1319cb;
            color: #1319cb !important;
        }
    }

    // body section 

    .body {
        flex: auto;
        width: 100%;
        height: 100%;
        margin: 16px auto 0;
        overflow-y: auto;
        // overflow: hidden;
        background-color: #fff;


        .scrollable {
            scroll-behavior: smooth;
            flex: auto;
            // height: 100%;
            overflow-y: auto;
            max-height: 70vh;

            .inner-body {
                margin: 0 auto 40px auto;
                max-width: 1023px;

                .section {
                    padding-top: 32px;
                    // margin-bottom: 56px !important;

                    .section__title {
                        margin-bottom: 24px;
                        font-size: 24px;
                        font-weight: 600;
                        color: #1e163c;
                    }

                    .section_content {
                        // margin-top: 16px;

                        form {

                            .form_section {
                                margin-bottom: 32px;
                                vertical-align: top;

                                .label {
                                    vertical-align: middle;
                                    float: left;
                                    font-size: 14px;
                                    color: #1E163C;
                                    font-weight: 600;
                                    line-height: 32px;
                                    padding: 0 12px 0 0;
                                    box-sizing: border-box;
                                    cursor: auto;
                                    text-align: left;
                                    width: 240px;
                                    margin-top: 5px;
                                }

                                .form-content {
                                    width: 350px;
                                    margin-top: 40px;
                                    // margin-left: 240px;
                                    line-height: 32px;
                                    position: relative;
                                    font-size: 14px;

                                    .upload {

                                        .avatar {

                                            div {

                                                .hover-avatar {
                                                    position: relative;
                                                    width: 80px;
                                                    height: 80px;

                                                    .image-load {
                                                        position: absolute;
                                                        top: -8px;
                                                        right: -8px;
                                                        cursor: pointer;
                                                        border: 2px solid #fff;
                                                        border-radius: 50%;
                                                    }

                                                    .image-remove {
                                                        position: absolute;
                                                        top: -8px;
                                                        right: -8px;
                                                        display: none;
                                                        width: 32px;
                                                        height: 32px;
                                                        font-size: 1.2em;
                                                        line-height: 28px;
                                                        color: var(--co-text-contrast, #fff);
                                                        text-align: center;
                                                        cursor: pointer;
                                                        background-color: #33275e;
                                                        border: 2px solid var(--co-text-contrast, #fff);
                                                        border-radius: 50%;
                                                    }

                                                    .file-preview {
                                                        background-image: url('../../../../../assets/images/avatars/avatar.jpg');
                                                        width: 100%;
                                                        height: 100%;
                                                        line-height: 50px;
                                                        text-align: center;
                                                        background-color: #f9f9fb;
                                                        background-repeat: no-repeat;
                                                        background-position: 50%;
                                                        background-size: cover;
                                                        border-radius: 50%;
                                                    }
                                                }
                                            }

                                        }

                                        .avatar-rigtblock-information {
                                            margin-left: 16px;

                                            button {
                                                display: inline-block;
                                                line-height: 1;
                                                white-space: nowrap;
                                                cursor: pointer;
                                                background: rgb(235 233 248 / 60%);
                                                border: 0;
                                                color: #3d1cba;
                                                text-align: center;
                                                box-sizing: border-box;
                                                outline: none;
                                                margin: 0;
                                                transition: .1s;
                                                font-weight: 500;
                                                font-family: "acumin-pro", sans-serif, "Segoe UI", "Roboto", Helvetica, Arial;
                                                transition: all .1s ease-in-out;
                                                position: relative;
                                                padding: 8px 16px 10px 16px;
                                                font-size: 0.875rem;
                                                border-radius: 8px;
                                            }

                                            .avatar-info {
                                                margin: 4px 0px 0px 0px;
                                                color: #6c6a72;
                                            }
                                        }
                                    }
                                }
                            }

                            // data 

                            .row {
                                align-items: end;

                                .detail {
                                    .label {
                                        font-weight: bold;
                                        font-size: 14px;
                                        color: #1E163C;
                                        margin: 7px 0px;
                                    }

                                    input {
                                        width: 100%;
                                        padding: 4px 10px;
                                        line-height: 1.5;
                                        color: #181c32;
                                        background-color: #fff;
                                        background-clip: padding-box;
                                        border: 1px solid #e4e6ef;

                                        border-radius: 0.475rem;
                                        box-shadow: inset 0 1px 2px rgb(0 0 0 / 8%);
                                        transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
                                    }
                                }

                                mat-label {
                                    margin-bottom: 7px;
                                }
                            }


                        }
                    }
                }
            }

        }
    }

}

.location-input {
    width: 98%;
    border: 1px solid lightgray;
    height: 60px;
    border-radius: 6px;
    margin: 20px;
    padding: 6px;
}

.cutom-field {
    width: 100%;
}

.custom-error {
    color: red;
    margin-top: -5px;
}

.font-cust {
    font-size: 11px;
    position: relative;
    top: 0;
    margin: 0 10px;
}

.mat-field-margin {
    mat-form-field {
        margin: 10px;
    }

    .col-md-4,
    .col-md-6 {
        // height: 115px;
    }
}

