<div class="main">
    <div class="upper-section " style="position: sticky;top:0px;z-index: 10;background:white;">
        <!-- header -->
        <div class="header">
            <div class="modal-header">
                <h4 class="modal-title">{{ userData ? userData.first_name + (userData.middle_name ? " " +
                    userData.middle_name : "") + " " +(userData.last_name ? " " + userData.last_name : "") : "Create NewStaff" }}
                </h4>

                <button type="button" class="btn-close" aria-label="Close" (click)="close('dismiss')"></button>
            </div>
            <!-- header-subtitle -->
            <div class="header-subtitle">
                <!-- <small>{{ userData?userData.first_name:'' }} {{ userData?userData.middle_name:'' }} {{ userData?userData.last_name:'' }}</small> -->
            </div>
        </div>

        <!-- tabs -->
        <div class="tabs">
            <ul [ngClass]="tabType">
                <li [ngClass]="{'active': tabType=='Personal details'}"
                    (click)="getTabType('Personal details',personal)">Personal details</li>
                <li [ngClass]="{'active': tabType=='Contact'}" (click)="getTabType('Contact',contact)">Emergency Contact
                </li>
                <li [ngClass]="{'active': tabType=='Password'}" (click)="getTabType('Password',passwordScroll)"
                    *ngIf="userData">{{ userData? 'Update Password':'Create Password' }}
                </li>
                <!-- <li [ngClass]="{'active': tabType=='Add leave'}" (click)="getTabType('Add leave',leave)">Leave
                    Management
                </li> -->
            </ul>
        </div>
    </div>
    <!-- body -->

    <div class="body">

        <div class="scrollable">

            <div class="inner-body">

                <div class="section">

                    <p class="section__title">
                    </p>

                    <div class="section_content" #personal>

                        <h3>Personal details </h3>

                        <form [formGroup]="newStaff" class="mat-field-margin">
                            <!-- <div *ngIf="tabType=='Personal details'"> -->
                            <div class="form_section">
                                <!-- <p class="label">
                                    Profile Picture
                                </p> -->
                                <div class="form-content">
                                    <div class="upload d-flex">
                                        <div class="avatar">
                                            <div>
                                                <div class="hover-avatar">
                                                    <div class="image-load">
                                                    </div>
                                                    <div class="image-remove">
                                                        <mat-icon>close</mat-icon>
                                                    </div>
                                                    <div class="file-preview">
                                                        <img style="border-radius: 50% ;width: 100%;
                                                        object-fit: cover;
                                                        height: 100%;" [src]="profileImage" alt=""
                                                            onerror="this.src='assets/images/avatars/no-image.jpg'">

                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="avatar-rigtblock-information">
                                            <button mat-stroked-button (click)="uploadProfile()">Upload</button>
                                            <p class="avatar-info">
                                                Accepted file types: JPG, JPEG, PNG. Max file size 10MB
                                            </p>
                                            <div class="loading-bar" *ngIf="uploadingImage">
                                                <div class="loading-fill"></div>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                            </div>

                            <div class="row">
                                <div class="col-md-4">
                                    <mat-form-field appearance="outline" class="cutom-field">
                                        <mat-label>First Name</mat-label>
                                        <input matInput formControlName="first_name"
                                            (keydown.enter)="$event.preventDefault()">
                                    </mat-form-field>
                                    <div *ngIf="submitted && f.first_name.errors" class="custom-error">
                                        <div *ngIf="f.first_name.errors.required" class="font-cust">Frist Name is
                                            required*</div>
                                        <div *ngIf="f.first_name.errors.alphabet" class="font-cust">First character must
                                            have alphabet</div>
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <mat-form-field appearance="outline" class="cutom-field">
                                        <mat-label>Middle Name</mat-label>
                                        <input matInput formControlName="middle_name"
                                            (keydown.enter)="$event.preventDefault()">
                                    </mat-form-field>
                                    <!-- <div *ngIf="submitted && f.middle_name.errors" class="custom-error">
                                        <div *ngIf="f.middle_name.errors.required" class="font-cust">Middle Name is
                                            required*</div>
                                    </div> -->
                                </div>

                                <div class="col-md-4">
                                    <mat-form-field appearance="outline" class="cutom-field">
                                        <mat-label>Last Name</mat-label>
                                        <input matInput formControlName="last_name"
                                            (keydown.enter)="$event.preventDefault()">
                                    </mat-form-field>
                                    <div *ngIf="submitted && f.last_name.errors" class="custom-error">
                                        <div *ngIf="f.last_name.errors.required" class="font-cust">Last Name is
                                            required*</div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field class="cutom-field" appearance="outline">
                                        <mat-label>Email</mat-label>
                                        <input type="email" matInput formControlName="email"
                                            (keydown.enter)="$event.preventDefault()" placeholder="abc@example.com"
                                            [readonly]="this.userData?.email">
                                    </mat-form-field>
                                    <div *ngIf="submitted && f.email.errors" class="custom-error">
                                        <div *ngIf="f.email.errors.required" class="font-cust">Email is required*</div>
                                        <div *ngIf="f.email.errors.email" class="font-cust">Invalid email format</div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field class="cutom-field" appearance="outline">
                                        <mat-label>Phone</mat-label>
                                        <input type="text" matInput formControlName="phone" placeholder="Enter Number"
                                            (keydown.enter)="$event.preventDefault()">
                                    </mat-form-field>
                                    <!-- <div *ngIf="submitted && f.phone.errors" class="custom-error">
                                        <div *ngIf="f.phone.errors.invalidPhone" class="font-cust">Enter Australian
                                            number with country code (without +)*</div>
                                    </div> -->
                                </div>

                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field appearance="outline" class="cutom-field">
                                        <mat-label>Staff Type</mat-label>
                                        <mat-select formControlName="staff_type">
                                            <mat-option value="part_time">Part time
                                            </mat-option>
                                            <mat-option value="full_time">Full time
                                            </mat-option>
                                            <mat-option value="casual">Casual
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>

                                    <div *ngIf="submitted && f.staff_type.errors" class="custom-error">
                                        <div *ngIf="f.staff_type.errors.required" class="font-cust">Staff Type is
                                            required*</div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field appearance="outline" class="cutom-field">
                                        <mat-label>Employment Type</mat-label>
                                        <mat-select formControlName="guard_type" #view
                                            (selectionChange)="checkGuardType(view.value)">
                                            <mat-option value="direct">Direct
                                            </mat-option>
                                            <mat-option value="contractor">Contractor
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6" *ngIf="guardType=='contractor'">
                                    <mat-form-field appearance="outline" class="cutom-field">
                                        <mat-label>Contractors</mat-label>
                                        <mat-select formControlName="contractor_id">
                                            <mat-option *ngFor="let cont of contractorList" [value]="cont.id">
                                                {{cont.name}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>

                                <div class="col-md-6">
                                    <mat-form-field appearance="outline" class="example-form-field cutom-field">
                                        <mat-label>Staff Position</mat-label>
                                        <input matInput type="text" formControlName="guard_postion">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field color="accent" appearance="outline" class="cutom-field">
                                        <mat-label>Joining Date </mat-label>
                                        <input matInput [matDatepicker]="picker" formControlName="joining_date"
                                            readonly>
                                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                        <mat-datepicker #picker color="primary"></mat-datepicker>
                                    </mat-form-field>
                                    <div *ngIf="submitted && f.joining_date.errors" class="custom-error">
                                        <div *ngIf="f.joining_date.errors.required" class="font-cust">
                                            Joining date is required*</div>
                                        <div *ngIf="f.joining_date.errors.dateInvalid" class="font-cust">Selected date
                                            cannot be greater than the current date</div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field color="accent" appearance="outline" class="cutom-field">
                                        <mat-label>DOB</mat-label>
                                        <input matInput [matDatepicker]="picker2" formControlName="dob" readonly>
                                        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                                        <mat-datepicker #picker2 color="primary"></mat-datepicker>
                                    </mat-form-field>
                                    <div *ngIf="submitted && f.dob.errors" class="custom-error">
                                        <div *ngIf="f.dob.errors.required" class="font-cust">Date of birth is required*
                                        </div>
                                        <div *ngIf="f.dob.errors.dateInvalid" class="font-cust">Selected date
                                            cannot be greater than the current date</div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <mat-form-field appearance="outline" class="cutom-field">
                                        <mat-label>Gender</mat-label>
                                        <mat-select formControlName="gender" name="gender">
                                            <mat-option value="male">
                                                Male
                                            </mat-option>
                                            <mat-option value="female">
                                                Female
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>
                            <!-- address  detail-->
                            <div class="row">
                                <mat-form-field color="accent" appearance="outline" class="cutom-field">
                                    <mat-label>Address</mat-label>
                                    <input matInput ngx-google-places-autocomplete [options]='options'
                                        #placesRef="ngx-places" (onAddressChange)="handleAddressChange($event)"
                                        formControlName="address" id="address" />
                                </mat-form-field>

                                <div *ngIf="submitted && f.address.errors" class="custom-error">
                                    <div *ngIf="f.address.errors.required" class="font-cust">Address is required*</div>
                                    <div *ngIf="f.address.errors.invalidAddress" class="font-cust">Please provide a
                                        valid address or select from the dropdown menu*</div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <mat-form-field appearance="outline" class="cutom-field">
                                        <mat-label>Suburb</mat-label>
                                        <input matInput formControlName="suburb"
                                            (keydown.enter)="$event.preventDefault()" readonly>
                                    </mat-form-field>
                                    <div *ngIf="submitted && f.suburb.errors" class="custom-error">
                                        <div *ngIf="f.suburb.errors.required" class="font-cust">Suburb is
                                            required*</div>
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <mat-form-field appearance="outline" class="cutom-field">
                                        <mat-label>City</mat-label>
                                        <input matInput formControlName="city" (keydown.enter)="$event.preventDefault()"
                                            readonly>
                                    </mat-form-field>
                                    <div *ngIf="submitted && f.city.errors" class="custom-error">
                                        <div *ngIf="f.city.errors.required" class="font-cust">City is
                                            required*</div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field appearance="outline" class="cutom-field">
                                        <mat-label>State</mat-label>
                                        <mat-select formControlName="state" readonly>
                                            <mat-option value="Victoria">Victoria</mat-option>
                                            <mat-option value="Queensland">Queensland</mat-option>
                                            <mat-option value="New South Wales">New South Wales</mat-option>
                                            <mat-option value="South Australia">South Australia</mat-option>
                                            <mat-option value="ACT">ACT</mat-option>
                                            <mat-option value="Tasmania">Tasmania</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                    <div *ngIf="submitted && f.state.errors" class="custom-error">
                                        <div *ngIf="f.state.errors.required" class="font-cust">State is
                                            required*</div>
                                    </div>
                                </div>
                            </div>

                            <!-- resident detail -->
                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field appearance="outline" class="cutom-field">
                                        <mat-label>Coordinates</mat-label>
                                        <input matInput formControlName="coordinates"
                                            (keydown.enter)="$event.preventDefault()" readonly>
                                    </mat-form-field>
                                    <div *ngIf="submitted && f.coordinates.errors" class="custom-error">
                                        <div *ngIf="f.coordinates.errors.required" class="font-cust">Coordinates is
                                            required*</div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <mat-form-field appearance="outline" class="cutom-field">
                                        <mat-label>Postel code</mat-label>
                                        <input matInput formControlName="postal_code"
                                            (keydown.enter)="$event.preventDefault()" readonly>
                                    </mat-form-field>
                                    <div *ngIf="submitted && f.postal_code.errors" class="custom-error">
                                        <div *ngIf="f.postal_code.errors.required" class="font-cust">Postal Code is
                                            required*</div>
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <mat-form-field appearance="outline" class="cutom-field">
                                        <mat-label>Origin Country</mat-label>
                                        <input type="text" placeholder="Search your country" matInput
                                            [matAutocomplete]="auto" formControlName="home_country" />
                                        <mat-autocomplete #auto="matAutocomplete">
                                            <mat-option *ngFor="let country of filteredCountries"
                                                [value]="country.name">
                                                {{ country.name }}
                                            </mat-option>
                                        </mat-autocomplete>
                                    </mat-form-field>
                                </div>
                            </div>

                            <h3 class="my-5" #contact>Emergency Contacts</h3>


                            <!-- Emergency contact -->
                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field appearance="outline" class="cutom-field">
                                        <mat-label> Emergency contact name</mat-label>
                                        <input matInput formControlName="emergency_contact_name"
                                            (keydown.enter)="$event.preventDefault()">
                                    </mat-form-field>
                                    <div *ngIf="submitted && f.emergency_contact_name.errors" class="custom-error">
                                        <div *ngIf="f.emergency_contact_name.errors.alphabet" class="font-cust">First
                                            character must have alphabet*</div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field appearance="outline" class="cutom-field">
                                        <mat-label> Emergency contact relation</mat-label>
                                        <input matInput formControlName="emergency_contact_relation"
                                            (keydown.enter)="$event.preventDefault()">
                                    </mat-form-field>
                                    <div *ngIf="submitted && f.emergency_contact_relation.errors" class="custom-error">
                                        <div *ngIf="f.emergency_contact_relation.errors.required" class="font-cust">
                                            Please fill this field*</div>
                                        <div *ngIf="f.emergency_contact_relation.errors.alphabet" class="font-cust">
                                            First character must have alphabet*</div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field appearance="outline" class="cutom-field">
                                        <mat-label> Emergency contact email</mat-label>
                                        <input matInput formControlName="emergency_contact_email"
                                            (keydown.enter)="$event.preventDefault()">
                                    </mat-form-field>
                                    <div *ngIf="submitted && f.emergency_contact_email.errors" class="custom-error">
                                        <div *ngIf="f.emergency_contact_email.errors.required" class="font-cust">Email
                                            is required*</div>
                                        <div *ngIf="f.emergency_contact_email.errors.email" class="font-cust">Invalid
                                            email format*</div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field appearance="outline" class="cutom-field">
                                        <mat-label> Emergency contact phone</mat-label>
                                        <input matInput formControlName="emergency_contact_phone"
                                            (keydown.enter)="$event.preventDefault()">
                                    </mat-form-field>
                                    <!-- <div *ngIf="submitted && f.emergency_contact_phone.errors" class="custom-error">
                                        <div *ngIf="f.emergency_contact_phone.errors.required" class="font-cust">Phone
                                            is required*</div>
                                        <div *ngIf="f.emergency_contact_phone.errors.invalidPhone" class="font-cust">
                                            Please enter a valid Australian phone number*</div>
                                    </div> -->
                                </div>
                            </div>

                            <!-- select customers  -->
                            <!-- <div class="row" style="padding-left: 20px;">
                                <div class="col-md-12 p-0">
                                    <app-select-multiple-customer (selectedCustomer)="receiveDataFromChild($event)"
                                        class="select_personel_details" [dataArray]="customers"
                                        [placeholderText]="'Select Customers'"></app-select-multiple-customer>
                                </div>
                            </div> -->

                            <div #passwordScroll>
                                <h3 class="my-5">{{ userData? 'Update Password':'Create Password' }}
                                </h3>

                                <!-- change password -->
                                <div class="row">
                                    <div class="col-md-6">
                                        <mat-form-field appearance="outline" class="cutom-field">
                                            <mat-label>Enter password</mat-label>
                                            <input matInput type="password" placeholder="Enter Password"
                                                formControlName="password" #passwordField autocomplete="password">
                                            <mat-icon matSuffix
                                                (click)="passwordField.type = passwordField.type === 'password' ? 'text' : 'password'">
                                                {{ passwordField.type === 'password' ? 'visibility_off' : 'visibility'
                                                }}
                                            </mat-icon>
                                        </mat-form-field>
                                        <div *ngIf="submitted && f.password.errors" class="custom-error">
                                            <div *ngIf="f.password.errors.required" class="font-cust">Password is
                                                required*</div>
                                        </div>
                                        <div *ngIf="submitted && f.password.errors" class="custom-error">
                                            <div *ngIf="f.password.errors.minlength" class="font-cust">Password must
                                                be at least 8 characters long*</div>
                                        </div>
                                        <div *ngIf="submitted && f.password.errors" class="custom-error">
                                            <div *ngIf="f.password.errors?.passwordComplexity && (f.password.dirty || f.password.touched)"
                                                class="font-cust">Password must contain at least one uppercase
                                                letter, one special
                                                character, and one number*</div>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <mat-form-field appearance="outline" class="cutom-field">
                                            <mat-label>Confirm password</mat-label>
                                            <input matInput type="password" placeholder="Confirm Password"
                                                formControlName="c_password" #Confirmpassword autocomplete="c_password">
                                            <mat-icon matSuffix
                                                (click)="Confirmpassword.type = Confirmpassword.type === 'password' ? 'text' : 'password'">
                                                {{ Confirmpassword.type === 'password' ? 'visibility_off' : 'visibility'
                                                }}
                                            </mat-icon>

                                        </mat-form-field>
                                        <div *ngIf="submitted && f.c_password.errors" class="custom-error">
                                            <div *ngIf="f.c_password.errors.required" class="font-cust">Confirm
                                                password is required*</div>
                                        </div>
                                        <div *ngIf="submitted && f.c_password.errors" class="custom-error">
                                            <div *ngIf="f.c_password.errors?.passwordMismatch" class="font-cust">
                                                Passwords do not match*</div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <!-- <div #leave>
                                <h3 class="my-5" #contact>Leave Management</h3>

                               
                                <div class="row">
                                    <div class="col-md-6">
                                        <mat-form-field appearance="outline" class="cutom-field">
                                            <mat-label> Annual Leave (in hours)</mat-label>
                                            <input matInput type="number" formControlName="annual_leave">
                                        </mat-form-field>
                                        <mat-error *ngIf="newStaff.get('annual_leave').hasError('min')">
                                            Value must be a positive number.
                                        </mat-error>
                                    </div>
                                    <div class="col-md-6">
                                        <mat-form-field appearance="outline" class="cutom-field">
                                            <mat-label> Sick Leave (in hours)</mat-label>
                                            <input matInput type="number" formControlName="sick_leave">
                                        </mat-form-field>
                                        <mat-error *ngIf="newStaff.get('sick_leave').hasError('min')">
                                            Value must be a positive number.
                                        </mat-error>
                                    </div>
                                </div>
                            </div> -->
                        </form>
                    </div>

                </div>

                <div class="row" style="text-align: center;">
                    <div class="col-12">
                        <button class="btn btn-border-3" style="text-align:end" (click)="submitNewStaff()">Save</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="default" color="#fff" type="line-spin-fade-rotating">
    <p style="color: white">Please Wait...</p>
</ngx-spinner>