<div class="absolute inset-0 flex flex-col overflow-hidden main-body-watermark w-100">
    <div class="p-6 rounded-2xl overflow-auto common-admin-customer-contractor">
        <div class="users-page">
            <div class="user-main">
                <div class="user-nav rounded-2xl">
                    <h4>Compliance</h4>
                    <button class="btn btn-border-3 btn-primary" type="button" data-bs-toggle="modal"
                        data-bs-target="#complianceModal">
                        Add Compliance
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="complianceModal" tabindex="-1" aria-labelledby="complianceModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="complianceModalLabel">Add Compliance</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- Grid container for two columns -->
                <div class="compliance-grid">
                    <label *ngFor="let item of complianceItems"
                        class="has-[:checked]:bg-white/30 has-[:checked]:text-indigo-900 has-[:checked]:ring-indigo-200 has-[:checked]:ring-2 cursor-pointer bg-white/40 hover:bg-white/20 p-4 rounded-md flex justify-between items-center shadow">
                        <div class="flex items-center space-x-5">
                            <h2 class="text-lg">{{ item }}</h2>
                        </div>
                        <input type="checkbox" [(ngModel)]="compliance[item]"
                            class="checked:border-indigo-500 h-5 w-5" />
                    </label>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" (click)="saveCompliance()">Save Changes</button>
            </div>
        </div>
    </div>
</div>