.compliance-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* Two equal columns */
    gap: 20px;
    /* Space between the grid items */
}

label {
    width: 100%;
    /* Ensure label takes full width of grid cell */
    box-sizing: border-box;
}

.modal-body {
    padding: 20px;
}


.btn-primary {
    background-color: #007bff;
    border: none;

    &:hover {
        background-color: #0056b3;
    }
}

.btn-secondary {
    background-color: #6c757d;
    border: none;

    &:hover {
        background-color: #5a6268;
    }
}