<div class="flex flex-col flex-auto min-w-0 main-body-watermark portal-setting-role-and-permission">
    <div class="flex-auto p-6">
        <div class="rounded-2xl">
            <div class="user-main" style="border-radius: 10px;">
                <div class="nav rounded-2xl">
                    <h4>Roles and Permissions</h4>
                </div>
                <div class="row g-4 mt-3" *ngIf="adminPermissions && adminPermissions.create">
                    <div class="col-xl-4 col-lg-6 col-md-6" *ngFor="let userGroup of users">
                        <div class="card">
                            <div class="card-body">
                                <div class="d-flex justify-content-between mb-2">
                                    <h6 class="fw-normal">Role</h6>
                                    <!-- <ul class="list-unstyled d-flex align-items-center avatar-group mb-0">
                                        <li *ngFor="let user of userGroup.users"
                                            class="avatar-container avatar-sm pull-up" data-bs-toggle="tooltip"
                                            data-popup="tooltip-custom" data-bs-placement="top"
                                            [attr.aria-label]="user.name" [attr.data-bs-original-title]="user.name">
                                            <img class="rounded-circle" [src]="user.avatar" alt="Avatar">
                                            <span class="avatar-label">{{ user.name }}</span>
                                        </li>
                                    </ul> -->
                                </div>
                                <div class="d-flex justify-content-between align-items-end">
                                    <div class="role-heading">
                                        <h4 class="mb-1">{{ userGroup.role }}</h4>
                                        <button *ngIf="adminPermissions && adminPermissions.update" class=""
                                            style="font-size: smaller; color: blue;"
                                            (click)="editRole(longContent,userGroup.id)">Edit Role</button>
                                    </div>
                                    <mat-icon *ngIf="adminPermissions && adminPermissions.delete" color="warn"
                                        class="danger-icon " svgIcon="heroicons_outline:trash" style="font-size: 15px;"
                                        (click)="delRole(userGroup)"></mat-icon>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--Add Role-->
                    <div class="col-xl-4 col-lg-6 col-md-6" *ngIf="adminPermissions && adminPermissions.create">
                        <div class="card" style="height: 150px;">
                            <div class="row" style="height: 100%;">
                                <div class="col-sm-5 h-100">
                                    <div class="d-flex align-items-end justify-content-center mt-sm-0 mt-3 h-100"
                                        style="height: 100% !important;">
                                        <img src="\assets\images\nav-images\Addrole.png" class="img-fluid" alt="Image"
                                            width="120" style="height: 100% !important;">
                                    </div>
                                </div>
                                <div class="col-sm-7">
                                    <div class="card-body text-sm-end text-center ps-sm-0">
                                        <button class="btn btn-primary mb-3 text-nowrap"
                                            (click)="openLg(longContent)">Add New Role</button>
                                        <p class="mb-0">Add role, if it does not exist</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--Table-->
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #longContent let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Add a Role</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body modal-body-role-permission">
        <div class="row my-2">
            <mat-form-field class="w-100">
                <mat-label>Role</mat-label>
                <input type="text" matInput placeholder="Enter role name" [(ngModel)]="role">
            </mat-form-field>
        </div>

        <mat-accordion>
            <mat-expansion-panel *ngFor="let page of navigationItems; let i = index" [expanded]="panelOpenState[i]">
                <mat-expansion-panel-header>
                    {{ page.title }}
                </mat-expansion-panel-header>
                <mat-expansion-panel-content>
                    <ul class="flex align-items-center">
                        <li>
                            <input type="checkbox" [(ngModel)]="page.parentEnabled" class="m-2"
                                (click)="toggleChildCheckboxes(page)">
                            Enable/Disable
                        </li>
                        <div class="d-flex justify-content-around"
                            *ngIf="page.actions && page.actions.length > 0 && page.parentEnabled">
                            <li class="list-group-item flex align-items-center" *ngFor="let action of page.actions">
                                <input type="checkbox" [(ngModel)]="action.enabled" class="m-2">
                                <span class="text-capitalize">{{ action.title }}</span>
                            </li>
                        </div>
                    </ul>
                    <div class="sub-page" *ngIf="page.childPage && page.childPage.length > 0 && page.parentEnabled">
                        <ul class="list-group list-group-horizontal">
                            <li class="list-group-item" *ngFor="let subpage of page.childPage; let j = index">
                                <input type="checkbox" [(ngModel)]="subpage.enabled" class="m-2"
                                    (click)="toggleAllChildCheckboxes(subpage,subpage.title)">
                                <span>{{ subpage.title }}</span>
                                <hr>
                                <div class="flex align-items-center position-relative">
                                    <input type="checkbox" [(ngModel)]="subpage.create" class="m-2"
                                        (click)="checkUncheck(subpage)">
                                    <label class="mx-2">Create</label>
                                </div>
                                <div class="flex align-items-center position-relative">
                                    <input type="checkbox" [(ngModel)]="subpage.read" class="m-2"
                                        (click)="checkUncheck(subpage)">
                                    <label class="mx-2">Read</label>
                                </div>
                                <div class="flex align-items-center position-relative">
                                    <input type="checkbox" [(ngModel)]="subpage.update" class="m-2"
                                        (click)="checkUncheck(subpage)">
                                    <label class="mx-2">Update</label>
                                </div>
                                <div class="flex align-items-center position-relative">
                                    <input type="checkbox" [(ngModel)]="subpage.delete" class="m-2"
                                        (click)="checkUncheck(subpage)">
                                    <label class="mx-2">Delete</label>
                                </div>
                                <!-- Add your custom child pages here -->
                                <div class="flex align-items-center position-relative"
                                    *ngIf="subpage.title === 'Leads'">
                                    <input type="checkbox" [(ngModel)]="subpage.viewOnlyHisLeave" class="m-2">
                                    <label class="mx-2">Sales Person view only their lead</label>
                                </div>
                                <div class="flex align-items-center position-relative"
                                    *ngIf="subpage.title === 'Staff Roster/Scheduling'">
                                    <input type="checkbox" [(ngModel)]="subpage.createShift" class="m-2">
                                    <label class="mx-2">Create Shift</label>
                                </div>
                                <div class="flex align-items-center position-relative"
                                    *ngIf="subpage.title === 'Staff Roster/Scheduling'">
                                    <input type="checkbox" [(ngModel)]="subpage.readShift" class="m-2">
                                    <label class="mx-2">Read Shift</label>
                                </div>
                                <div class="flex align-items-center position-relative"
                                    *ngIf="subpage.title === 'Staff Roster/Scheduling'">
                                    <input type="checkbox" [(ngModel)]="subpage.updateShift" class="m-2">
                                    <label class="mx-2">Update Shift</label>
                                </div>
                                <div class="flex align-items-center position-relative"
                                    *ngIf="subpage.title === 'Staff Roster/Scheduling'">
                                    <input type="checkbox" [(ngModel)]="subpage.deleteShift" class="m-2">
                                    <label class="mx-2">Delete Shift</label>
                                </div>
                                <!-- <div class="flex align-items-center position-relative"
                                    *ngIf="subpage.title === 'Staff Roster/Scheduling'">
                                    <input type="checkbox" [(ngModel)]="subpage.viewByGuards" class="m-2">
                                    <label class="mx-2">View by Staff</label>
                                </div> -->
                                <div class="flex align-items-center position-relative"
                                    *ngIf="subpage.title === 'Staff Roster/Scheduling'">
                                    <input type="checkbox" [(ngModel)]="subpage.viewBySite" class="m-2">
                                    <label class="mx-2">View by Branches</label>
                                </div>
                                <div class="flex align-items-center position-relative"
                                    *ngIf="subpage.title === 'Staff Roster/Scheduling'">
                                    <input type="checkbox" [(ngModel)]="subpage.twoWeeks" class="m-2">
                                    <label class="mx-2">2 Weeks</label>
                                </div>
                                <div class="flex align-items-center position-relative"
                                    *ngIf="subpage.title === 'Staff Roster/Scheduling'">
                                    <input type="checkbox" [(ngModel)]="subpage.rosterOptions" class="m-2">
                                    <label class="mx-2">Rosters Options</label>
                                </div>
                                <!-- <div class="flex align-items-center position-relative"
                                    *ngIf="subpage.title === 'Staff Roster/Scheduling'">
                                    <input type="checkbox" [(ngModel)]="subpage.addStaffToLocations" class="m-2">
                                    <label class="mx-2">Add Staff to Locations</label>
                                </div> -->
                                <div class="flex align-items-center position-relative"
                                    *ngIf="subpage.title === 'Staff Roster/Scheduling'">
                                    <input type="checkbox" [(ngModel)]="subpage.createNewLocation" class="m-2">
                                    <label class="mx-2">Create New Branch</label>
                                </div>
                                <div class="flex align-items-center position-relative"
                                    *ngIf="subpage.title === 'Staff Roster/Scheduling'">
                                    <input type="checkbox" [(ngModel)]="subpage.updateLocation" class="m-2">
                                    <label class="mx-2">Update Branch</label>
                                </div>
                                <div class="flex align-items-center position-relative"
                                    *ngIf="subpage.title === 'Staff Roster/Scheduling'">
                                    <input type="checkbox" [(ngModel)]="subpage.deleteLocation" class="m-2">
                                    <label class="mx-2">Delete Branch</label>
                                </div>
                                <!-- <div class="flex align-items-center position-relative"
                                    *ngIf="subpage.title === 'Staff Roster/Scheduling'">
                                    <input type="checkbox" [(ngModel)]="subpage.bulkActions" class="m-2">
                                    <label class="mx-2">Bulk Actions</label>
                                </div>
                                <div class="flex align-items-center position-relative"
                                    *ngIf="subpage.title === 'Staff Roster/Scheduling'">
                                    <input type="checkbox" [(ngModel)]="subpage.asapJob" class="m-2">
                                    <label class="mx-2">ASAP Job</label>
                                </div> -->
                                <!-- <div class="flex align-items-center position-relative"
                                    *ngIf="subpage.title === 'Staff Roster/Scheduling'">
                                    <input type="checkbox" [(ngModel)]="subpage.availableStaff" class="m-2">
                                    <label class="mx-2">Available Staff</label>
                                </div>
                                <div class="flex align-items-center position-relative"
                                    *ngIf="subpage.title === 'Staff Roster/Scheduling'">
                                    <input type="checkbox" [(ngModel)]="subpage.max14Hours" class="m-2">
                                    <label class="mx-2">Max 14 Hours Shift</label>
                                </div> -->
                                <div class="flex align-items-center position-relative"
                                    *ngIf="subpage.title === 'Staff Roster/Scheduling'">
                                    <input type="checkbox" [(ngModel)]="subpage.onGoingCompletedUpdate" class="m-2">
                                    <label class="mx-2">Update Time Ongoing & Completed Shifts</label>
                                </div>

                                <!-- <div class="flex align-items-center position-relative"
                                    *ngIf="subpage.title === 'Staff Roster/Scheduling'">
                                    <input type="checkbox" [(ngModel)]="subpage.eightHourBreak" class="m-2">
                                    <label class="mx-2">8 Hours Break</label>
                                </div> -->
                                <div class="flex align-items-center position-relative"
                                    *ngIf="subpage.title === 'Staff Roster/Scheduling'">
                                    <input type="checkbox" [(ngModel)]="subpage.lockPreweek" class="m-2">
                                    <label class="mx-2">No Lock Previous Week</label>
                                </div>
                                <!-- <div class="flex align-items-center position-relative"
                                    *ngIf="subpage.title === 'Staff Roster/Scheduling'">
                                    <input type="checkbox" [(ngModel)]="subpage.reportEditDelete" class="m-2">
                                    <label class="mx-2">Roster Report Edit Delete Shifts</label>
                                </div>
                                <div class="flex align-items-center position-relative"
                                    *ngIf="subpage.title === 'Staff Roster/Scheduling'">
                                    <input type="checkbox" [(ngModel)]="subpage.mockUnprofiledStaff" class="m-2">
                                    <label class="mx-2">Mock/Unprofiled Staff</label>
                                </div> -->

                                <!-- Add other custom child pages as needed -->

                            </li>
                        </ul>
                    </div>
                </mat-expansion-panel-content>
            </mat-expansion-panel>
        </mat-accordion>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-light" (click)="onSubmit()">Submit</button>
        <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
    </div>
</ng-template>
<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="default" color="#fff" type="line-spin-fade-rotating">
    <p style="color: white">Please Wait...</p>
</ngx-spinner>