<div class="flex flex-col flex-auto min-w-0">

  <!-- Main -->
  <div class="flex-auto p-6">
    <h2>Message Portal</h2>

    <!-- CONTENT GOES HERE -->
    <div class="h-400 min-h-400 max-h-400 d-flex  bg-white ">
      <div *ngIf="show" class="sideBar w-25  h-100  border-end border-secondary">
        <ul class="d-flex align-items-center p-2  pb-0 justify-content-between border-bottom border-secondary">
          <li class="cursor-pointer pt-3 pb-3" *ngFor="let side of sideBar ; let i = index"
            [class.active]="selectedIndex === i" (click)="setIndex(i)">
            <a>{{side.name}}</a>
          </li>
        </ul>
        <div class="h-100" *ngIf="selectedIndex === 0">
          <button class="btn btn-dark rounded-pill d-flex"><mat-icon>add</mat-icon>Compose</button>

        </div>
        <div class="w-100 h-100" *ngIf="selectedIndex === 1">
          this is sent item </div>




      </div>
      <div class="body " [ngStyle]="{'width':show==true?'75%':'100%'}">
        <div class="upper d-flex pt-2 border-bottom border-secondary">
          <p class="p-1"> <mat-icon role="button" class="me-2 mt-1 menu " (click)="isShow()">menu</mat-icon>Welcome to
            Message Portal</p>
        </div>
        <div class="lower h-100 w-100 p-4">
          <p>Select</p>
          <div class="d-flex align-items-center justify-content-between">
            <mat-form-field>

              <select matNativeControl="">
                <!-- <option value="" selected></option> -->
                <option value="volvo">Volvo</option>
                <option value="saab">Saab</option>
                <option value="mercedes">Mercedes</option>
                <option value="audi">Audi</option>
              </select>
            </mat-form-field>
            <mat-form-field>

              <select matNativeControl="">
                <!-- <option value="" selected></option> -->
                <option value="volvo">Volvo</option>
                <option value="saab">Saab</option>
                <option value="mercedes">Mercedes</option>
                <option value="audi">Audi</option>
              </select>
            </mat-form-field>
            <mat-form-field>

              <select matNativeControl="">
                <!-- <option value="" selected></option> -->
                <option value="volvo">Volvo</option>
                <option value="saab">Saab</option>
                <option value="mercedes">Mercedes</option>
                <option value="audi">Audi</option>
              </select>
            </mat-form-field>
            <mat-form-field>

              <select matNativeControl="">
                <!-- <option value="" selected></option> -->
                <option value="volvo">Volvo</option>
                <option value="saab">Saab</option>
                <option value="mercedes">Mercedes</option>
                <option value="audi">Audi</option>
              </select>
            </mat-form-field>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>