<div class="main-container d-flex">
    <div class="sideBar  h-100 w-25 " style="position:sticky; top:0;   min-height: 60vh; max-height: 100vh; overflow: auto;">
        <h2 class="text-center p-3">Job Activity</h2>
        <div class="cards p-1 d-flex  align-items-center" role="button"
            *ngFor="let sideCard of filteredSideCards; let i = index" [style.background]="sideCard.background"
            [class.selected]="i === selectedCardIndex"
            [style.border]="i === selectedCardIndex ? borderColors[selectedCardIndex] : 'none'" (click)="selectCard(i)">
            <div [class.active]="i === selectedCardIndex"
                [style.background-color]="i === selectedCardIndex ? sideCard.color : ''"
                [style.border-color]="i === selectedCardIndex ? sideCard.color : ''"
                style="height: 50px; width: 6px;  border-radius: 23px;">
            </div>
            <img class="ms-2 me-2" style="height:30px; width:35px" [src]="sideCard.logo" alt="">
            <span [style.color]="sideCard.color">{{sideCard.text}}</span>
        </div>
    </div>

    <div class="detailsBar border-start h-100 w-75">

        <!-- login Details -->
        <div *ngIf="selectedCardIndex === 0">
            <app-sign-in-out></app-sign-in-out>
        </div>

        <!-- breakDeatails -->
        <div *ngIf="selectedCardIndex === 1">
            <div class="breakDetails">
                <div class="d-flex justify-content-between w-100 p-4" style="position: sticky;
                    top: 0; background-color: white; z-index: 8;">
                    <h2>Break Details</h2> 
                    <mat-icon class="bg-danger text-light rounded" role="button" (click)="close()">close</mat-icon>
                </div>

                <div class="scroll p-4" style=" min-height: 60vh;max-height: 77vh;overflow: auto;">
                    <div class="main-container p-2">
                        <div class="row">
                            <div style="min-height:40vh; max-height:45vh; overflow:auto">
                                <table class="w-100">
                                    <tr>
                                        <th>Start Time</th>
                                        <th>End Time</th>
                                        <th>Informed to</th>
                                        <th>Notes</th>
                                    </tr>
                                    <ng-container *ngIf="break.length > 0; else noData">
                                        <tr class="welfaredata border-bottom mb-2 pb-2" *ngFor="let br of break">
                                            <td>{{ br.start_time }}</td>
                                            <td>{{ br.end_time }}</td>
                                            <td>{{ br.inform_to }}</td>
                                            <td>{{ br.notes }}</td>
                                        </tr>
                                    </ng-container>

                                    <ng-template #noData>
                                        <tr>
                                            <td colspan="4"  class="text-center">
                                                No data found
                                            </td>
                                        </tr>
                                    </ng-template>
                                </table> 
                            </div>
                            <!-- <div class="col-5">
                                <div class="map rounded mb-4 border d-flex align-items-center justify-content-center text-muted"
                                    #map3 id="map3"> Map</div>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Green Call -->
        <div class="greenCall" *ngIf="selectedCardIndex === 2">
            <app-green-call></app-green-call>
        </div>

        <!-- shiftActivity -->
        <div class="shiftActivity" *ngIf="selectedCardIndex === 6">
            <div class="d-flex justify-content-between w-100 p-4" style="position: sticky; top: 0;background-color: white;z-index: 8;">
                <h2>Shift Activity</h2> 
                <mat-icon class="bg-danger text-light rounded" role="button" (click)="close()">close</mat-icon>
            </div>

            <div class="row">
                <div class="col-12">
                    <button class="btn btn-border-3" style="float: right; margin: 5px 20px 15px 5px;"
                        (click)="savePDF()">Download Pdf
                    </button>
                </div>
            </div>

            <div class="scroll mb-3" style=" min-height: 56vh; max-height: 57vh;overflow: auto;">
                <div class="timeline" *ngFor="let data of datas; let i= index">
                    <div class="container right">
                        <fa-icon class="icon" [icon]="faPencil"></fa-icon>
                        <div class="content ">
                            <p class="title fw-bold">{{data.activity}}</p>
                            <p class="text-muted">
                                {{data.activity_time}}
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- <div class="scroll p-4" id="shift-pdf" *ngIf="showPdf">
                <div class="row">
                    <div class="col-2">
                        <img src="assets/images/logo/scouts.png" alt="Logo image" style="margin-left: 20px;">
                    </div>
                </div>

                <div class="row" style="background-color: #01A37E;">
                    <h4 style="color: #fff; text-align: center; padding-bottom: 12px;">Shift Activity Detail</h4>
                </div>

                <div class="row" style="margin: 10px 20px 30px 10px">
                    <div class="col-6">
                        <div class="row">
                            <div class="col-sm-5 p-0">
                                <p style="font-weight: bold;">Customer Name: </p>
                            </div>
                            <div class="col-sm-7">
                                <p>{{customerName}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-5 p-0">
                                <p style="font-weight: bold;">Location: </p>
                            </div>
                            <div class="col-sm-7">
                                <p>{{location}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="row">
                            <div class="col-sm-5 p-0">
                                <p style="font-weight: bold;">Staff Name: </p>
                            </div>
                            <div class="col-sm-7">
                                <p>{{staffName}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-5 p-0">
                                <p style="font-weight: bold;">Shift Timings: </p>
                            </div>
                            <div class="col-sm-7">
                                <p>{{start}}-{{end}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>

                <div class="row" style="margin-top: 20px;">
                    <div class="timeline" *ngFor="let data of datas; let i= index">
                        <div class="container right">
                            <fa-icon class="icon" [icon]="faPencil"></fa-icon>
                            <div class="content ">
                                <p class="title fw-bold">{{data.activity}}</p>
                                <p class="text-muted">
                                    {{data.activity_time}}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->
        </div>

        <!-- incident Report -->
        <div class="shiftActivity" *ngIf="selectedCardIndex === 4">
            <div class="d-flex justify-content-between w-100 p-4" style="position: sticky; top: 0; background-color: white; z-index: 8;">
                <!-- <mat-icon *ngIf="!detail" class="me-3" role="button" (click)="isShown()">backspace</mat-icon> -->
                <h2 class="d-flex"><img class=" me-3 mt-2" *ngIf="!detail" role="button" (click)="isShown()" style="height:30px; width:30px;"
                    src="../../../../../assets/icons/jobshiftActivity/back.png" />Incident Report
                </h2> 
                <mat-icon class="bg-danger text-light rounded" role="button" (click)="close()">close</mat-icon>
            </div>

            <div class="scroll" style=" min-height: 60vh;max-height: 66vh;overflow: auto;">
                <div *ngIf="detail">
                    <div class="detail ps-5 pe-5" *ngFor="let inci of incidentReport; let i = index ">
                        <div class="details mb-1 d-flex justify-content-between border rounded-pill align-items-center p-3">
                            <div style="width:40px; height:40px; display:grid; place-items:center; background-color:#F2CCC0; color:#C20606; font-size:20px;"
                                class="border rounded-circle fw-bold">{{ i+1 }}
                            </div>
                            <span class="text-muted">{{inci.incident_time }}</span>
                            <span class="text-muted">{{inci.incident_date}}</span>
                            <div class="d-flex align-items-center">
                                <button style="background-color: #F2CCC0; color:#C20606"
                                    class="btn rounded-pill fw-bold" (click)="isShown(inci)">Details
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <div #content *ngIf="!detail" style="line-height:35px" class="report ps-5 pe-5">
                    <div class="row" style="background-color: #01A37E; margin-top: 5px;">
                        <h4 style="color: #fff; text-align: center; padding-top: 5px;">Incident Report</h4>
                    </div>

                    <div class="row" style="margin: 10px 0px 20px 0px">
                        <div class="col-6">
                            <div class="row">
                                <div class="col-sm-5 p-0">
                                    <p style="font-weight: bold;">Customer Name: </p>
                                </div>
                                <div class="col-sm-7">
                                    <p>{{customerName}}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-5 p-0">
                                    <p style="font-weight: bold;">Location: </p>
                                </div>
                                <div class="col-sm-7">
                                    <p>{{location}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="row">
                                <div class="col-sm-5 p-0">
                                    <p style="font-weight: bold;">Staff Name: </p>
                                </div>
                                <div class="col-sm-7">
                                    <p>{{staffName}}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-5 p-0">
                                    <p style="font-weight: bold;">Shift Timings: </p>
                                </div>
                                <div class="col-sm-7">
                                    <p>{{start}}-{{end}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>

                    <table class="table-1 w-100">
                        <tr>
                            <th>Incident Date</th>
                            <th>Incident Time</th>
                            <th>Incident type</th>
                        </tr>
                        <tr class="text-muted">
                            <td>{{incident.incident_date}}</td>
                            <td>{{incident.incident_time}}</td>
                            <td>
                                <button style="background-color: #DDF4EF; padding: 0px 10px; border-radius: 15px;">{{incident.injury_type !== 'undefined' ? incident.injury_type : 'N/A' }}</button>
                            </td>
                        </tr>
                    </table>
                    <p class="mt-2 mb-0 fw-bold">Incident details</p>
                    <div class="row" style="justify-content: space-between;">
                        <input type="text" name="AddInurydetail" [(ngModel)]="AddInurydetail"
                            placeholder="Please enter detail" (focus)="isEditing = true">
                        <button class="submit px-3" *ngIf="isEditing" (click)="submitDetail(incident.id)">Update</button>
                    </div>
                    <hr>

                    <table class="table-2 w-100">
                        <p class="mt-2 mb-0 fw-bold">People Involved</p>
                        <tr style="font-weight: 630;">
                            <td>No of People</td>
                            <td>Gender</td>
                            <td>Name</td>
                            <td>Phone</td>
                            <td>Gmail</td>
                        </tr>
                        <tr class="text-muted" *ngFor="let inc of incident.people_involved">
                            <td>
                                <button style="background-color: #DDF4EF; padding: 0px 10px; border-radius: 15px;">{{inc.peopleCount}}</button>
                            </td>
                            <td>{{ inc.gender}}</td>
                            <td>{{ inc.name }}</td>
                            <td>{{ inc.phone }}</td>
                            <td>{{ inc.email }}</td>
                        </tr>
                    </table>

                    <table class="w-100 ">
                        <tr style="font-weight: 630;">
                            <td>Hair Color</td>
                            <td>Weight</td>
                            <td>Height</td>
                            <td>Mark</td>
                        </tr>
                        <tr class="text-muted" *ngFor="let inc of incident.people_involved">
                            <td>{{ inc.hair }}</td>
                            <td>{{ inc.weight }}</td>
                            <td>{{ inc.height }}</td>
                            <td>{{ inc.marks }}</td>
                        </tr>
                    </table>
                    <hr>

                    <table class="table-3 w-100">
                        <p class="fw-bold mt-2 mb-0">Vehicle Involved</p>
                        <tr style="font-weight: 630;">
                            <td>No of Vehicles</td>
                            <td>Rego Number</td>
                            <td>Model</td>
                            <td>Vehicle Type</td>
                            <td>Make</td>
                        </tr>
                        <tr class="text-muted" *ngFor="let inc of incident.vehicle">
                            <td>{{ inc.vehicleCount }}</td>
                            <td>{{ inc.vehicle_rander }}</td>
                            <td>{{ inc.model }}</td>
                            <td>{{ inc.vehicle_type }}</td>
                            <td>{{inc.make}}</td>
                        </tr>
                    </table>
                    <hr>

                    <table class="table-4 w-100">
                        <p class="mb-0 mt-2 fw-bold">Emergency Service Involved</p>
                        <tr style="font-weight: 630;">
                            <td>Emergency Type</td>
                            <td>Supervisor</td>
                            <td>Position</td>
                            <td>Phone</td>
                            <td>Gmail</td>
                            <td>Address</td>
                        </tr>
                        <tr class="text-muted">
                            <td>
                                <button style="background-color: #DDF4EF; padding: 0px 10px; border-radius: 15px;">{{incident.emergency_services.emergency_type }}</button>
                            </td>
                            <td>{{incident.emergency_services.supervisor_name}}</td>
                            <td>{{incident.emergency_services.position}}</td>
                            <td>{{incident.emergency_services.phone}}</td>
                            <td>{{incident.emergency_services.email}}</td>
                            <td>{{incident.emergency_services.address}}</td>
                        </tr>
                        <!-- <tr style="font-weight: 630;">
                            <td>Address</td>
                        </tr> -->
                        <!-- <tr class="text-muted">
                            <td></td>
                        </tr> -->
                    </table>
                    <hr>

                    <table class="table-3 w-100">
                        <p class="fw-bold mt-2 mb-0">Witness Involved</p>
                        <tr style="font-weight: 630;">
                            <td>No of Witness</td>
                            <td>Full Name</td>
                            <td>Phone</td>
                            <td>Address</td>
                        </tr>
                        <tr class="text-muted" *ngFor="let inc of incident.wittness">
                            <td>{{ inc.wittness }}</td>
                            <td>{{ inc.witness_name }}</td>
                            <td>{{ inc.witness_phone }}</td>
                            <td>{{ inc.witness_address }}</td>
                        </tr>
                    </table>
                    <hr>

                    <table>
                        <p class="fw-bold mt-2 mb-0">Pictures</p>
                        <tr>
                            <td *ngFor="let img of incident.photo" style="position: relative;">
                                <a [href]="img.imgPath" target="_blank">
                                    <div style="height: 200px; overflow: hidden;" class="rounded border">
                                        <img [src]="img.imgPath" alt=""
                                            style="width: 100%; height: 100%; object-fit: cover; position: relative;"
                                        (error)="handleImageError($event)">
                                    </div>
                                </a>
                                <div class="timestamp-overlay">{{img.timestamp}}</div>
                            </td>
                        </tr>
                    </table>
                    <hr>

                    <p>By Signing below you confirm and acknowledge that the report being submitted is a true and
                        accurate record of the incident that occurred on the date in question.
                    </p>
                    <div class="d-flex justify-content-between align-items-end">
                        <div>
                            <p class="fw-bold">Signature</p> <img style="height:100px; width:100px" [src]="incident.signature" />
                        </div> 
                        <button style="height:49px" class="btn btn-dark" (click)="makePdf(incident.id)">Download</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Operation Notes -->
        <div class="operationNotes" *ngIf="selectedCardIndex == 5">
            <div class="d-flex justify-content-between w-100 p-4" style="position: sticky; top: 0; background-color: white; z-index: 8;">
                <h2>Operation Notes</h2> 
                <mat-icon class="bg-danger text-light rounded" role="button" (click)="close()">close</mat-icon>
            </div>

            <div class="scroll p-4" style=" min-height: 60vh; max-height: 77vh; overflow: auto;">
                <div class="d-flex align-items-center "> 
                    <textarea [(ngModel)]="operationNotes" class="rounded-2xl p-2 border " placeholder="Write Something here.." name="" id="" cols="70" rows="4">
                    </textarea>
                    <button class="btn btn-dark ms-4" (click)="submitOperationNotes()" mat-raised-button color="primary"
                        [disabled]="!operationNotes">Submit
                    </button>
                </div>

                <div *ngIf="submittedNotes" class="mt-3">
                    <table class="table table-bordered">
                      <thead>
                        <tr>
                          <th>Note</th>
                          <th style="width: 40px;">Action</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>{{ submittedNotes }}</td>
                          <td>
                            <mat-icon
                              role="button"
                              color="warn"
                              (click)="deleteNote()"
                              style="cursor: pointer;"
                              >delete</mat-icon
                            >
                          </td>
                        </tr>
                      </tbody>
                    </table>
                </div>
            </div>
        </div>

        <!-- Walfare call -->
        <div class="welfare Call" *ngIf="selectedCardIndex == 3">
            <app-welfare-call></app-welfare-call>
        </div>

        <!-- tracker -->
        <!-- <div class="tracker" *ngIf="selectedCardIndex == 4">
            <app-tracker></app-tracker>
        </div> -->

        <!--Shift Task-->
        <div class="shiftActivity" *ngIf="selectedCardIndex === 7">
            <div class="d-flex justify-content-between w-100 p-4" style="position: sticky; top: 0;background-color: white;z-index: 8;">
                <h2>Shift Task</h2> 
                <mat-icon class="bg-danger text-light rounded" role="button" (click)="close()">close</mat-icon>
            </div>

            <div class="row">
                <div class="col-12">
                    <button class="btn btn-border-3" *ngIf="isEditing"
                        style="float: right; margin: 5px 20px 15px 5px;">Save Changes
                    </button>
                    <button class="btn btn-border-3" style="float: right; margin: 5px 20px 15px 5px;"
                        (click)="shiftTaskPdf()">Download Pdf
                    </button>
                </div>
            </div>

            <div class="scroll" style=" min-height: 55vh; max-height: 58vh;overflow: auto; margin-bottom: 30px;">
                <div class="timeline" *ngFor="let task of tasks; let i= index">
                    <div class="container right">
                        <fa-icon class="icon" [icon]="faPencil"></fa-icon>
                        <div class="content ">
                            <p class="title fw-bold">{{task.task}}</p>
                            <div class="task-info">
                                <p class="text-muted">Schedule Start Time: {{ formatTime(task.task_start) }}</p>
                                <p class="text-muted">Schedule End Time: {{ formatTime(task.task_end) }}</p>
                                <p class="text-muted"> Status : {{task.status}}</p>
                            </div>
                            <div class="task-info" style="margin-top:10px;">
                                <p class="text-muted">Actual Start Time: 
                                    <span class="editableText" contenteditable="true" (blur)="saveTask(task.id, task, $event,'start')"
                                        (focus)="isEditing = true">{{ formatTime(task.actual_start_time) }}
                                    </span>
                                </p>
                                <p class="text-muted">Actual End Time: 
                                    <span class="editableText" contenteditable="true" (blur)="saveTask(task.id, task, $event,'end')" (focus)="isEditing = true">
                                        {{ formatTime(task.actual_end_time) }}
                                    </span>
                                </p>
                            </div>
                            <div class="task-info">
                                <p class="text-muted"> Note : 
                                    <span class="editableText" (blur)="saveTask(task.id, task, $event,'note')" contenteditable="true"
                                        (focus)="isEditing = true">{{task?.note}}
                                    </span>
                                </p>
                            </div>
                            <div class="task-info" *ngIf="task.images && task.images.length > 0">
                                <p class="text-muted">Images:</p>
                                <br>
                            </div>
                            <div class="image-list">
                                <div *ngFor="let img of task.images" class="image-item">
                                    <img class="zoom" [src]="img.imgPath" alt="Image">
                                    <div class="shiftTask-overlay">
                                        <div class="shiftTask-date">{{img.timestamp.split(',')[0]}}</div>
                                        <div class="shiftTask-time" style="text-align: center;">
                                            {{img.timestamp.split(',')[1]}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--Foot Patrol Report-->
        <div class="shiftActivity" *ngIf="selectedCardIndex === 8" style="margin: 10px 20px;">
            <div class="d-flex justify-content-between w-100 p-4" style="position: sticky; top: 0;background-color: white;z-index: 8;">
                <h2>Daily Shift Report</h2> 
                <mat-icon class="bg-danger text-light rounded" role="button" (click)="close()">close</mat-icon>
            </div>

            <div class="" >
                <div class="row" style="background-color: #01A37E;">
                    <h4 style="color: #fff; text-align: center; padding-top: 5px;">Daily Shift Report</h4>
                </div>
                <div class="row" style="margin: 10px 0px 20px 0px">
                    <div class="col-6">
                        <div class="row">
                            <div class="col-sm-5 p-0">
                                <p style="font-weight: bold;">Customer Name: </p>
                            </div>
                            <div class="col-sm-7">
                                <p>{{customerName}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-5 p-0">
                                <p style="font-weight: bold;">Location: </p>
                            </div>
                            <div class="col-sm-7">
                                <p>{{location}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="row">
                            <div class="col-sm-5 p-0">
                                <p style="font-weight: bold;">Staff Name: </p>
                            </div>
                            <div class="col-sm-7">
                                <p>{{staffName}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-5 p-0">
                                <p style="font-weight: bold;">Shift Timings: </p>
                            </div>
                            <div class="col-sm-7">
                                <p>{{start}}-{{end}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
            </div>

            <div class="row" *ngFor="let Patroldata of footPatrol; let i=index">
                <div class="col-6">
                    <p>
                        <span style="font-weight: bold;">Date:</span> {{Patroldata.date}}
                    </p>
                </div>
                <div class="col-6">
                    <p>
                        <span style="font-weight: bold;">Time:</span> {{Patroldata.time}}
                    </p>
                </div>
                <p class="mt-2 mb-0 fw-bold">Details:</p>
                <div class="row" style="justify-content: space-between;">
                    <input type="text" [(ngModel)]="Patroldata.patrolling_details" placeholder="Please enter detail" (focus)="isEditing = true">
                    <div class="col-12" style="margin-top: 15px; text-align: center;">
                        <button class="submit px-3" *ngIf="isEditing" (click)="savePetroleDetail(Patroldata.id)">Update</button>
                    </div>
                </div>
                <hr>
                <div>
                    <p class="fw-bold">By Signing below you confirm and acknowledge that the report being submitted is a true and accurate record of the incident that occurred on the date in question.</p>
                    <p>Signature</p> 
                    <img style="height:100px; width:100px" [src]="Patroldata.signature" />
                </div>
                <hr>
                <div>
                    <p class="fw-bold text-center">WORK HEALTH AND SAFETY CHECK</p>
                    <p>As you are compleing your shift at this time, AMG reminds all employees about the importance of safety—not only for themselves, but also their responsibility to others.
                        The below question is for the purposes of determining your safety when completing your shift and ensuring you are safe to travel home.
                    </p>
                    <p>If any employee is not fit to travel home by any means of transport due to fatigue or tiredness, they must inform an AMG Security Manager immediately before leaving their shift.</p>
                </div>
                <hr>
                <div class="task-info" *ngIf="Patroldata.photo && Patroldata.photo.length > 0">
                    <p class="text-muted" style="font-weight: bold;">Additional Attachments:</p><br>
                </div>
                <div class="patrol-image-list">
                    <div *ngFor="let img of Patroldata.photo" class="patrol-image-item">
                        <img class="zoom" [src]="img.imgPath" alt="Image">
                        <div class="timestamp-footPatrol">{{img.timestamp}}</div>
                    </div>
                </div>

                <div class="d-flex justify-content-between align-items-end">
                    <div>
                        <!-- <p class="fw-bold">Signature</p> 
                        <img style="height:100px; width:100px" [src]="Patroldata.signature" /> -->
                    </div>
                    <button style="height:49px" class="btn btn-dark"
                        (click)="generateFootPatrolPdf(Patroldata.id)">Download
                    </button>
                </div>
            </div>
        </div>

        <!-- rating -->
        <!-- <div class="shiftActivity" *ngIf="selectedCardIndex === 10 && jobStatus==='completed'" style="margin: 10px 20px;">
            <div class="d-flex justify-content-between w-100 p-4" style="position: sticky; top: 0;background-color: white;z-index: 8;">
                <h2>Rating</h2> 
                <mat-icon class="bg-danger text-light rounded" role="button" (click)="close()">close</mat-icon>
            </div>
            <div class="row">
                <div class="col-lg-5">
                    <ngx-star-rating [(ngModel)]="rating" [id]="'rating'" ></ngx-star-rating >
                </div>
            </div>
            <div class="row">
                <div>
                    <label for="description">Description</label> 
                    <textarea class="rounded-2xl p-2 border " [(ngModel)]="description" placeholder="Write Something here.." name="" id="" cols="100"
                        rows="4">
                    </textarea>
                </div>
            </div>
            <div style="display:flex; justify-content:flex-end"> 
                <button style="height:50px" class="submit px-3 btn btn-dark" (click)="rate()">Submit</button>
            </div>
        </div> -->

        <!-- Patrolling  -->
        <!-- <div class="shiftActivity" *ngIf="selectedCardIndex === 9" style="margin: 10px 20px;">
            <div class="d-flex justify-content-between w-100 p-4" style="position: sticky; top: 0; background-color: white; z-index: 8;">
                <h2>Patrolling Report</h2>
                <mat-icon class="bg-danger text-light rounded" role="button" (click)="close()">close</mat-icon>
            </div>
            <div class="row">
                <div style="display:flex; justify-content:flex-end; margin-bottom:5px"> 
                    <button style="height:40px" class="submit px-3 btn btn-dark" (click)="donwload_patrolling_report()">Download</button>
                </div>
            </div>
  
            <div class="table-responsive" style="max-height: 570px; overflow-y: auto; overflow-x: auto;">
                <table class="table " style="width:max-content">
                    <thead class="thead-light" style="position: sticky; top: 0; background-color: white; z-index: 9;">
                        <tr>
                            <th scope="col" style="min-width: 30px;">#</th>
                            <th scope="col" style="min-width: 200px;">Started At</th>
                            <th scope="col" style="min-width: 80px;">Status</th>
                            <th style="min-width: 250px;" class="text-center" scope="col">Map</th>
                            <th>Scanner</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let patrol of patrolling_data; let i = index">
                            <td>{{i+1}}</td>
                            <td>{{patrol?.created_at | date:'dd-MM-yyyy HH:mm:ss'}}</td>
                            <td>{{patrol?.status}}</td>
                            <td>
                                <div class="map rounded border d-flex align-items-center justify-content-center text-muted" [attr.id]="'map_' + i" >
                                    Map Lacation
                                </div>
                            </td>
                            <td>
                                <div class="table-responsive">
                                    <table class="table table-sm">
                                        <thead class="thead-light">
                                            <tr>
                                                <td scope="col" class="font-weight-bold">Name</td>
                                                <td scope="col" class="font-weight-bold"> Scan At</td>
                                                <td class="font-weight-bold">Location</td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let scanner of patrol?.scanners; let j = index">
                                                <td>{{scanner.name}}</td> 
                                                <td>{{scanner.scan_at}}</td>
                                                <td>
                                                    <div class="scanMap  text-muted" [attr.id]="'smap_'+ i +'_' + j">
                                                        Location
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div> -->
        <div class="shiftActivity" *ngIf="selectedCardIndex === 9" style="margin: 10px 20px;">
            <div class="d-flex justify-content-between w-100 p-4" style="position: sticky; top: 0; background-color: white; z-index: 8;">
                <h2>Patrolling Report</h2>
                <mat-icon class="bg-danger text-light rounded" role="button" (click)="close()">close</mat-icon>
            </div>
            <div class="row">
                <div style="display:flex; justify-content:flex-end; margin-bottom:5px"> 
                    <button style="height:40px" class="submit px-3 btn btn-dark" (click)="donwload_patrolling_report()">Download</button>
                </div>
            </div>
  
            <div class="table-responsive" style="max-height: 470px; overflow-y: auto; overflow-x: auto;">
                <table class="table " style="width:100%">
                    <thead class="thead-light" style="position: sticky; top: 0; background-color: white; z-index: 9;">
                        <tr>
                            <th scope="col" style="min-width: 30px;">#</th>
                            <th scope="col" style="min-width: 30px;">Site Name</th>
                            <th scope="col" style="min-width: 200px;">Position Name</th>
                            <th scope="col" style="min-width: 200px;">Scan At</th>
                            <th scope="col" style="min-width: 80px;">Status</th>
                            <!-- <th style="min-width: 250px;" class="text-center" scope="col">Map</th>
                            <th>Scanner</th> -->
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let patrol of patrolling_data; let i = index">
                            <td>{{i+1}}</td>
                            <td>{{patrol?.site_name}}</td>
                            <td>{{patrol?.name}}</td>
                            <td>{{patrol?.scan_at | date:'dd-MM-yyyy HH:mm:ss'}}</td>
                            <td>{{patrol?.status}}</td>
                            <!-- <td>
                                <div class="map rounded border d-flex align-items-center justify-content-center text-muted" [attr.id]="'map_' + i" >
                                    Map Lacation
                                </div>
                            </td>
                            <td>
                                <div class="table-responsive">
                                    <table class="table table-sm">
                                        <thead class="thead-light">
                                            <tr>
                                                <td scope="col" class="font-weight-bold">Name</td>
                                                <td scope="col" class="font-weight-bold"> Scan At</td>
                                                <td class="font-weight-bold">Location</td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let scanner of patrol?.scanners; let j = index">
                                                <td>{{scanner.name}}</td> 
                                                <td>{{scanner.scan_at}}</td>
                                                <td>
                                                    <div class="scanMap  text-muted" [attr.id]="'smap_'+ i +'_' + j">
                                                        Location
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </td> -->
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        
    </div>
</div>