$primary-color: var(--primary_color, #01A37E);
$color-secondary: var(--color-secondary, #1e293c);
$color-light-button: var(--color-light-button, #01a37e2e);

.cards.selected {
    box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.2);
}

.detailsBar {

    .map {
        height: 100px
    }
}

.timeline {
    position: relative;
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
    padding: 1px 0;

    .container {
        padding: 3px 25px;
        position: relative;
        background: inherit;
        width: 90%;
    }

    .container.left {
        left: -20%;
    }

    .container.right {
        left: 0%;
    }

    .container .icon {
        position: absolute;
        display: inline-block;
        width: 35px;
        height: 35px;
        top: 39px;
        right: -30px;
        padding: 1px 0;
        background: white;
        border: 3.5px solid #105652;
        border-radius: 50px;
        text-align: center;
        font-size: 16px;
        color: #105652;
        z-index: 1;

    }

    .container.right .icon {
        left: -22px;
    }

    .container .date {
        position: absolute;
        display: inline-block;
        height: 30px;
        min-width: 60px;
        top: 45px;
        padding: 6px 8px;
        background: #E94B3C;
        text-align: center;
        font-size: 14px;
        color: #ffffff;
        z-index: -1;
    }

    .container.left .date {
        right: -86px;
        border-radius: 0 30px 30px 0;
    }

    .container.right .date {
        left: -86px;
        border-radius: 30px 0 0 30px;
    }

    .container::before {
        content: '';
        position: absolute;
        width: 0;
        height: 0;
        top: 47px;
        right: 10px;
        z-index: 1;
        border: 10px solid;
        border-color: transparent #105652 transparent transparent;
    }

    .container.right::before {
        left: 10px;
        border-color: transparent transparent transparent #105652;
    }

    .container .content {
        padding: 20px 35px;
        background: #ffffff;
        position: relative;
        border: 2px solid #eeeeee;
        border-radius: 500px 0 500px 500px;
    }

    .container.right .content {
        border-radius: 0 500px 500px 500px;
    }

    .container .content .title {
        margin: 0 0 10px 0;
        font-size: 16 px;
        font-weight: normal;
        color: #105652;
    }

    .container .content p {
        margin-bottom: 0;
        font-size: 16px;
        line-height: 22px;
        color: #454545;
    }
}

.timeline::after {
    content: '';
    position: absolute;
    width: 1px;
    background: #105652;
    top: 0;
    bottom: 0;
    left: 5%;
    margin-left: -2.5px;
}

.main-container {
    .map {
        height: 250px
    }
}

.welfaredata {
    background-color: rgb(189, 241, 189);
}

.task-info {
    display: flex;
}

.text-muted {
    margin-right: 20px;
}

.image-list {
    list-style: none;
    padding: 0;
    margin-left: 50px;
    margin-right: 50px;
    overflow-x: auto;
    white-space: nowrap;
}

.image-item {
    display: inline-block;
    margin-right: 5px;
    margin-left: 5px;
    width: 35%;
    position: relative;
}

.timestamp-overlay {
    position: absolute;
    bottom: 3px;
    right: 8px;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    z-index: 1;
}

.patrol-image-item {
    display: inline-block;
    margin-right: 5px;
    margin-left: 5px;
    width: 25%;
    position: relative;
}

.patrol-image-list {
    list-style: none;
    width: 97%;
    padding: 0;
    margin-left: 8px;
    margin-right: 50px;
    overflow-x: auto;
    white-space: nowrap;
}

.timestamp-footPatrol {
    position: absolute;
    bottom: 3px;
    right: 0px;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    z-index: 1;
}

.timestamp-shiftTask {
    position: absolute;
    bottom: 3px;
    right: 0px;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    z-index: 1;
}

.shiftTask-overlay {
    position: absolute;
    bottom: 3px;
    right: 8px;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    z-index: 1;
}
.submit{
    position: relative;
    display: inline-block;
    padding: 0px;
    text-align: center;
    font-size: 16px;
    letter-spacing: 1px;
    text-decoration: none;
    color: #ffffff;
    background-color: #01A37E;
    border: none;
    cursor: pointer;
}

.editableText:hover {
    border: 1px solid rgb(228, 225, 225);
    border-radius: 5px;
    background-color: $color-light-button;
    margin: 2px;
}

.editing {
    background-color: black;
    color: white;
}

.editable-fields {
    position: relative;

    mat-icon {
        position: absolute;
        right: 10%;
    }
}

.shiftActivity {
    margin: 10px 20px;
  }
  
  .header {
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 8;
  }
  
  .title {
    font-size: 24px;
    font-weight: bold;
  }
  
  .close-icon {
    cursor: pointer;
  }
  
  .actions .download-btn {
    height: 30px;
  }
  
  .content {
    padding: 20px;
  }
  
  .patrol-item {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f8f9fa;
  }
  
  .serial-number {
    width: 100px;
  }
  
  .map {
    height: 200px; /* Adjust the height as needed */
  }
  
  .separator {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  

  
hr.style13 {
	height: 10px;
	border: 0;
    margin-top: 5px;
    margin-bottom: 5px;
	box-shadow: 0 10px 10px -10px #6e6e6e inset;
}