.heading-toolbar {

    .row {
        .right {

            input::placeholder {
                color: #fff;
            }

            .search {
                position: relative;

                input[type=text] {
                    width: 78px;
                    box-sizing: border-box;
                    border: 1px solid white;
                    border-radius: 11px;
                    font-size: 14px;
                    background-color: transparent;
                    color: #fff;
                    background-position: 10px 10px;
                    background-repeat: no-repeat;
                    padding: 12px 20px 12px 7px;
                    transition: width 0.4s ease-in-out;
                    height: 35px;
                }

                input[type=text]:focus {
                    width: 90%;
                }

                .search-icon {
                    position: absolute;
                    left: 0;
                    color: #fff;
                }


            }

        }

        .left-toolbar {

            .user-type {
                margin-left: -0.5%;
                // justify-content: space-between;

                ul {
                    display: flex;
                    align-items: center;
                    margin: 0;
                    padding-left: 0;

                    li {
                        cursor: pointer;
                        font-weight: 500;
                        // margin: 0 11px 0 11px;
                        margin-right: 25px;
                        // color: #063E69;
                        padding: 5px 0;
                        color: #fff;
                    }
                }
            }

            mat-select {
                background-color: transparent !important;
            }


            .active {
                border-bottom: 2px solid;
                // border-color: #063E69;
                border-color: #fff;

                transition: 0.3s ease-in-out;
            }
        }

        .right-toolbar {

            .mat-chip {
                // background-color: #cce5f8 !important;
                // padding: 0 4px;
                // cursor: pointer;
                padding: 5px 5px 0px 5px;
                cursor: pointer;
                border-radius: 10px;
                background: transparent;
                color: white;
                border: 1px solid white;

                .mat-icon {
                    color: #fff;
                    font-size: 18px !important;
                }

            }

            .mat-chip:hover {
                background-color: white !important;
                color: #9b59b6 !important;
                border: 1px solid #ccc !important;

                .mat-icon {
                    color: #9b59b6 !important;
                    // font-size: 11px;
                }
            }
        }
    }




}

form {
    padding: 7px;


}

::ng-deep .mat-select-value {
    background-color: transparent !important;
    color: white !important;
}

::ng-deep .mat-select-placeholder {
    color: orange !important;
}

// h5{
//     color: var(--text-primary);
// }



@media screen and (max-width: 1400px) {
    tbody {
        .shift-timming {
            font-size: 14px;
        }

        //     .complete-shift{
        //         background-color: #efefef !important;
        // border: 1px solid #dbdbdb !important;

        // margin-bottom: 5px !important;
        // cursor: pointer !important;
        // width: 96% !important;
        // border-radius: 0px !important;
        //     }
    }
}


mat-form-field {
    // width: 15%;
    margin-right: 4px;
    margin: 5px;
}





.container {

    .row-height {
        display: flex;
        border-top: 1px solid #cdc6c6;

        .complete-shift {
            // background-color: #DAF4D9 !important;
            // border: 1px solid #296327;
            // padding: 2px;
            // margin-bottom: 5px;
            // width: 110px;
            // max-width: 110px;
            background-color: #efefef !important;
            border: 1px solid #dbdbdb !important;

            margin-bottom: 5px !important;
            cursor: pointer !important;
            //width: 96% !important;
            border-radius: 0px !important;
            border-right: 4px solid #296327 !important;
            margin-right: 7px;


            p {
                margin: 0;
                font-weight: bold;
                font-size: 12.5px;
            }
        }





    }


}


.p {
    font-size: 12px;
    padding: 0 14px;
}

.px-3 {
    margin: 0;
    margin-top: 5px;
    font-weight: 600;
}

.mat-option {
    height: 2, 5rem !important;
}








.example-additional-selection {
    opacity: 0.75;
    font-size: 0.75em;
}



.date_left_right {
    cursor: pointer;
}

svg {
    height: 50% !important;
    width: 50% !important;
}



.some-space {
    margin-top: 4px
}

.missed-shift {
    background-color: #efefef !important;
    border: 1px solid #dbdbdb !important;

    margin-bottom: 5px !important;
    cursor: pointer !important;
    // width: 96% !important;
    border-radius: 0px !important;
    border-right: 4px solid #D82914 !important;
    margin-right: 7px;


    p {
        margin: 0;
        font-weight: bold;
        font-size: 12.5px;
    }

    span {
        text-align: center;
        font-size: 12px;
        // width: 91px;
    }
}

.missedShiftStatus {
    content: "";
    width: 10px;
    height: 10px;
    background-color: rgb(148, 26, 32);
    position: absolute;
    left: 2px;
    top: 7px;
    border-radius: 50%;
}

.completeShiftStatus {
    content: "";
    width: 10px;
    height: 10px;
    background-color: rgb(33, 112, 33);
    position: absolute;
    left: 2px;
    top: 7px;
    border-radius: 50%;
}

.complete-shift {
    // background-color: #DAF4D9 !important;
    // border: 1px solid #296327;
    // padding: 2px;
    // margin-bottom: 5px;
    // cursor: pointer;
    background-color: #efefef !important;
    border: 1px solid #dbdbdb !important;
    /* padding: 2px; */
    margin-bottom: 5px !important;
    cursor: pointer !important;
    // width: 96% !important;
    border-radius: 0px !important;
    border-right: 4px solid #296327 !important;
    margin-right: 7px;

    // width: 110px;
    // max-width: 110px;
    p {
        margin: 0;
        font-weight: bold;
        font-size: 12.5px;
        // margin-left: 15px;
    }

    span {
        text-align: center;
        font-size: 12px;
        // width: 91px;
    }
}

.tdoftable {
    position: relative;
    padding: 0px;

    .divoftd {
        // position: relative;
    }

    // .plus_create_shift {
    //     // border: 1px dotted #b3b3b3;
    //     display: flex;
    //     align-items: center;
    //     justify-content: center;
    //     padding: 7px;
    //     position: absolute;
    //     bottom: 0;
    //     width: 50%;
    //     right: 0;
    //     cursor: pointer;
    //     transition: transform .3s;


    // }

    .hardcoded-schedule {
        position: absolute;
        left: 0;
        width: 30%;
        bottom: 0;
        text-align: center;
        justify-content: center;
        display: flex;
        cursor: pointer;
        transition: transform .3s;
        padding: 7px 0;

        .mat-icon {
            min-width: 15px !important;
            min-height: 15px !important;
        }
    }

    .tether-element-attached-left {
        z-index: 999;
        left: 100%;
        top: 0;
        position: absolute;
        // transform: translateX(456px) translateY(286px) translateZ(0px);
    }

    .floating-container-body {
        // background-color: #DAF4D9;
        // position: absolute;
        // left: 100%;
        // top: 43px;
        // z-index: 9999999999;

        .base-popover-container {
            border: 1px solid rgba(0, 0, 0, .1);
            position: relative;
            background-color: #fff;
            border-radius: 8px;
            box-shadow: 0 0 15px 0 rgb(0 0 0 / 10%);

            .add-shift-from-template-popover {
                padding: 13px 15px;
                width: 256px;
                height: 250px;

                .title-container {
                    margin-bottom: 14px;
                    display: flex;
                    justify-content: space-between;

                    .title {
                        font-weight: 700;
                        font-size: 15px;
                    }

                    .add-template-button {
                        cursor: pointer;
                        text-align: right;
                        color: #074677;
                        font-size: 15px;
                    }

                    fa-icon {
                        color: #063E69;
                        cursor: pointer;
                    }
                }

                ul {
                    list-style: none;
                    margin: 0;
                    padding: 0;

                    li {
                        margin: 0;
                    }
                }

                .templates {
                    max-height: 180px;
                    overflow-y: auto;
                    overflow-x: hidden;

                    .r-limitation-block {
                        display: block;
                        width: 100%;
                        cursor: pointer;
                        position: relative;

                        .template-background {
                            position: relative;
                            width: 100%;
                            margin-bottom: 10px;
                            padding: 2px 2px 2px 1px;
                            border-radius: 4px;

                            .shift-template-container {
                                position: relative;
                                cursor: pointer;

                                .template-container {
                                    background-color: #fff;
                                    height: 100%;
                                    padding: 3px 3px 3px 6px;
                                    line-height: normal;
                                    display: flex;
                                    justify-content: space-between;
                                    align-items: center;

                                    .details-container {
                                        display: flex;
                                        flex-direction: column;
                                        width: 100%;

                                        .time-and-location-container {
                                            display: flex;

                                            .template-time {
                                                direction: ltr;
                                                margin-right: 15px;
                                                font-weight: 700;
                                            }
                                        }

                                        .name-container {
                                            font-size: 13px;
                                            margin-bottom: 2px;

                                            .title-and-job {
                                                overflow: hidden;

                                                .limit-max-width {
                                                    max-width: 45%;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }


            }

            .container__arrow--rc {
                left: 0;
                border-bottom: 1px solid rgba(0, 0, 0, .1);
                border-left: 1px solid rgba(0, 0, 0, .1);
                transform: translate(-50%, -50%) rotate(45deg);
                top: 35%;
            }

            // .container__arrow--rc {
            //     top: 35%;
            // }

            .container__arrow {
                height: 16px;
                width: 16px;
                background-color: #fff;
                position: absolute;
            }
        }
    }

    .hardcoded-schedule:hover {
        transform: scale(1.5);
        color: #296327 !important;

        mat-icon {
            color: #296327 !important;
        }
    }

    // .plus_create_shift:hover {
    //     transform: scale(2);
    //     color: #063E69 !important;

    //     mat-icon {
    //         color: #063E69 !important;
    //     }
    // }

    .edit-shift-side {
        background-color: #DAF4D9;
        width: 50px;
        position: absolute;
        top: 0px;
        left: -55px;
        display: flex;
        flex-direction: column;

    }

    .edit-shift-side button {
        margin: 0;
        padding: 0;
        text-align: center;
        padding: 6px;
        transition: .2s ease-in;
    }

    .edit-shift-side button:hover {
        background-color: #D3D3D3;
    }
}




app-weekly-selection {
    width: 98px;
}

.modal-creat-shift {
    padding: 0;
    margin: 0;

    .roster-stat {
        position: relative;
        align-items: center;
        justify-content: center;
    }

    .roster-stat:nth-child(3) fa-icon {
        background-color: #fff7f2;
        color: #ff6b5e;
    }

    .roster-stat:nth-child(2) fa-icon {
        background-color: #fff3fb;
        color: #ba4993;
    }

    .pb20 {
        padding-bottom: 20px;
    }

    .modal-side-element {
        display: flex;
        align-items: center;

        fa-icon {
            border-radius: 50%;
            font-size: 20px;
            width: 40px;
            height: 40px;
            background-color: #effbff;
            color: #0c7fa3;
            justify-content: center;
            border-radius: 50%;
            text-align: center;
            margin-right: 10px;
            padding: 4px 10px;
        }

        .shitplushor {
            p {
                margin: 0;
            }

            b {
                font-size: 15px;
            }
        }


        .shitplushor:nth-child(2) p {
            font-size: 12px;
            line-height: 16px;
            color: #6c6a72;
        }
    }

    .col-3 {
        padding: 0;
        // border-right: 1px solid #d8d7dc;
        margin-top: 24px;
        margin-bottom: 24px;
        padding-top: 0;
        padding-bottom: 0;
        border-right: 2px solid #d8d7dc;
        border-top-left-radius: 8px;
        border-bottom-left-radius: 8px;
        position: relative;
        padding: 23px;
        display: flex;
        flex-direction: column;
        justify-content: center;

        img {
            margin: 7px 33px;
            margin-top: -37px;
        }

        .select-guard-detail {
            text-align: center;

            h4 {
                max-height: 63px;
                max-width: 190px;
                font-size: 16px;
            }
        }

    }

    .col-9 {
        padding: 0;
    }

    .modal-header {
        border-bottom: 0;
    }

    .modal-body {
        overflow: auto;
        height: 500px;

        .hideShowBreakP,
        .hideShowOthers,
        .hideShowCustomP {
            font-weight: 700;
            width: 50%;
            cursor: pointer;
            color: #063e69;

            mat-icon {
                position: relative;
                top: 7px;
                color: #063e69 !important;
            }
        }

        .yes-no {
            display: flex;

            p:last-child {
                margin-left: 10px;
            }

            input {
                margin-right: 6px;
            }
        }
    }
}

.custome-rates {
    mat-form-field {
        width: 100%;
    }

    .col-6 {
        padding: 4px;
    }
}

.otherDetailDiv {
    .yes-no {
        display: flex;

        p {
            margin: 0;
        }

        .yes-no1 {
            margin-left: 126px;
        }
    }

    .example-section {
        .example-margin {
            width: 50%;

            // .mat-form-field-wrapper
        }

    }


}

::ng-deep .cdk-overlay-container {
    z-index: 9999;
}

.cdk-global-overlay-wrapper,
.cdk-overlay-container {
    z-index: 99999 !important;
}



.example-radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
    align-items: flex-start;
}

.example-radio-button {
    margin: 5px;
}

.date_left_right {
    cursor: pointer;
    background: #1abc9c;
    color: white;
}


.date-selection {
    background-color: #9bddd0;
    display: flex;
    align-items: center;
    justify-content: center;
}

thead {
    tr {
        th {}
    }
}

tbody {
    tr {
        .sites {
            position: relative;

            .site {
                position: absolute;
                top: 5px;
            }
        }


        td {


            .leaves-detail {

                .leave {
                    font-size: 10px;
                    background: #41af9961;
                    padding: 3px;
                    font-weight: 600;
                    margin: 0px 0px 3px 0px;
                }
            }
        }
    }
}

.top{
    font-size: 15px;
    font-weight: bold;

    //background-color: #fff;
}
    .header{
        display: flex;
        align-items: center;
        //justify-content: space-around;
        .shifts-summary {
            display: flex;
            align-items: center;
            padding-top: 4px;
            fa-icon {
                border-radius: 50%;
                font-size: 12px;
                width: 20px;
                height: 20px;
                background-color: #b6ced6;
                color: #3088a3c0;
                //justify-content: center;
                border-radius: 50%;
                //text-align: center;
                margin-right: 5px;
                padding: 6px;
            }
            span{
                font-size: 10px;
            }
        }
        .shifts-name{
            padding-top: 3px;
            p{
                font-size: 10px;
            }
        }
       
    
    }

    .right-model-body{
        overflow: auto;
        height: 100%; 

        label,p{
            font-size: 14px !important;
        }

        .hideShowBreakP,
        .hideShowOthers,
        .hideShowCustomP {
            font-weight: 700;
            width: 50%;
            cursor: pointer;
            color: #063e69;

            mat-icon {
                position: relative;
                top: 7px;
                color: #063e69 !important;
            }
        }

        .yes-no {
            display: flex;

            p:last-child {
                margin-left: 10px;
            }

            input {
                margin-right: 6px;
            }
        }

        .custome-rates {
            mat-form-field {
                width: 100%;
            }
        
            .col-6 {
                padding: 4px;
            }
        }
        
        .otherDetailDiv {
            .yes-no {
                display: flex;
        
                p {
                    margin: 0;
                }
        
                .yes-no1 {
                    margin-left: 126px;
                }
            }
        
            .example-section {
                .example-margin {
                    width: 50%;
        
                    // .mat-form-field-wrapper
                }
        
            }
        
        
        }
    }


//}
