<div class="settings-panel" *ngIf="selectedElement">
    <ng-container *ngIf="selectedElement.type === 'form-settings'">
        <h5>Form Settings</h5>
        <div class="form-settings">
            <div class="form-group">
                <label>Background Color</label>
                <input type="color" name="bgcolor" [(ngModel)]="selectedElement.properties.backgroundColor"
                    (ngModelChange)="updateBackgroundColor($event)" class="form-control">
            </div>
            <div class="form-group">
                <label>Background Image</label>
                <input type="file" name="bgImage" (change)="onFileChange($event, 'background')" class="form-control"
                    accept=".png,.jpg,.jpeg">
                <img *ngIf="selectedElement.properties.backgroundImage"
                    [src]="selectedElement.properties.backgroundImage" alt="Background Image" class="img-fluid">
                <button *ngIf="selectedElement.properties.backgroundImage" (click)="updateBackgroundImage('')">Remove
                    Background Image
                </button>
            </div>
            <div class="form-group">
                <label>Background Opacity</label>
                <input type="range" min="0" max="1" step="0.01" name="opacity"
                    [(ngModel)]="selectedElement.properties.backgroundOpacity"
                    (ngModelChange)="updateBackgroundOpacity($event)" class="form-control">
            </div>
            <div class="form-group">
                <label>Text Color</label>
                <input type="color" name="textColor" [(ngModel)]="selectedElement.properties.textColor"
                    (ngModelChange)="updateTextColor($event)" class="form-control">
            </div>
        </div>
    </ng-container>

    <ng-container *ngIf="selectedElement.type === 'logo'">
        <div class="logo-settings">
            <h5>Logo</h5>
            <ng-container *ngIf="_formService.logo; else uploadLog">
                <div class="logo-preview mb-3">
                    <img [src]="_formService.logo" alt="Logo" class="img-fluid" [style.width.%]="logoSize">
                    <button (click)="removeLogo()">Remove Logo</button>
                </div>
            </ng-container>
            <ng-template #uploadLog>
                <label for="fileInput" class="custom-file-upload btn btn-primary">Upload Logo</label>
                <input id="fileInput" type="file" accept=".png,.jpg,.jpeg" class="custom-file-input"
                    (change)="onFileChange($event, 'logo')">
            </ng-template>
            <div class="logo-size mt-4">
                <label>Logo Size</label>
                <input type="range" class="custom-range" min="1" max="100" [(ngModel)]="logoSize"
                    (ngModelChange)="updateLogoSize($event)">
            </div>
            <div class="logo-alignment mt-4">
                <label>Alignment</label>
                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                    <label class="btn btn-secondary" [class.active]="logoAlignment === 'left'"
                        (click)="updateLogoAlignment('left')">
                        <input type="radio" name="alignment" id="left" autocomplete="off"> Left
                    </label>
                    <label class="btn btn-secondary" [class.active]="logoAlignment === 'center'"
                        (click)="updateLogoAlignment('center')">
                        <input type="radio" name="alignment" id="center" autocomplete="off"> Center
                    </label>
                    <label class="btn btn-secondary" [class.active]="logoAlignment === 'right'"
                        (click)="updateLogoAlignment('right')">
                        <input type="radio" name="alignment" id="right" autocomplete="off"> Right
                    </label>
                </div>
            </div>
        </div>
    </ng-container>

    <ng-container *ngIf="selectedElement.type !== 'form-settings' && selectedElement.type !== 'logo'">
        <h4>{{ selectedElement.label }} Properties</h4>
        <ul class="nav nav-tabs form-builder-tab">
            <li class="nav-item">
                <a class="nav-link" [ngClass]="{ 'active': activeTab == 'general' }"
                    (click)="setActiveTab('general')">GENERAL</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [ngClass]="{ 'active': activeTab == 'options' }"
                    (click)="setActiveTab('options')">OPTIONS</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [ngClass]="{ 'active': activeTab == 'advanced' }"
                    (click)="setActiveTab('advanced')">ADVANCED</a>
            </li>
        </ul>
        <div class="tab-content mt-3 form-builder-list">
            <div *ngIf="activeTab === 'general'">
                <div
                    *ngIf="selectedElement.type === 'dropdown' || selectedElement.type === 'checkboxGroup' || selectedElement.type === 'single'">
                    <label>Label</label>
                    <div class="form-group">
                        <input class="form-control" [(ngModel)]="selectedElement.label">
                    </div>
                    <hr>
                    <div class="toggle-button-cover">
                        <span>Required</span>
                        <div id="button-3" class="button r">
                            <input class="checkbox" type="checkbox" [(ngModel)]="selectedElement.properties.required"
                                name="required">
                            <div class="knobs"></div>
                            <div class="layer"></div>
                        </div>
                    </div>
                </div>
                <div class="toggle-button-cover" *ngIf="selectedElement.type === 'group'">
                    <label>Sublabels</label>
                    <div *ngFor="let field of selectedElement.fields" class="form-group">
                        <input class="form-control" [(ngModel)]="field.label">
                        <div class="toggle-button-cover">
                            <span>Required</span>
                            <div id="button-3" class="button r">
                                <input class="checkbox" type="checkbox" [(ngModel)]="field.properties.required"
                                    name="required">
                                <div class="knobs"></div>
                                <div class="layer"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="activeTab === 'options'">
                <div class="toggle-button-cover"
                    *ngIf="selectedElement.type === 'dropdown' || selectedElement.type === 'checkboxGroup' || selectedElement.type === 'single'">
                    <span>Read Only</span>
                    <div id="button-3" class="button r">
                        <input class="checkbox" type="checkbox" [(ngModel)]="selectedElement.properties.readonly"
                            name="readonly">
                        <div class="knobs"></div>
                        <div class="layer"></div>
                    </div>
                </div>
                <hr>
                <div *ngIf="selectedElement.type === 'dropdown' || selectedElement.type === 'checkboxGroup'">
                    <ul class="list-group">
                        <li class="list-group-item" *ngFor="let option of selectedElement.options; let j = index">
                            <input [(ngModel)]="option.text" class="form-control" placeholder="Enter option text">
                            <mat-icon class="form-builder-icon" (click)="removeOption(selectedElement.options, j)"
                                svgIcon="heroicons_solid:trash" class="action-icon"></mat-icon>
                        </li>
                    </ul>
                    <mat-icon class="form-builder-icon" svgIcon="mat_outline:add_circle"
                        (click)="addOption(selectedElement.options)"></mat-icon>
                </div>
            </div>
            <div *ngIf="activeTab === 'advanced'">
                <div *ngIf="selectedElement.type === 'group'">
                    <label>Placeholder</label>
                    <div class="place-holder-setting" *ngFor="let field of selectedElement.fields">
                        <span>{{ field.label }}</span>
                        <input type="text" [(ngModel)]="field.placeholder">
                    </div>
                </div>
                <div
                    *ngIf="selectedElement.type === 'single' || selectedElement.type === 'dropdown' || selectedElement.type === 'checkboxGroup'">
                    <label>Placeholders</label>
                    <div class="form-group place-holder-setting">
                        <input class="form-control" [(ngModel)]="selectedElement.placeholder">
                    </div>
                </div>
                <div *ngIf="selectedElement.type === 'checkboxGroup'">
                    <label>Default Selected Options</label>
                    <ul class="list-group">
                        <li class="list-group-item" *ngFor="let option of selectedElement.options; let j = index">
                            <div class="toggle-button-cover">
                                <span>{{ option.text }}</span>
                                <div id="button-3" class="button r">
                                    <input class="checkbox" type="checkbox" [(ngModel)]="option.selected"
                                        name="selected">
                                    <div class="knobs"></div>
                                    <div class="layer"></div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <small>Some features are not yet complete.</small>
    </ng-container>
</div>