
.container {

    .row-height {
        display: flex;
        border-top: 1px solid #cdc6c6;

        // padding: 18px;
        // border-bottom: 1px solid #cdc6c6;
        .search-width {
            // border-right: 1px solid #cdc6c6;
            width: 20%;
            // padding: 20px;
        }

        .complete-shift {
            background-color: #DAF4D9 !important;
            // border: 1px solid #296327;
            border-radius: 0;
            padding: 2px;
            margin-bottom: 5px;
            width: 110px;
            max-width: 110px;

            p {
                margin: 0;
                font-weight: bold;
                font-size: 13px;
            }
        }

    }

}

.mat-option {
    height: 2, 5rem !important;
}


////Media Query For Column in Roster////////////////////
@media only screen and (min-width: 768px) {

    /* For mobile phones: */
    .col-width {
        width: 11% !important;
        padding: 16px 4px;
        border: 1px solid #f2f2f2;
    }
}


.mat-form-field-infix {
    padding: 0 !important;
}

.date_left_right {
    cursor: pointer;
}

svg {
    height: 50% !important;
    width: 50% !important;
}



.some-space {
    margin-top: 4px
}

.select_show_type {
    margin-right: 10px;
}



.missed-shift {
    background-color: #f39c12 !important;
    // border: 1px solid #D82914;
    padding: 2px;
    margin-bottom: 5px;
    cursor: pointer;

    // width: 110px;
    // max-width: 110px;
    p {
        margin: 0;
        font-weight: bold;
        font-size: 13px;
        // margin-left: 15px;
    }

    span {
        // text-align: center;
        font-size: 12px;
        width: 91px;
    }
}
.complete-shift {
    background-color: #58d68e !important;
    // border: 1px solid #296327;
    padding: 2px;
    margin-bottom: 5px;
    cursor: pointer;

    // width: 110px;
    // max-width: 110px;
    p {
        margin: 0;
        font-weight: bold;
        font-size: 13px;
        // margin-left: 15px;
    }

    span {
        // text-align: center;
        font-size: 12px;
        width: 91px;
    }
}

.tdoftable {
    padding: 0;
    position: relative;


    .tether-element-attached-left {
        z-index: 999;
        left: 100%;
        top: 0;
        position: absolute;
        // transform: translateX(456px) translateY(286px) translateZ(0px);
    }



    .edit-shift-side {
        background-color: #DAF4D9;
        width: 50px;
        position: absolute;
        top: 0px;
        left: -55px;
        display: flex;
        flex-direction: column;

    }

    .edit-shift-side button {
        margin: 0;
        padding: 0;
        text-align: center;
        padding: 6px;
        transition: .2s ease-in;
    }

    .edit-shift-side button:hover {
        background-color: #D3D3D3;
    }

    .example-menu {
        display: flex;
        flex-direction: column;
        background-color: #f6f8f9;
        width: 100px;
    }

    .card {
        border-radius: 0;
    }



    .user-detail {
        display: flex;
        width: 100px;
        align-items: center;
        position: relative;
    }
}


tbody {
    .fw-bold {
        display: flex;
        justify-content: space-between;

        mat-icon {
            color: #063E69 !important;
            cursor: pointer;
            min-height: 20px;
        }
    }

}

.thoftable:nth-child(odd) {
    background: #95a5a6
}

.thoftable:nth-child(even) {
    background: #ecf0f1
}


.divoftd {
    position: relative;
    top: 0%;
    left: 0;
    right: 0;
    min-height: 70px;

    .edit-basic-shift-popover {
        .tether-element-attached-left {
            z-index: 999;
            left: 0;
            top: 100%;
            position: absolute;

            // transform: translateX(456px) translateY(286px) translateZ(0px);
            .container__arrow--rc {
                left: 50%;
                border-bottom: 1px solid rgba(0, 0, 0, 0.1);
                border-left: 1px solid rgba(0, 0, 0, 0.1);
                transform: translate(-50%, -50%) rotate(135deg);
                top: 0;
                right: 50%;
            }
        }

    }
}


.example-menu {
    display: inline-flex;
    flex-direction: column;
    min-width: 130px;
    max-width: 230px;
    background-color: rgb(255, 255, 255);
    padding: 6px 0;
}

.example-menu-item {
    background-color: transparent;
    cursor: pointer;
    border: none;

    user-select: none;
    min-width: 64px;
    line-height: 36px;
    padding: 0 16px;

    display: flex;
    align-items: center;
    flex-direction: row;
    flex: 1;
}

.example-menu-item:hover {
    background-color: rgb(208, 208, 208);
}

.example-menu-item:active {
    background-color: rgb(170, 170, 170);
}

.roster-three-one-week {
    thead tr th {
        padding: 3px 0;
    }

    .thoftable {
        font-size: 12px !important;
        text-align: center;
        padding: 0;

        fa-icon {
            float: right;
            padding: 0 5px;
            cursor: pointer;
        }
    }
}

.sitesrow {
    background-color: #ecf0f1;
}

.hiiii {
    width: 10%;
}

.nestedrow {
    width: 100%;
    margin: 0;
    padding: 0;

    .col-2 {
        padding: 0;
        width: 14.28%;
    }
}

.nestedtd {
    width: 173px;
    text-align: center;
    border: 1px solid black;
}




////////////new code//////

.custome-roster-three {
    width: 100%;
    height: 100%;
    position: absolute;
    // overflow: auto;

    .header_date {
        display: flex;
        width: 100%;
        height: 27px;
        text-align: center;

        justify-content: space-around;

        .week {
            border: 1px solid rgb(229 227 227);
            display: block;
            width: 100%;
            p{
                margin: 0;
            }
        }

        .week:nth-child(odd) {
            background: #95a5a6
        }

        .week:nth-child(even) {
            background: #ecf0f1
        }
    }

    .roster-body {
        // overflow: auto;
        // height: 100%;
        // position: relative;
        // overflow-y: auto;
        // position: absolute;
        // left: 0;
        // right: 0;
        // overflow-y: auto;
        // overflow-x: hidden;

        .site-div {
            .shift-body-div {
                display: flex;
                justify-content: space-around;
                width: 100%;

                .shift-body {
                    border: 1px solid rgb(229 227 227);
                    display: block;
                    width: 100%;
                    position: relative;
                    min-height: 100px;

                    .plus_create_shift {
                        // border: 1px dotted #b3b3b3;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        padding: 7px;
                        position: absolute;
                        bottom: 0;
                        width: 100%;
                        left: 0;
                        cursor: pointer;
                        transition: transform .3s;

                        .plus-shift {
                            min-height: 20px !important;
                            min-width: 20px !important;
                            color: #000;
                            height: 20px;
                        }

                    }

                    .plus_create_shift:hover {
                        transform: scale(1.2);
                        color: #063E69 !important;

                        mat-icon {
                            color: #063E69 !important;
                        }
                    }

                    .divoftd {
                        position: relative;
                        top: 0%;
                        left: 0;
                        right: 0;
                        min-height: 70px;
                    }

                    .card {
                        border-radius: 0;
                    }

                    .user-detail {
                        display: flex;
                        width: 100px;
                        align-items: center;
                        position: relative;
                    }

                    .shift_chat,
                    .info-icon,
                    .right-icon {
                        min-height: 10px;
                        max-height: 20px;
                        height: 15px;
                    }

                    .shift_footer {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                    }

                    .shift_chat {
                        color: #D82914 !important;

                    }

                    .info-icon {
                        display: none !important;
                    }

                    .rigth-f {
                        display: none;
                    }

                    .divoftd:hover {

                        // position: relative;
                        .rigth-f {
                            display: block !important;
                        }

                        .info-icon {
                            position: relative;
                            left: 0%;
                            display: block !important;
                        }
                    }

                }


            }

            .sites-heading {
                background-color: #ecf0f1;
                margin: 0;
                padding: 10px 0;
                display: flex;
                cursor: pointer;
            }
        }
    }
}