<div class="flex flex-col flex-auto min-w-0 main-body-watermark">

    <!-- Main -->
    <div class="flex-auto p-6">

        <!-- CONTENT GOES HERE -->
        <div class="rounded-2xl common-admin-customer-contractor">
            <div class="users-page">
                <div class="user-main" style="background-color: var(--tw-ring-offset-color) !important; border-radius: 13px;">
                    <div class="user-nav rounded-2xl">
                        <h4>Contractors</h4>
                    </div>
                </div>
            </div>

            <section>
                <div class="show_admin">
                    <div class="user-type">
                        <ul>
                            <li [ngClass]="{'active': userType=='active'}" (click)="getUserType('active')">Active({{ active_customers }})</li>
                            <li [ngClass]="{'active': userType=='inactive'}" (click)="getUserType('inactive')">Inactive ({{ inactive_customers }})</li>
                        </ul>
                    </div>
                    <mat-chip-list>
                        <div class="search-here">
                            <mat-icon svgIcon="feather:search" class="search-icon" style="color: #94a3b8 !important; margin:4px 7px !important;"></mat-icon>
                            <input matInput placeholder="Search..." [(ngModel)]="searchTerm" (ngModelChange)="search()">
                        </div>
                        <mat-chip>
                            <mat-icon svgIcon="mat_outline:file_upload"></mat-icon>
                            <span class="mr-2">
                                <span>Export</span> 
                            </span>
                        </mat-chip>
                        <mat-chip class="publish_site_color" (click)="createContractor()" *ngIf="contPermissions && contPermissions.create">
                            <span>New Contractor</span>
                        </mat-chip>
                    </mat-chip-list>
                </div>

                <br>
                <table mat-table [dataSource]="dataSource" *ngIf="contPermissions && contPermissions.read">
                    <!-- Checkbox Column -->
                    <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef> Contractor Name </th>
                        <td class="name-hover" mat-cell *matCellDef="let element" (click)="openModel(element.id)">
                            {{element.name}} </td>
                    </ng-container>

                    <ng-container matColumnDef="email">
                        <th mat-header-cell *matHeaderCellDef> Email </th>
                        <td mat-cell *matCellDef="let element">
                            {{element.email}} </td>
                    </ng-container>

                    <ng-container matColumnDef="status">
                        <th mat-header-cell *matHeaderCellDef> Status </th>
                        <td mat-cell *matCellDef="let element">
                            <mat-slide-toggle [checked]="element.status=='active'?true:false"
                                (change)="updateActiveStatus(element)">
                            </mat-slide-toggle>
                        </td>
                    </ng-container>

                    <!-- Name Column -->
                    <ng-container matColumnDef="address">
                        <th mat-header-cell *matHeaderCellDef> Address </th>
                        <td mat-cell *matCellDef="let element"> {{element.address}} </td>
                    </ng-container>

                    <ng-container matColumnDef="action">
                        <th mat-header-cell *matHeaderCellDef> Action</th>
                        <td mat-cell *matCellDef="let element" [matMenuTriggerFor]="menu">
                            <mat-icon class="accent pointer" svgIcon="heroicons_solid:pencil-alt"
                                (click)="openModel(element.id)" *ngIf="contPermissions && contPermissions.update">
                            </mat-icon>
                            <mat-icon class="danger-icon pointer" svgIcon="heroicons_outline:trash"
                                (click)="delContractor(element.id)" *ngIf="contPermissions && contPermissions.delete">
                            </mat-icon>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
            </section>
        </div>
    </div>
</div>