<div class="card" #fullScreen style="min-height: 450px;max-height: 450px;">
    <div class="flex p-4 justify-between font-size-lg text-capitalize font-weight-normal">
        <span class="mr-2 opacity-7 fw-bold">
            <i class="fa fa-cog fa-spin"></i>
            Reminders / Compliance ({{ remindersComplianceExpDocs.length }})
        </span>
        <mat-icon svgIcon="mat_outline:open_in_full" class="icon-size-5" (click)="openFullscreen()"></mat-icon>
    </div>
    <div class="p-4" [ngClass]="{'full-height-license': isFullscreen, 'table-container-security': !isFullscreen}">
        <table id="example" class="table table-hover table-striped table-borderless">
            <thead class="bg-black">
                <tr>
                    <th>Document</th>
                    <th>Due Date</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody [@stagger]="remindersComplianceExpDocs.length">
                <ng-container *ngFor="let data of remindersComplianceExpDocs; let i = index; trackBy: trackByFn">
                    <tr scope="row" [@fadeIn]="" [@stagger]="i">
                        <td>
                            <p class="m-0">{{ data?.guard_details.first_name }} {{ data?.guard_details.last_name }}</p>
                            <small>{{ data.document_name }} </small>
                            <small *ngIf="data.document_name=='Other Doc'">({{ data.document_type }})</small>
                        </td>
                        <td>{{ data.document_expire | date: 'dd MMM yyyy' }}</td>
                        <td>
                            <div class="badge badge-danger">Expired</div>
                        </td>
                    </tr>
                </ng-container>
            </tbody>
        </table>
    </div>
</div>