<div class="flex flex-col flex-auto min-w-0 main-body-watermark">
    <div class="flex-auto p-6">
        <div class="rounded-2xl">
            <div class="com-main" style="border-radius: 10px;">
                <div class="nav rounded-2xl">
                    <h4>{{ communiType === 'induction' ? 'Induction' : 'Announcement' }}</h4>
                    <button class="btn btn-border-3" (click)="newAnnouncement(formtemp)"
                        *ngIf="(communiType === 'induction' && adminPermissions?.create) || (communiType === 'announcement' && adminPermissions?.create)">
                        {{ communiType === 'induction' ? 'Create New Induction' : 'Create New Announcement' }}
                    </button>
                </div>
                <div class="container" *ngIf="adminPermissions?.read">
                    <div class="card-columns">
                        <div class="card border-0" *ngFor="let ann of allAnnouncements">
                            <div class="card-body" [ngClass]="{'expanded': ann.isExpanded}">
                                <h5 class="card-title">{{ ann.title }}</h5>
                                <hr>
                                <div class="card-text" *ngIf="communiType === 'announcement'"
                                    [innerHTML]="bypassSecurityTrustHtml(ann.html_body, 10000)">
                                </div>
                                <hr *ngIf="communiType === 'announcement'">
                            </div>
                            <div class="card-footer">
                                <div class="media align-items-center">
                                    <div class="media-body" *ngIf="communiType === 'announcement'">
                                        <i class="fas fa-user" aria-hidden="true"></i>
                                        <a class="card-link text-uppercase">{{ ann.send_by }}</a>
                                    </div>
                                    <div class="media-body" *ngIf="communiType === 'induction'">
                                        <i class="fas fa-user" aria-hidden="true"></i>
                                        <a class="card-link text-uppercase">{{ ann?.admin?.name }}</a>
                                    </div>
                                    <div class="footerright">
                                        <div class="tnlink3">
                                            <i class="fas fa-eye" aria-hidden="true" (click)="showHistory(ann.id, formhistory)"></i>
                                        </div>
                                        <div class="tnlink3">
                                            <i class="fas fa-edit" aria-hidden="true" (click)="editAnnouncement(ann.id, ann, formtemp)" *ngIf="adminPermissions?.update"></i>
                                        </div>
                                        <div class="tnlink3">
                                            <i class="fas fa-trash" aria-hidden="true" (click)="deleteAnnouncement(ann.id)" *ngIf="adminPermissions?.delete"></i>
                                        </div>
                                        <div class="tnlink3">
                                            <i class="fas fa-share-nodes" aria-hidden="true" (click)="shareTemp(ann.id, share)"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #formtemp let-modal>
    <div class="modal-header">
        <h4 class="modal-title">
            {{ annId ? (communiType === 'induction' ? 'Update Induction' : 'Update Announcement') : (communiType ===
            'induction' ? 'Create New Induction' : 'Create New Announcement') }}
        </h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="closeModal()"></button>
    </div>
    <div class="modal-body">
        <form [formGroup]="addAnnouncement" class="flex flex-col pb-10 bg-card overflow-hidden">
            <div class="flex flex-col gt-xs:flex-row">
                <mat-form-field class="flex-auto gt-xs:pr-3">
                    <mat-label>Title</mat-label>
                    <input matInput type="text" formControlName="title">
                    <mat-error *ngIf="addAnnouncement.get('title')?.hasError('required')">Title is required*</mat-error>
                </mat-form-field>
            </div>
            <div class="flex flex-col mt-3 gt-xs:flex-row mb-3">
                <app-ck-editor [formControlName]="communiType === 'induction' ? 'induction' : 'announcement'"></app-ck-editor>
            </div>
            <div class="show" *ngIf="communiType !== 'induction'">
                <label for="formFile" class="form-label">Upload File</label>
                <div *ngIf="!fileUploaded" class="flex flex-col gt-xs:flex-row">
                    <input type="file" class="form-control" (change)="uploadFiles($event)" accept=".pdf">
                </div>
                <div *ngIf="fileUploaded" class="col-6">
                    <div class="row pb-1 mt-1 d-flex">
                        <div class="col-8">
                            <button (click)="viewFile()" mat-button color="accent">
                                <mat-icon svgIcon="mat_outline:attach_file"></mat-icon>{{ file_name }}
                            </button>
                        </div>
                        <div class="col-4">
                            <mat-icon (click)="resetFileInput()" style="width:25px;height:25px"
                                svgIcon="mat_outline:drive_file_rename_outline"></mat-icon>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn" (click)="save()">{{ annId ? 'Update' : 'Save' }}</button>
    </div>
</ng-template>

<ng-template #share let-modal>
    <div class="modal-header">
        <h4 class="modal-title">{{ annId ? (communiType === 'induction' ? 'Share Induction' : 'Share Announcement') :
            (communiType === 'induction' ? 'Share Announcement Induction' : 'Share Announcement') }}
        </h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="closeModal()"></button>
    </div>
    <div class="modal-body">
        <form class="flex flex-col pb-10 bg-card overflow-hidden">
            <div class="row mt-3 create-ann-filter" *ngIf="isShare && annId">
                <div class="col-md-6 col-lg-4">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Select State</mat-label>
                        <mat-select [(value)]="selectedState" (selectionChange)="onStateSelect($event.value)">
                            <mat-option value="Victoria">Victoria</mat-option>
                            <mat-option value="New South Wales">New South Wales</mat-option>
                            <mat-option value="Tasmania">Tasmania</mat-option>
                            <mat-option value="Queensland">Queensland</mat-option>
                            <mat-option value="Western Australia">Western Australia</mat-option>
                            <mat-option value="South Australia">South Australia</mat-option>
                            <mat-option value="ACT">ACT</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-md-6 col-lg-4">
                    <app-select-multiple-customer (selectedCustomer)="receiveDataFromChild($event)"
                        [dataArray]="customers" [placeholderText]="'Select Customers *'">
                    </app-select-multiple-customer>
                </div>
                <div class="col-md-6 col-lg-4">
                    <app-select-multiple-site (selectedSite)="receiveDataFromChildSite($event)" [dataArray]="sitesList"
                        [placeholderText]="'Select Locations *'">
                    </app-select-multiple-site>
                </div>
                <div class="col-md-12">
                    <app-select-multiple-guards (selectedUsers)="receiveDataFromChildGuards($event)"
                        [dataArray]="guards" [placeholderText]="'Select Staff *'">
                    </app-select-multiple-guards>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn" (click)="send()">Send</button>
    </div>
</ng-template>

<ng-template #formhistory let-modal>
    <div class="modal-header mb-0">
        <h4 class="modal-title">{{ communiType === 'announcement' ? 'Announcement History' : 'Induction History' }}</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="closeModal()"></button>
    </div>
    <div class="modal-body" style="padding-top:0px !important; overflow-y: auto;">
        <!-- <div class="my-3" *ngIf="communiType === 'induction'">
            <input type="text" class="form-control" placeholder="Search by Guard Name" [(ngModel)]="searchQuery" (ngModelChange)="filterHistoryData()"
                style="width: 40%;">
        </div> -->
        <div class="my-3" *ngIf="communiType === 'induction'">
            <div class="d-flex align-items-center" style="gap: 10px;">
                <input type="text" class="form-control" placeholder="Search by Guard Name" [(ngModel)]="searchQuery" (ngModelChange)="filterHistoryData()"
                    style="width: 50%;">
                <button class="btn btn-primary" (click)="exportData()">Export</button>
            </div>
        </div>
        <ng-container *ngIf="historyDataLoaded; else loadingHistory">
            <ng-container *ngIf="historyData.length > 0; else noHistory">
                <div style="height: 500px;">
                    <table class="table border-top">
                        <thead style="position: sticky; top: 0; background-color: #f5f5f5;">
                            <tr>
                                <th style="width: 150px;">Guard Name</th>
                                <th style="width: 100px; text-align: left;">DATE</th>
                                <th style="width: 100px;">STATUS</th>
                                <th *ngIf="communiType === 'induction'" style="width: 100px;">Download</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of filteredHistoryData">
                                <td>{{ item.name }}</td>
                                <td>
                                    <span class="date">{{ item.date | date:'dd-MM-yyyy' }}</span>
                                    <br>
                                    <span class="time">{{ item.date | date:'HH:mm' }}</span>
                                </td>
                                <td>
                                    <span *ngIf="communiType === 'induction'" class="badge"
                                        [ngClass]="{ 'bg-danger': item.read_status === 1, 'bg-secondary': item.read_status === 0 }"
                                        style="padding-bottom: 7px;">
                                        {{ item.read_status === 1 ? 'Completed' : 'Incomplete' }}
                                    </span>
                                    <span *ngIf="communiType === 'announcement'" class="badge"
                                        [ngClass]="{ 'bg-success': item.read_status === 1, 'bg-secondary': item.read_status === 0 }"
                                        style="padding-bottom: 7px;">
                                        {{ item.read_status === 1 ? 'Read' : 'Unread' }}
                                    </span>
                                </td>
                                <td *ngIf="communiType === 'induction'">
                                    <i class="fa fa-download" style="cursor: pointer; margin-top: 10px; margin-left: 20px;"
                                        [ngStyle]="{color: item.certificate_path && item.read_status === 1 ? 'green' : 'inherit'}"
                                        (click)="downloadCertificate(item.certificate_path)">
                                    </i>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </ng-container>
            <ng-template #noHistory>
                <div style="text-align: center; padding: 1rem;">
                    {{ noHistoryMsg || 'No history available.'}}
                </div>
            </ng-template>
        </ng-container>
        <ng-template #loadingHistory>
            <p>Loading history...</p>
        </ng-template>
    </div>
</ng-template>