select.month-select::-webkit-inner-spin-button,
select.month-select::-webkit-outer-spin-button,
select.month-select::-webkit-search-decoration {
  -webkit-appearance: none;
  margin: 0;
}

select.select-month {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: none;
}

.day-checkbox {
    transition: all 0.2s ease;
}
  
.day-checkbox:hover {
    background-color: #007bff;
    color: white;
    border-color: #007bff;
}

.selected-day {
    background-color: #01ACED !important;
    color: #fff !important;
    border-color: #01ACED !important;
}
  