<div class="main p-6 w-100 main-body-watermark">
    <h3>Calling History</h3>

    <div class="row main_inner">
        <!-- searchbar -->
       <div class="row">
        <div class="col-4 d-flex searchbar_main">
            <input type="text" placeholder="Search here.." class="searchbar" [(ngModel)]="searchCalls">
            <mat-icon>search</mat-icon>
        </div>
        <div class="col-8 d-flex justify-content-end align-items-center">
            <mat-form-field appearance="fill" class="m-1 w-50 aircall-dateTime">
                <mat-date-range-input [formGroup]="range" [rangePicker]="picker">
                    <input matStartDate formControlName="start" placeholder="Start date">
                    <input matEndDate formControlName="end" placeholder="End date">
                </mat-date-range-input>
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-date-range-picker #picker></mat-date-range-picker>
                <mat-error *ngIf="range.controls.start.hasError('matStartDateInvalid')">Invalid start
                    date</mat-error>
                <mat-error *ngIf="range.controls.end.hasError('matEndDateInvalid')">Invalid end date</mat-error>
            </mat-form-field>
         
            <mat-form-field appearance="outline" class="m-1 aircall-callsType">
                <mat-label>Calls Type</mat-label>
                <mat-select [(value)]="selectedCall" #call
                    (selectionChange)="filterCalls(call.value)">
                    <mat-option *ngFor="let call of calls" [value]="call">{{call}}</mat-option>
                </mat-select>
            </mat-form-field>
            <!-- <mat-form-field appearance="outline" class="m-1 aircall-callsType">
                <mat-label>Order</mat-label>
                <mat-select [(value)]="selectedCallPos" #pos
                    (selectionChange)="orderBy(pos.value)">
                    <mat-option value="asc">Ascending</mat-option>
                    <mat-option value="desc">Descending</mat-option>
                </mat-select>
            </mat-form-field> -->

            <mat-chip class="ml-2">
                <mat-icon svgIcon="upload_file" [matMenuTriggerFor]="setting"></mat-icon>
            </mat-chip>
            <mat-menu #setting="matMenu">
                <h6 class="px-3">Export</h6>
                <button mat-menu-item>Print by (CSV)</button>
                <button mat-menu-item>Print by (EXCEL)</button>
            </mat-menu>

        </div>
       </div>
        <!-- guardslist -->
        <mat-tab-group [selectedIndex]="links.indexOf(activeLink)" (selectedIndexChange)="onTabSelectionChanged($event)">
            <mat-tab *ngFor="let link of links">
                <ng-template mat-tab-label>{{ link }}</ng-template>
                <div mat-tab-content>
                    <!-- <h2>Content for {{ link }} tab</h2> -->
                    <div class="col-12">
                        <table class="table w-100">
                            <thead class="bg-dark text-light">
                                <tr class="table-row">
                                    <th width="30%" scope="col">Calling Info</th>
                                    <th scope="col" *ngIf="link=='All'">Agent</th>
                                    <th scope="col">Answerd at</th>
                                    <th scope="col">Ended at</th>
                                    <th scope="col">Duration</th>
                                    <th scope="col">Call Type</th>
                                    <th scope="col">Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let guard of guards | filter:searchCalls">
                                    <th scope="row">
                                        <div class="item">
                                            <div class="row align-items-center">
                                                <div class="col-3 d-flex flex-column">
                                                    <span>From</span>
                                                    <span>To</span>
                                                    <span>Date</span>
                                                </div>
                                                <div class="col-9">
                                                    <div *ngIf="guard.direction=='inbound'; else elseBlock">
                                                        <p class="name">{{guard.raw_digits}}</p>
                                                        <p class="email">{{guard.user?guard.user.name:
                                                            guard.missed_call_reason}}</p>
                                                        <p class="phone">{{guard.started_at_new}}</p>
                                                    </div>
                                                    <ng-template #elseBlock>
                                                        <p class="name">{{guard.user?guard.user.name:''}}</p>
                                                        <p class="email">{{guard.raw_digits}}</p>
                                                        <p class="phone">{{guard.started_at_new}}</p>
                                                    </ng-template>

                                                </div>
                                            </div>
                                        </div>
                                    </th>
                                    <td *ngIf="link=='All'">{{guard.user?guard.user.name:''}}</td>
                                    <td>{{guard.answered_at_new}}</td>
                                    <td>{{guard.ended_at_new}}</td>
                                    <td>{{guard.call_time}}</td>
                                    <td>{{guard.direction}}</td>
                                    <td>{{guard.status}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </mat-tab>
        </mat-tab-group>
    </div>

</div>