p {
    font-family: Lato;
}

.delete-heading {
    position: sticky;
    z-index: 1111;
    top: -1px;
    background: white;
    height: 50px;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

::ng-deep {

    .cdk-global-overlay-wrapper,
    .cdk-overlay-container {
        z-index: 9999 !important;
    }
}