<div class="bg-white py-6 sm:py-8 lg:py-12">
    <div class="mx-auto max-w-screen-2xl px-4 md:px-8">
        <!-- text - start -->
        <div class="mb-10 md:mb-16">
            <h2 class="mb-4 text-center text-2xl font-bold text-gray-800 md:mb-6 lg:text-3xl">Submit a {{ data }} Ticket
            </h2>

            <p class="mx-auto max-w-screen-md text-center text-gray-500 md:text-lg">Please fill out the form below to
                create a {{ data }} ticket. Our team will get back to you as soon as possible.</p>
        </div>
        <!-- text - end -->

        <!-- form - start -->
        <form #ticketForm="ngForm" class="mx-auto grid max-w-screen-md gap-4 sm:grid-cols-2">
            <div>
                <label for="name" class="mb-2 inline-block text-sm text-gray-800 sm:text-base">Name</label>
                <input name="name" [(ngModel)]="name" readonly
                    class="w-full rounded border bg-gray-50 px-3 py-2 text-gray-800 outline-none ring-indigo-300 transition duration-100 focus:ring" />
            </div>

            <div>
                <label for="email" class="mb-2 inline-block text-sm text-gray-800 sm:text-base">Email</label>
                <input name="email" [(ngModel)]="email" readonly
                    class="w-full rounded border bg-gray-50 px-3 py-2 text-gray-800 outline-none ring-indigo-300 transition duration-100 focus:ring" />
            </div>

            <div>
                <label for="subject" class="mb-2 inline-block text-sm text-gray-800 sm:text-base">Subject*</label>
                <input name="subject" [(ngModel)]="subject" required
                    class="w-full rounded border bg-gray-50 px-3 py-2 text-gray-800 outline-none ring-indigo-300 transition duration-100 focus:ring" />
                <div *ngIf="submitted && ticketForm.controls.subject.errors?.required" class="text-red-600">
                    Subject is required.</div>
            </div>

            <div>
                <label for="priority" class="mb-2 inline-block text-sm text-gray-800 sm:text-base">Priority*</label>
                <select name="priority" [(ngModel)]="priority" required
                    class="w-full rounded border bg-gray-50 px-3 py-2 text-gray-800 outline-none ring-indigo-300 transition duration-100 focus:ring">
                    <option value="high">High</option>
                    <option value="medium">Medium</option>
                    <option value="low">Low</option>
                </select>
                <div *ngIf="submitted && ticketForm.controls.priority.errors?.required" class="text-red-600">
                    Priority is required.</div>
            </div>

            <div class="sm:col-span-2">
                <div class="row w-100 m-0 mb-2 align-items-center">
                    <div class="col-6">
                        <label for="message"
                            class="mb-2 inline-block text-sm text-gray-800 sm:text-base">Message</label>
                    </div>
                    <div class="col-6 text-end">
                        <mat-icon (click)="addAttachments()" matTooltip="Upload attachments">attach_file</mat-icon>
                    </div>
                </div>
                <div class="row my-2">
                    <div class="progress" *ngIf="progress">
                        <div class="progress-bar" [style.width]="progress + '%'">{{progress}}%</div>
                    </div>
                    <div class="row w-100 m-0 p-2 mb-3" *ngIf="attachments.length > 0">
                        <p>Attachments</p>
                        <div class="col-4 mb-2" *ngFor="let attachment of attachments">
                            <div class="crm-email-attachments">
                                <div class="attachment" (click)="viewFile(attachment.url)">
                                    <mat-icon class="mr-2">insert_drive_file</mat-icon>
                                    <div class="attachment-name">
                                        <p>{{ attachment.fileName }}</p>
                                        <p class="m-0">{{ roundSize(attachment.size) }}</p>
                                    </div>
                                    <mat-icon class="mr-2"
                                        (click)="removeAttachment(attachment)">delete_outline</mat-icon>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <app-ck-editor [(ngModel)]="message"></app-ck-editor>
            </div>

            <div class="flex items-center justify-between sm:col-span-2">
                <button type="submit" (click)="submitForm(ticketForm)"
                    class="inline-block rounded-lg bg-indigo-500 px-8 py-3 text-center text-sm font-semibold text-white outline-none ring-indigo-300 transition duration-100 hover:bg-indigo-600 focus-visible:ring active:bg-indigo-700 md:text-base btn btn-border-3">Send</button>
            </div>
        </form>
        <!-- form - end -->
    </div>
</div>

<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="default" color="#fff" type="line-spin-fade-rotating">
    <p style="color: white">Please Wait...</p>
</ngx-spinner>