<div class="flex flex-col flex-auto min-w-0 main-body-watermark">
    <div class="flex-auto p-6">
        <div class="rounded-2xl common-admin-customer-contractor">
            <mat-card class='light' style="height: 100%;">
                <mat-card-header>
                    <mat-card-title class="view-card-title">
                        <h3>{{pageTitle }}</h3>
                    </mat-card-title>
                </mat-card-header>
                <mat-toolbar class="primary">
                    <mat-toolbar-row>
                        <button *ngIf="adminPermissions && adminPermissions.create" mat-mini-fab
                            style="margin-right:10px; background-color:#e07c9e" [routerLink]="['/crm/create/task']">
                            <mat-icon>add</mat-icon>
                        </button>
                        <button mat-mini-fab style="margin-right:10px; background-color:darkgray" (click)="reset()">
                            <mat-icon>refresh</mat-icon>
                        </button>
                        <span class="title-spacer"></span>
                        <mat-form-field appearance="standard" class="search-form-fileld">
                            <mat-label>Filter</mat-label>
                            <input matInput (keyup)="applyFilter($event.target.value)">
                            <mat-icon>filter_list</mat-icon>
                        </mat-form-field>

                    </mat-toolbar-row>
                </mat-toolbar>

                <mat-table #table [dataSource]="dataSource" matSort *ngIf="adminPermissions && adminPermissions.read">

                    <ng-container matColumnDef="due_date">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> Due Date </mat-header-cell>
                        <mat-cell *matCellDef="let task"> {{task.due_date | date:'dd-MM-yyyy'}} </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="status">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> Status </mat-header-cell>
                        <mat-cell *matCellDef="let task" class="text-capitalize"> {{task.status.replace('_',' ')}}
                        </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="priority">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> Priority </mat-header-cell>
                        <mat-cell *matCellDef="let task" class="text-capitalize"> {{task.priority}} </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="contact">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> Contact Name </mat-header-cell>
                        <mat-cell *matCellDef="let task"> {{task.contact}} </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="assigned_agent">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> Assigned Agent </mat-header-cell>
                        <mat-cell *matCellDef="let task"> {{task.agent}} </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="task_owner">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>Task Owner </mat-header-cell>
                        <mat-cell *matCellDef="let task" class="text-capitalize"> {{task.task_owner }} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="id">
                        <mat-header-cell *matHeaderCellDef style="justify-content:right;">
                            <!-- <button mat-button style="color:white; background-color:darkgrey" (click)="resetListFilter()">Reset</button> -->
                        </mat-header-cell>
                        <mat-cell *matCellDef="let task" style="justify-content:right;">
                            <button *ngIf="adminPermissions && adminPermissions.update" mat-mini-fab
                                style="background-color:teal; min-height: 30px;   margin: 5px;"
                                [routerLink]="['/crm/edit/task/', task.id]">
                                <mat-icon>edit</mat-icon>
                            </button>
                            <button *ngIf="adminPermissions && adminPermissions.delete" mat-mini-fab
                                style="background-color:lightblue; min-height: 30px;  margin: 5px;"
                                (click)="openDialog(task.id)">
                                <mat-icon>delete</mat-icon>
                            </button>
                        </mat-cell>
                    </ng-container>
                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                </mat-table>
                <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[5, 10]">
                </mat-paginator>
            </mat-card>
            <!-- </mat-sidenav-container> -->

        </div>
    </div>
</div>