.form-container {
    border: 1px solid #e1e1e1;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.7);
}
.tick-icon {
    display: inline-block;
    width: 20px;
}
