.modal-body {
    overflow-x: hidden;
}

.tab2-field1 {
    .location-input {
        width: 100%;
        border: 1px solid lightgray;
        height: 56px;
        border-radius: 6px;
        margin: 2px;
        padding: 6px;
    }
}

.custom-error {
    width: 100%;
    margin-top: -0.75rem;
    font-size: .875em;
    color: #dc3545;
    margin-bottom: 5px;
}

.body {
    width: 100%;
    height: 100%;
    margin: 16px auto 0;
    overflow-y: auto;
    overflow: auto;
    height: 60vh;
    background-color: #fff;
}

.example-radio-group {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.example-radio-button {
    margin: 5px;
}