
<mat-form-field color="accent" class="multiSiteSelect" *ngIf="bankMultiCtrl">
    <mat-select [formControl]="bankMultiCtrl" [placeholder]="placeholderText" [multiple]="true" #multiSelect>
        <mat-option>
            <ngx-mat-select-search [showToggleAllCheckbox]="true" [toggleAllCheckboxIndeterminate]="isIndeterminate"
                [toggleAllCheckboxChecked]="isChecked" (toggleAll)="toggleSelectAll($event)"
                [formControl]="bankMultiFilterCtrl" placeholderLabel="Search here"  noEntriesFoundLabel="Site Not Found"></ngx-mat-select-search>
        </mat-option>
        <mat-option *ngFor="let bank of filteredBanksMulti | async" [value]="bank">
            {{bank.site_name}}
        </mat-option>
    </mat-select>
</mat-form-field>