<div class="plus_create_shift" [autoClose]="'outside'" #p="ngbPopover" [ngbPopover]="popContent"
    [popoverTitle]="popTitle" (click)="getBoxDate()">
    <mat-icon svgIcon="heroicons_solid:plus"></mat-icon>
    <ng-template #popTitle>
        <div class="popover-header-date">
            <div class="pop-date"><span>{{clickedboxDate}}</span></div>
        </div>
    </ng-template>

    <ng-template #popContent>
        <form [formGroup]="addShiftBasicForm">
            <div class="row" *ngIf="calenderType=='run_sheet'">
                <div class="col-12">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Location Name</label>
                        <input type="text" class="form-control" formControlName="site_name" [readOnly]="true"
                            [value]="run_sheet_id">
                    </div>
                </div>
            </div>

            <div class="row" *ngIf="calenderType=='guard'">
                <div class="col-12">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Staff Name</label>
                        <input type="text" class="form-control" formControlName="guard_name" [readOnly]="true"
                            [value]="guard_id">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-6 mt-2">
                    <div class="form-group">
                        <label for="start_time">Start Time</label>
                        <div class="ngx-timepicker-field-example">
                            <ngx-timepicker-field [controlOnly]="true" formControlName="start_time" [format]="24"
                            (timeChanged)="onChangeHour('start',$event)" [defaultTime]="'00:00'"></ngx-timepicker-field>
                        </div>
                    </div>
                </div>
                <div class="col-6 mt-2">
                    <div class="form-group">
                        <label for="end_time">End Time</label>
                        <div class="ngx-timepicker-field-example">
                            <ngx-timepicker-field formControlName="end_time" [controlOnly]="true"
                                [format]="24" (timeChanged)="onChangeHour('end',$event)" [defaultTime]="'00:00'"></ngx-timepicker-field>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12 mt-2" *ngIf="calenderType!='guard'">
                    <div class="dropdown h-100" class="statusDropdownContainer">
                        <p class="btn-white dropdown-toggle mb-2 statusFilterDropdown h-100 flex-middle" role="button"
                            id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="text-truncate">{{selectedValue ?
                                selectedValue.first_name
                                +' '+
                                selectedValue.last_name :
                                'Select staff'}}</span>
                        </p>
                        <div class="dropdown-menu pt-0" aria-labelledby="dropdownMenuButton">
                            <input type="text" class="w-100 p-2 searchInput" formControlName="searchValue"
                                (ngModelChange)="filterDropdown($event)" placeholder="Search staff...">
                            <span *ngFor="let option of filteredList" class="dropdown-item pointer text-contain"
                                [ngClass]="{'alternateBackground': $index%2 == 0 }" (click)="selectValue(option)">
                                {{option.first_name}} {{option.last_name}}
                            </span>
                            <div *ngIf="filteredList.length <=0" class="text-center text-muted mt-1">No
                                staff found</div>
                        </div>
                    </div>
                </div>

                <div class="col-12 mt-2" *ngIf="calenderType=='guard'">
                    <div class="dropdown h-100" class="statusDropdownContainer">
                        <p class="btn-white dropdown-toggle mb-2 statusFilterDropdown h-100 flex-middle" role="button"
                            id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="    false">
                            <span class="text-truncate">{{selectedValue ?
                                selectedValue.title :
                                'Select Location'}}</span>
                        </p>
                        <div class="dropdown-menu pt-0" aria-labelledby="dropdownMenuButton">
                            <input type="text" class="w-100 p-2 searchInput" formControlName="searchValue"
                                (ngModelChange)="filterDropdown($event)" placeholder="Search location...">
                            <span *ngFor="let option of filteredList" class="dropdown-item pointer text-contain"
                                [ngClass]="{'alternateBackground': $index%2 == 0 }" (click)="selectValue(option)">
                                {{option.title}}
                            </span>
                            <div *ngIf="filteredList.length <=0" class="text-center text-muted mt-1">No
                                staff found</div>
                        </div>
                    </div>
                </div>
            </div>

            <button class="advanced-option" (click)="openVerticallyCentered(p.close())">
                Advanced
            </button>
            <button (click)="onSubmit(p)" style="float: right;" type="submit" class="px-6 ml-3 btn">
                Save
            </button>
        </form>
    </ng-template>
</div>
