<div class="w-100 main-div-leads">
    <header>
        <ol>
            <li *ngFor="let item of leadStatus">{{ item.name }}</li>
      
        </ol>
    </header>
    <div class="bracket">
        <figure class="logo"><img [src]="logo" alt="logo" /></figure>
        <div class="region region-1">
            <!-- Region 1 Round 1-->
            <ul class="matchup matchup-1">
                <li class="team team-top winner">1 Alabama</li>
                <li class="team team-bottom">16 Texas A&M-CC</li>
            </ul>

            <ul class="matchup matchup-2">
                <li class="team team-top winner">8 Maryland</li>
                <li class="team team-bottom">9 West Virginia</li>
            </ul>

            <ul class="matchup matchup-3">
                <li class="team team-top winner">5 SD State</li>
                <li class="team team-bottom">12 Charleston</li>
            </ul>

            <ul class="matchup matchup-4">
                <li class="team team-top">4 Virginia</li>
                <li class="team team-bottom winner">13 Furman</li>
            </ul>

            <ul class="matchup matchup-5">
                <li class="team team-top winner">6 Creighton</li>
                <li class="team team-bottom">11 NC State</li>
            </ul>

            <ul class="matchup matchup-6">
                <li class="team team-top winner">3 Baylor</li>
                <li class="team team-bottom">14 UCSB</li>
            </ul>

            <ul class="matchup matchup-7">
                <li class="team team-top winner">7 Missouri</li>
                <li class="team team-bottom">10 Utah State</li>
            </ul>

            <ul class="matchup matchup-8">
                <li class="team team-top">2 Arizona</li>
                <li class="team team-bottom winner">15 Princeton</li>
            </ul>

            <!-- Region 1 Round 2 -->
            <ul class="matchup matchup-33">
                <li class="team team-top winner">1 Alabama</li>
                <li class="team team-bottom">8 Maryland</li>
            </ul>

            <ul class="matchup matchup-34">
                <li class="team team-top winner">5 SD State</li>
                <li class="team team-bottom">13 Furman</li>
            </ul>

            <ul class="matchup matchup-35">
                <li class="team team-top winner">6 Creighton</li>
                <li class="team team-bottom">3 Baylor</li>
            </ul>

            <ul class="matchup matchup-36">
                <li class="team team-top">7 Missouri</li>
                <li class="team team-bottom winner">15 Princeton</li>
            </ul>

            <!-- Region 1 Sweet 16 -->
            <ul class="matchup matchup-49">
                <li class="team team-top">1 Alabama</li>
                <li class="team team-bottom winner">5 SD State</li>
            </ul>
            <ul class="matchup matchup-50">
                <li class="team team-top winner">6 Creighton</li>
                <li class="team team-bottom">15 Princeton</li>
            </ul>
            <!-- End Region 1 Sweet 16 -->

            <!-- Region 1 Final -->
            <ul class="matchup matchup-57">
                <li class="team team-top winner">5 SD State</li>
                <li class="team team-bottom">6 Creighton</li>
            </ul>

        </div>
        <div class="region-2 region">
            <!-- Region 2 Round 1 -->
            <ul class="matchup matchup-9">
                <li class="team team-top">1 Purdue</li>
                <li class="team team-bottom winner">16 FDU</li>
            </ul>

            <ul class="matchup matchup-10">
                <li class="team team-top">8 Memphis</li>
                <li class="team team-bottom winner">9 FAU</li>
            </ul>

            <ul class="matchup matchup-11">
                <li class="team team-top winner">5 Duke</li>
                <li class="team team-bottom">12 Oral Roberts</li>
            </ul>

            <ul class="matchup matchup-12">
                <li class="team team-top winner">4 Tennessee</li>
                <li class="team team-bottom">13 LA Lafeyette</li>
            </ul>

            <ul class="matchup matchup-13">
                <li class="team team-top winner">6 Kentucky</li>
                <li class="team team-bottom">11 Providence</li>
            </ul>

            <ul class="matchup matchup-14">
                <li class="team team-top winner">3 Kansas State</li>
                <li class="team team-bottom">14 Montana State</li>
            </ul>

            <ul class="matchup matchup-15">
                <li class="team team-top winner">7 Michigan State</li>
                <li class="team team-bottom">10 USC</li>
            </ul>

            <ul class="matchup matchup-16">
                <li class="team team-top winner">2 Marquette</li>
                <li class="team team-bottom">15 Vermont</li>
            </ul>
            <!-- End Region 2 Round 1 -->

            <!-- Region 2 Round 2 -->
            <ul class="matchup matchup-37">
                <li class="team team-top">16 FDU</li>
                <li class="team team-bottom winner">9 FAU</li>
            </ul>

            <ul class="matchup matchup-38">
                <li class="team team-top">5 Duke</li>
                <li class="team team-bottom winner">4 Tennessee</li>
            </ul>

            <ul class="matchup matchup-39">
                <li class="team team-top">6 Kentucky</li>
                <li class="team team-bottom winner">3 Kansas State</li>
            </ul>

            <ul class="matchup matchup-40">
                <li class="team team-top winner">7 Michigan State</li>
                <li class="team team-bottom">1 Marquette</li>
            </ul>
            <!-- End Region 2 Round 2 -->

            <!-- Region 2 Sweet 16 -->
            <ul class="matchup matchup-51">
                <li class="team team-top winner">9 FAU</li>
                <li class="team team-bottom">4 Tennesssee</li>
            </ul>
            <ul class="matchup matchup-52">
                <li class="team team-top winner">3 Kansas State</li>
                <li class="team team-bottom">7 Michigan State</li>
            </ul>
            <!-- End Region 2 Sweet 16 -->

            <!-- Region 2 Final -->
            <ul class="matchup matchup-58">
                <li class="team team-top winner">9 FAU</li>
                <li class="team team-bottom">3 Kansas State</li>
            </ul>

        </div>
        <div class="region-3 region">

            <!-- Region 3 Round 1 -->
            <ul class="matchup matchup-17">
                <li class="team team-top winner">1 Houston</li>
                <li class="team team-bottom">16 Morthern Kentucky</li>
            </ul>

            <ul class="matchup matchup-18">
                <li class="team team-top">8 Iowa</li>
                <li class="team team-bottom winner">9 Auburn</li>
            </ul>

            <ul class="matchup matchup-19">
                <li class="team team-top winner">5 Miami</li>
                <li class="team team-bottom">12 Drake</li>
            </ul>

            <ul class="matchup matchup-20">
                <li class="team team-top winner">4 Indiana</li>
                <li class="team team-bottom">13 Kent State</li>
            </ul>

            <ul class="matchup matchup-21">
                <li class="team team-top">6 Iowa State</li>
                <li class="team team-bottom winner">11 Pitt</li>
            </ul>

            <ul class="matchup matchup-22">
                <li class="team team-top winner">3 Xavier</li>
                <li class="team team-bottom">14 Kennesaw State</li>
            </ul>

            <ul class="matchup matchup-23">
                <li class="team team-top">7 Teaxs A&M</li>
                <li class="team team-bottom winner">10 Penn State</li>
            </ul>

            <ul class="matchup matchup-24">
                <li class="team team-top winner">2 Texas</li>
                <li class="team team-bottom">15 Colgate</li>
            </ul>
            <!-- End Region 3 Round 1 -->

            <!-- Region 3 Round 2 -->
            <ul class="matchup matchup-41">
                <li class="team team-top winner">1 Houston</li>
                <li class="team team-bottom">9 Auburn</li>
            </ul>

            <ul class="matchup matchup-42">
                <li class="team team-top winner">5 Miami</li>
                <li class="team team-bottom">4 Indiana</li>
            </ul>

            <ul class="matchup matchup-43">
                <li class="team team-top">11 Pitt</li>
                <li class="team team-bottom winner">3 Xavier</li>
            </ul>

            <ul class="matchup matchup-44">
                <li class="team team-top">10 Penn State</li>
                <li class="team team-bottom winner">2 Texas</li>
            </ul>
            <!-- End Region 3 Round 2 -->
            <!-- Region 3 Sweet 16 -->
            <ul class="matchup matchup-53">
                <li class="team team-top">1 Houston</li>
                <li class="team team-bottom winner">5 Miami</li>
            </ul>
            <ul class="matchup matchup-54">
                <li class="team team-top">3 Xavier</li>
                <li class="team team-bottom winner">2 Texas</li>
            </ul>
            <!-- Region 3 Final -->
            <ul class="matchup matchup-59">
                <li class="team team-top winner">5 Miami</li>
                <li class="team team-bottom">2 Texas</li>
            </ul>
        </div>

        <div class="region-4 region">
            <!-- Region 4 Round 1 -->
            <ul class="matchup matchup-25">
                <li class="team team-top winner">1 Kansas</li>
                <li class="team team-bottom">16 Howard</li>
            </ul>

            <ul class="matchup matchup-26">
                <li class="team team-top winner">8 Arkansas</li>
                <li class="team team-bottom">9 Illinois</li>
            </ul>

            <ul class="matchup matchup-27">
                <li class="team team-top winner">5 St. Mary's</li>
                <li class="team team-bottom">12 VCU</li>
            </ul>

            <ul class="matchup matchup-28">
                <li class="team team-top winner">4 UConn</li>
                <li class="team team-bottom">13 Iola</li>
            </ul>

            <ul class="matchup matchup-29">
                <li class="team team-top winner">6 TCU</li>
                <li class="team team-bottom">11 Arizona State</li>
            </ul>

            <ul class="matchup matchup-30">
                <li class="team team-top winner">3 Gonzaga</li>
                <li class="team team-bottom">14 Grand Canyon</li>
            </ul>

            <ul class="matchup matchup-31">
                <li class="team team-top winner">7 Northwestern</li>
                <li class="team team-bottom">10 Boise State</li>
            </ul>

            <ul class="matchup matchup-32">
                <li class="team team-top winner">2 UCLA</li>
                <li class="team team-bottom">15 UNC Asheville</li>
            </ul>
            <!-- End Region 4 Round 1 -->

            <!-- Region 4 Round 2 -->
            <ul class="matchup matchup-45">
                <li class="team team-top">1 Kansas</li>
                <li class="team team-bottom winner">8 Arkansas</li>
            </ul>

            <ul class="matchup matchup-46">
                <li class="team team-top">5 St. Mary's</li>
                <li class="team team-bottom winner">4 UConn</li>
            </ul>

            <ul class="matchup matchup-47">
                <li class="team team-top">6 TCU</li>
                <li class="team team-bottom winner">3 Gonzaga</li>
            </ul>

            <ul class="matchup matchup-48">
                <li class="team team-top">7 Northwestern</li>
                <li class="team team-bottom winner">2 UCLA</li>
            </ul>
            <!-- End Region 4 Round 2 -->
            <!-- Region 4 Sweet 16 -->
            <ul class="matchup matchup-55">
                <li class="team team-top">8 Arkansas</li>
                <li class="team team-bottom winner">4 UConn</li>
            </ul>
            <ul class="matchup matchup-56">
                <li class="team team-top winner">3 Gonzaga</li>
                <li class="team team-bottom">2 UCLA</li>
            </ul>
            <!-- End Region 4 Sweet 16 -->
            <!-- Region 4 Final -->
            <ul class="matchup matchup-60">
                <li class="team team-top winner">4 UConn</li>
                <li class="team team-bottom">3 Gonzaga</li>
            </ul>
        </div>
        <div class="final-four">
            <!-- Final Four Game 1-->
            <ul class="matchup matchup-61">
                <li class="team team-top">5 SD State</li>
                <li class="team team-bottom">9 FAU</li>
            </ul>
            <!-- Final Four Game 2-->
            <ul class="matchup matchup-62">
                <li class="team team-top">5 Miami</li>
                <li class="team team-bottom ">4 UConn</li>
            </ul>

            <ul class="matchup championship">
                <li class="team team-top"></li>
                <li class="team team-bottom"></li>
            </ul>
        </div>
    </div>
</div>