<div class="absolute inset-0 flex flex-col overflow-hidden main-body-watermark w-100">
    <div class="p-6 rounded-2xl overflow-auto common-admin-customer-contractor">
        <ng-container *ngIf="!fileName; else havePdfSrc">
            <div class="users-page">
                <div class="user-main">
                    <button type="button" class="btn mb-2" (click)="goBack()">↩️ Back</button>
                    <div class="user-nav rounded-2xl">
                        <div class="container text-center">
                            <h1 class="title">Upload Document</h1>
                            <p>Turn your documents into signable documents</p>
                            <div class="upload-section">
                                <label class="upload-label" for="fileInput">
                                    <span class="upload-icon">📄</span>
                                    <h2>Upload Document</h2>
                                    <p>Turn your documents into signable documents</p>
                                </label>
                                <input #fileInput id="fileInput" type="file" (change)="onFileSelected($event)"
                                    accept="application/pdf" style="display:none;">
                                <button class="btn btn-outline-primary mt-3" (click)="fileInput.click()">Add New
                                    Document</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ng-container>
        <ng-template #havePdfSrc>
            <div class="users-page">
                <div class="user-main">
                    <button type="button" class="btn mb-2" (click)="goBack()">↩️ Back</button>
                    <div class="user-nav rounded-2xl">
                        <div class="container text-center">
                            <h1 class="title">Upload Document</h1>
                            <p>Turn your documents into signable documents</p>
                            <div class="document-preview">
                                <div class="document-thumbnail">
                                    <img [src]="thumbnail" alt="PDF Thumbnail" class="img-thumbnail">
                                    <div class="document-info">
                                        <h2>{{ fileName }}</h2>
                                        <p>{{ fileSize }} KB</p>
                                        <button (click)="createSignableDocument()" class="btn btn-primary mt-3">Create
                                            Signable Document</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
    </div>
</div>

