<div class="card mb-3 w-100" id="downloadableTable">
    <div class="p-3 flex justify-content-between font-size-lg text-capitalize font-weight-normal custom-body">
        <h5>{{ title }}</h5>
        <div (click)="generateAllPDFs()"
            class="relative cursor-pointer grid select-none items-center whitespace-nowrap rounded-lg border border-gray-900 py-1.5 px-3 font-sans text-xs font-bold uppercase text-gray-700">
            <div class="absolute top-2/4 left-1.5 h-5 w-5 -translate-y-2/4">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-5 h-5">
                    <path fill-rule="evenodd" d="M12 3v11h3l-4 4-4-4h3V3h2z" clip-rule="evenodd"></path>
                </svg>
            </div>
            <span class="ml-[18px]">Download</span>
        </div>
    </div>
    <div class="card-body" style="height: 400px;">
        <table style="width:max-content"
            class="table table-hover table-bordered table-striped table-responsive text-center "
            *ngIf="previewData.length > 0">
            <thead class="live-operation-head">
                <tr>
                    <th>#</th>
                    <th *ngFor="let header of getHeaders()" class="text-capitalize">{{ header }}</th>
                </tr>
            </thead>
            <tbody [@stagger]="previewData.length">
                <ng-container *ngFor="let item of previewData;let i=index" >
                    <tr [@fadeIn]="" [@stagger]="i"  *ngIf="item.form_data">
                        <td class="flex align-items-center">{{ i + 1 }}. <button mat-icon-button
                                [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                                <mat-icon>more_vert</mat-icon>
                            </button>
                            <mat-menu #menu="matMenu">
                                <button mat-menu-item (click)="generatePDF(item)">
                                    <span>PDF</span>
                                </button>
                            </mat-menu>
                        </td>
                        <td *ngFor="let data of getValues(item)" class="text-capitalize">
                            <ng-container *ngIf="data.type === 'signature';else templateName">
                                <img [src]="data.value" alt="Signature" style="width:100px; height:auto;">
                            </ng-container>
                            <ng-container *ngIf="data.type === 'text'">
                                {{ data.value }}
                            </ng-container>
                        </td>
                    </tr>
                </ng-container>

            </tbody>

        </table>

    </div>
</div>

