.nav {
    display: flex;
    padding: 15px 25px;
    box-shadow: 0 2px 17px rgb(30 30 30 / 5%);
    background-color: rgba(var(--fuse-bg-card-rgb), var(--tw-bg-opacity)) !important;
    border-radius: var(--br-2xl);
    margin-bottom: 20px;
}

.main {
    h1 {
        transform: translateX(41px);
        font-size: 2em;
        color: var(--color-primary);
    }
}

.filters {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
    .item {
        padding: 12px 14px;
        background: white;
        margin: 10px;
        justify-content: space-between;
        display: flex;
        border-radius: 10px;
    }
}

.tables_list {
    .card {
        padding: 6px;
        border: none;
        box-shadow: 2px 4px 7px 2px #d0d0d0;
        min-height: 180px;
        .name {
            font-size: 14px;
            font-weight: bold;
            color: #474747;
            margin: 0;
            cursor: pointer;
        }
        mat-chip {
            font-size: 10px;
            padding: 0px 10px;
            cursor: pointer;
        }
    }

    .mat-chip-list {
        margin-top: 7px;
        max-height: 125px;
        min-height: 125px;
        overflow-y: auto;
        overflow-x: hidden;
    }
}

.searchbar_main {
    position: relative;
    .searchbar {
        padding: 10px 16px 10px 36px;
        border-radius: 10px;
        width: 228px;
        background-color: rgb(255, 255, 255);
        margin: 0;
        margin: 13px 0px;
    }
    mat-icon {
        top: 24px;
        position: absolute;
        right: 205px;
    }
}

.pagination {
    justify-content: center;
}