.appstatus-page {
    border-radius: var(--br-2xl);
    .task-head {
        background-color: var(--tw-ring-offset-color) !important; 
        border-radius: 13px;
    }
    .user-nav {
        display: flex;
        justify-content: space-between;
        padding: 19px 41px;
        box-shadow: 0 2px 17px rgb(30 30 30 / 5%);
        background-color: rgba(var(--fuse-bg-card-rgb), var(--tw-bg-opacity)) !important;
        border-radius: var(--br-2xl);
        align-items: center;
    }
}

.row{
    margin: 30px 2px;
    table{
        width: 100%;
    }
}

.status-JustStarted {
    background-color: #17A2B8;
    color: white;
    font-weight: 650;
    padding: 1px 8px;
    border-radius: 8px;
}
.status-success {
    background-color: #28A745;
    color: white;
    font-weight: 650;
    padding: 1px 8px;
    border-radius: 8px;
}
.status-warning{
    background-color: #FFC107;
    color: white;
    font-weight: 650;
    padding: 1px 8px;
    border-radius: 8px;
}