app-form{
    width: 100 !important;
}
:host{
    width: 100% !important;
    height: 100% !important;
}
.wrap_form{
    width: 100%;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    background-color: white;
}
.form_border{
    padding-right: 7%;
    padding-left: 7%;
    .logo{
        img{
            height: 8rem;
            width: 8rem;
        }
    }
    .title{
        h3{
            color: #01A37E;
        }
    }
    .bar{
        padding: 3px;
        background-color: #01A37E;
    }
}
.active{
    background-color: #01A37E;
    color: white;
}
.selected{
    background-color: #01A37E;
    color: white;
}

.no-spin-box::-webkit-inner-spin-button,
.no-spin-box::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

table, th,td{
    border: 2px solid;
}

.signature-container {
    border-style: dashed;
    border-width: 2px;
    margin-bottom: 20px;
    width: 95%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 10px;
}

.buttons {
    float: right;
    button {
        margin-right: 10px;
        padding: 10px;
        background-color: dodgerblue;
        color: white;
        border-radius: 5px;
    }
}
