<mat-form-field appearance="fill" class="dateRange ms-2 me-2 job-tracker-from-to">
    <mat-label *ngIf="label">{{label}}</mat-label>
    <mat-date-range-input [formGroup]="range" [rangePicker]="picker">
        <input matStartDate formControlName="start" [placeholder]="placeholder1 || 'Start date'" readonly>
        <input matEndDate formControlName="end" [placeholder]="placeholder2 || 'End date'" readonly>
    </mat-date-range-input>
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-date-range-picker #picker></mat-date-range-picker>
</mat-form-field>


