<div class="main">

    <div class="upper-section " style="position: sticky;top:0px;z-index: 10;background:white">
        <!-- header -->
        <div class="header">

            <div class="modal-header">
                <h4>{{this.uniformId?" Update Uniform details" :"Add Uniform details"}}</h4>
                <button type="button" class="btn-close" aria-label="Close" (click)="close('dismiss')"
                    style="margin-right: 20px;"></button>
            </div>
        </div>
    </div>


    <div class="body" >
        <div class="scrollable">
            <!-- <div class="row">
                <div class="col-md-12">
                    <app-select-multiple-customer (selectedCustomer)="receiveDataFromChild($event)"
                        class="select_personel_details" [dataArray]="customers"
                        [placeholderText]="'Select Customers'"></app-select-multiple-customer>
                </div>
            </div>

            <div class="row">
                <mat-form-field appearance="outline" style="margin-top: 10px;">
                    <mat-label>Write a note</mat-label>
                    <textarea matInput [(ngModel)]="note"></textarea>
                </mat-form-field>
            </div> -->

            <!-- <form #uniformForm="ngForm"> -->
                <!-- <div class="form-togglelist"> -->
                    <!-- <div class="row head-row">
                        <div class="col-3 head-col">Customers</div>
                        <div class="col-3 head-col">Uniform Type</div>
                        <div class="col-3 head-col">Uniform Size</div>
                        <div class="col-2 head-col">Uniform Quantity</div>
                        <div class="col-2 head-col">Return Status</div>
                    </div> -->
                    
                    <!-- <div class="row body-row" *ngFor="let data of uniformData">
                        <div class="col-2 body-col">
                            <mat-slide-toggle (onChange)="toggle($event)" name="{{data.uniformName}}_status"
                                [(ngModel)]="data.enable"></mat-slide-toggle>
                        </div>
                        <div class="col-3 body-col" #uniformSelect="ngModel" name="uniform_name"
                            [(ngModel)]="data.uniformName">
                            {{data.uniformName}}
                        </div>

                        <div class="col-2 body-col">
                            <mat-select *ngIf="data.enable" class="select_" placeholder="Select"
                                name="{{data.uniformName}}_size" [(ngModel)]="data.uniformValue.size"
                                #sizeSelect="ngModel" style="border: 1px solid #E2E8F0; padding: 10px;">
                                <mat-option *ngFor="let size of data.uniformSize" [value]="size">
                                    {{size}}
                                </mat-option>
                            </mat-select>
                        </div>

                        <div class="col-2 body-col">
                            <mat-select *ngIf="data.enable" class="select_" placeholder="Select"
                                name="{{data.uniformName}}_quantity" [(ngModel)]="data.uniformValue.quantity"
                                #quantitySelect="ngModel" style="border: 1px solid #E2E8F0; padding: 10px;">
                                <mat-option *ngFor="let quantity of data.quantity" [value]="quantity">
                                    {{quantity}}
                                </mat-option>
                            </mat-select>
                        </div>

                        <div class="col-2 body-col">
                            <div class="checkbox-wrapper-35">
                                <input
                                    value="private"
                                    name="switch"
                                    [id]="'switch_' + data.uniformName"
                                    type="checkbox"
                                    class="switch"
                                    [(ngModel)]="data.return_status"
                                    [name]="'returnStatus_' + data.uniformName">
                                <label [for]="'switch_' + data.uniformName">
                                    <span class="switch-x-toggletext">
                                        <span class="switch-x-unchecked">
                                            <span class="switch-x-hiddenlabel">Unchecked:</span>Not Return
                                        </span>
                                        <span class="switch-x-checked">
                                            <span class="switch-x-hiddenlabel">Checked:</span>Return
                                        </span>
                                    </span>
                                </label>
                            </div>
                        </div>
                        
                    </div> -->
                <!-- </div> -->

                <!-- <div class="row" style="padding: 25px">
                    <div class="col-12 d-flex">
                        <button class="btn btn-border-3 m-auto" (click)="addUniform()">
                            {{ uniformId ? 'Update' : 'Submit' }}
                        </button>
                    </div>
                </div> -->
                    <form [formGroup]="Adduniform">
                        <div class="rows-containers" formArrayName="uniformDetail">
                            <div *ngFor="let field of uniformDetail.controls; let i = index" [formGroupName]="i" style="margin-bottom: 4rem; border-bottom: 3px solid grey;">
                                <div class="row">
                                    <app-select-multiple-customer signleDouble="no"
                                    (selectedCustomer)="receiveDataFromChildSingle($event, i)" class="select_job_roster"
                                    [dataArray]="customers" [placeholderText]="'Select Customers'"></app-select-multiple-customer>
                                </div>
            
                                <div class="row">
                                    <div class="col-3 mx-1">
                                        <mat-form-field appearance="outline">
                                            <mat-select [placeholder]="'Select Uniform'" formControlName="uniform_type">
                                                <mat-option *ngFor="let option of optionArray" [value]="option">{{ option }}</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-3 mx-1">
                                        <ng-container *ngIf="field.get('uniform_type').value !== 'Shoes'; else shoeSizes">
                                            <mat-form-field appearance="outline">
                                                <mat-select [placeholder]="'Select Size'" formControlName="size">
                                                    <mat-option *ngFor="let opt of uniformSize" [value]="opt">{{ opt }}</mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </ng-container>
                                        
                                        <ng-template #shoeSizes>
                                            <mat-form-field appearance="outline">
                                                <mat-select [placeholder]="'Select Size'" formControlName="size">
                                                    <mat-option *ngFor="let shoe of shoesSize" [value]="shoe">{{ shoe }}</mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </ng-template>
                                    </div>
            
                                    <div class="col-3 mx-1">
                                        <mat-form-field appearance="outline">
                                            <mat-select [placeholder]="'Quantity'" formControlName="quantity">
                                                <mat-option *ngFor="let qua of uniQuantity" [value]="qua">{{ qua }}</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
            
                                    <div class="col-2 mx-1">
                                        <mat-label>Return Status</mat-label>
                                        <mat-slide-toggle formControlName="return_status"></mat-slide-toggle>
                                    </div>
                                </div>
    
                                <div class="row">
                                    <mat-form-field appearance="outline" style="margin-top: 10px;">
                                        <mat-label>Write a note</mat-label>
                                        <textarea matInput formControlName="note"></textarea>
                                    </mat-form-field>
                                </div>
    
                                <div class="row">
                                    <!-- <div class="col-12" > -->
                                        <button style="text-align: center;">
                                            <mat-icon svgIcon="delete" (click)="removeUniform(i)" style="color: red;"></mat-icon>
                                        </button>
                                    <!-- </div> -->
                                </div>
                            </div>
                        </div>
    
                        <div class="row" style="margin-bottom: 15px;" *ngIf="!this.uniformId">
                            <div class="no-shift-tasks-placeholder">
                                <div class="flex-row-centered flex-justify-content-center py-5">
                                    <div class="width-100-percent height-100-percent">
                                        <div class="custom-cta-btn justify-content-center" (click)="Add()">
                                            <span>+ Add</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
    
    
    
                    <div class="row" style="padding: 25px">
                        <div class="col-12 d-flex">
                            <button class="btn btn-border-3 m-auto" (click)="submitForm()">
                                {{this.uniformId?" Update details" :"Submit"}}
                            </button>
                        </div>
                    </div>

            <!-- </form> -->
        <!-- </div> -->
    </div>
</div>