.custom-cta-btn {
    background: #063E69;
    border: 1px solid #2998ff;
    color: #fff;
    box-shadow: 0 5px 8px 0 rgb(41 152 255 / 21%);
    white-space: nowrap;
    height: 40px;
    font-size: 15px;
    position: relative;
    text-align: center;
    padding: 0 16px;
    line-height: 0;
    background: #fff;
    border: 1px solid #d9d9d9;
    border-radius: 20px;
    color: #2998ff;
    display: flex;
    align-items: center;
    white-space: nowrap;
    cursor: pointer;
    width: 30%;
    margin: auto;
    letter-spacing: 0.64px;
}