<div class="modal-header">
    <h5 class="modal-title">Add Multiple Shifts</h5>
    <button type="button" class="close" style="color: white;opacity: 1;" data-dismiss="modal" (click)="close('cancel')"
        aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body p-0 my-3">
    <form [formGroup]="addShiftMultiple" style="overflow-y: auto; height: 50vh;">
        <div class="tab4-field1" formArrayName="multiiShifts">
          <div style="background: #eeeeee9e; box-shadow: 0 8px 8px -4px lightblue;" class="my-2 row justify-content-between w-100 m-auto"
            *ngFor="let input of multiiShiftsControls.controls; let i = index" [formGroupName]="i">
            <div class="d-flex justify-content-between">
              <div class="form-group d-flex align-item-center m-0 w-50">
                <label *ngIf="selectedOption!='assigned'" class="w-100" for="exampleInputEmail1">How Many Shifts?</label>
                <input *ngIf="selectedOption!='assigned'" type="number" class="form-control" formControlName="shift_count" min="0">
                <div *ngIf="addShiftMultiple.get('multiiShifts.' + i + '.shift_count').invalid && addShiftMultiple.get('multiiShifts.' + i + '.shift_count').touched"
                  class="text-danger">Shift Count is required.</div>
              </div>
              <p class="d-flex justify-content-end m-0" (click)="removeShift(i)"><mat-icon svgIcon="mat_outline:cancel"></mat-icon></p>
            </div>
      
              <div class="col-6 mt-4">
                <app-select-multiple-customer signleDouble="no"  (selectedCustomer)="receiveDataFromChild($event,i)"
                  class="select_job_roster mt-2" [dataArray]="customers" [placeholderText]="'Select Customers'">
                </app-select-multiple-customer>
              </div>
              <div class="col-6 mt-4">
                <app-select-multiple-site signleDouble="no" (selectedSite)="receiveDataFromChildSitesingle($event, i)"
                  class="select_job_roster site-job-new-roster mt-2" [type]="type" [dataArray]="sites[i]"
                  [placeholderText]="userType =='guard' ? 'Select Guard' : 'Select Site'"></app-select-multiple-site>
              </div>
      
            <div class="col-12">
              <app-select-multiple-guards signleDouble="yes" style="position: relative;top: 10px;"
                (selectedUsers)="receiveDataFromChildGuardsSingle($event, i)" class="select-job-tacker"
                [dataArray]="guards[i]" [placeholderText]="'Select Guards'"></app-select-multiple-guards>
            </div>
      
            <div class="col-4 mt-3">
              <mat-form-field class="w-100">
                <mat-label>Date</mat-label>
                <input matInput [matDatepicker]="picker2" formControlName="date" [min]="minDate">
                <mat-datepicker-toggle matIconSuffix [for]="picker2"></mat-datepicker-toggle>
                <mat-datepicker #picker2></mat-datepicker>
              </mat-form-field>
            </div>
            <div class="col-4 mt-2">
              <div class="form-group">
                <label for="start_time">Start Time</label>
                <div class="ngx-timepicker-field-example" style="height: 40px;">
                  <ngx-timepicker-field [controlOnly]="true" formControlName="start" [format]="24"></ngx-timepicker-field>
                </div>
              </div>
            </div>
            <div class="col-4 mt-2">
              <div class="form-group">
                <label for="end_time">End Time</label>
                <div class="ngx-timepicker-field-example" style="height: 40px;">
                  <ngx-timepicker-field formControlName="end" [controlOnly]="true" [format]="24"></ngx-timepicker-field>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row w-100 m-auto py-3">
          <div class="width-100-percent height-100-percent">
            <div class="custom-cta-btn" (click)="addShift()">
              <span>+ Add More Shifts</span>
            </div>
          </div>
        </div>
      </form>
      

</div>
<div class="modal-footer">
    <button type="button" class="btn default-btn" (click)="submitMultipleShifts('draft')">Save as Draft</button>
    <button type="button" class="btn default-btn" (click)="submitMultipleShifts('publish')">Save and Publish
        Shift</button>
    <!-- <button type="button" class="btn btn-secondary" (click)="close('cancel')">Close</button> -->
</div>