<div class="row">
   <div class="col-12">
    <button type="button" (click)="close()" style="float: right; margin-right: 3rem; margin-top: 3rem;">
        <mat-icon>cancel</mat-icon>
    </button>
   </div> 
</div>
<div class="wrap_form">
    <div class="form_border" #content>
        <!-- Logo -->
        <div class="d-flex justify-content-center">
            <img src="assets/images/logo/scouts.png" style="height: 130px; width: 150px; margin-bottom: 20px;">
        </div>

        <!-- Heading -->
        <div class="d-flex justify-content-center">
            <u style="color: #01A37E;">
                <h2 class="row_heading">Employment Pack Checklist</h2>
            </u>
        </div>

        <!-- Checklist Items -->
        <div class="main">

            <div class="row" *ngFor="let item of checklist; let i = index" style="margin-top: 25px;">
                <div class="col-3" style="text-align: right;">{{ i + 1 }}.</div>
                <div class="col-5">
                    <div class="row">
                        <label class="form-check-label" style="font-weight: 400;">{{ item.label }}</label>
                    </div>
                </div>
                <div class="col-4">
                    <div class="row">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" [checked]="item.checked" (change)="onCheckboxChange(i)">
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="flex justify-content-center" style="margin-bottom: 2rem;">
        <button type="button" class="btn btn-success m-1" (click)="makePdf()"
            *ngIf="this.global.admin && this.global.admin.admin_user_type === 'super-admin'">Save pdf</button>
        <button type="button" class="btn btn-success m-1" (click)="save()">Submit</button>
    </div>
</div>