app-form{
    width: 100 !important;
}
:host{
    width: 100% !important;
    height: 100% !important;
}
.wrap_form{
    width: 100%;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    // padding: 62px 105px 90px;
    // background-color: #e6e6e6;
    background-color: white;
}
.form_border{
    background-color: white;
    // background-color: #e6e6e6;
    margin: 62px 62px;
    border: 2px dashed #01A37E;
    outline:2px dashed #01A37E;
    outline-offset:-10px;
}
.main{
    padding: 60px 70px 60px;  
}
.row_heading{
    text-align: center;
    color: #01A37E;
}
.form-check-input{
    border: 1px solid black;
}
