<div class="modal-header">
    <h4 class="modal-title">{{title}}</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="dismiss()"></button>
</div>
<div class="modal-body p-0 my-3">
    <div class="row mx-2">
        <div class="col-6">
            <div class="row">
                <mat-form-field class="fuse-mat-rounded state">
                    <mat-select [placeholder]="'Select state...'" #state (selectionChange)="getState(state.value)">
                        <mat-option *ngFor="let state of states" [value]="state">{{state}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
        <div class="col-6">
            <div class="row">
                <app-select-multiple-customer signleDouble="yes" (selectedCustomer)="receiveDataFromChild($event)"
                    class="select_job_roster" [dataArray]="customers"
                    [placeholderText]="'Select Customers'"></app-select-multiple-customer>
            </div>
        </div>
    </div>
    <div class="row mx-2" style="margin-top: 10px;">
        <app-select-multiple-site (selectedSite)="receiveDataFromChildSite($event)"
            class="select_job_roster site-job-new-roster" [placeholderText]="'Select Sites'"
            [dataArray]="sitesList"></app-select-multiple-site>
    </div>

    <div class="row mx-2" style="margin-top: 10px;">
        <app-select-multiple-guards signleDouble="yes" (selectedUsers)="receiveDataFromGuards($event)"
            [dataArray]="guardList" [placeholderText]="'Select Staff'"></app-select-multiple-guards>
    </div>

</div>
<div class="modal-footer">
    <button type="button" class="btn btn-border-3" (click)="SendEmail()">Send</button>
</div>