<div class="flex flex-col flex-auto min-w-0 main-body-watermark">
    <div class="flex-auto p-6">
        <div class="rounded-2xl common-admin-customer-contractor">
            <mat-card class='light' style="height: 100%;">

                <mat-card-header>
                    <mat-card-title class="view-card-title">
                        <h1>{{pageTitle }}</h1>
                    </mat-card-title>
                </mat-card-header>
                <mat-toolbar class="primary">
                    <mat-toolbar-row>
                        <button mat-mini-fab style="margin-right:10px; background-color:#e07c9e"
                        (click)="createAdmin('new')">
                            <mat-icon>add</mat-icon>
                        </button>
                        <button mat-mini-fab style="margin-right:10px; background-color:darkgray" (click)="reset()">
                            <mat-icon>refresh</mat-icon>
                        </button>
                        <span class="title-spacer"></span>
                        <mat-form-field appearance="standard" class="search-form-fileld">
                            <mat-label>Filter</mat-label>
                            <input matInput (keyup)="applyFilter($event.target.value)">
                            <mat-icon>filter_list</mat-icon>
                        </mat-form-field>

                    </mat-toolbar-row>
                </mat-toolbar>

                <mat-table #table [dataSource]="dataSource" matSort>
                    <ng-container matColumnDef="name">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
                        <mat-cell *matCellDef="let customer"> {{customer.name}} </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="email">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> Email </mat-header-cell>
                        <mat-cell *matCellDef="let customer"> {{customer.email}} </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="phone">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> Phone </mat-header-cell>
                        <mat-cell *matCellDef="let customer"> {{customer.phone}} </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="id">
                        <mat-header-cell *matHeaderCellDef style="justify-content:right;">
                            <!-- <button mat-button style="color:white; background-color:darkgrey" (click)="resetListFilter()">Reset</button> -->
                        </mat-header-cell>
                        <mat-cell *matCellDef="let customer" style="justify-content:right;">
                            <button mat-mini-fab style="background-color:teal; min-height: 30px;   margin: 5px;"
                                 (click)="createAdmin(customer.id)">
                                <mat-icon>edit</mat-icon>
                            </button>
                            <button mat-mini-fab style="background-color:lightblue; min-height: 30px;  margin: 5px;"
                                (click)="openDialog(customer.id)">
                                <mat-icon>delete</mat-icon>
                            </button>
                        </mat-cell>
                    </ng-container>
                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                </mat-table>
                <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[5, 10]">
                </mat-paginator>
            </mat-card>
            <!-- </mat-sidenav-container> -->

        </div>
    </div>
</div>