////////////////calener nav///////////////////////
$primary-color: var(--primary_color, #01A37E);
$color-secondary: var(--color-secondary, #1e293c);
$color-light-button: var(--color-light-button, #01a37e2e);

.mat-menu-item {
    height: 33px !important;
}

.calender-main {
    box-shadow: 0 2px 17px rgb(30 30 30 / 5%);
    border-radius: var(--br-2xl);

    .row {
        margin: 0;
    }
}

.container-nav {
    display: flex;
    position: relative;
    padding: 25px 13px;

    .dog_selection {
        width: 100%;

        span {
            margin: 5px;
        }

        .select_job_roster {
            margin-top: 4px;
            margin-right: 6px;
            min-width: 11rem;
        }
    }

    .site_guard {
        background-color: transparent !important;
        font-size: 17px;
        margin-right: 13px;
    }

    .mat-chip {
        background-color: $color-light-button !important;
        padding: 0 4px;
        cursor: pointer;
        height: 36px;

    }

    .publish_site_color {
        background-color: $primary-color !important;
        color: #ffffff !important;
        padding: 0 11px;
    }

    .add-site-btn {
        background-color: #074677 !important;
        color: #ffffff !important;
        padding: 0 11px;
    }
}


.mat-standard-chip {
    border-radius: 5px;
    padding: 7px 4px;
    margin: 5px !important;
}

mat-form-field {
    // width: 15%;
    margin-right: 4px;
    margin: 5px;
}


.p {
    font-size: 12px;
    padding: 0 14px;
}

.px-3 {
    margin: 0;
    margin-top: 5px;
    font-weight: 600;
}

.mat-option {
    height: 2, 5rem !important;
}


////Media Query For Column in Roster////////////////////
@media only screen and (min-width: 768px) {

    /* For mobile phones: */
    .col-width {
        width: 11% !important;
        padding: 16px 4px;
        border: 1px solid #f2f2f2;
    }
}


.mat-form-field-infix {
    padding: 0 !important;
}

.date_left_right {
    cursor: pointer;
}

svg {
    height: 50% !important;
    width: 50% !important;
}



.some-space {
    margin-top: 4px
}


.user-details-cal {
    align-items: center;
    display: flex;

    img {
        width: 50px;
        height: 50px;
    }

    .user-name-contact {
        padding: 0 13px;

        p {
            margin: 0;
        }
    }
}


.user-type {
    min-width: 20%;

    ul {
        position: absolute;
        display: flex;
        align-items: center;

        li {
            cursor: pointer;
            font-weight: 500;
            margin: 0 11px;
            color: #063E69;
            position: relative;
            width: 10vh;
            transition: .3s ease-in-out;
        }

        li:hover {
            border-bottom: 2px solid;
            border-color: $primary-color;
            transition: 0.3s ease-in-out;
        }
    }
}


.active {
    border-bottom: 2px solid;
    border-color: $primary-color;
    transition: 0.3s ease-in-out;
}


.red-row {
    background-color: #FFDADA !important;
    ;
    color: var(--color-white) !important;
}



table {
    width: 100%;
}

tr.example-detail-row {
    height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
    background: #777;
}

tr.example-element-row:not(.example-expanded-row):active {
    background: #efefef;
}

.example-element-row td {
    border-bottom-width: 0;
}

.example-element-detail {
    overflow: hidden;
    display: flex;
}

.example-element-diagram {
    min-width: 80px;
    border: 2px solid black;
    padding: 8px;
    font-weight: lighter;
    margin: 8px 0;
    height: 104px;
}

.example-element-symbol {
    font-weight: bold;
    font-size: 40px;
    line-height: normal;
}

.example-element-description {
    padding: 16px;
}

.example-element-description-attribution {
    opacity: 0.5;
}

.inner-table {
    width: 100%;
}

.inner-table mat-form-field {
    margin-top: 15px;
    width: 100%;
}


.disabled-copied {
    pointer-events: none;
    opacity: .5;
}

.portal-colors-sign {
    display: flex;
    gap: 1.5rem;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
}

.custom-cta-btn {
    background: #063E69;
    border: 1px solid #2998ff;
    color: #fff;
    box-shadow: 0 5px 8px 0 rgb(41 152 255 / 21%);
    white-space: nowrap;
    height: 40px;
    font-size: 15px;
    position: relative;
    text-align: center;
    padding: 0 16px;
    line-height: 0;
    background: #fff;
    border: 1px solid #d9d9d9;
    border-radius: 20px;
    color: #2998ff;
    display: flex;
    align-items: center;
    white-space: nowrap;
    cursor: pointer;
    width: 30%;
    margin: auto;
    letter-spacing: 0.64px;
}

#map {
    width: 100%;
}

.nav {
    display: flex;
    padding: 15px 25px;
    box-shadow: 0 2px 17px rgb(30 30 30 / 5%);
    background-color: rgba(var(--fuse-bg-card-rgb), var(--tw-bg-opacity)) !important;
    border-radius: var(--br-2xl);
}

.disabled {
    pointer-events: none;
    color: #ccc;
}

.search-here {
    border: 1px solid rgba(151, 141, 141, 0.516);
    border-radius: 5px;
    height: 38px;
    display: flex;
    align-items: center;

    input {
        position: relative;
    }
}

.stats-color {
    display: flex;
    justify-content: space-around;

    .color {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .box {
        height: 20px;
        width: 15px;
    }

    p {
        font-size: 12px;
    }
}

.roster-color-card {
    width: 100%;
    height: 70px;
    border-radius: 4px;
    // background: #212121;
    display: flex;
    gap: 5px;
    padding: .4em;
}

.roster-color-card p {
    height: 100%;
    overflow: hidden;
    cursor: pointer;
    border-radius: 2px;
    transition: all .5s;
    border: 1px solid #ff5a91;
    font-size: 14px;
    text-align: center;
}


.roster-color-card p span {
    padding: .5em;
    text-align: center;
    transform: rotate(-90deg);
    transition: all .5s;
    text-transform: uppercase;
    color: #000000;
    letter-spacing: .1em;
}
  
.back-to-top {
    position: fixed;
    bottom: 25px;
    right: 15px;
    padding: 10px 15px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0 2px 6px rgba(0,0,0,0.3);
    z-index: 1000;
  }
  
  .back-to-top:hover {
    background-color: #0056b3;
  }