<div class="main">

    <div class="upper-section " style="position: sticky;top:0px;z-index: 10;background:white">
        <div class="header">

            <div class="modal-header">
                <h4>Employment Details</h4>
                <button type="button" class="btn-close" aria-label="Close" (click)="close('dismiss')"
                    style="margin-right: 20px;"></button>
            </div>
        </div>
        <div class="tabs">

            <ul [ngClass]="tabType">
                <li [ngClass]="{'active': tabType=='Staff Type'}" (click)="getTabType('Staff Type',staff_type)">
                    Residential Status
                </li>
                <li [ngClass]="{'active': tabType=='Work details'}" (click)="getTabType('Work details',Work_details)">
                    Work details
                </li>

                <li [ngClass]="{'active': tabType=='Pay Rates'}" (click)="getTabType('Pay Rates',Pay_Rates)">
                    Pay Rates
                </li>
                <li [ngClass]="{'active': tabType=='Pay Roll'}" (click)="getTabType('Pay Roll',Pay_Roll)">
                    Pay Roll
                </li>

                <li [ngClass]="{'active': tabType=='Working hours'}" (click)="getTabType('Working hours',Working_hours)">
                    Working hours detail
                </li>

                <!-- <li [ngClass]="{'active': tabType=='Work limitation'}" (click)="getTabType('Work limitation',work_limitation_hours)">
                    Exceed Working Hours
                </li> -->
            </ul>
        </div>
    </div>

    <!-- body section  -->

    <div class="body">
        <div class="scrollable">
            <div class="inner-body" (scroll)="onScroll($event)">
                <!-- work detail section  -->
                <form [formGroup]="uploadStaffDocument">
                    <section class="section" #staff_type>
                        <p class="section__title">
                            Residential Status
                        </p>
                        <div class="section_content">
                            <div class="row">
                                <mat-form-field appearance="outline" class="w-100">
                                    <mat-label>Residential Status</mat-label>
                                    <mat-select formControlName="guard_document_type">
                                        <mat-option value="student_visa">Student Visa</mat-option>
                                        <mat-option value="bridging_visa">Bridging Visa</mat-option>
                                        <mat-option value="citizen">Citizen</mat-option>
                                        <mat-option value="permanent_resident">Permanent Residence</mat-option>
                                        <mat-option value="visa_subclass_485">Visa Subclass 485</mat-option>
                                        <mat-option value="other">Other</mat-option>
                                    </mat-select>
                                    <mat-error
                                        *ngIf="uploadStaffDocument.get('guard_document_type').hasError('required')">Residential
                                        status is required*</mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="section_content"
                            *ngIf="uploadStaffDocument.get('guard_document_type').value=='other'">
                            <div class="row">
                                <mat-form-field appearance="outline" class="w-100">
                                    <mat-label>Enter Residential Status</mat-label>
                                    <input matInput formControlName="other_name">
                                    <mat-error
                                        *ngIf="uploadStaffDocument.get('other_name').hasError('required')">Residential
                                        status is required*</mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                    </section>
                    <section class="section" #Work_details>
                        <p class="section__title">
                            Work Details
                        </p>
                        <div class="section_content">
                            <div class="row">
                                <mat-form-field color="accent" appearance="outline" class="col-6">
                                    <mat-label>Hired on</mat-label>
                                    <input matInput [matDatepicker]="picker2" (dateInput)="addEvent('input', $event)"
                                        (dateChange)="addEvent('change', $event)" formControlName="hired_on">
                                    <mat-datepicker-toggle matIconSuffix [for]="picker2"></mat-datepicker-toggle>
                                    <mat-datepicker #picker2 color="primary"></mat-datepicker>

                                    <mat-error *ngIf="uploadStaffDocument.get('hired_on').hasError('dateInvalid')"
                                        class="font-cust">Selected date
                                        cannot be greater than the current date</mat-error>
                                </mat-form-field>

                                <!-- <button  class="col-6 bg-dark text-light">ADD</button> -->
                                <!-- <button mat-raised-button color="warn" (click)="addTraining()">Warn</button> -->
                                <button type="button" class="btn btn-outline-warning col-6 h-100 training-button "
                                    (click)="addTraining()">Add induction</button>
                            </div>
                            <div formArrayName="induction" class="staff_induction">
                                <div class="row induction_border"
                                    *ngFor="let input of induction?.controls; let i = index" [formGroupName]="i">
                                    <span>
                                        <mat-icon style="color: #d75d5d; cursor: pointer;" svgIcon="heroicons_solid:x"
                                            (click)="removeTextArea(input.value,i)"></mat-icon>
                                    </span>
                                    <div class="col-md-4">
                                        <div class="header" *ngIf="!indFileuploaded[i]">
                                            <h6 class="p-2">File</h6>
                                            <div class="image" (click)="uploadImage(i,input)">
                                                <div *ngIf="input.value.loading" class="loader-text">Loading...</div>

                                                <!-- Display image or placeholder when loading is false -->
                                                <!-- <img *ngIf="!input.value.loading"
                                                    onerror='this.src="https://via.placeholder.com/150"'
                                                    [src]="input.value.my_path" alt=""> -->
                                                <img *ngIf="!input.value.loading"
                                                    [src]="input.value.my_path" alt="">

                                                <!-- ngbPopover="Change Avatar!" -->
                                            </div>
                                            <p>(optional)</p>
                                            <p style="margin: 0; font-size: 10px;">(please select other value first then
                                                upload file)</p>
                                            <div *ngIf="loading" class="loader"></div>
                                            <mat-icon class="close-icons" placement="top" ngbTooltip="Remove avatar!"
                                                triggers="mouseenter:mouseleave"
                                                (click)="removeImg('supp',i,input)">close</mat-icon>
                                            <mat-icon class="edit-icons business" placement="right"
                                                ngbTooltip=" Change Avatar!" triggers="mouseenter:mouseleave"
                                                (click)="uploadImage(i,input)">edit</mat-icon>
                                            <!-- <mat-icon class="preivew-icons" svgIcon="mat_outline:remove_red_eye"
                                                ngbTooltip="Preview!" triggers="mouseenter:mouseleave"></mat-icon> -->
                                        </div>
                                        <div class="d-flex w-100" *ngIf="indFileuploaded[i]">
                                            <div class="row pb-1 mt-1 d-flex w-100"
                                                style="height: 170px;align-items: center;">
                                                <div class="col-8">
                                                    <button (click)="viewFiles(input.value.my_path)" mat-button
                                                        color="accent"><mat-icon
                                                            svgIcon="mat_outline:attach_file"></mat-icon>{{ indFileName
                                                        }}</button>
                                                </div>
                                                <div class="col-4">
                                                    <mat-icon (click)="handleFileInputs(i)"
                                                        style="width:25px;height:25px"
                                                        svgIcon="mat_outline:drive_file_rename_outline"></mat-icon>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-8 induction_row">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <mat-form-field appearance="outline" class="mat-width">
                                                    <mat-label>Customer Name</mat-label>
                                                    <mat-select #selectedValue formControlName="customer"
                                                        (selectionChange)="getSelectedValue(selectedValue.value,i)">
                                                        <mat-option *ngFor="let cus of customerList" [value]="cus.id">
                                                            {{ cus?.name }}
                                                        </mat-option>
                                                    </mat-select>
                                                </mat-form-field>
                                            </div>

                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <mat-form-field appearance="outline" class="mat-width">
                                                    <mat-label>Location Name</mat-label>
                                                    <mat-select formControlName="site">
                                                        <!-- <mat-option *ngIf="sites=='null'" disabled>No Site</mat-option> -->
                                                        <mat-option *ngFor="let site of siteList[i]" [value]="site.id">
                                                            {{ site?.site_name }}
                                                        </mat-option>
                                                    </mat-select>
                                                </mat-form-field>
                                            </div>
                                            <div class="col-md-6">
                                                <mat-form-field appearance="outline" class="mat-width">
                                                    <mat-label>Status</mat-label>
                                                    <mat-select formControlName="customer_site_status">
                                                        <mat-option value="completed">
                                                            Completed
                                                        </mat-option>
                                                        <mat-option value="not completed">
                                                            Not Completed
                                                        </mat-option>
                                                    </mat-select>
                                                </mat-form-field>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </section>
                    <!-- pay rate section  -->

                    <section class="section" #Pay_Rates>

                        <p class="section__title">
                            Pay Rates
                        </p>

                        <div class="section_content">
                            <div class="row">
                                <mat-form-field appearance="outline" class="col-6">
                                    <mat-label>Pay Rate Level</mat-label>
                                    <mat-select #selectedValue formControlName="job_level"
                                        (selectionChange)="getPayrate(selectedValue.value)">
                                        <mat-option *ngFor="let level of payrate_level" [value]="level.value">
                                            {{level?.value}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>

                                <mat-form-field appearance="outline" class="col-6">
                                    <mat-label>State</mat-label>
                                    <mat-select #selectedState formControlName="payrate_state"
                                        (selectionChange)="sendState(selectedState.value)">
                                        <mat-option *ngFor="let state of states" [value]="state.name">
                                            {{ state?.name }}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>

                                <mat-form-field appearance="outline" class="">
                                    <mat-label>Pay Rates</mat-label>
                                    <mat-select formControlName="payrate">
                                        <ng-container *ngIf="payrates.length>0;else noRates">
                                            <mat-option *ngFor="let rate of payrates" [value]="rate.id">
                                                {{ rate.title }}
                                            </mat-option>
                                        </ng-container>
                                        <ng-template #noRates>
                                            <mat-option>
                                                Not Found
                                            </mat-option>
                                        </ng-template>

                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                    </section>

                    <!-- pay roll section  -->

                    <section class="section" #Pay_Roll>

                        <p class="section__title">
                            Pay Roll
                        </p>

                        <div class="section_content">
                            <div class="row">
                                <div class="col-6">
                                    <p class="fw-bold">TFN</p>
                                    <div class="tfn_section">
                                        <div class="header file-head" *ngIf="!tfnfileuploaded">
                                            <h6 class="p-2">File</h6>
                                            <div class="image" (click)="uploadImages('tfn')">
                                                <!-- <img onerror='this.src="https://via.placeholder.com/150"'
                                                    [src]="tfn_file" alt=""> -->
                                                <!-- ngbPopover="Change Avatar!" -->
                                                <div *ngIf="tfnLoading" class="loader-text">Loading..</div>
                                                <!-- <img *ngIf="!tfnLoading"
                                                    onerror='this.src="https://via.placeholder.com/150"'
                                                    [src]="tfn_file" alt=""> -->
                                                <img *ngIf="!tfnLoading"
                                                    [src]="tfn_file" alt="">
                                            </div>
                                            <p class="file-head">(optional)</p>
                                            <mat-icon class="close-icons" placement="top" ngbTooltip="Remove avatar"
                                                triggers="mouseenter:mouseleave"
                                                (click)="removeImg('tfn')">close</mat-icon>
                                            <mat-icon class="edit-icons business" placement="right"
                                                ngbTooltip="Change Avatar!" triggers="mouseenter:mouseleave"
                                                (click)="uploadImages('tfn')">edit</mat-icon>
                                            <!-- <mat-icon class="preivew-icons" svgIcon="mat_outline:remove_red_eye"
                                                ngbTooltip="Preview!" triggers="mouseenter:mouseleave"></mat-icon> -->
                                        </div>
                                        <div class="d-flex w-100" *ngIf="tfnfileuploaded">
                                            <div class="row pb-1 mt-1 d-flex w-100"
                                                style="height: 150px;align-items: center;">
                                                <div class="col-8 p-0">
                                                    <button (click)="viewFiles(tfn_file_img)" mat-button
                                                        color="accent"><mat-icon
                                                            svgIcon="mat_outline:attach_file"></mat-icon>{{ tfnFileName
                                                        }}</button>
                                                </div>
                                                <div class="col-4 p-0">
                                                    <mat-icon (click)="handleFileInput('tfn')"
                                                        style="width:25px;height:25px"
                                                        svgIcon="mat_outline:drive_file_rename_outline"></mat-icon>
                                                </div>
                                            </div>
                                        </div>
                                        <mat-form-field appearance="outline" style="width: 100%;"
                                            class="mat-width tfn-field">
                                            <mat-label>TFN</mat-label>
                                            <input matInput formControlName="tfn_file_no">
                                            <mat-error
                                                *ngIf="uploadStaffDocument.get('tfn_file_no').hasError('required')">TFN
                                                is required*</mat-error>
                                            <mat-error
                                                *ngIf="uploadStaffDocument.get('tfn_file_no').hasError('digit')">It must
                                                be a number*</mat-error>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <p class="fw-bold">Superannutation</p>
                                    <div class="tfn_section">
                                        <div class="header" *ngIf="!suppfileuploaded">
                                            <h6 class="p-2 file-head">File</h6>
                                            <div class="image" (click)="uploadImages('supp')">
                                                <!-- <img onerror='this.src="https://via.placeholder.com/150"'
                                                    [src]="superannutation_file" alt=""> -->
                                                <!-- ngbPopover="Change Avatar!" -->

                                                <div *ngIf="suppLoading" class="loader-text">Loading..</div>
                                                <!-- <img *ngIf="!suppLoading"
                                                    onerror='this.src="https://via.placeholder.com/150"'
                                                    [src]="superannutation_file" alt=""> -->
                                                <img *ngIf="!suppLoading"
                                                    [src]="superannutation_file" alt="">
                                            </div>
                                            <p class="file-head">(optional)</p>
                                            <mat-icon class="close-icons" placement="top" ngbTooltip=" Remove avatar!"
                                                triggers="mouseenter:mouseleave"
                                                (click)="removeImg('supp')">close</mat-icon>
                                            <mat-icon class="edit-icons business" placement="right"
                                                ngbTooltip="Change Avatar!" triggers="mouseenter:mouseleave"
                                                (click)="uploadImages('supp')">edit</mat-icon>
                                            <!-- <mat-icon class="preivew-icons" svgIcon="mat_outline:remove_red_eye"
                                                ngbTooltip="Preview!" triggers="mouseenter:mouseleave"></mat-icon> -->
                                        </div>
                                        <div class="d-flex w-100" *ngIf="suppfileuploaded">
                                            <div class="row pb-1 mt-1 d-flex w-100"
                                                style="height: 150px;align-items: center;">
                                                <div class="col-8 p-0">
                                                    <button class="p-0" (click)="viewFiles(superannutation_file)"
                                                        mat-button color="accent"><mat-icon
                                                            svgIcon="mat_outline:attach_file"></mat-icon>{{ suppFileName
                                                        }}</button>
                                                </div>
                                                <div class="col-4 p-0">
                                                    <mat-icon (click)="handleFileInput('supp')"
                                                        style="width:25px;height:25px"
                                                        svgIcon="mat_outline:drive_file_rename_outline"></mat-icon>
                                                </div>
                                            </div>
                                        </div>

                                        <mat-form-field appearance="outline" style="width: 100%;"
                                            class="mat-width tfn-field">
                                            <mat-label>Superannutation Name</mat-label>
                                            <input matInput formControlName="superannutation_name">
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <p class="fw-bold">Superannutation</p>
                                <mat-form-field appearance="outline" class="col-md-12">
                                    <mat-label>Superannutation Number</mat-label>
                                    <input matInput formControlName="superannutation_no">
                                    <mat-error
                                        *ngIf="uploadStaffDocument.get('superannutation_no').hasError('required')">Superannutation
                                        is required*</mat-error>
                                    <mat-error
                                        *ngIf="uploadStaffDocument.get('superannutation_no').hasError('digit')">It
                                        must be a number*</mat-error>
                                </mat-form-field>
                            </div>

                            <div class="row">
                                <p class="fw-bold">ABN</p>
                                <mat-form-field appearance="outline" class="col-md-12">
                                    <mat-label>ABN Number</mat-label>
                                    <input matInput formControlName="abn_no">
                                    <mat-error *ngIf="uploadStaffDocument.get('abn_no').hasError('required')">ABN no is
                                        required*</mat-error>
                                    <mat-error *ngIf="uploadStaffDocument.get('abn_no').hasError('digit')">It must be a
                                        number</mat-error>
                                </mat-form-field>
                            </div>

                            <div class="row">
                                <p class="fw-bold">Bank Detail</p>
                                <mat-form-field appearance="outline" class="col-md-6">
                                    <mat-label>Account Holder Name</mat-label>
                                    <input matInput formControlName="account_holder">
                                </mat-form-field>

                                <mat-form-field appearance="outline" class="col-6">
                                    <mat-label>Bank Name</mat-label>
                                    <input matInput formControlName="bank_name">
                                    <!-- <mat-error *ngIf="uploadStaffDocument.get('bank_name').hasError('required')">Bank
                                        name is required*</mat-error>
                                    <mat-error *ngIf="uploadStaffDocument.get('bank_name').hasError('alphabet')">It must
                                        be alphabets*</mat-error> -->
                                </mat-form-field>

                                <mat-form-field appearance="outline" class="col-6">
                                    <mat-label>BSB</mat-label>
                                    <input matInput formControlName="bsb">
                                    <!-- <mat-error *ngIf="uploadStaffDocument.get('bsb').hasError('required')">BSB number is
                                        required*</mat-error>
                                    <mat-error *ngIf="uploadStaffDocument.get('bsb').hasError('sixDigit')">Please enter
                                        exactly six digits*</mat-error> -->
                                </mat-form-field>

                                <mat-form-field appearance="outline" class="col-6">
                                    <mat-label>Bank account number</mat-label>
                                    <input matInput formControlName="bank_account_no">
                                    <!-- <mat-error
                                        *ngIf="uploadStaffDocument.get('bank_account_no').hasError('required')">Account
                                        no is required*</mat-error>
                                    <mat-error *ngIf="uploadStaffDocument.get('bank_account_no').hasError('digit')">It
                                        must be a number</mat-error> -->
                                </mat-form-field>
                            </div>
                        </div>
                    </section>

                    <!-- Guard work limitations  section  -->
                    <section class="section" #Working_hours>

                        <p class="section__title">
                            Working Hours Limitations
                        </p>

                        <div class="section_content">
                            <div class="row d-flex align-content-center" style="align-items: center;">
                                <!-- <mat-form-field appearance="outline" class="col-3"> -->
                                <!-- <mat-slide-toggle (change)="onToggleChange($event)"
                                    formControlName="work_hours_limitation_status" class="col-2"
                                    color="primary">Status</mat-slide-toggle> -->
                                <!-- </mat-form-field> -->
                                <mat-form-field appearance="outline" class="col-5">
                                    <mat-label> Weekly Work Limitation Hours</mat-label>
                                    <input matInput formControlName="weekly_work_hours_limitation" readonly>
                                    <mat-error
                                        *ngIf="uploadStaffDocument.get('weekly_work_hours_limitation').hasError('pattern')">It
                                        must be a number</mat-error>
                                </mat-form-field>
                                <!-- <mat-form-field appearance="outline" class="col-5">
                                    <mat-label>Authorized By</mat-label>
                                    <input matInput formControlName="authorized">

                                </mat-form-field> -->
                            </div>
                            <p class="fw-bold" style="margin:12px 0px ">Letter from Educational Institute</p>
                            <div class="header Educational-header row">
                                <div *ngIf="!fileuploaded" class="col-12"
                                    formControlName="letter_from_educational_institute">
                                    <!-- <label for="formFile" class="form-label">Job Instrcutions File</label> -->
                                    <input class="form-control" type="file" (change)="uploadEducationalFiles($event)"
                                        id="formFile" placeholder=" Upload Letter from Educational Institute File"
                                        accept=".pdf">
                                </div>
                                <div class="col-6" *ngIf="fileuploaded">
                                    <div class="row pb-1 mt-1 d-flex">
                                        <div class="col-8">
                                            <button (click)="viewFile()" mat-button color="accent"><mat-icon
                                                    svgIcon="mat_outline:attach_file"></mat-icon>{{
                                                educational_letter_name
                                                }}</button>
                                        </div>
                                        <div class="col-4">
                                            <mat-icon (click)="handleFileInput()" style="width:25px;height:25px"
                                                svgIcon="mat_outline:drive_file_rename_outline"></mat-icon>
                                        </div>
                                    </div>
                                </div>

                                <p style="margin-top: 7px;
                                        text-align: end;
                                        font-size: 10px;"><span style="color:red">*</span>Only pdf file will be allowed
                                </p>
                            </div>

                            <!-- href="this.fromParentEmployeeDetail.letter_from_educational_institute" -->
                            <a class="file"
                                (click)="openPdf(this.fromParentEmployeeDetail?.letter_from_educational_institute)">{{this.fromParentEmployeeDetail?.letter_from_educational_institute?'View
                                Letter from Educational Institute':'No Letter is Uploaded yet!'}} </a>

                        </div>
                    </section>

                    <section class="section" #work_limitation_hours *ngIf="uploadStaffDocument.get('guard_document_type')?.value === 'student_visa'">
                        <p class="section__title">Exceed Working Hours</p>
                        <mat-checkbox color="primary" formControlName="limit_exceed" (change)="onExceedCheckboxChange($event.checked)">Want to exceed working hours</mat-checkbox>
                        <div class="section_content" *ngIf="uploadStaffDocument.get('limit_exceed')?.value">
                            <div class="row">
                                <mat-form-field color="accent" appearance="outline" class="col-6">
                                    <mat-label>Start Date</mat-label>
                                    <input matInput [matDatepicker]="picker1" (dateInput)="addEvent('input', $event)" formControlName="start_time" (dateChange)="addEvent('change', $event)">
                                    <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
                                    <mat-datepicker #picker1 color="primary"></mat-datepicker>
                                </mat-form-field>
                                <mat-form-field color="accent" appearance="outline" class="col-6">
                                    <mat-label>End Date</mat-label>
                                    <input matInput [matDatepicker]="picker3" (dateInput)="addEvent('input', $event)" formControlName="end_time"(dateChange)="addEvent('change', $event)">
                                    <mat-datepicker-toggle matIconSuffix [for]="picker3"></mat-datepicker-toggle>
                                    <mat-datepicker #picker3 color="primary"></mat-datepicker>
                                </mat-form-field>
                                <mat-form-field appearance="outline" class="col-12">
                                    <mat-label>Otp</mat-label>
                                    <input matInput formControlName="otp">
                                </mat-form-field>
                            </div>
                            <div class="header Educational-header row">
                                <div *ngIf="!filelimituploaded" class="col-12" formControlName="letter_url">
                                    <input class="form-control" type="file" id="exceedFile" placeholder=" Upload File" accept=".pdf" (change)="uploadLimitFile($event)">
                                </div>
                                <div class="col-6" *ngIf="filelimituploaded">
                                    <div class="row pb-1 mt-1 d-flex">
                                        <div class="col-8">
                                            <button (click)="viewExceedFile()" mat-button color="accent">
                                                <mat-icon svgIcon="mat_outline:attach_file"></mat-icon>
                                                {{limit_exceed_file_name}}
                                            </button>
                                        </div>
                                        <div class="col-4">
                                            <mat-icon (click)="handleFileInput()" style="width:25px;height:25px" svgIcon="mat_outline:drive_file_rename_outline"></mat-icon>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <a class="file" *ngIf="this.fromParentEmployeeDetail?.letter_url" (click)="openPdf(this.fromParentEmployeeDetail?.letter_url)" style="margin-top: 5px; background-color:#FFDB58; padding:5px;">
                                View Letter
                            </a>
                        </div>
                    </section>
                </form>

            </div>
            <div style="display:flex;justify-content: center;align-items:center;    margin-top: 12px;">
                <button class="btn btn-border-3" type="submit"
                    [disabled]="stafffPermissions && !stafffPermissions.update"
                    (click)="onFormSubmit(uploadStaffDocument.value)">Save</button>
            </div>
        </div>
    </div>
</div>
<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="default" color="#fff" type="line-spin-fade-rotating">
    <p style="color: white">Please Wait...</p>
</ngx-spinner>