<div class="w-100 creat-quotation-page">
    <div class="container my-2">
        <form novalidate [formGroup]="customerForm">
            <div class="flex flex-row" style="justify-content: space-between;">
                <div class="text" style="margin-top: 15px;">
                    {{ customerForm.value.financial_type=='invoice'? 'Invoice': 'Quote ' }} Information
                </div>
                <div class="dropdown">
                    <mat-form-field appearance="outline">
                        <mat-label>Financial Type</mat-label>
                        <mat-select formControlName="financial_type"
                            (selectionChange)="onSelectionChange($event.value)">
                            <mat-option value="quote">Quote</mat-option>
                            <mat-option value="invoice">Invoice</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <!-- <form novalidate (ngSubmit)="saveCustomer()" [formGroup]="customerForm"> -->
            <div class="form-row">
                <div class="input-data">
                    <input type="text" formControlName="qut_owner" readonly>
                    <div class="underline"></div>
                    <label for="">Quote Owner</label>
                </div>
                <div class="input-data">
                    <input type="text" formControlName="deal_name">
                    <div class="underline"></div>
                    <label for="">Deal Name</label>
                </div>
            </div>
            <div class="form-row">
                <div class="input-data">
                    <input type="text" formControlName="subject">
                    <div class="underline"></div>
                    <label for="">Subject</label>
                    <!-- <div *ngIf="submitted && f.subject.errors" class="custom-error">
                        <div *ngIf="f.subject.errors.required">Subject date is required*</div>
                    </div> -->
                </div>
                <div class="input-data">
                    <input type="date" formControlName="valid">
                    <div class="underline"></div>
                    <label for="">{{ customerForm.value.financial_type=='invoice'? 'Due Date': 'Valid Until' }}</label>
                    <div *ngIf="submitted && f.valid.errors" class="custom-error">
                        <div *ngIf="f.valid.errors.required">Valid date is required*</div>
                    </div>
                </div>
            </div>

            <div class="form-row">
                <div class="input-data">
                    <input type="text" formControlName="team">
                    <div class="underline"></div>
                    <label for="">Team</label>
                </div>
                <div class="input-data">
                    <input type="text" formControlName="account_name">
                    <div class="underline"></div>
                    <label for="">Account Name</label>
                </div>
            </div>
            <div class="form-row">
                <!-- <div class="input-data">
                    <input type="text" formControlName="carrier">
                    <div class="underline"></div>
                    <label for="">Carrier</label>
                </div> -->
                <!-- <div class="input-data">
                    <select class="form-select p-0 custom-select" formControlName="company">
                        <option value="euro_travel">Euro Travel</option>
                        <option value="anz_global">ANZ global</option>
                    </select>
                    <label>Company</label>
                    <div *ngIf="submitted && f.company.errors" class="custom-error">
                        <div *ngIf="f.company.errors.required">Company is required*</div>
                    </div>
                </div> -->
                <div class="input-data">
                    <select class="form-select p-0 custom-select" formControlName="currency">
                        <option value="AUD">AUD</option>
                        <option value="USD">USD</option>
                        <option value="EUR">EUR</option>
                        <option value="GBP">GBP </option>
                        <option value="NZD">NZD </option>
                        <option value="AED">AED</option>
                    </select>
                    <label>Currency</label>
                    <div *ngIf="submitted && f.currency.errors" class="custom-error">
                        <div *ngIf="f.currency.errors.required">Currency is required*</div>
                    </div>
                </div>

                <div class="input-data" *ngIf="customerForm.value.financial_type=='invoice'">
                    <input type="number" formControlName="abn">
                    <div class="underline"></div>
                    <label for="">ABN</label>
                    <div *ngIf="submitted && f.abn.errors" class="custom-error">
                        <div *ngIf="f.abn.errors.required">ABN is required*</div>
                    </div>
                    <div *ngIf="submitted && customerForm.get('abn').hasError('invalidAbn')" class="custom-error">
                        <div>ABN is required and must be 11 digits.</div>
                    </div>
                </div>
            </div>

            <!-- <div class="form-row">
                <div class="input-data">
                    <select class="form-select p-0" formControlName="financial_type">
                        <option value="quote">Quote</option>
                        <option value="invoice">Invoice</option>
                    </select>
                    <label>Financial Type</label>
                    <div *ngIf="submitted && f.financial_type.errors" class="custom-error">
                        <div *ngIf="f.financial_type.errors.required">Type is required*</div>
                    </div>
                </div>
            </div> -->

            <div class="form-row">
                <mat-form-field class="form-field  quotation-fields">
                    <mat-label class="custom-mat-label">Contact Name</mat-label>
                    <mat-select name="item" formControlName="contacted_id" (selectionChange)="getAddress($event)"
                        [disabled]="disableContact">
                        <mat-option *ngFor="let item of contacted" [value]="item.id">
                            {{item.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <!-- <div *ngIf="submitted && f.contacted_id.errors" class="custom-error ml-3 mt-2">
                    <div *ngIf="f.contacted_id.errors.required">Contact is required*</div>
                </div> -->
            </div>
        </form>
    </div>

    <div class="container my-2">
        <div class="text">
            Address Information
        </div>
        <form novalidate [formGroup]="customerForm">
            <div class="form-row">
                <div class="input-data">
                    <input type="text" formControlName="bill_street" readonly>
                    <div class="underline"></div>
                    <label for="">Billing Street</label>
                    <div *ngIf="submitted && f.bill_street.errors" class="custom-error">
                        <div *ngIf="f.bill_street.errors.required">Billing Street is required*</div>
                    </div>
                </div>
                <div class="input-data">
                    <input type="text" formControlName="bill_city" readonly>
                    <div class="underline"></div>
                    <label for="">Billing City</label>
                    <div *ngIf="submitted && f.bill_street.errors" class="custom-error">
                        <div *ngIf="f.bill_street.errors.required">Billing City is required*</div>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="input-data">
                    <input type="text" formControlName="bill_state" readonly>
                    <div class="underline"></div>
                    <label for="">Billing State</label>
                </div>
                <div class="input-data">
                    <input type="text" formControlName="bill_code">
                    <div class="underline"></div>
                    <label for="">Billing Code</label>
                </div>
            </div>
            <div class="form-row">
                <div class="input-data">
                    <input type="text" formControlName="bill_country" readonly>
                    <div class="underline"></div>
                    <label for="">Billing Country</label>
                    <div *ngIf="submitted && f.bill_country.errors" class="custom-error">
                        <div *ngIf="f.bill_country.errors.required">Billing Country is required*</div>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div class="container my-2" *ngIf="customerForm.value.financial_type=='invoice'">
        <div class="text">
            Company Info
        </div>
        <form novalidate [formGroup]="customerForm">
            <div class="form-row">
                <div class="input-data">
                    <input type="text" formControlName="bank_name">
                    <div class="underline"></div>
                    <label for="">Account Name</label>
                    <div *ngIf="submitted && f.bank_name.errors" class="custom-error">
                        <div *ngIf="f.bank_name.errors.required">Account Name is required*</div>
                    </div>
                </div>
                <div class="input-data">
                    <input type="text" formControlName="account_number">
                    <div class="underline"></div>
                    <label for="">Account Number</label>
                    <div *ngIf="submitted && f.account_number.errors" class="custom-error">
                        <div *ngIf="f.account_number.errors.required">Account Number is required*</div>
                    </div>
                </div>
            </div>
            <div class="form-row">

                <div class="input-data">
                    <input type="text" formControlName="bsb">
                    <div class="underline"></div>
                    <label for="">BSB</label>
                    <div *ngIf="submitted && f.bsb.errors" class="custom-error">
                        <div *ngIf="f.bsb.errors.required">BSB is required*</div>
                    </div>
                </div>
            </div>
        </form>
    </div>


    <div class="container my-2">
        <div class="text">
            {{ customerForm.value.financial_type=='invoice'? 'Invoice': 'Quote ' }} Items
        </div>
        <article class="mt-2 quoted-tems">
            <table class="inventory">
                <thead>
                    <tr>
                        <th><span>Product Name</span></th>
                        <th><span>Quantity</span></th>
                        <th><span>List Price</span></th>
                        <th><span>Amount</span></th>
                        <th><span>Total Amount</span></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let row of rows; let i = index">
                        <td>
                            <a class="cut" (click)="onDeleteRowClick(row)">-</a>
                            <input type="text" [(ngModel)]="row.productName" class="w-100">
                            <div class="text-danger" *ngIf="isNameEmpty(row)">{{ row.error }}</div>
                        </td>
                        <td>
                            <input type="number" name="quantity" [(ngModel)]="row.quantity"
                                (ngModelChange)="calculateAmount(row)" step='0.01' value='0.00' placeholder='0.00'
                                min="0" (keydown)="onDiscountKeyDown($event)">
                        </td>
                        <td>
                            <span class="flex" data-prefix>{{ getCurrencySign(customerForm.value.currency) }}
                                <input type="number" class="w-100 ml-1" name="listPrice" [(ngModel)]="row.listPrice"
                                    (ngModelChange)="calculateAmount(row)" (input)="updateFormattedValue(row)"
                                    step='0.01' value='0.00' placeholder='0.00' min="0"
                                    (keydown)="onDiscountKeyDown($event)"></span>
                        </td>

                        <td>
                            <span class="flex" data-prefix>{{ getCurrencySign(customerForm.value.currency) }} <input
                                    type="number" name="amount" class="ml-1" [(ngModel)]="row.amount" disabled></span>
                        </td>
                        <td>
                            <span class="flex" data-prefix>{{ getCurrencySign(customerForm.value.currency) }} <input
                                    type="number" class="ml-1" name="totalAmount" [(ngModel)]="row.totalAmount"
                                    disabled></span>
                        </td>
                    </tr>
                </tbody>
            </table>
            <a class="add" (click)="onAddRowClick()">+</a>
            <table class="balance">
                <tr>
                    <th>
                        <span class="flex">
                            <input class="mr-1" type="checkbox" name="discountCheckbox" id="discountCheckbox"
                                [(ngModel)]="showDiscountInput" (ngModelChange)="onDiscountCheckboxChange()">
                            Discount ({{ getCurrencySign(customerForm.value.currency) }})
                        </span>
                    </th>
                    <td *ngIf="showDiscountInput">
                        <input type="number" class="text-end" name="discountValue" [(ngModel)]="discountValue"
                            (ngModelChange)="onDiscountChange()" (keydown)="onDiscountKeyDown($event)"
                            style="margin-right:5px;" step='0.01' value='0.00' placeholder='0.00' min="0">
                    </td>
                    <td *ngIf="!showDiscountInput">
                        <span data-prefix class="mr-1">{{ getCurrencySign(customerForm.value.currency)
                            }}</span><span>0.00</span>
                    </td>
                </tr>
                <tr>
                    <th><span>Sub Total ({{ getCurrencySign(customerForm.value.currency) }})</span></th>
                    <td>
                        <input data-prefix class="text-end" type="text" [value]="parsePrice(subTotal)" readonly>
                    </td>
                </tr>
                <tr>
                    <th><span class="flex">
                            <input class="mr-1" type="checkbox" name="showGstInput" [(ngModel)]="showGstInput"
                                (ngModelChange)="onGstChange()">
                            GST (10%)
                        </span></th>
                    <td *ngIf="showGstInput">
                        <span>{{ gstAmount }}</span>
                    </td>
                </tr>
                <tr>
                    <th><span>Grand Total ({{ getCurrencySign(customerForm.value.currency) }})</span></th>
                    <td>
                        <span>{{ parsePrice(grandTotal) }}</span>
                    </td>
                </tr>

            </table>
        </article>
        <aside>
            <h1><span>Additional Notes</span></h1>
            <input type="text" class="additionalNotesText" name="additionalNotesText" [(ngModel)]="additionalNotesText">
        </aside>
    </div>

    <div class="container my-2 flex justify-content-end">
        <button class="btn btn-border-3 m-1" (click)="saveCustomer()"> {{customerForm.value.id?
            'Update':'Save'}}</button>
        <button class="btn btn-border-3 m-1" (click)="saveAsPDF()" [disabled]="!customerForm.value.id">Download</button>
    </div>

    <!-- pdf-content -->
    <!-- *ngIf="showPdf" -->
    <div class="invoice-1" *ngIf="showPdf" id="pdf-content">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="invoice-inner clearfix">
                        <div class="invoice-info clearfix" id="invoice_wrapper">
                            <div class="invoice-headar">
                                <div class="row g-0">
                                    <div class="col-sm-6">
                                        <div class="invoice-logo">
                                            <!-- logo started -->
                                            <div class="logo">
                                                <img src="assets/images/logo/scouts.png" alt="logo" />
                                            </div>
                                            <!-- logo ended -->
                                        </div>
                                    </div>
                                    <div class="col-sm-6 invoice-id">
                                        <div class="info">
                                            <h1 class="color-white inv-header-1">
                                                {{ customerForm.value.financial_type=='invoice'? 'Invoice': 'Quote ' }}
                                            </h1>
                                            <p class="color-white mb-1">
                                                <strong> {{ customerForm.value.financial_type=='invoice'? 'Invoice':
                                                    'Quote ' }} Number</strong>
                                                <span>{{ user?.invoice_no }}</span>
                                            </p>
                                            <p class="color-white mb-0">
                                                <strong>Due Date</strong>
                                                <span>{{ user?.valid | date : "dd-MM-yyyy" }}</span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="invoice-top">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="invoice-number"
                                            *ngIf="customerForm.value.financial_type == 'invoice'">
                                            <strong>Bill To:</strong>
                                            {{ user?.lead_address?.name }}<br />
                                            {{ user.bill_street }}
                                            {{ user.bill_city }}<br />
                                            {{ user.bill_state }}
                                            {{ user.bill_code }}, {{ user.bill_country }}<br />
                                        </div>
                                        <div class="invoice-number mb-30"
                                            *ngIf="customerForm.value.financial_type == 'invoice'">
                                            <strong>ABN:</strong>
                                            {{ user?.abn }}
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="invoice-number">
                                            <div class="invoice-number-inner">
                                                <strong>The Scouts: </strong>
                                                <span class="m-0">Overton Road Williams Landing Vic 3027</span>
                                                <br />
                                                <span class="m-0">1300 550 401</span>
                                                <br>
                                                <span mailto:class="m-0">info@thescouts.com.au</span>
                                            </div>
                                        </div>
                                        <div class="invoice-number">
                                            <div class="invoice-number-inner"
                                                *ngIf="customerForm.value.financial_type == 'invoice'">
                                                <strong>Account Name: </strong>
                                                <span class="m-0">{{ company_detail.bank_name }}</span>
                                                <br />
                                                <strong>ACC: </strong>
                                                <span class="m-0">{{ company_detail.account_number }}</span>
                                                <br>
                                                <strong>BSB: </strong>
                                                <span mailto:class="m-0">{{ company_detail.bsb }}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <main>
                                <div class="card">
                                    <div class="card-body p-0">
                                        <div class="table-responsive">
                                            <table class="table mb-0">
                                                <thead class="card-headers">
                                                    <tr>
                                                        <td class="col-5"><strong>Product Name</strong></td>
                                                        <td class="col-1"><strong>Qty</strong></td>
                                                        <td class="col-2 text-center">
                                                            <strong>Unit Price</strong>
                                                        </td>
                                                        <td class="col-2 text-center">
                                                            <strong>Amount</strong>
                                                        </td>
                                                        <td class="col-2 text-end">
                                                            <strong>Total Amount</strong>
                                                        </td>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor="let row of rows; let i = index">
                                                        <td class="col-5">{{ row.productName }}</td>
                                                        <td class="col-1 text-center">
                                                            {{ row.quantity }}
                                                        </td>
                                                        <td class="col-2 text-center">
                                                            {{ row.listPrice }}
                                                        </td>
                                                        <td class="col-2 text-end">{{ row.amount }}</td>
                                                        <td class="col-2 text-end">
                                                            {{ row.totalAmount }}
                                                        </td>
                                                    </tr>
                                                </tbody>
                                                <tfoot class="card-footer">
                                                    <tr>
                                                        <td colspan="4" class="text-end first-column">
                                                            <strong>Discount {{
                                                                getCurrencySign(customerForm.value.currency)
                                                                }}:</strong>
                                                        </td>
                                                        <td class="text-end">{{ discountValue }}</td>
                                                    </tr>
                                                    <tr>
                                                        <td colspan="4" class="text-end first-column">
                                                            <strong>Sub Total {{
                                                                getCurrencySign(customerForm.value.currency)
                                                                }}:</strong>
                                                        </td>
                                                        <td class="text-end">{{ subTotal }}</td>
                                                    </tr>
                                                    <tr>
                                                        <td colspan="4" class="text-end first-column">
                                                            <strong>GST (10%):</strong>
                                                        </td>
                                                        <td class="text-end">{{ gstAmount }}</td>
                                                    </tr>
                                                    <tr>
                                                        <td colspan="4" class="text-end first-column border-bottom-0">
                                                            <strong>Grand Total {{
                                                                getCurrencySign(customerForm.value.currency)
                                                                }}:</strong>
                                                        </td>
                                                        <td class="text-end border-bottom-0">
                                                            {{ grandTotal }}
                                                        </td>
                                                    </tr>
                                                </tfoot>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </main>
                            <footer class="text-center mt-4">
                                <h1><span contenteditable>Additional Notes</span></h1>
                                <hr />
                                <div contenteditable (input)="onAdditionalNotesInput($event)">
                                    <p>{{ additionalNotesText }}</p>
                                </div>
                            </footer>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="default" color="#fff" type="line-spin-fade-rotating">
    <p style="color: white">Loading...</p>
</ngx-spinner>