<div class="flex flex-col flex-auto min-w-0 main-body-watermark">

  <!-- Main -->
  <div class="flex-auto p-6">

    <!-- CONTENT GOES HERE -->
    <div class="rounded-2xl common-admin-customer-contractor mat-field-client">
      <form novalidate (ngSubmit)="saveCustomer()" [formGroup]="customerForm">
        <mat-card>
          <mat-toolbar style="background-color: #FFF">
            <mat-toolbar-row>
              <span class="view-card-title"> {{pageTitle}}</span>
              <span class="title-spacer"></span>
              <mat-card-actions>
                <button mat-mini-fab class="primary" style="margin-right:10px; background-color:darkgray" type="submit">
                  <mat-icon>save</mat-icon>
                </button>
                <button mat-mini-fab class="" style="margin-right:10px; " [routerLink]="backUrl">
                  <mat-icon>cancel</mat-icon>
                </button>

              </mat-card-actions>

            </mat-toolbar-row>
          </mat-toolbar>
          <span class="view-card-title ml-2 my-3">Lead Information</span>

          <mat-card-content style="margin: 5px 0 5 10px;">
            <div class="form-card">
              <mat-grid-list cols="12" rowHeight="80px">
                <mat-grid-tile [colspan]="fieldColspan">
                  <!-- colspan="4"> -->
                  <div class="time-picker-component w-100">
                    <mat-select name="ampm" class="name-title p-3" formControlName="title">
                      <mat-option *ngFor="let title of titles" [value]="title">
                        {{ title }}
                      </mat-option>
                    </mat-select>
                    <mat-form-field appearance="outline" class="time-input ">
                      <mat-label>Name</mat-label>
                      <input matInput id="name" type="text" placeholder="Name (required)" formControlName="name">
                      <mat-error *ngIf="displayMessage.name">
                        {{displayMessage.name}}
                      </mat-error>
                      <mat-error *ngIf="customerForm.get('name').hasError('pattern')">
                        The name must contain at least one alphabet.
                      </mat-error>
                    </mat-form-field>
                  </div>
                </mat-grid-tile>

                <mat-grid-tile [colspan]="fieldColspan">
                  <mat-form-field class="form-field" appearance="outline">
                    <mat-label>Email</mat-label>
                    <input matInput id="email" type="email" placeholder="Email " formControlName="email"
                      [readonly]="status" />
                    <mat-error *ngIf="displayMessage.email">
                      {{displayMessage.email}}
                    </mat-error>
                  </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile [colspan]="fieldColspan">
                  <mat-form-field class="form-field" appearance="outline">
                    <mat-label>Phone</mat-label>
                    <input matInput id="phone" type="text" placeholder="Phone" formControlName="phone"
                      (input)="onPhoneInput($event)" [readonly]="status" />
                    <mat-error *ngIf="displayMessage.phone">
                      {{displayMessage.phone}}
                    </mat-error>
                  </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile [colspan]="fieldColspan">
                  <mat-form-field class="form-field" appearance="outline">
                    <mat-label>Lead Client Name</mat-label>
                    <input type="text" placeholder="Lead Client Name" aria-label="Lead Client Name" matInput
                      formControlName="leaad_client_name" [matAutocomplete]="auto2" (input)="onCustomerInput()">
                    <mat-icon matSuffix>arrow_drop_down</mat-icon>
                    <mat-autocomplete #auto2="matAutocomplete" [displayWith]="displayFn"
                      (optionSelected)="onCustomerSelected($event)">
                      <mat-option *ngFor="let option of filteredCustomers | async" [value]="option">
                        {{ option.name }}
                      </mat-option>
                    </mat-autocomplete>
                  </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile [colspan]="fieldColspan" *ngIf="userBusiness==87">
                  <mat-form-field class="form-field" appearance="outline">
                    <mat-label>Office</mat-label>
                    <mat-select placeholder="Lead Priority" formControlName="company">
                      <mat-option value="euro_travel">Euro Travel</mat-option>
                      <mat-option value="anz_global">ANZ global</mat-option>
                    </mat-select>
                    <mat-error *ngIf="displayMessage.company">
                      {{displayMessage.company}}
                    </mat-error>
                  </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile [colspan]="fieldColspan" *ngIf="userBusiness==87">
                  <mat-form-field class="form-field" appearance="outline">
                    <mat-label>Company</mat-label>
                    <input matInput type="text" placeholder="Company" formControlName="sub_company" />
                    <mat-error *ngIf="displayMessage.sub_company">
                      {{displayMessage.sub_company}}
                    </mat-error>
                  </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile [colspan]="fieldColspan" *ngIf="userBusiness==87">
                  <mat-form-field class="form-field" appearance="outline">
                    <mat-label>Number of travellers</mat-label>
                    <input matInput type="number" placeholder="Number of travellers" formControlName="no_of_traveler" />
                  </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile [colspan]="fieldColspan" *ngIf="userBusiness==87">
                  <mat-form-field class="form-field" appearance="outline">
                    <mat-label>Travel Date</mat-label>
                    <input matInput type="date" placeholder="Travel Date" formControlName="travel_date" />
                  </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile [colspan]="fieldColspan">
                  <mat-form-field class="form-field" appearance="outline">
                    <mat-label>Cost Of Package</mat-label>
                    <input matInput type="number" min="0" placeholder="Cost Of Package"
                      formControlName="booking_expense" />
                  </mat-form-field>
                </mat-grid-tile>

                <!-- <mat-grid-tile [colspan]="fieldColspan"
                  *ngIf="pageTitle!='Create Sale Person' && pageTitle!='Update Sale Person'">
                  <mat-form-field class="form-field" appearance="outline">
                    <mat-label>Company Name</mat-label>
                    <input matInput id="company" type="text" placeholder="Company Name (required)"
                      formControlName="company" />
                    <mat-error *ngIf="displayMessage.company">
                      {{displayMessage.company}}
                    </mat-error>
                  </mat-form-field>
                </mat-grid-tile> -->

                <mat-grid-tile [colspan]="fieldColspan"
                  *ngIf="pageTitle!='Create Sale Person' && pageTitle!='Update Sale Person'">
                  <mat-form-field class="form-field" appearance="outline">
                    <mat-label>Assigned Agent</mat-label>
                    <mat-select placeholder="Select agent" formControlName="saleperson_id">
                      <mat-option *ngFor="let agent of salePerson" [value]="agent.id">
                        {{agent.name}}
                      </mat-option>
                    </mat-select>
                    <mat-error *ngIf="displayMessage.saleperson_id">
                      {{displayMessage.saleperson_id}}
                    </mat-error>
                  </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile [colspan]="fieldColspan">
                  <mat-form-field class="form-field" appearance="outline">
                    <mat-label>Job Title</mat-label>
                    <input matInput id="title" type="text" placeholder="Job title " formControlName="job_title" />
                  </mat-form-field>
                </mat-grid-tile>


                <!-- Lead Source Field -->
                <mat-grid-tile [colspan]="fieldColspan">
                  <mat-form-field class="form-field" appearance="outline">
                    <mat-label>Lead Source</mat-label>
                    <input type="text" matInput [matAutocomplete]="leadAuto" formControlName="lead_source">
                    <mat-icon matSuffix>arrow_drop_down</mat-icon>
                    <mat-autocomplete #leadAuto="matAutocomplete">
                      <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                        {{ option }}
                        <!-- <mat-icon matSuffix class="small-icon"
                          *ngIf="isLeadSourceSelected(option)">check_circle</mat-icon> -->
                      </mat-option>
                    </mat-autocomplete>
                  </mat-form-field>
                </mat-grid-tile>


                <mat-grid-tile [colspan]="fieldColspan">
                  <mat-form-field class="form-field mat-img" appearance="outline">
                    <mat-label>Lead Status</mat-label>
                    <mat-select formControlName="lead_status" (selectionChange)="onOptionSelected($event)">
                      <mat-option selected>Choose one status</mat-option>
                      <mat-option *ngFor="let item of leadStatus" [value]="item.name">{{item.name}}</mat-option>
                    </mat-select>
                    <mat-error *ngIf="displayMessage.lead_status">
                      {{displayMessage.lead_status}}
                    </mat-error>
                  </mat-form-field>
                  <!-- <mat-form-field class="form-field mat-img" appearance="outline">
                    <mat-label>Lead Status</mat-label>
                    <input matInput [matAutocomplete]="auto" formControlName="lead_status">
                    <mat-icon matSuffix>arrow_drop_down</mat-icon>
                    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onOptionSelected($event)">
                      <mat-option *ngFor="let status of filteredStatus | async" [value]="status.name">
                        <div class="dot" [style.backgroundColor]="status.color"></div>
                        <span>{{status.name}}</span>
                        <mat-icon matSuffix class="small-icon" *ngIf="isStatusSelected(status)">check_circle</mat-icon>
                      </mat-option>
                    </mat-autocomplete>
                    <mat-error *ngIf="displayMessage.lead_status">
                      {{displayMessage.lead_status}}
                    </mat-error>
                  </mat-form-field> -->
                </mat-grid-tile>

                <mat-grid-tile [colspan]="fieldColspan">
                  <mat-form-field class="form-field" appearance="outline">
                    <mat-label>Company Size</mat-label>
                    <mat-select placeholder="Rating" formControlName="comp_size">
                      <mat-option value="small">Small</mat-option>
                      <mat-option value="medium">Medium</mat-option>
                      <mat-option value="large">Large</mat-option>
                    </mat-select>
                  </mat-form-field>
                </mat-grid-tile>


                <!-- <mat-grid-tile [colspan]="fieldColspan">
                  <mat-form-field class="form-field" appearance="outline">
                    <mat-label>Industry</mat-label>
                    <input type="text" matInput [matAutocomplete]="industryAuto" formControlName="industry">
                    <mat-icon matSuffix>arrow_drop_down</mat-icon>
                    <mat-autocomplete #industryAuto="matAutocomplete">
                      <mat-option *ngFor="let option of filteredOptionsIndustry | async" [value]="option">
                        {{ option }}
                        <mat-icon matSuffix class="small-icon" *ngIf="isOptionSelected(option)">check_circle</mat-icon>
                      </mat-option>
                    </mat-autocomplete>
                  </mat-form-field>
                </mat-grid-tile> -->

                <mat-grid-tile [colspan]="fieldColspan">
                  <mat-form-field class="form-field" appearance="outline">
                    <mat-label>Industry</mat-label>
                    <input type="text" matInput [matAutocomplete]="industryAuto" formControlName="industry">
                    <mat-icon matSuffix>arrow_drop_down</mat-icon>
                  </mat-form-field>
                  <mat-autocomplete #industryAuto="matAutocomplete" (optionSelected)="onOptionSelectedIndustry($event)">
                    <input type="text" matInput placeholder="Search" class="search-input" formControlName="industry"
                      style="width: 95%; border: none; border-bottom: 1px solid #ccc; padding: 10px; margin-bottom: 5px; margin-top: 5px; outline: none;" />
                    <mat-option *ngFor="let option of filteredOptionsIndustry | async" [value]="option">
                      {{ option }}
                      <mat-icon matSuffix class="small-icon" *ngIf="isOptionSelected(option)">check_circle</mat-icon>
                    </mat-option>
                  </mat-autocomplete>
                </mat-grid-tile>

                <div *ngIf="showOtherIndustry">
                  <mat-grid-tile [colspan]="fieldColspan">
                    <mat-form-field class="form-field" appearance="outline">
                      <mat-label>Other Industry Name</mat-label>
                      <input matInput id="other_industry" type="text" placeholder="Write Industry"
                        formControlName="other_industry" />
                    </mat-form-field>
                  </mat-grid-tile>
                </div>
                <mat-grid-tile [colspan]="fieldColspan">
                  <!-- colspan="4"> -->
                  <mat-form-field class="form-field" appearance="outline">
                    <mat-label>Number of Employees</mat-label>
                    <input matInput id="no_emp" type="number" placeholder="Number of Employees" formControlName="no_emp"
                      min="0" />
                    <mat-error *ngIf="displayMessage.no_emp">
                      {{displayMessage.no_emp}}
                    </mat-error>
                  </mat-form-field>
                </mat-grid-tile>

                <!-- Annual Revenue ($) Field -->
                <mat-grid-tile [colspan]="fieldColspan">
                  <mat-form-field class="form-field" appearance="outline">
                    <mat-label>Expected sales value</mat-label>
                    <mat-select formControlName="annual_revenue" (selectionChange)="onOptionSelectedRevenue($event)">
                      <mat-option selected="true">Choose one option/clear</mat-option>
                      <mat-option *ngFor="let item of revenueOptions" [value]="item.value">{{item.label}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                  <!-- <mat-form-field class="form-field" appearance="outline">
                    <mat-label>Expected sales value</mat-label>
                    <mat-icon matSuffix>arrow_drop_down</mat-icon>
                    <input type="text" matInput [matAutocomplete]="revenueAuto" formControlName="annual_revenue">
                    <mat-autocomplete #revenueAuto="matAutocomplete" (optionSelected)="onOptionSelectedRevenue($event)">
                      <mat-option *ngFor="let option of filteredRevenue | async" [value]="option.value">
                        {{ option.label }}
                        <mat-icon matSuffix class="small-icon"
                          *ngIf="isRevenueSelected(option.value)">check_circle</mat-icon>
                      </mat-option>
                    </mat-autocomplete>
                  </mat-form-field> -->
                </mat-grid-tile>


                <div *ngIf="showManualRevenueInput">
                  <mat-grid-tile [colspan]="fieldColspan">
                    <mat-form-field class="form-field" appearance="outline">
                      <mat-label>Manual expected sales value</mat-label>
                      <input matInput formControlName="manual_revenue" type="number"
                        placeholder="Enter manual expected sales" />
                    </mat-form-field>
                  </mat-grid-tile>
                </div>

                <mat-grid-tile [colspan]="fieldColspan"
                  *ngIf="pageTitle!='Create Sale Person' && pageTitle!='Update Sale Person'">
                  <mat-form-field class="form-field" appearance="outline">
                    <mat-label>Fax</mat-label>
                    <input matInput id="fax" type="text" placeholder="Fax" formControlName="fax" />
                  </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile [colspan]="fieldColspan"
                  *ngIf="pageTitle!='Create Sale Person' && pageTitle!='Update Sale Person'">
                  <mat-form-field class="form-field" appearance="outline">
                    <mat-label>Website</mat-label>
                    <input matInput id="website" type="text" placeholder="Website" formControlName="website" />
                  </mat-form-field>
                </mat-grid-tile>


                <mat-grid-tile [colspan]="fieldColspan">
                  <mat-form-field class="form-field" appearance="outline">
                    <mat-label>Rating</mat-label>
                    <mat-select placeholder="Rating" formControlName="rating">
                      <mat-option value="Acquired">Acquired</mat-option>
                      <mat-option value="Active">Active</mat-option>
                      <mat-option value="Market Failed">Market Failed</mat-option>
                      <mat-option value="Project Cancelled">Project Cancelled</mat-option>
                      <mat-option value="Shut Down">Shut Down</mat-option>
                    </mat-select>
                  </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile [colspan]="fieldColspan"
                  *ngIf="pageTitle!='Create Sale Person' && pageTitle!='Update Sale Person'">
                  <mat-form-field class="form-field" appearance="outline">
                    <mat-label>Skype ID</mat-label>
                    <input matInput id="skype_id" type="text" placeholder="Skype ID" formControlName="skype_id" />
                  </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile [colspan]="fieldColspan"
                  *ngIf="pageTitle!='Create Sale Person' && pageTitle!='Update Sale Person'">
                  <mat-form-field class="form-field" appearance="outline">
                    <mat-label>Secondary Email</mat-label>
                    <input matInput id="secondary_email" type="text" placeholder="Secondary Email"
                      formControlName="secondary_email" />
                  </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile [colspan]="fieldColspan"
                  *ngIf="pageTitle!='Create Sale Person' && pageTitle!='Update Sale Person'">
                  <mat-form-field class="form-field" appearance="outline">
                    <mat-label>Twitter</mat-label>
                    <input matInput id="twitter" type="text" placeholder="Twitter" formControlName="twitter" />
                  </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile [colspan]="fieldColspan">
                  <mat-form-field class="form-field" appearance="outline">
                    <mat-label>Lead Priority</mat-label>
                    <mat-select placeholder="Lead Priority" formControlName="priority">
                      <mat-option value="High">High</mat-option>
                      <mat-option value="Low">Low</mat-option>
                      <mat-option value="Average">Average</mat-option>
                    </mat-select>
                  </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile [colspan]="fieldColspan">
                  <mat-form-field class="form-field" appearance="outline">
                    <mat-label>ABN/ACN</mat-label>
                    <input matInput type="number" placeholder="ABN/ACN" formControlName="abn" min="0" />
                  </mat-form-field>
                </mat-grid-tile>


              </mat-grid-list>

            </div>
          </mat-card-content>

          <span class="view-card-title ml-2 my-3"
            *ngIf="pageTitle!='Create Sale Person' && pageTitle!='Update Sale Person'">Address Information</span>
          <mat-card-content style="margin: 5 0 5 10px;"
            *ngIf="pageTitle!='Create Sale Person' && pageTitle!='Update Sale Person'">
            <div class="form-card">
              <mat-grid-list cols="12" rowHeight="80px">
                <mat-grid-tile [colspan]="fieldColspan" *ngIf="userBusiness!=87">
                  <mat-form-field class="form-field" appearance="outline">
                    <mat-label>Address</mat-label>
                    <input matInput id="address" type="text" placeholder="Address" formControlName="address"
                      ngx-google-places-autocomplete [options]='optionsMap' #placesRef="ngx-places"
                      (onAddressChange)="handleAddressChange($event)" />
                    <!-- <mat-error *ngIf="displayMessage.address">
                      {{displayMessage.address}}
                    </mat-error> -->
                  </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile [colspan]="fieldColspan" *ngIf="userBusiness!=87">
                  <mat-form-field class="form-field" appearance="outline">
                    <mat-label>Street</mat-label>
                    <input matInput id="street" type="text" placeholder="Street" formControlName="street" readonly />
                    <!-- <mat-error *ngIf="displayMessage.street">
                      {{displayMessage.street}}
                    </mat-error> -->
                  </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile [colspan]="fieldColspan">
                  <mat-form-field class="form-field" appearance="outline">
                    <mat-label>City</mat-label>
                    <input matInput id="city" type="city" placeholder="City " formControlName="city" />
                    <!-- <mat-error *ngIf="displayMessage.city">
                      {{displayMessage.city}}
                    </mat-error> -->
                  </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile [colspan]="fieldColspan" *ngIf="userBusiness!=87">
                  <mat-form-field class="form-field" appearance="outline">
                    <mat-label>State</mat-label>
                    <input matInput id="state" type="text" placeholder="State " formControlName="state" />
                    <!-- <mat-error *ngIf="displayMessage.state">
                      {{displayMessage.state}}
                    </mat-error> -->
                  </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile [colspan]="fieldColspan">
                  <mat-form-field class="form-field" appearance="outline">
                    <mat-label>Country</mat-label>
                    <input matInput id="country" type="text" placeholder="Country " formControlName="country" />
                    <!-- <mat-error *ngIf="displayMessage.country">
                      {{displayMessage.country}}
                    </mat-error> -->
                  </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile [colspan]="fieldColspan"
                  *ngIf="pageTitle!='Create Sale Person' && pageTitle!='Update Sale Person' && userBusiness!=87">
                  <mat-form-field class="form-field" appearance="outline">
                    <mat-label>Postal Code</mat-label>
                    <input matInput id="postal_code" type="text" placeholder="Postal code" formControlName="postal_code"
                      readonly />
                    <!-- <mat-error *ngIf="displayMessage.postal_code">
                      {{displayMessage.postal_code}}
                    </mat-error> -->
                  </mat-form-field>
                </mat-grid-tile>

              </mat-grid-list>
            </div>
          </mat-card-content>

          <span class="view-card-title ml-2 my-3"
            *ngIf="pageTitle!='Create Sale Person' && pageTitle!='Update Sale Person'">Description Information</span>
          <mat-card-content style="margin: 5 0 5 10px;"
            *ngIf="pageTitle!='Create Sale Person' && pageTitle!='Update Sale Person'">
            <div class="form-card">
              <mat-grid-list cols="12" rowHeight="80px">
                <mat-grid-tile [colspan]="fieldColspan"
                  *ngIf="pageTitle!='Create Sale Person' && pageTitle!='Update Sale Person'">
                  <mat-form-field class="form-field w-100 p-0 client-description" appearance="outline">
                    <mat-label>Description</mat-label>
                    <input matInput placeholder="What is this about?" formControlName="description">
                  </mat-form-field>
                </mat-grid-tile>
              </mat-grid-list>
            </div>
          </mat-card-content>

          <div style="padding: 15px;" class="row file-drop">
            <div class="dropzone" fileDragDrop (filesChangeEmiter)="onFileChange($event)">
              <div class="text-wrapper">
                <div class="centered">
                  <input type="file" name="file" id="file" (change)="onFileChange($event.target.files)">
                  <label for="file"><span class="textLink">Select your file</span> </label>
                </div>
              </div>
            </div>
            <hr>
            <div class="row fileItem col-6" *ngIf="file" (click)="viewFile(file.url)">
              <div class="col-sm-12 fileItemIconDiv">
                <ng-container *ngIf="checkExtension();else pdf">
                  <img *ngIf="file.preview" [src]="file.preview" class="fileItemIcon" />
                </ng-container>
                <ng-template #pdf>
                  <mat-icon class="icon-size-24 text-hint" [svgIcon]="'heroicons_outline:document'"></mat-icon>
                </ng-template>
              </div>
              <div class="col-sm-12 fileItemText flex justify-content-center align-items-center">
                <span>{{ file.name || 'File' }}</span>
                <span *ngIf="file.preview"><mat-icon svgIcon="heroicons_outline:trash" class="icon-size-5 m-2"
                    (click)="removeFile()"></mat-icon></span>
              </div>
            </div>
          </div>

          <mat-card-content style="margin: 5 0 5 10px;">
            <div class="form-card text-end">
              <button class="btn btn-border-3">Save</button>
            </div>
          </mat-card-content>
        </mat-card>
      </form>
    </div>
  </div>
</div>


<ng-template #addReason let-modal>

  <div class="modal-header">
    <h5 class="modal-title">Add Lost Reason</h5>
    <button type="button" class="close" style="color: white;opacity: 1;" data-dismiss="modal" (click)="close('cancel')"
      aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body my-2">
    <p>
      <span class="badge bg-danger">Loss</span> Please select the reason for losing the lead:
    </p>

    <select class="form-select" aria-label="Default select example" name="lost" [(ngModel)]="lost"
      placeholder="Lost Reason">
      <option value="Price Competition">Price Competition</option>
      <option value="Timing Issues">Timing Issues</option>
      <option value="Communication Breakdown">Communication Breakdown</option>
      <option value="Lack of Budget">Lack of Budget</option>
      <option value="Lack of Specific Features">Lack of Specific Features</option>
      <option value="Relationships with Existing Providers">Relationships with Existing Providers</option>
      <option value="Change of Mind">Change of Mind</option>
      <option value="Went with a Competitor">Went with a Competitor</option>
      <option value="Query only">Query only</option>
      <option value="others">Others</option>
    </select>

    <mat-form-field class="form-field w-100 mt-2" appearance="outline">
      <mat-label>Loss Value</mat-label>
      <input type="number" id="loss_value" matInput [(ngModel)]="loss_value" />
    </mat-form-field>

    <mat-form-field class="form-field w-100 mt-2" appearance="outline" *ngIf="lost === 'others'">
      <mat-label>Lost Reason</mat-label>
      <textarea matInput name="lostReason" [(ngModel)]="lostReason"></textarea>
    </mat-form-field>

  </div>
  <div class="modal-footer p-0">
    <button type="button"
      class="text-gray-900 hover:text-white border border-gray-800 hover:bg-gray-900 focus:ring-4 focus:outline-none focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2 dark:border-gray-600 dark:text-gray-400 dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-gray-800"
      (click)="close('cancel')">Close</button>
    <button type="button"
      class="text-gray-900 bg-gradient-to-r from-lime-200 via-lime-400 to-lime-500 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-lime-300 dark:focus:ring-lime-800 shadow-lg shadow-lime-500/50 dark:shadow-lg dark:shadow-lime-800/80 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2"
      [disabled]="!lost" (click)="saveLossReason()">Submit</button>
  </div>
</ng-template>

<ng-template #wonLead let-modal>

  <div class="modal-header">
    <h5 class="modal-title">Add Actual Revenue</h5>
    <button type="button" class="close" style="color: white;opacity: 1;" data-dismiss="modal" (click)="close('cancel')"
      aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body my-4">
    <p>
      <span class="badge bg-success">Won</span> Congratulations! You have won the lead after a successful negotiation.
      Please add the actual revenue below:
    </p>

    <mat-form-field appearance="outline" class="form-field w-100">
      <mat-label>Actual Revenue</mat-label>
      <input matInput id="name" type="number" placeholder="" [(ngModel)]="actualRevenue" min="0">
    </mat-form-field>

    <app-select-multiple-customer signleDouble="no" (selectedCustomer)="receiveDataFromChild($event)"
      [dataArray]="admins" [placeholderText]="'Select Operation Team'">
    </app-select-multiple-customer>


    <mat-form-field class="form-field w-100 mt-2">
      <mat-label>Winning date</mat-label>
      <input matInput [matDatepicker]="picker3" [(ngModel)]="won_date" name="lead_won_date" readonly>
      <mat-datepicker-toggle matIconSuffix [for]="picker3"></mat-datepicker-toggle>
      <mat-datepicker #picker3></mat-datepicker>
    </mat-form-field>
  </div>
  <div class="modal-footer p-0">
    <button type="button"
      class="text-gray-900 hover:text-white border border-gray-800 hover:bg-gray-900 focus:ring-4 focus:outline-none focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2 dark:border-gray-600 dark:text-gray-400 dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-gray-800"
      (click)="close('cancel')">Close</button>
    <button type="button"
      class="text-gray-900 bg-gradient-to-r from-lime-200 via-lime-400 to-lime-500 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-lime-300 dark:focus:ring-lime-800 shadow-lg shadow-lime-500/50 dark:shadow-lg dark:shadow-lime-800/80 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2"
      (click)="wonRevenue()" [disabled]="!actualRevenue">Submit</button>
  </div>
</ng-template>


<ng-template #followReminder let-modal>

  <div class="modal-header">
    <h6 class="modal-title">Do you want follow up reminder?</h6>
    <button type="button" class="close" style="color: white;opacity: 1;" data-dismiss="modal" (click)="close('cancel')"
      aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body my-4">

    <mat-form-field class="form-field w-100">
      <mat-label>Choose a date</mat-label>
      <input matInput [matDatepicker]="picker" [(ngModel)]="followUpDate" readonly>
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </div>
  <div class="modal-footer p-0">
    <button type="button"
      class="text-gray-900 hover:text-white border border-gray-800 hover:bg-gray-900 focus:ring-4 focus:outline-none focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2 dark:border-gray-600 dark:text-gray-400 dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-gray-800"
      (click)="close('cancel')">Close</button>
    <button type="button"
      class="text-gray-900 bg-gradient-to-r from-lime-200 via-lime-400 to-lime-500 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-lime-300 dark:focus:ring-lime-800 shadow-lg shadow-lime-500/50 dark:shadow-lg dark:shadow-lime-800/80 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2"
      (click)="followReminders()" [disabled]="!followUpDate">Submit</button>
  </div>
</ng-template>

<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="default" color="#fff" type="line-spin-fade-rotating">
  <p style="color: white">Loading...</p>
</ngx-spinner>