<div class="absolute inset-0 flex flex-col overflow-hidden main-body-watermark">
  <div class="p-4 rounded-2xl overflow-auto common-admin-customer-contractor">
    <div class="activity-log">

      <mat-card class='light' style="height: 100%;">
        <mat-card-header>
          <mat-card-title class="view-card-title">
            <h3>{{pageTitle }}</h3>
          </mat-card-title>

        </mat-card-header>
        <mat-toolbar class="primary">
          <mat-toolbar-row>
            <button *ngIf="leadType=='lead' && adminPermissions && adminPermissions.create" mat-mini-fab
              style="margin-right:10px; background-color:#e07c9e" [routerLink]="['/crm/create/lead']">
              <mat-icon>add</mat-icon>
            </button>
            <button mat-mini-fab style="margin-right:10px; background-color:darkgray" (click)="reset()">
              <mat-icon>refresh</mat-icon>
            </button>
            <button mat-mini-fab class="bg-cyan-500" matTooltip="Export Leads" [autoClose]="false" #p="ngbPopover"
              [ngbPopover]="popContent" [popoverTitle]="popTitle">
              <mat-icon>cloud_download</mat-icon>
            </button>

            <span class="title-spacer"></span>

            <mat-form-field *ngIf="leadType=='won' ||leadType=='lost'" appearance="fill" class="dropdown-field"
              style="margin-right: 2rem;">
              <mat-select placeholder="Select Option" [(value)]="filterOption"
                (selectionChange)="onOptionChange($event)">
                <mat-option value="all">All</mat-option>
                <mat-option value="archive">Archived</mat-option>
              </mat-select>
            </mat-form-field>
            <app-select-multiple-site style="height: 43px; margin: 5px;"
              (selectedSite)="receiveDataFromChildSite($event)" class="select-job-tacker" [dataArray]="companylist"
              [placeholderText]="'Select companies'"></app-select-multiple-site>

            <app-select-multiple-customer *ngIf="user_type ==='super-admin'" style="height: 43px; margin: 5px;"
              (selectedCustomer)="onAgentSelectionChange($event)" class="select-job-tacker" [dataArray]="agents"
              [placeholderText]="'Select agents'"></app-select-multiple-customer>

            <app-date-range style="height: 43px; margin: 5px;" class="select-job-tacker"
              (dateRange)="onDateRangeChange($event)" [start]="start" [end]="end">
            </app-date-range>

            <mat-form-field appearance="standard" class="search-form-fileld">
              <mat-label>Search here</mat-label>
              <input matInput (keyup)="applyFilter($event.target.value)">
              <mat-icon>filter_list</mat-icon>
            </mat-form-field>




          </mat-toolbar-row>
        </mat-toolbar>

        <mat-table #table [dataSource]="dataSource" matSort *ngIf="adminPermissions && adminPermissions.read">

          <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
            <mat-cell *matCellDef="let customer" [routerLink]="['/crm/customer-detail', customer.id]"
              [queryParams]="{ type: leadType }" class="cursor-pointer">{{ customer.name }}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="leaad_client_name">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
            <mat-cell *matCellDef="let customer" [routerLink]="['/crm/customer-detail', customer.id]"
              [queryParams]="{ type: leadType }" class="cursor-pointer">{{ customer.name }}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="email">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Email </mat-header-cell>
            <mat-cell *matCellDef="let customer"> {{customer.email}} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="phone">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Phone </mat-header-cell>
            <mat-cell *matCellDef="let customer"> {{customer.phone }} </mat-cell>
          </ng-container>
          <!-- <ng-container matColumnDef="company">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Office </mat-header-cell>
            <mat-cell *matCellDef="let customer" class="text-capitalize">
              {{customer.company?.replace('_', ' ') }}
            </mat-cell>
          </ng-container> -->
          <ng-container matColumnDef="travel_date">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Travel Date </mat-header-cell>
            <mat-cell *matCellDef="let customer" class="text-capitalize">
              {{customer.travel_date| date: 'd MMM, y' }}
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="sub_company">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Company </mat-header-cell>
            <mat-cell *matCellDef="let customer" class="text-capitalize">
              {{customer.sub_company?.replace('_', ' ') }}
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="saleperson_name">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Sales Person </mat-header-cell>
            <mat-cell *matCellDef="let customer"> {{customer.saleperson_name }}</mat-cell>
          </ng-container>


          <ng-container matColumnDef="assign_operation_name">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Assign Operation </mat-header-cell>
            <mat-cell *matCellDef="let customer">
              <span>{{customer.assign_operation_name }} <mat-icon svgIcon="edit" class="icon-size-4"
                  matTooltip="Change Assign Operation" [autoClose]="false" #popover2="ngbPopover"
                  (click)="openPopover(popover2, customer,'assign')" [ngbPopover]="popContentAssignOperation"
                  [popoverTitle]="popTitleAssignOperation"></mat-icon></span>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="lead_status">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Lead Status</mat-header-cell>
            <mat-cell *matCellDef="let customer">
              <span class="flex align-items-center" [ngClass]="getStatusClass(customer.lead_status)"> {{
                customer.won_status?customer.won_status:customer.lead_status }} <mat-icon
                  *ngIf="customer.lead_status=='Won' || customer.lead_status=='Contacted'" matTooltip="Sub Status"
                  svgIcon="heroicons_outline:information-circle" class="icon-size-4" [autoClose]="false"
                  #popover3="ngbPopover" (click)="openPopover(popover3, customer,'status')"
                  [ngbPopover]="popContentWonStatus" [popoverTitle]="popTitleWonStatus"></mat-icon>
              </span>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="created_at">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Created At</mat-header-cell>
            <mat-cell *matCellDef="let customer"> {{customer.created_at | date:'dd-MM-yyyy' }} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="updated_at">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Updated At </mat-header-cell>
            <mat-cell *matCellDef="let customer"> {{customer.updated_at | date:'dd-MM-yyyy' }} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="id">
            <mat-header-cell *matHeaderCellDef style="justify-content:right;">
              <!-- <button mat-button style="color:white; background-color:darkgrey" (click)="resetListFilter()">Reset</button> -->
            </mat-header-cell>
            <mat-cell *matCellDef="let customer" style="justify-content:right;">
              <mat-slide-toggle *ngIf="leadType=='won' ||leadType=='lost'" [disabled]="customer?.is_archived==1"
                [checked]="customer?.is_archived==1" class="ml-1"
                [matTooltip]="customer?.is_archived==1 ? 'Already Archived' : 'Convert to Archive'"
                (change)="onSlideToggleChange(customer)">
              </mat-slide-toggle>
              <button *ngIf="adminPermissions && adminPermissions.update" mat-mini-fab
                style="background-color:teal; min-height: 20px;   margin: 5px;"
                [routerLink]="['/crm/edit/lead', customer.id]" [queryParams]="{ type:leadType  }">
                <mat-icon>edit</mat-icon>
              </button>
              <button *ngIf="adminPermissions && adminPermissions.delete"
                mat-mini-fab style="background-color:lightblue; min-height: 20px;  margin: 5px;"
                (click)="openDialog(customer.id)">    
                <mat-icon>delete</mat-icon>
              </button>
            </mat-cell>
          </ng-container>
          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns; trackBy: trackById"></mat-row>
        </mat-table>
        <mat-paginator #paginator [pageSize]="20" [pageSizeOptions]="[5, 10]">
        </mat-paginator>
      </mat-card>
      <!-- </mat-sidenav-container> -->

    </div>
  </div>
</div>

<div class="plus_create_shift">
  <ng-template #popContent>

    <mat-form-field appearance="fill" class="dateRange job-tracker-from-to w-100">
      <mat-date-range-input [formGroup]="range" [rangePicker]="picker">
        <input matStartDate formControlName="start" placeholder="Start date">
        <input matEndDate formControlName="end" placeholder="End date">
      </mat-date-range-input>
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-date-range-picker #picker></mat-date-range-picker>
    </mat-form-field>

    <div (click)="generateLeadsReport()"
      class="relative cursor-pointer grid w-25 m-auto select-none items-center whitespace-nowrap rounded-lg bg-pink-500 py-1.5 my-3 px-3 font-sans text-xs font-bold uppercase text-white">
      <span class="">Export</span>
    </div>
  </ng-template>
  <ng-template #popTitle>
    <div data-dismissible="chip"
      class="relative grid select-none items-center whitespace-nowrap rounded-lg font-sans text-xs font-bold uppercase text-white">
      <span class="mr-5">Export Leads</span>
      <button data-dismissible-target="chip" (click)="p.close()"
        class="!absolute  top-2/4 right-1 mx-px h-5 max-h-[32px] w-5 max-w-[32px] -translate-y-2/4 select-none rounded-md text-center align-middle font-sans text-xs font-medium uppercase text-white transition-all hover:bg-white/10 active:bg-white/30 disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
        type="button">
        <span class="absolute transform -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="w-4 h-4"
            stroke-width="2">
            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12"></path>
          </svg>
        </span>
      </button>
    </div>
  </ng-template>
</div>


<div class="plus_create_shift">
  <ng-template #popContentAssignOperation>

    <app-select-multiple-customer signleDouble="no" (selectedCustomer)="receiveDataFromChild($event)"
      [dataArray]="admins" [placeholderText]="'Select Operation Team'">
    </app-select-multiple-customer>

    <div (click)="saveLead()"
      class="relative cursor-pointer grid w-25 m-auto select-none items-center whitespace-nowrap rounded-lg bg-pink-500 py-1.5 my-3 px-3 font-sans text-xs font-bold uppercase text-white">
      <span class="">Update</span>
    </div>
  </ng-template>
  <ng-template #popTitleAssignOperation>
    <div data-dismissible="chip"
      class="relative grid select-none items-center whitespace-nowrap rounded-lg font-sans text-xs font-bold uppercase text-white">
      <span class="mr-5">Change Assign Operation</span>
      <button data-dismissible-target="chip" (click)="closeActivePopover()"
        class="!absolute  top-2/4 right-1 mx-px h-5 max-h-[32px] w-5 max-w-[32px] -translate-y-2/4 select-none rounded-md text-center align-middle font-sans text-xs font-medium uppercase text-white transition-all hover:bg-white/10 active:bg-white/30 disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
        type="button">
        <span class="absolute transform -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="w-4 h-4"
            stroke-width="2">
            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12"></path>
          </svg>
        </span>
      </button>
    </div>
  </ng-template>
</div>



<div class="plus_create_shift">

  <ng-template #popContentWonStatus>
    <select class="form-select" aria-label="Default select example" name="won_status" [(ngModel)]="won_status"
      placeholder="Pleas Select a status">
      <option value="Won in Progress" *ngIf="leadObject.lead_status=='Won'">Won in Progress</option>
      <option value="Won Completed" *ngIf="leadObject.lead_status=='Won'">Won Completed</option>
      <option value="Won Voucher Sent" *ngIf="leadObject.lead_status=='Won'">Won Voucher Sent</option>
      <option value="Won Closed" *ngIf="leadObject.lead_status=='Won'">Won Closed</option>
      <option value="More Information" *ngIf="leadObject.lead_status=='Contacted'">More Information</option>
      <option value="Quote Sent" *ngIf="leadObject.lead_status=='Contacted'">Quote Sent</option>
      <option value="Revise Quote Sent" *ngIf="leadObject.lead_status=='Contacted'">Revise Quote Sent</option>
      <option value="Follow up 1" *ngIf="leadObject.lead_status=='Contacted'">Follow up 1</option>
      <option value="Follow up 2" *ngIf="leadObject.lead_status=='Contacted'">Follow up 2</option>
    </select>

    <div (click)="updateWonStatus()"
      class="relative cursor-pointer grid w-25 m-auto select-none items-center whitespace-nowrap rounded-lg bg-pink-500 py-1.5 my-3 px-3 font-sans text-xs font-bold uppercase text-white">
      <span class="">Update</span>
    </div>
  </ng-template>
  <ng-template #popTitleWonStatus>
    <div data-dismissible="chip"
      class="relative grid select-none items-center whitespace-nowrap rounded-lg font-sans text-xs font-bold uppercase text-white">
      <span class="mr-5">Status: {{ won_status??'N/A' }}</span>
      <button data-dismissible-target="chip" (click)="closeActivePopover()"
        class="!absolute  top-2/4 right-1 mx-px h-5 max-h-[32px] w-5 max-w-[32px] -translate-y-2/4 select-none rounded-md text-center align-middle font-sans text-xs font-medium uppercase text-white transition-all hover:bg-white/10 active:bg-white/30 disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
        type="button">
        <span class="absolute transform -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="w-4 h-4"
            stroke-width="2">
            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12"></path>
          </svg>
        </span>
      </button>
    </div>
  </ng-template>
</div>