<div class="modal-header ">
    <h4 class="modal-title" id="myModalLabel1">New Message</h4>
    <button type="button" class="close" (click)="activatedModal('Cross click')" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body" tabindex="0" ngbAutofocus>
    <!-- Compose Form -->
    <form class="flex flex-col pb-10 bg-card overflow-auto divide-y divide-slate-200" [formGroup]="addEmail">
        <!-- From -->
        <div class="m-0 form-group d-flex align-items-center p-2">
            <img src="https://img.freepik.com/free-icon/user_318-159711.jpg" class="rounded-circle" alt=""
                style="width: 80px; height: 50px; object-fit: contain;">
            <span>{{ global.admin.admin_name }} &lt;{{ global.admin.admin_email }}&gt;</span>
        </div>

        <!-- To -->
        <div class="m-0 form-group flex align-items-center p-2">
            <label for="to">To:</label>
            <mat-form-field class="example-chip-list w-100 ml-2">
                <mat-chip-list #chipList2>
                    <mat-chip *ngFor="let bcc of bcc" [selectable]="selectable" [removable]="removable"
                        (removed)="remove(bcc,'bcc')">
                        <img src="https://img.freepik.com/free-icon/user_318-159711.jpg" class="rounded-circle" alt=""
                            style="width: 20px; height: 20px; object-fit: contain; margin-right: 4px;">
                        {{ bcc.email }}
                        <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                    </mat-chip>
                    <input placeholder="New email.." [matChipInputFor]="chipList2"
                        [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur"
                        (matChipInputTokenEnd)="add($event,'bcc')">
                </mat-chip-list>
            </mat-form-field>
        </div>

        <!-- Subject -->
        <div class="m-0 form-group flex align-items-center p-2">
            <input type="text" class="border-none" placeholder="Subject" id="subject" formControlName="subject">
        </div>


        <div class="flex flex-col mt-3 gt-xs:flex-row">
            <app-ck-editor formControlName="body"></app-ck-editor>
        </div>
    </form>
    <div class="progress" *ngIf="progress">
        <div class="progress-bar" [style.width]="progress + '%'">{{progress}}%</div>
    </div>
    <div class="row w-100 m-0 p-2 mb-3" *ngIf="attachments.length > 0">
        <p>Attachments</p>
        <div class="col-4 mb-2" *ngFor="let attachment of attachments">
            <div class="crm-email-attachments">
                <div class="attachment" (click)="viewFile(attachment.url)">
                    <mat-icon class="mr-2">insert_drive_file</mat-icon>
                    <div class="attachment-name">
                        <p>{{ attachment.fileName }}</p>
                        <p class="m-0">{{ roundSize(attachment.size) }}</p>
                    </div>
                    <mat-icon class="mr-2" (click)="removeAttachment(attachment)">delete_outline</mat-icon>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal-footer flex justify-content-between align-items-center ">
    <div class="align-items-center flex">
        <mat-icon class="mr-2" (click)="handleFileInput()">attachment</mat-icon>
        <span *ngIf="attachments.length > 0" class="btn-sm btn-primary"> {{ attachments.length }} Attachments</span>
    </div>
    <button type="button" class="btn btn-primary" (click)="onSubmit()">Send Email</button>
</div>