<div class="create-admin-model">
    <div class="modal-header">
        <h5 class="modal-title" id="modal-basic-title">
            {{ fromParent === 'new' ? 'Add New ' + (fromSalesPersonSection ? 'Sales Person' : 'Admin') : 'Update ' +
            (fromSalesPersonSection ? 'Sales Person' : 'Admin') }}
        </h5>
        <button type="button" class="btn-close" aria-label="Close" (click)="close('dismiss')"></button>
    </div>
    <div class="modal-body">
        <div class="body">
            <form [formGroup]="userForm" (ngSubmit)="onFormSubmit(userForm.value)" class="create-admin">
                <div class="px-3">
                    <h5>Personal Information</h5>
                    <div class="row personal-infor-admin">
                        <div class="header">
                            <h6 class="p-2">Avatar</h6>
                            <div class="image" (click)="uploadImage()">
                                <img [src]="selectedfile" alt="">
                            </div>
                            <p>(optional)</p>
                            <mat-icon (click)="removeAvatar()" class="close-icons" placement="top"
                                ngbTooltip="Remove Avatar!" triggers="mouseenter:mouseleave">close</mat-icon>
                            <mat-icon class="edit-icons business" placement="right" ngbTooltip="Change avatar!"
                                triggers="mouseenter:mouseleave" (click)="uploadImage()">edit</mat-icon>
                        </div>
                        <div class="first-last-name">
                            <mat-form-field appearance="outline" class="col-10">
                                <mat-label>Name</mat-label>
                                <input matInput placeholder="Enter Name" formControlName="name" autocomplete="off">
                            </mat-form-field>
                            <div *ngIf="submitted && f.name.errors" class="custom-error">
                                <div *ngIf="f.name.errors.required">Name is required</div>
                                <div *ngIf="f.name.errors.alphabet">First character must have alphabet</div>
                            </div>
                            <mat-form-field appearance="outline" class="col-10">
                                <mat-label>Email</mat-label>
                                <input matInput placeholder="Enter Email" formControlName="email"
                                    [readonly]="fromParentedit" autocomplete="off">
                            </mat-form-field>
                            <div *ngIf="submitted && f.email.errors" class="custom-error">
                                <div *ngIf="f.email.errors.required">Email is required</div>
                                <div *ngIf="f.email.errors.email">Invalid email format</div>
                            </div>

                            <mat-form-field appearance="outline" class="col-10">
                                <mat-label>Phone</mat-label>
                                <input matInput placeholder="Enter Phone" formControlName="phone">
                            </mat-form-field>
                            <div *ngIf="submitted && f.phone.errors" class="custom-error">
                                <div *ngIf="f.phone.errors.required">Phone number is required</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="px-3" *ngIf="!fromSalesPersonSection">
                    <h5>Customer</h5>
                    <div class="row">
                        <app-select-multiple-customer (selectedCustomer)="receiveDataFromChild($event)"
                            class="select_job_roster" [dataArray]="customers"
                            [placeholderText]="'Select Customers'"></app-select-multiple-customer>
                    </div>
                    <div class="row mt-2" *ngIf="customersIds">
                        <app-select-multiple-site (selectedSite)="receiveDataFromChildSite($event)"
                            class="select_job_roster site-job-new-roster" [type]="type" [dataArray]="sitesList"
                            [placeholderText]="'Select Locations'"></app-select-multiple-site>
                    </div>
                </div>
                <div class="px-3">
                    <h5>State</h5>
                    <div class="row">
                        <mat-form-field appearance="outline">
                            <mat-label>State</mat-label>
                            <mat-select name="state" formControlName="state">
                                <mat-option *ngFor="let state of statesList" [value]="state">
                                    {{state}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
                <div class="px-3">
                    <h5>Role *</h5>
                    <div class="row">
                        <mat-radio-group aria-labelledby="example-radio-group-label" formControlName="role_id">
                            <mat-radio-button class="example-radio-button col-4" *ngFor="let role of roles"
                                [value]="role.id">
                                {{role.role}}
                            </mat-radio-button>
                        </mat-radio-group>
                        <div *ngIf="submitted && f.role_id.errors" class="custom-error">
                            <div *ngIf="f.role_id.errors.required">Role is required</div>
                        </div>
                    </div>
                </div>
                <div class="px-3">
                    <h5>Status *</h5>
                    <div class="row" style="margin-bottom: 20px;">
                        <!-- <label> Select Status</label> -->
                        <mat-radio-group formControlName="status" class="example-radio-group">
                            <mat-radio-button class="example-radio-button" value="active">Active</mat-radio-button>
                            <mat-radio-button class="example-radio-button" value="inactive">Inactive</mat-radio-button>
                        </mat-radio-group>
                        <div *ngIf="submitted && f.status.errors" class="custom-error">
                            <div *ngIf="f.status.errors.required">Status is required</div>
                        </div>
                    </div>
                </div>

                <div class="row w-100 m-0">
                    <mat-form-field appearance="outline" class="col-6">
                        <mat-label>Password</mat-label>
                        <input matInput type="password" placeholder="Enter Password" formControlName="password"
                            #passwordField autocomplete="off">
                        <mat-icon matSuffix
                            (click)="passwordField.type = passwordField.type === 'password' ? 'text' : 'password'">
                            {{ passwordField.type === 'password' ? 'visibility_off' : 'visibility' }}
                        </mat-icon>
                        <mat-error *ngIf="f.password.errors?.required">
                            Password is required.
                        </mat-error>
                        <mat-error *ngIf="f.password.errors?.minlength">
                            Password must be at least 8 characters long.
                        </mat-error>
                        <mat-error
                            *ngIf="f.password.errors?.passwordComplexity && (f.password.dirty || f.password.touched)">
                            Password must contain at least one uppercase letter, one special character, and one number.
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="col-6">
                        <mat-label>Confirm Password</mat-label>
                        <input matInput type="password" placeholder="Confirm Password" formControlName="c_password"
                            #Confirmpassword autocomplete="off">
                        <mat-icon matSuffix
                            (click)="Confirmpassword.type = Confirmpassword.type === 'password' ? 'text' : 'password'">
                            {{ Confirmpassword.type === 'password' ? 'visibility_off' : 'visibility' }}
                        </mat-icon>
                        <mat-error *ngIf="f.c_password.errors?.required">
                            Confirming the password is required.
                        </mat-error>
                        <mat-error *ngIf="f.c_password.errors?.passwordMismatch">
                            Passwords do not match.
                        </mat-error>
                    </mat-form-field>

                </div>

                <input type="hidden" formControlName="id" id="id">
            </form>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-light" (click)="close('dismiss')">Discard</button>
        <button type="button" class="btn btn-border-3" (click)="onFormSubmit(userForm.value)">{{ fromParent=='new'?
            'Submit' : 'Update' }}</button>
    </div>
</div>

<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="default" color="#fff" type="line-spin-fade-rotating">
    <p style="color: white">Please Wait...</p>
</ngx-spinner>