<div class="flex flex-col flex-auto min-w-0 main-body-watermark">
    <!-- Main -->
    <div class="flex-auto p-6">
        <!-- CONTENT GOES HERE -->
        <div class="rounded-2xl common-style-for-cards">
            <div class="user-main" style="border-radius: 10px;">
                <div class="nav rounded-2xl">
                    <h4>Staff Logs</h4>
                    <input type="text" name="text" placeholder="Search here" class="input" [(ngModel)]="searchText">
                </div>
                <div class="main pt-6 w-100">
                    <div class="row main_inner w-100 m-0">
                        <ng-container *ngFor="let user of users | nameFilter:searchText">
                            <div class="card p-0" *ngIf="user.enabled">
                                <img class="card-img-top" [src]="user.image" alt="Card image">
                                <div class="card-body">
                                    <h4 class="card-title">{{ user.name }}</h4>
                                    <p class="card-text">{{ user.text }}</p>
                                    <div class="actions">
                                        <button (click)="redirect(user.url)" class="accept">
                                            Access Now
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </ng-container>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>