<div class="main p-4 w-100 main-body-watermark">

    <div class="row  pb-4">
        <div class="col-12 ps-4 pe-4 d-flex bg-white rounded-2xl justify-content-between align-items-center ">
            <h4>Time Clock</h4>
            <div class="searchbar_main">
                <mat-icon class=" ms-2 ">search</mat-icon>
                <input type="text" placeholder="Search here.." class="searchbar border me-2" [(ngModel)]="searchTerm">
                <!-- <button class="btn text-white button-back">Export</button> -->
            </div>
        </div>
    </div>

    <!-- guardslist -->

    <div class="bg-white rounded-2xl row justify-content-between">
        <div class="col-12" style="text-align: -webkit-right;">
            <button (click)="toggleMap()" class="map-btn">
                <i class="fa-solid fa-map-marker-alt"></i> Show Map
            </button>
        </div>
        <div *ngIf="isMapVisible" class="col-12 py-3">
            <div id="map" #map class="map  rounded-2xl"></div>
        </div>

        <div class="col-12 p-0">
            <div class="table-responsive">
                <table class="table w-100" style="margin-bottom: 15px;">
                    <thead class="backg">
                        <tr class="table-row">
                            <th scope="col">Staff Name</th>
                            <th scope="col">Start Date</th>
                            <th scope="col">Job Time</th>
                            <th scope="col">1st Green Call</th>
                            <th scope="col">2nd Green Call</th>
                            <th scope="col">Clock-in Time</th>
                            <th scope="col">Clock-out Time</th>
                            <th scope="col">Total Hours</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let guard of guards | siteFilter: searchTerm "
                            [ngClass]="{ 'text-danger': guard.signin_status === 0, 'text-dark': guard.signin_status === 1 }"
                            class="row_main" [autoClose]="'outside'" #p="ngbPopover" [ngbPopover]="popContent"
                            [popoverTitle]="popTitle">

                            <td class="text-capitalize" [matTooltip]="guard.staff_name" matTooltipClass="example-tooltip-uppercase">{{guard.staff_name}}</td>
                            <td>{{guard.start_date}}</td>
                            <td>{{guard.start_time}} - {{guard.end_time}}</td>
                            <td>
                                {{ guard.green_calls && guard.green_calls[0]? guard.green_calls[0].first_green_call:'N/A' }}
                            </td>
                            <td>
                                {{ guard.green_calls && guard.green_calls[1]? guard.green_calls[1]?.second_green_call :'N/A' }}
                            </td>
                            <!-- <td>{{guard.clock_in_time | date: 'hh:mm a'}}</td>
                            <td>{{guard.clock_out_time | date: 'hh:mm a'}}</td> -->
                            <td>{{ guard.clock_in_time ? (guard.clock_in_time | date: 'hh:mm a') : 'N/A' }}</td>
                            <td>{{ guard.clock_out_time ? (guard.clock_out_time | date: 'hh:mm a') : 'N/A' }}</td>
                            <td>{{guard.total_hours}}</td>

                            <ng-template #popContent>
                                <div class="main_content">
                                    <div class="row">
                                        <div class="col-6 main_cols">
                                            <p class="headin">Signin Selfie</p>
                                            <img class="image" [src]="guard.signin_selfie">
                                        </div>
                                        <div class="col-6 main_cols">
                                            <p class="headin">Signout Selfie</p>
                                            <img class="image" [src]="guard.signout_selfie">
                                        </div>
                                        <div class="col-6 main_cols">
                                            <p class="headin">Signin Notes</p>
                                            <p class="plain_text">{{guard.signin_notes}}</p>
                                        </div>
                                        <div class="col-6 main_cols">
                                            <p class="headin">Signout notes</p>
                                            <p class="plain_text">{{guard.signout_notes}}</p>
                                        </div>
                                        <div class="col-6 main_cols">
                                            <p class="headin">Site Name</p>
                                            <p class="plain_text">{{guard.site_name}}</p>
                                        </div>
                                        <div class="col-6 main_cols">
                                            <p class="headin">Site Description</p>
                                            <p class="plain_text">{{guard.site_description}}</p>
                                        </div>
                                    </div>
                                </div>
                            </ng-template>
                            <ng-template #popTitle>
                                <div class="popover-header-date">
                                    <div class="pop-date text-capitalize"><span>{{guard.staff_name}}</span></div>
                                </div>
                            </ng-template>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>