<div class="modal-header">
    <h4 class="modal-title">{{ fromParent === 'new' ? 'Create New Runsheet' : 'Update Runsheet'}}</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="close()"></button>
</div>
<form [formGroup]="CreateRunsheet">
    <div class="modal-body">
        <div class="row field1">
            <mat-form-field appearance="outline">
                <mat-label>Runsheet Name</mat-label>
                <input matInput formControlName="title">
            </mat-form-field>
        </div>

        <div class="row field1">
            <mat-form-field appearance="outline" class="form-field w-100">
                <mat-label>State</mat-label>
                <mat-select formControlName="state">
                    <mat-option value="Victoria">Victoria</mat-option>
                    <mat-option value="Queensland">Queensland</mat-option>
                    <mat-option value="New South Wales">New South Wales</mat-option>
                    <mat-option value="South Australia">South Australia</mat-option>
                    <mat-option value="ACT">ACT</mat-option>
                    <mat-option value="Tasmania">Tasmania</mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div class="row field1">
            <mat-form-field appearance="outline">
                <mat-label>Description</mat-label>
                <input matInput formControlName="description">
            </mat-form-field>
        </div>

        <div class="rows-containers" formArrayName="sites">
            <div *ngFor="let site of sites.controls; let i = index" [formGroupName]="i">
                <div class="row field1 mt-2">
                    <div class="col-5">
                        <mat-form-field appearance="outline" class="selection">
                            <mat-label>Select Customers</mat-label>
                            <mat-select formControlName="customer_id" (selectionChange)="onCustomerSelectionChange($event, i)">
                                <mat-option *ngFor="let cus of customers" [value]="cus.id">{{ cus.name}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <div class="col-5">
                        <mat-form-field appearance="outline" class="selection">
                            <mat-label>Select Patrolling Locations</mat-label>
                            <mat-select formControlName="site_id" (selectionChange)="onSiteSelectionChange($event)">
                                <mat-option *ngFor="let loc of patrollingLocations[i]" [value]="loc.id"  [disabled]="isSiteSelected(loc.id)">{{ loc.site_name}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <div class="col-2">
                        <mat-icon svgIcon="delete" (click)="removeRunsheet(i)" style="color: red;"></mat-icon>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="margin-bottom: 15px;">
            <div class="no-shift-tasks-placeholder">
                <div class="flex-row-centered flex-justify-content-center py-5">
                    <div class="width-100-percent height-100-percent">
                        <div class="custom-cta-btn justify-content-center" (click)="AddSites()">
                            <span>+ Add New</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" *ngIf="!description_file">
            <label for="formFile" class="form-label">Site Patrol Brief: </label>
            <input class="form-control" type="file" (change)="uploadAlarmFile($event)"
                placeholder="Instrcutions File" accept=".jpg,.jpeg,.pdf">
        </div>

        <div class="row" *ngIf="description_file">
            <div class="row pb-1 mt-1 d-flex">
                <div class="col-3">
                    <button (click)="viewFile()" mat-button color="accent" style="border: 1px solid; border-radius: 10px;"><mat-icon
                            svgIcon="mat_outline:attach_file"></mat-icon>{{ desc_file_name
                        }}</button>
                </div>
                <div class="col-4">
                    <mat-icon (click)="handleFileInput()" style="width:25px;height:25px"
                        svgIcon="mat_outline:drive_file_rename_outline"></mat-icon>
                </div>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="close()">Close</button>
        <button type="button" class="btn btn-secondary" (click)="Submit()">{{ fromParent === 'new' ? 'Save' : 'Update'}}</button>
    </div>
</form>

