<div mat-dialog-actions class="onBoardingClose">
    <h5 mat-dialog-title class="onboarding-heading m-0">Quick Onboarding Staff</h5>
    <mat-icon mat-button mat-dialog-close (click)="close('dismiss')" style="color: white;">close</mat-icon>
</div>
<form [formGroup]="addOnBoardingStaff">
    <div mat-dialog-content>
        <div class="error" *ngIf="showerror">{{ error }}</div>
        <div class="onboard-field1">
            <mat-form-field appearance="outline">
                <mat-label>First Name</mat-label>
                <input matInput formControlName="first_name">
                <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
                <mat-icon matSuffix>people</mat-icon>
                <mat-error *ngIf="addOnBoardingStaff.get('first_name').hasError('required')">First name is
                    required*</mat-error>
                <mat-error *ngIf="addOnBoardingStaff.get('first_name').hasError('alphabet')">First character must have
                    alphabet*</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Middle Name</mat-label>
                <input matInput formControlName="middle_name">
                <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
                <mat-icon matSuffix>people</mat-icon>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Last Name</mat-label>
                <input matInput formControlName="last_name">
                <mat-icon matSuffix>people</mat-icon>
                <mat-error *ngIf="addOnBoardingStaff.get('last_name').hasError('required')">Last name is
                    required*</mat-error>
                <mat-error *ngIf="addOnBoardingStaff.get('last_name').hasError('alphabet')">First character must have
                    alphabet*</mat-error>
            </mat-form-field>
        </div>
    </div>
    <div mat-dialog-content>
        <div class="onboard-field2">
            <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                <input matInput formControlName="email" id="email" autocomplete="off">
                <mat-icon matSuffix>email</mat-icon>
                <mat-error *ngIf="addOnBoardingStaff.get('email').hasError('required')">Email is required*</mat-error>
                <mat-error *ngIf="addOnBoardingStaff.get('email').hasError('email')">Invalid email format*</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Phone</mat-label>
                <input matInput formControlName="phone" id="phone">
                <mat-icon matSuffix>phone</mat-icon>
                <!-- <mat-error *ngIf="addOnBoardingStaff.get('phone').hasError('required')">Phone is required*</mat-error>
                <mat-error *ngIf="addOnBoardingStaff.get('phone').hasError('invalidPhone')">Enter Australian number with
                    country code(without +)*</mat-error> -->
            </mat-form-field>
        </div>
    </div>
    <div mat-dialog-content>
        <div class="onboard-field2">
            <mat-form-field appearance="outline">
                <mat-label>Staff Type</mat-label>
                <mat-select formControlName="staff_type" id="staff_type">
                    <mat-option value="1">Direct</mat-option>
                    <mat-option value="2">Contractor</mat-option>
                </mat-select>
                <mat-error *ngIf="addOnBoardingStaff.get('staff_type').hasError('required')">Staff type is
                    required*</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>State</mat-label>
                <mat-select formControlName="state" id="state">
                    <mat-option value="Victoria">Victoria</mat-option>
                    <mat-option value="Queensland">Queensland</mat-option>
                    <mat-option value="New South Wales">New South Wales</mat-option>
                    <mat-option value="South Australia">South Australia</mat-option>
                    <mat-option value="ACT">ACT</mat-option>
                    <mat-option value="Tasmania">Tasmania</mat-option>
                </mat-select>
                <mat-error *ngIf="addOnBoardingStaff.get('state').hasError('required')">State is required*</mat-error>
            </mat-form-field>
        </div>
    </div>

    <!-- password -->
    <div mat-dialog-content>
        <div class="onboard-field2">
            <mat-form-field appearance="outline">
                <mat-label>Password</mat-label>
                <input matInput type="password" placeholder="Enter Password" formControlName="password" #passwordField
                    autocomplete="off">
                <mat-icon matSuffix
                    (click)="passwordField.type = passwordField.type === 'password' ? 'text' : 'password'">
                    {{ passwordField.type === 'password' ? 'visibility_off' : 'visibility' }}
                </mat-icon>
                <mat-error *ngIf="addOnBoardingStaff.get('password').hasError('required')">Password is
                    required*</mat-error>
                <mat-error *ngIf="addOnBoardingStaff.get('password').hasError('minlength')">
                    Password must be at least 8 characters long.
                </mat-error>
                <mat-error *ngIf="addOnBoardingStaff.get('password').hasError('passwordComplexity')">
                    Password must contain at least one uppercase letter, one special character, and one number.
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Confirm Password</mat-label>
                <input matInput type="password" placeholder="Confirm Password" formControlName="c_password"
                    #Confirmpassword autocomplete="off">
                <mat-icon matSuffix
                    (click)="Confirmpassword.type = Confirmpassword.type === 'password' ? 'text' : 'password'">
                    {{ Confirmpassword.type === 'password' ? 'visibility_off' : 'visibility' }}
                </mat-icon>
                <mat-error *ngIf="addOnBoardingStaff.get('c_password').hasError('required')">Confirming the password is
                    required*</mat-error>
                <mat-error *ngIf="addOnBoardingStaff.get('c_password').hasError('passwordComplexity')">
                    Password must contain at least one uppercase letter, one special character, and one number.
                </mat-error>
                <mat-error *ngIf="addOnBoardingStaff.get('c_password').hasError('passwordMismatch')">
                    Passwords do not match.
                </mat-error>
            </mat-form-field>
        </div>
    </div>
    <div class="row w-100 m-0">


    </div>
    <hr>
    <div mat-dialog-actions style="margin: 10px;" class="text-center">
        <button mat-dialog-actions style="margin: 10px;" class="text-center btn btn-border-3"
            [disabled]="addOnBoardingStaff.disabled" (click)="onSubmit()">
            <span *ngIf="!addOnBoardingStaff.disabled">
                Submit
            </span>
            <mat-progress-spinner *ngIf="addOnBoardingStaff.disabled" [diameter]="24"
                [mode]="'indeterminate'"></mat-progress-spinner>
        </button>
    </div>

</form>