.sms-main {
    border-radius: var(--br-2xl);
}
  .smartphone {
    position: relative;
    width: 240px;
    height: 450px;
    margin: auto;
    margin-top: 2rem;
    border: 12px #768692 solid;
    border-top-width: 40px;
    // border-bottom-width: 60px;
    border-radius: 36px;
}
.smartphone:before {
    content: '';
    display: block;
    width: 60px;
    height: 5px;
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fcfcfc;
    border-radius: 10px;
  }
  .geek2 {
    background-color: #01A37E;
    border-radius: 10px;
    padding: 4px 9px;
    width: 75%;
    float: right;
    color: white;
    height: auto;
    overflow-wrap: break-word;
    border-bottom-right-radius: 0;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}
.content {
  position: relative;
  // padding:5px 8px; 
  height: 100%; 
  overflow: auto; 
  overflow-x: hidden;
  background-image: url("../../../../assets/icons/mob_wallpaper.jpg");
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

.content:after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  background-image: url("../../../../assets/images/logo/scouts.png");
  background-size: 150px 150px;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.2;
}
.company_name{
  font-size:x-small; 
  margin-bottom: 0; 
  margin-top: 10px; 
  text-align: center;
  font-weight: bold;
}
.textarea-container {
    position: relative;
    padding: 0;
  }
  .textarea-container textarea {
    box-sizing: border-box;
  }
  .textarea-container p {
    position: absolute;
    bottom: 0;
    right: 15px;
    margin-bottom: 0;
    font-size: x-small;
  }
#sms-border{
    border: 1px solid #CED4DA; 
    border-top-right-radius: 9px;
    border-top-left-radius: 9px; 
    margin-left: 1px; 
    margin-right: 1px; 
    border-bottom: 0; 
}
.phone_row{
  border-bottom: 1px solid rgb(230, 226, 226);
  background-color: white;
}
.filter_btn{
  background-color:#01a37e2e; 
  color: #1e293c; 
  padding: 10px 30px;
  border-radius: 8px;
}
.textOnInput {
  position: relative;
}
.textOnInput label {
  // position: absolute;
  // top: -12px;
  // left: 23px;
  // padding: 2px;
  // z-index: 1;
  margin-left: 12px;
}
.textOnInput label:after {
  content: " ";
  background-color: #fff;
  width: 100%;
  height: 13px;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
}
  .label-color {
  font-size:small;
  font-weight: 500;
  display: inline-block;
  color: #3f464880;
}
.form-control {
  box-shadow: none !important;
}
.form-select{
  padding: 9px 10px;
}
.apply{
  background: var(--background-primary);
  color: white;

}
mat-select{
  padding: 12px !important;
}

.cross{
  position: absolute;
  top: 0px;
  color: white;
  right: 4px;
}
.templete{
  .mat-menu-panel{
    margin-top:20px !important
  }

}
