<div class="p-3">
    <h6 class="heading-small text-muted mb-4 d-inline">Outlook Email History</h6>
    <button type="button" class="btn" style="position: absolute; right: 2%; padding: 5px;" (click)="openModal()">{{
        isAuthenticated ? 'Sent Mail' : 'Login' }}</button>
    <hr class="my-4">
    <ng-container *ngIf="isAuthenticated; else notLogin">
        <ng-container *ngIf="outlookEmails.length > 0; else notMailsFound">
            <ng-container *ngFor="let email of outlookEmails; trackBy: trackByEmailId">
                <div
                    class="flex flex-col flex-0 w-full shadow overflow-hidden bg-card dark:bg-black dark:bg-opacity-10">
                    <div class="flex flex-col py-8 px-6">
                        <div class="flex items-center w-full">
                            <div class="flex flex-0 items-center justify-center w-10 h-10 rounded-full overflow-hidden">
                                <img class="w-full h-full" src="../../../../../assets/images/download.png"
                                    alt="User avatar">
                            </div>
                            <div class="ml-4 min-w-0">
                                <div class="font-semibold truncate">{{email?.from?.emailAddress?.name}}</div>
                                <!-- To -->
                                <div class="flex items-center mt-0.5 leading-5">
                                    <div class="mr-1 ">to</div>
                                    <ng-container *ngIf="email?.toRecipients && email?.toRecipients.length">
                                        <span *ngFor="let recipient of email?.toRecipients.slice(0, 2); let i = index">
                                            {{ i > 0 ? ', ' : ''
                                            }}{{recipient.emailAddress.address}}
                                        </span>
                                        <ng-container *ngIf="email?.toRecipients.length > 2">
                                            <span>, +{{email?.toRecipients.length - 2}}
                                                more</span>
                                        </ng-container>
                                    </ng-container>
                                    <!-- Info details panel button -->
                                    <button class="w-5 h-5 min-h-5 ml-1" mat-icon-button
                                        (click)="openInfoDetailsPanel()" #infoDetailsPanelOrigin>
                                        <mat-icon class="icon-size-5"
                                            [svgIcon]="'heroicons_solid:chevron-down'"></mat-icon>
                                    </button>
                                    <!-- Info details panel -->
                                    <ng-template #infoDetailsPanel>
                                        <div
                                            class="flex flex-col py-4 px-6 w-full max-w-160 space-y-1.5 border text-md rounded shadow-md overflow-auto bg-card">
                                            <!-- From -->
                                            <div class="flex">
                                                <div class="min-w-14 font-medium text-right">
                                                    from:</div>
                                                <div class="pl-2 whitespace-pre-wrap">
                                                    {{email.from?.emailAddress?.name}}
                                                    <{{email.from?.emailAddress?.address}}>
                                                </div>
                                            </div>
                                            <!-- To -->
                                            <div class="flex">
                                                <div class="min-w-14 font-medium text-right">
                                                    to:</div>
                                                <div class="pl-2 whitespace-pre-wrap">
                                                    <span
                                                        *ngFor="let recipient of email?.toRecipients">{{recipient.emailAddress.address}},</span>
                                                </div>
                                            </div>
                                            <!-- Subject -->
                                            <div class="flex">
                                                <div class="min-w-14 font-medium text-right">
                                                    subject:</div>
                                                <div class="pl-2 whitespace-pre-wrap">
                                                    {{email.subject}}</div>
                                            </div>
                                        </div>
                                    </ng-template>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="mt-8 whitespace-pre-line leading-relaxed"> <strong>Subject: </strong>{{
                            email.subject }}
                        </div>
                        <div class="mt-8 whitespace-pre-line leading-relaxed" style="line-break:anywhere"
                            [innerHTML]="renderEmailBody(email?.body?.content,email?.attachments)">
                        </div>
                        <ng-container *ngIf="email.hasAttachments && email?.attachments">
                            <div class="flex flex-col w-full">
                                <div class="flex items-center mt-12">
                                    <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:paper-clip'"></mat-icon>
                                    <div class="ml-2 font-semibold">
                                        {{email?.attachments?.length}} Attachments</div>
                                </div>
                                <div class="flex flex-wrap -m-3 mt-3">
                                    <ng-container *ngFor="let attachment of email?.attachments">
                                        <div class="flex items-center m-3">
                                            <img [src]="getAttachmentIcon(attachment['@odata.mediaContentType'])" alt=""
                                                class="w-10 h-10 rounded-md overflow-hidden">
                                            <div class="ml-3">
                                                <div class="text-md font-medium truncate" [title]="attachment.name">
                                                    {{attachment.name}}</div>
                                                <div class="flex text-sm font-medium truncate text-secondary"
                                                    [title]="attachment.size">
                                                    {{attachment.size / 1000 |
                                                    number:'1.0-2'}} KB
                                                    <mat-icon (click)="getAttachmentUrl(attachment)">download</mat-icon>
                                                </div>
                                            </div>
                                        </div>
                                    </ng-container>
                                </div>
                            </div>
                        </ng-container>
                    </div>
                </div>
            </ng-container>
        </ng-container>
        <ng-template #notMailsFound>
            <h6 class="text-center">Currently you have no conversation with {{ user?.email
                }}</h6>
        </ng-template>
    </ng-container>
    <ng-template #notLogin>
        <h6 class="text-center">Please login to your Outlook account to send email</h6>
    </ng-template>
</div>