.form-list .form-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    background-color: #fff;
}

.form-item:hover .form-actions {
    visibility: visible;
}

.form-info {
    display: flex;
    align-items: center;
}


.form-details .form-name {
    font-weight: bold;
    cursor: pointer;
}

.form-details .form-updated {
    font-size: 0.8rem;
    color: #666;
}

.form-actions {
    visibility: hidden;
    display: flex;
}

.edit-btn,
.delete-btn {
    padding: 5px 10px;
    border: none;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
}

.delete-btn {
    background-color: #dc3545;
}