<div class="flex flex-col flex-auto min-w-0 main-body-watermark">
    <!-- Main -->
    <div class="flex-auto p-6">
        <!-- CONTENT GOES HERE -->
        <div class="rounded-2xl">
            <div class="signature-main" style="border-radius: 10px;">
                <div class="nav rounded-2xl">
                    <h4>Email Signature</h4>
                    <button class="btn btn-border-3" (click)="openLg(content)" *ngIf="signPermissions.create">Create</button>
                    <ng-template #content let-modal>
                        <div class="modal-header">
                            <h3 class="modal-title">Create Email Signature</h3>
                            <button type="button" class="btn-close" aria-label="Close"
                                (click)="modal.dismiss('Cross click')"></button>
                        </div>
                        <div class="modal-body">
                            <form class="flex flex-col pb-10 bg-card overflow-hidden" [formGroup]="addEmailTem">
                                <!--  #signatureForm = "ngForm" -->
                                <div class="flex flex-col gt-xs:flex-row">
                                    <mat-form-field class="flex-auto gt-xs:pr-3">
                                        <mat-label>Email Signature Name</mat-label>
                                        <input matInput type="text" formControlName="title" name="name">
                                        <mat-error *ngIf="addEmailTem.get('title').hasError('required')">
                                            Name is required.
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="flex flex-col mt-3 gt-xs:flex-row">
                                    <app-ck-editor formControlName="body"></app-ck-editor>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="save_btn" (click)="save()">Save</button>
                        </div>
                    </ng-template>
                </div>
                <div class="main pt-3">
                    <div class="main_inner" *ngIf="signPermissions.read">
                        <!-- searchbar -->
                        <div class="d-flex justify-content-end searchbar_main">
                            <input type="text" placeholder="Search here.." class="searchbar" [(ngModel)]="searchEmail">
                            <mat-icon>search</mat-icon>
                        </div>
                        <!-- guardslist -->
                        <table class="table w-100">
                            <thead class="bg-dark text-light">
                                <tr class="table-row">
                                    <th scope="col">Title</th>
                                    <th scope="col">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let user of newdata">
                                    <td>{{ user.title }}</td>
                                    <td>
                                        <mat-icon svgIcon="heroicons_outline:eye" style="cursor: pointer;"
                                            (click)="viewTemp(user)"></mat-icon>&nbsp;
                                        <mat-icon svgIcon="heroicons_solid:pencil-alt" style="cursor: pointer;"
                                            (click)="edit(content,user,user.id)" *ngIf="signPermissions.update"></mat-icon>&nbsp;
                                        <mat-icon svgIcon="heroicons_outline:trash" style="cursor: pointer;"
                                            (click)="deleteItem(user.id)" *ngIf="signPermissions.delete"></mat-icon>&nbsp;
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>