<div class="card" #fullScreen style="min-height: 450px;max-height: 450px; line-break: anywhere;">
    <div class="flex p-3 justify-between font-size-lg text-capitalize font-weight-normal">
        <span class="mr-2 opacity-7 fw-bold">
            <i class="fa fa-cog fa-spin"></i>
            Welfare/Green Call Check Escalation ({{ liveWelfareCallData.length }})
        </span>
        <mat-icon svgIcon="mat_outline:open_in_full" class="icon-size-5" (click)="openFullscreen()"></mat-icon>
    </div>
    <div class="p-3" [ngClass]="{'full-height-license': isFullscreen, 'table-container-welfare': !isFullscreen}">
        <table id="example" class="table table-hover table-striped table-borderless">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Phone</th>
                    <th>Type</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody [@stagger]="liveWelfareCallData.length">
                <ng-container *ngFor="let data of liveWelfareCallData; let i = index; trackBy: trackByFn">
                    <tr scope="row" [@fadeIn]="" [@stagger]="i">
                        <td>{{ data.first_name }} {{ data.middle_name }} {{ data.last_name }}</td>
                        <td>{{ data.phone }}</td>
                        <td class="text-capitalize">{{ data.type.replace('_',' ') }}</td>
                        <td>
                            <div class="badge" [ngClass]="{'badge-danger': data.status === 'no','badge-success': data.status === 'yes','badge-warning': data.status === 'missed','badge-info': data.status === 'sent'}">
                                <span class="text-capitalize">{{ data.status?data.status:'N/A' }}</span>
                            </div>
                        </td>
                        <td>
                            <i class="fa fa-info-circle cursor-pointer mx-1" (click)="detail(data)"></i>
                            <mat-slide-toggle [checked]="data?.manual_call == 1" [disabled]="data?.manual_call == 1"
                                *ngIf="data.type == 'green_call'" (change)="onSlideToggleChange(data)">
                            </mat-slide-toggle>
                        </td>
                    </tr>
                </ng-container>
            </tbody>
        </table>
    </div>
</div>