<div class="absolute inset-0 flex flex-col overflow-hidden main-body-watermark">
    <div class="p-4 rounded-2xl common-admin-customer-contractor">
        <div class="activity-log">
            <div class="user-main">
                <div class="job-track-nav">
                    <h3 style="width: 27%;">Payslip</h3>
                    <mat-chip-list aria-label="Dog selection" class="dog_selection">

                        <!-- <app-date-range (dateRange)="getStartEnd($event)" [start]="start" [end]="end"></app-date-range>

                        <app-select-multiple-guards style="height: 43px; margin: 5px 5px 11px;" class="select-job-tacker"
                            (selectedUsers)="receiveDataFromChildGuards($event)" [dataArray]="guards"
                            [placeholderText]="'Select Staff'">
                        </app-select-multiple-guards> -->

                        <mat-chip   (click)="openLg(uploadModal)">
                            <mat-icon svgIcon="mat_outline:file_upload"></mat-icon><span
                                style="margin-right: 5px;">Import Data</span>
                        </mat-chip>

                    </mat-chip-list>
                </div>
            </div>
        </div>
    </div>

    <div class="containers common-tracker-sheet" style="max-height: 470px; overflow-y: scroll;">
        <div class="filters-section p-2 bg-white" style="float: right;">
            <div class="d-flex align-items-center flex-wrap gap-3">
                <app-date-range (dateRange)="getStartEnd($event)" [start]="start" [end]="end"></app-date-range>

                <app-select-multiple-guards style="height: 43px; margin: 5px 5px 11px;" class="select-job-tacker"
                    (selectedUsers)="receiveDataFromChildGuards($event)" [dataArray]="guards"
                    [placeholderText]="'Select Staff'">
                </app-select-multiple-guards>
            </div>
        </div>
        <div class="table-container mt-3">
            <div *ngIf="getPaySlip.length > 0; else noData">
            <table style="width: 99%;" id="example" class="table table-hover table-striped table-bordered m-2">
                <thead class="bg-emerald-400 live-operation-head">
                    <tr>
                        <th>Staff Name</th>
                        <th style="text-align: center;">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let report of getPaySlip">
                        <td>
                            <p>{{ report.guard_name }}</p>
                        </td>
                        <td style="text-align: center;">
                            <mat-icon (click)="downloadFile(report.file_url)" style="cursor: pointer;">picture_as_pdf</mat-icon>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <ng-template #noData>
            <p class="text-center" style="padding-top: 70px; padding-bottom: 60px;">No data found</p>
        </ng-template>
        </div>
    </div>
</div>

<ng-template #uploadModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Upload Payslip</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <div class="row p-2">
            <div class="col-6">
                <mat-form-field color="accent" appearance="outline" class="cutom-field" style="width: -webkit-fill-available">
                    <mat-label>Start Date</mat-label>
                    <input matInput [matDatepicker]="startPicker" [(ngModel)]="startDate">
                    <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
                    <mat-datepicker #startPicker color="primary"></mat-datepicker>
                </mat-form-field>
            </div>
            <div class="col-6">
                <mat-form-field appearance="outline" class="cutom-field" color="accent" style="width: -webkit-fill-available">
                    <mat-label>End Date</mat-label>
                    <input matInput [matDatepicker]="endPicker" [(ngModel)]="endDate">
                    <mat-datepicker-toggle matSuffix [for]="endPicker"></mat-datepicker-toggle>
                    <mat-datepicker #endPicker></mat-datepicker>
                </mat-form-field>
            </div>
        </div>
        <div class="row p-4">
            <input class="form-control" type="file" accept="application/pdf" (change)="onFileSelected($event)" />
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
        <button type="button" class="btn btn-primary" (click)="submitForm(modal)">Submit</button>
    </div>
</ng-template>
