$custome_flex-padding: 15px;
$primary-color: var(--primary_color, #01A37E);
$color-secondary: var(--color-secondary, #1e293c);
$color-light-button: var(--color-light-button, #a0e2d2);

.activity-log {
    border-bottom: 1px solid #e2e8f0;
    position: sticky;
    top: -25px;
    z-index: 2;

    .user-main {
        .job-track-nav {
            display: flex;
            justify-content: space-between;
            padding: 19px 19px;
            align-items: center;
            border-radius: 10px;
            background-color: var(--tw-ring-offset-color) !important;
            border-radius: 13px;

            mat-form-field {
                margin: 5px;

                .mat-form-field-flex {
                    min-height: 37px !important;
                }

                mat-icon {
                    margin: 4px;
                }
            }

            .job-tracker-from-to {
                .mat-form-field-wrapper {
                    .mat-form-field-flex {
                        min-width: 200px !important;
                    }
                }
            }
        }
    }
}

.containers {
    position: relative;
    top: 2%;
    box-sizing: border-box;
    margin: 10px 25px;
    padding: 8px 10px 10px;
    border-radius: 10px;
}