<div class="modal-header">
    <h5 class="modal-title">Publish Shifts Information</h5>
    <button type="button" class="close" style="color: white;opacity: 1;" data-dismiss="modal" (click)="close('cancel')"
        aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <!-- <mat-table [dataSource]="leftPanelDataSource" multiTemplateDataRows matSort>
        <ng-container matColumnDef="select">
            <mat-header-cell *matHeaderCellDef>
                <mat-checkbox color="primary" (change)="$event ? UserSMasterToggle('id') : null"
                    [checked]="userSSelection.hasValue() && isAllUserSSelected()"
                    [indeterminate]="userSSelection.hasValue() && !isAllUserSSelected()">
                </mat-checkbox>
            </mat-header-cell>
            <mat-cell *matCellDef="let row">
                <mat-checkbox color="primary" (click)="$event.stopPropagation()" 
                    (change)="onUserSCheckboxChange(row, $event)" [checked]="userSSelection.isSelected(row)">
                </mat-checkbox>
            </mat-cell>
        </ng-container>


        <ng-container matColumnDef="mobile">
            <mat-header-cell *matHeaderCellDef>
                Mobile
            </mat-header-cell>
            <mat-cell *matCellDef="let row">
                <mat-checkbox color="primary" (click)="$event.stopPropagation()"
                    (change)="$event ? mobileSelection.toggle(row) : null" [checked]="mobileSelection.isSelected(row)"
                    [disabled]="!userSSelection.isSelected(row)">
                </mat-checkbox>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="email">
            <mat-header-cell *matHeaderCellDef>
                Email
            </mat-header-cell>
            <mat-cell *matCellDef="let row">
                <mat-checkbox color="primary" (click)="$event.stopPropagation()"
                    (change)="$event ? emailSelection.toggle(row) : null" [checked]="emailSelection.isSelected(row)"
                    [disabled]="!userSSelection.isSelected(row)">
                </mat-checkbox>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="site_name">
            <mat-header-cell *matHeaderCellDef>
                Location Name
            </mat-header-cell>
            <mat-cell *matCellDef="let row" [style.color]="row.color">
                {{ row.site_name }}
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="guard_name">
            <mat-header-cell *matHeaderCellDef>
                Staff Name
            </mat-header-cell>
            <mat-cell *matCellDef="let row" [style.color]="row.color">
                {{ row.guard_name }}
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="start">
            <mat-header-cell *matHeaderCellDef>
                Start
            </mat-header-cell>
            <mat-cell *matCellDef="let row" [style.color]="row.color">
                {{ row.start }}
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="end">
            <mat-header-cell *matHeaderCellDef>
                End
            </mat-header-cell>
            <mat-cell *matCellDef="let row" [style.color]="row.color">
                {{ row.end }}
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="expandedDetail">
            <mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length" >
                <div class="example-element-detail" [@detailExpand]="element?.expanded" *ngIf="element?.expanded && element.conflict">
                    <div style="width: 100%;">
                        <div class="example-element-description">
                            <ng-container *ngIf="element.doc_conf !==null">
                                <li>{{ element.doc_conf }}</li>
                            </ng-container>
                            <ng-container *ngIf="element.conflict === 'conflict'; else otherTemplate">
                                <li>This shift has time conflict
                                    <ul>
                                        <li>Start - {{ element.conf_start }}</li>
                                        <li>End - {{ element.conf_end }}</li>
                                    </ul>
                                </li>
                                <ng-container *ngTemplateOutlet="conflictTemplate"></ng-container>
                            </ng-container>
                        </div>
                    </div>
                </div>
            </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="columnsToDisplay"></mat-header-row>
        <mat-row *matRowDef="let element; columns: columnsToDisplay;"
            [class.example-expanded-row]="expandedElement === element"
            [ngClass]="{'red-row': (!isEmpty(element.conflict) && !isEmpty(element.conf_start) && !isEmpty(element.conf_end)) || !isEmpty(element.work_limitaion_conf) || (element.doc_conf !='active' && element.doc_conf === Null) }"
            [class.example-expanded-row]="element?.expanded" (click)="element.expanded = !element?.expanded ; ">
        </mat-row>
        <mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></mat-row>

    </mat-table> -->

    <div class="wrapper" style="height: 450px; overflow-y: scroll;">
        <div class="progress-bar">
            <span>Step {{ activeStep + 1 }} of 2</span>
            <div class="bar">
                <div class="fill" [ngStyle]="{ width: activeStep === 0 ? '50%' : '100%' }"></div>
            </div>
        </div>
  
        <div class="card" [class.active]="activeStep === 0">
            <h3>Select Days and Resources</h3>
  
            <div class="publish-method">
                <button class="publish-button" [class.active]="publishBy === 'guard'" (click)="setPublishMethod('guard')">
                    Publish By Person
                </button>
                <button class="publish-button" [class.active]="publishBy === 'site'" (click)="setPublishMethod('site')">
                    Publish By Site
                </button>
            </div>
  
            <!-- Days Grid -->
            <div class="days-grid">
                <div *ngFor="let day of days" class="day-card" [class.active]="selectedDays.includes(day)"(click)="toggleDay(day)">
                    {{ day }}
                </div>
            </div>

            <div class="small-actions" style="text-align: center; margin-bottom: 15px;">
                <a (click)="selectAll()">Select All</a> | <a (click)="clearAll()">Clear All</a>
            </div>
  
            <h4 class="heading-underline">
                <span *ngIf="publishBy === 'guard'">👮‍♂️ Choose Guards</span>
                <span *ngIf="publishBy === 'site'">📍 Choose Locations</span>
            </h4>
              
            <div class="location-list">
                <label *ngFor="let item of resources" class="location-item">
                  <input type="checkbox" [(ngModel)]="item.selected" />
                  {{ item.title }}
                </label>
            </div>
        </div>
  
        <div class="card" [class.active]="activeStep === 1">
            <h3>Confirm & Notify</h3>
            <div class="confirmation-section">

                <!-- <div class="toggle-wrapper">
                    <label class="toggle-label">
                      <input
                        type="checkbox"
                        [(ngModel)]="publishForAllCustomers"
                        (change)="onToggleChange()" />
                      <span class="slider"></span>
                      Publish shifts for all customers?
                    </label>
                </div> -->

                <div class="notification-checkboxes">
                    <label>
                      <input type="checkbox" [(ngModel)]="emailNotificationSelected"> Email
                    </label>&nbsp;
                    <label>
                      <input type="checkbox" [(ngModel)]="mobileNotificationSelected"> Mobile
                    </label>
                </div>

                <table class="publish-table">
                    <thead>
                      <tr>
                        <th>
                            <input type="checkbox" [checked]="allSelected" (change)="toggleAll($event)">
                        </th>
                        <th>Name</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let person of publishList">
                        <td>
                            <input type="checkbox" [(ngModel)]="person.selected">
                        </td>
                        <td>{{ person.title }}</td>
                      </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="close('cancel')">Close</button>
    <button type="button" class="btn btn-border-3"*ngIf="activeStep !== 0" (click)="goBack()">Back</button>
    <button type="button" class="btn btn-border-3" *ngIf="activeStep !== lastStep" [disabled]="!canProceed()" (click)="goNext()">Next</button>
    <button type="button" class="btn btn-border-3" *ngIf="activeStep === lastStep" (click)="publish()">Publish</button>
</div>
  