<div class="absolute inset-0 flex flex-col overflow-hidden">
    <div class="flex-auto overflow-auto p-3">
        <div class="user-nav">
            <h4>Public Holidays</h4>
            <mat-form-field class="fuse-mat-rounded">
                <mat-select [placeholder]="'Select state...'" [(value)]="selectedState" #state
                    (selectionChange)="filterState(state.value)">
                    <mat-option *ngFor="let state of global.states" [value]="state.value">{{state.name}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <full-calendar class="full-calendar" #fullcalendar [options]="calendarOptions"></full-calendar>
    </div>
</div>