<div class="d-flex justify-content-between w-100 p-4"
    style="position: sticky;top: 0;background-color: white;z-index: 8;">
    <h2>Tracker</h2> <mat-icon class="bg-danger text-light rounded" role="button" (click)="close()">close</mat-icon>
</div>

<ng-container *ngIf="trackers.length==0;else templateName">
    <app-skelton></app-skelton>
</ng-container>

<ng-template #templateName>
    <div class="border  p-2 rounded-2xl">
        <div class="map rounded mb-4 border d-flex align-items-center justify-content-center text-muted" 
            #map4>
            Map
        </div>
        <div style="position: relative;min-height:40vh; max-height:45vh; overflow:auto">
            <div class="table-responsive">
                <table class="w-100 table table-striped">
                    <thead>
                        <tr>
                            <th style="width: 10%;"></th>
                            <th style="width: 30%;">Time:</th>
                            <th style="width: 20%;">Distance:</th>
                            <th style="width: 40%;">Address:</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let track of trackers;let i = index">
                            <td>
                                <div style="width:40px; height:40px; display:grid; place-items:center; background-color:#BFD1F3; color:#4B689F; font-size:20px;"
                                    class="border rounded-circle fw-bold">{{ i + 1 }}</div>
                            </td>
                            <td>{{track?.created_at | date: 'dd-MM-yyyy HH:mm'}}</td>
                            <td>{{track?.distance}}</td>
                            <td>{{track?.address}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</ng-template>