<h4 mat-dialog-title class="name-heading">Usman Bhatti</h4>

<div mat-dialog-content class="staff-fortnight">
    <img src="https://mdbootstrap.com/img/new/avatars/8.jpg" alt="Staff Image" style="width: 125px; height: 150px"/>
    
    <div class="staff-detail">
        <div class="staff-gender staff-flex">
            <p>Gender:</p>
            <h6>Male</h6>
        </div>
        <div class="staff-email staff-flex">
            <p>Email:</p>
            <h6>usmanrajput9990@gmail.com</h6>
        </div>
        <div class="staff-phone staff-flex">
            <p>Phone:</p>
            <h6>03134390388</h6>
        </div>
        <div class="staff-sec-license staff-flex">
            <p>VIC Security License:</p>
            <h6>998-122-21s</h6>
        </div>
        <div class="staff-license-expiry staff-flex">
            <p>Expiry Date:</p>
            <h6>28/01/2023</h6>
        </div>
        <div class="staff-visa staff-flex">
            <p>visa:</p>
            <h6>213412341231</h6>
        </div>
        <div class="staff-visa-expiry staff-flex">
            <p>Visa Exp:</p>
            <h6>28/01/2023</h6>
        </div>
    </div>
</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close class="staff-close-model" (click)="close()">Close</button>
</div>
