<div class="flex flex-col flex-auto min-w-0 main-body-watermark">
    <!-- Main -->
    <div class="flex-auto p-6">
        <!-- CONTENT GOES HERE -->
        <div class="rounded-2xl">
            <div class="runsheet-page">
                <div class="runsheet-head" style="background-color: var(--tw-ring-offset-color) !important; border-radius: 13px;">
                    <div class="user-nav rounded-2xl">
                        <h4>Runsheet</h4>
                        <mat-chip-list aria-label="Dog selection" class="dog_selection">
                            <mat-chip-list aria-label="Dog selection" class="dog_selection">
                                <button class="btn btn-border-3" (click)="createNewRunsheet()">Create New Runsheet</button>
                            </mat-chip-list>

                            <mat-chip-list aria-label="Dog selection" class="dog_selection"
                                style="margin-left: 20px;">
                                <button class="btn btn-border-3" (click)="deletedRunsheets(deleterunsheet)">Deleted Runsheets</button>
                            </mat-chip-list>
                        </mat-chip-list>
                    </div>
                </div>
            </div>
        </div>

        <!-- Table for site detail -->
        <section>
            <div class="d-flex justify-content-end searchbar_main">
                <input type="text" placeholder="Search here.." class="searchbar" [(ngModel)]="searchText">
                <mat-icon>search</mat-icon>
            </div>

            <table class="table">
                <thead>
                    <th>Name</th>
                    <th>Actions</th>
                </thead>

                <tbody>
                    <tr *ngFor="let runsheet of filteredRunsheet || getRunsheet">
                        <td>{{runsheet.title}}</td>
                        <td>   
                            <mat-icon svgIcon="mat_solid:edit" style="color: #01A37E;" (click)="editRunsheet(runsheet.id)"></mat-icon>&nbsp;    
                            <mat-icon svgIcon="mat_solid:delete" style="color: #d1001f;" (click)="delRunsheetModal(runsheet.id)"></mat-icon>
                        </td>
                    </tr>
                </tbody>
            </table>
        </section>
    </div>
</div>

<ng-template #deletecontent let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Delete Runsheet Location</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <form [formGroup]="AddDeleteReason">
        <div class="modal-body">
            <div class="row">
                <mat-form-field appearance="outline">
                    <mat-label>Write a reason</mat-label>
                    <textarea matInput formControlName="reason"></textarea>
                </mat-form-field>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
            <button type="button" class="btn text-white button-back" [disabled]="!AddDeleteReason.valid"
                (click)="deletedata(elementId)">Delete</button>
        </div>
    </form>
</ng-template>

<ng-template #deleterunsheet let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Deleted Runsheets</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <table class="table">
            <thead style="background-color: #DDF4EF;">
                <th>Runsheet Name</th>
                <th>Date and Time</th>
                <th>Reason</th>
                <th>Admin Name</th>
            </thead>
            <tbody>
                <tr *ngFor="let res of deleteReason">
                    <td>{{res.runsheet_name}}</td>
                    <td>{{res.created_at}}</td>
                    <td class="multi-line-cell">{{ res.reason }}</td>
                    <td>{{res.action_by}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
    </div>
</ng-template>
