<div class="main-container d-flex">
    <div class="sideBar  h-100 w-25 " style="position:sticky; top:0; min-height: 60vh; max-height: 100vh; overflow: auto;">
        <h2 class="text-center p-3">Job Activity</h2>

        <div class="cards p-1 d-flex  align-items-center" role="button"
            *ngFor="let sideCard of sideCards; let i = index" [style.background]="sideCard.background"
            [class.selected]="i === selectedCardIndex"
            [style.border]="i === selectedCardIndex ? borderColors[selectedCardIndex] : 'none'" (click)="selectCard(i)">
            <div [class.active]="i === selectedCardIndex"
                [style.background-color]="i === selectedCardIndex ? sideCard.color : ''"
                [style.border-color]="i === selectedCardIndex ? sideCard.color : ''"
                style="height: 50px; width: 6px;  border-radius: 23px;">
            </div>
            <img class="ms-2 me-2" style="height:30px; width:35px" [src]="sideCard.logo" alt="">
            <span [style.color]="sideCard.color">{{sideCard.text}}</span>
        </div>
    </div>

    <div class="detailsBar border-start h-100 w-75">

        <!-- login Details -->
        <div *ngIf="selectedCardIndex === 0">
            <!-- <app-sign-in-out></app-sign-in-out> -->
        </div>

        <!-- breakDeatails -->
        <div *ngIf="selectedCardIndex === 1">
            <div class="breakDetails">
                <div class="d-flex justify-content-between w-100 p-4" style="position: sticky;
                    top: 0;
                    background-color: white;
                    z-index: 8;">
                    <h2>Break Details</h2> 
                    <mat-icon class="bg-danger text-light rounded" role="button" (click)="close()">close</mat-icon>
                </div>
            </div>
        </div>
    </div>
</div>
