<div class="flex flex-col flex-auto min-w-0 main-body-watermark">

    <!-- Main -->
    <div class="flex-auto p-6">

        <!-- CONTENT GOES HERE -->
        <div class=" bg-white rounded-2xl position-relative">

            <div class="d-flex upper-dashboard p-3 flex-wrap align-items-center justify-content-between">

                <h4 class="d-flex align-items-center">Dashboard <img style="height:17px; width:17px; margin-left:5px;"
                        src="assets/icons/dashboard-icons/Group 247.png" alt=""></h4>
                <!-- <mat-form-field class="w-25 ">
                    <mat-icon class="border-end p-3 me-3">person</mat-icon>
                    <input matInput placeholder="Search By staff...">
                    <button mat-button matSuffix>
                        <mat-icon>search</mat-icon>
                    </button>
                </mat-form-field> -->

                <mat-form-field appearance="fill" class="m-1 w-25 aircall-dateTime">
                    <mat-date-range-input [formGroup]="range" [rangePicker]="picker">
                        <input matStartDate formControlName="start" placeholder="Start date">
                        <input matEndDate formControlName="end" placeholder="End date">
                    </mat-date-range-input>
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-date-range-picker #picker></mat-date-range-picker>
                    <mat-error *ngIf="range.controls.start.hasError('matStartDateInvalid')">Invalid start
                        date</mat-error>
                    <mat-error *ngIf="range.controls.end.hasError('matEndDateInvalid')">Invalid end date</mat-error>
                </mat-form-field>

                <!-- <div class="d-flex border p-1  rounded">
                    <span class="border-end  p-3 me-3">From</span>
                    <input type="date" [value]="from | date:'yyyy-MM-dd'" (input)="onDateInput('from',$event.target.value)">
                </div>

                <div class="d-flex border p-1 rounded">
                    <span class="border-end  p-3 me-3">To</span>
                    <input type="date" [value]="to | date:'yyyy-MM-dd'" (input)="onDateInput('to',$event.target.value)">
                </div> -->


            </div>

            <div class="dashboard-body d-flex justify-content-between w-100 p-2">


                <div class="left-dhasboard p-2  ">
                    <div class="cards d-flex flex-wrap justify-content-around p-3">
                        <!-- Incomming Card -->
                        <mat-card class="incoming ">
                            <mat-card-content class="d-flex align-items-center justify-content-between">
                                <div>
                                    <img style="height:55px; width:55px; margin:auto;"
                                        src="assets/icons/dashboard-icons/Group 337.png" alt="">
                                    <span class="mb-0 heading d-block">Inbound Calls</span>
                                    <!-- <span clas="format">Last 10 Days</span> -->
                                </div>
                                <h1>{{ inboundCalls.length }}</h1>
                            </mat-card-content>
                        </mat-card>

                        <mat-card class="outgoing">
                            <mat-card-content class="d-flex align-items-center justify-content-between">
                                <div>
                                    <img style="height:55px; width:55px; margin:auto;"
                                        src="assets/icons/dashboard-icons/Group 338.png" alt="">
                                    <span class="mb-0 heading d-block">Outbound Calls</span>
                                    <!-- <span clas="format">Last 10 Days</span> -->
                                </div>
                                <h1>{{ outboundCalls.length }}</h1>
                            </mat-card-content>
                        </mat-card>

                        <mat-card class="missed">
                            <mat-card-content class="d-flex align-items-center justify-content-between">
                                <div>
                                    <img style="height:55px; width:55px; margin:auto;"
                                        src="assets/icons/dashboard-icons/Group 339.png" alt="">
                                    <span class="mb-0 heading d-block">Missed Calls</span>
                                    <!-- <span clas="format">Last 10 Days</span> -->
                                </div>
                                <h1>{{ missed_call.length }}</h1>
                            </mat-card-content>
                        </mat-card>

                        <mat-card class="total">
                            <mat-card-content class="d-flex align-items-center justify-content-between">
                                <div>
                                    <img style="height:55px; width:55px; margin:auto;"
                                        src="assets/icons/dashboard-icons/Group 340.png" alt="">
                                    <span class="mb-0 heading d-block">Total Calls</span>
                                    <!-- <span clas="format">Last 10 Days</span> -->
                                </div>
                                <h1>{{ totalCalls }}</h1>
                            </mat-card-content>
                        </mat-card>
                    </div>

                    <div class="" id="fullscreenDiv3" style="background-color: #fff;">
                        <div class="row">
                            <div class="col-12">
                                <div class="btn" (click)="toggleScreen3()" style="float: right;">
                                    <i class="fa" style="color: #fff" [class.fa-compress]="isFullScreen" [class.fa-expand]="!isFullScreen"></i>
                                </div>
                            </div>
                        </div>
                        <div class="chart">
                            <canvas id="lineCanvas" #lineCanvas
                                style="position: relative; height:55vh; width:60vw"></canvas>
                        </div>
                    </div>

                    <div class="pie-chart ps-2">
                        <h4 class="mt-3">Reasons of calls</h4>
                        <div class="d-flex">
                            <div class="progressBar mt-3 w-50">
                                <span class="d-block">Application Issues</span>
                                <div class="rounded-pill" style="width: 100%; height:10px; background-color:#FFDADA;">
                                </div>
                                <span class="d-block">54.5%</span>
                                <span class="d-block">Staff Absence</span>
                                <div class="rounded-pill" style="width: 70%; height:10px; background-color:#BFFFFB;">
                                </div>
                                <span class="d-block">35.5%</span>
                                <span class="d-block">Payment Issues</span>
                                <div class="rounded-pill" style="width: 50%; height:10px; background-color:#BBF5B1;">
                                </div>
                                <span class="d-block">10.5%</span>

                            </div>
                            <div class="pieChart w-50">
                                <canvas id="doughnutCanvas" #doughnutCanvas
                                    style="position: relative; height:10vh; width:60vw"></canvas>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="right-dashboard">

                    <button class="btn btn-border-3 call-aircall my-3" (click)="loadPhone()">Activate
                        Phone</button>
                    <div id="phone-container" [style.display]="showMobile ? 'block' : 'none'">
                        <div id="phone"></div>
                    </div>
                    <div class="circleProgressBar mb-3 p-2">
                        <!-- <div class="progress-bar-container">
                            <svg class="progress-ring" width="120" height="120">
                                <circle class="progress-ring-circle" [attr.stroke-dasharray]="circumference"
                                    [attr.stroke-dashoffset]="circumference - progress" cx="60" cy="60" r="52"></circle>
                            </svg>
                            <span class="progress-value">{{ progress }}%</span>
                        </div> -->
                        <div class="progress-bar-container">
                            <svg viewBox="0 0 36 36" class="circular-chart">
                                <path class="circle-bg" d="M18 2.0845
                                  a 15.9155 15.9155 0 0 1 0 31.831
                                  a 15.9155 15.9155 0 0 1 0 -31.831" />
                                <path class="circle" stroke-dasharray="84.5, 100" d="M18 2.0845
                                  a 15.9155 15.9155 0 0 1 0 31.831
                                  a 15.9155 15.9155 0 0 1 0 -31.831" />
                                <text x="18" y="23.35" class="percentage">85%</text>
                                <text x="18" y="15" class="label">Service Provided</text>
                            </svg>
                        </div>

                    </div>
                    <div class="circleCalls mb-3  d-flex flex-column align-items-center ms-1 p-3 ">
                        <div class="d-flex justify-content-around mb-4 w-100">
                            <div style="border-radius:50%;
                            border-radius: 50%;
                            height: 90px;
                            width:90px;
                        display: flex;
                        justify-content:center;
                        box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
                        align-items:center;
                        flex-direction:column;
                            background-color:#BBF5B1;">
                                <h2 class="p-0 mb-0" style="color:#235943">60</h2>
                                <span class="p-0" style="font-size:10px; color:#235943">Active Calls</span>

                            </div>
                            <div style="border-radius:50%; height:100px; border-radius: 50%; height: 90px; width:90px;
                        display: flex;box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);justify-content:center; align-items:center;
                        flex-direction:column;
                            background-color:#FFE3CF;">
                                <h2 class="p-0 mb-0" style="color:#FF8021">10</h2>
                                <span class="p-0" style="font-size:10px; color:#FF8021">Waiting Calls</span>

                            </div>
                        </div>

                        <div class="d-flex justify-content-around w-100">
                            <div style="border-radius:50%; height:100px; border-radius: 50%; height: 90px;width:90px;
                                display: flex; box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);justify-content:center;
                                align-items:center;flex-direction:column; background-color:#E6E6E6;">
                                <h2 class="p-0 mb-0" style="color:#235943">10</h2>
                                <span class="p-0" style="font-size:10px; color:#235943">on Hold Calls</span>

                            </div>
                            <div style="border-radius:50%; height:100px;
                            border-radius: 50%;
                            height: 90px;
                            width:90px;
                        display: flex;
                        justify-content:center;
                        box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
                        align-items:center;
                        flex-direction:column;
                            background-color:#F6BFFF;">
                                <img style="height:50px; width:50px" src="assets/icons/dashboard-icons/groupp.png"
                                    alt="">
                                <span class="p-0" style="font-size:10px; color:#77008A">Guards Online</span>
                            </div>
                        </div>
                    </div>
                    <div class="callHistory ms-1 p-4 ">
                        <div class="uperLine d-flex justify-content-between align-items-center ">
                            <h3 class="d-flex">Call History <img
                                    src="../../../../assets/icons/dashboard-icons/histry.png"
                                    style="height:20px; width:22px;margin-left: 6px;margin-right: 4px; margin-top: 9px;"
                                    alt="">
                            </h3>
                        </div>
                        <!-- <div class="d-flex mb-3 justify-content-between" style="margin-left: 7%; margin-right: 7%;">
                            <app-select-multiple-customer class="select_job_roster" [dataArray]="guards" placeholderText="Guards"
                                style="padding: 0;"></app-select-multiple-customer>
                            <mat-form-field class="w-25">
                                <mat-icon class="border-end border-secondary p-3 me-3">person</mat-icon>
                                <input matInput placeholder="Search By Name..." [(ngModel)]="searchTerm" (ngModelChange)="search()">
                                <button mat-button matSuffix>
                                    <mat-icon>search</mat-icon>
                                </button>
                            </mat-form-field>
                        </div> -->
                        <!-- <div *ngIf="filteredItems.length === 0">
                            No results found.
                        </div> -->
                        <div class="cards p-2 mt-2  align-items-center border rounded d-flex justify-content-between"
                            *ngFor="let contact of contacts.slice(0,4)">
                            <div class="img d-flex">
                                <!-- <img [src]="contact.img" alt="" style="width: 60px; height: 60px"
                                    class="rounded-circle me-2" /> -->
                                <div class="d-flex flex-column"><span class="fw-bold">{{contact.name}}</span>
                                    <div class="d-flex"> <span class="text-muted ">{{contact.raw_digits}} </span>
                                        <img class="ms-2 mt-1" [src]="contact.img2" alt=""
                                            style="height:15px;width:15px">
                                    </div>
                                </div>
                                <div id="phone-container" [style.display]="showMobileDial ? 'block' : 'none'">
                                    <div id="phone-dial"></div>
                                </div>
                            </div>

                            <div class="d-flex">
                                <img class="me-2" role="button" style="height: 18px;" src="assets/icons/Vector.png"
                                    alt="" (click)="showDialer(contact,p.close())" [autoClose]="true" #p="ngbPopover"
                                    [ngbPopover]="popContent">
                                <img class="me-2" role="button" style="height: 18px;" src="assets/icons/Vector-1.png"
                                    alt="">
                            </div>

                        </div>
                        <div class=" text-right fw-bold">
                            <p>See All</p>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>