<div class="absolute inset-0 flex flex-col min-w-0 overflow-hidden">

    <mat-drawer-container class="flex-auto h-full bg-card dark:bg-transparent" (backdropClick)="onBackdropClicked()">

        <!-- Drawer -->
        <mat-drawer class="w-full sm:w-100 dark:bg-gray-900" [mode]="drawerMode" [opened]="false" [position]="'end'"
            [disableClose]="true" #matDrawer>
            <router-outlet></router-outlet>
        </mat-drawer>

        <mat-drawer-content class="flex flex-col bg-gray-100 dark:bg-transparent">

            <!-- Main -->
            <div class="flex flex-col flex-auto">

                <!-- Header -->
                <div
                    class="flex flex-col sm:flex-row items-start sm:items-center sm:justify-between p-3 sm:py-12 md:px-8 border-b bg-card dark:bg-transparent">
                    <!-- Title -->
                    <div>
                        <div class="text-4xl font-extrabold tracking-tight leading-none">File Manager</div>
                        <!-- <div class="flex items-center mt-0.5 font-medium text-secondary">
                            <ng-container>
                                folders,
                                files
                            </ng-container>

                        </div> -->
                    </div>

                </div>

                <!-- Items list -->
                <ng-container *ngIf="items; else noItems">
                    <div class="p-6 md:p-8 space-y-8">

                        <!-- Files -->
                        <ng-container *ngIf="items">
                            <div>
                                <div class="font-medium">Files</div>
                                <div class="flex flex-wrap -m-2 mt-2">
                                    <a class="flex flex-col w-40 h-40 m-2 p-4 shadow rounded-2xl cursor-pointer bg-card" (click)="openRightSideModal(items)">
                                        <div class="aspect-[9/6]">
                                            <div class="flex items-center justify-center h-full">
                                                <!-- Icons -->
                                                <div class="relative">
                                                    <mat-icon class="icon-size-14 text-hint opacity-50"
                                                        [svgIcon]="'heroicons_solid:document'"></mat-icon>
                                                        <div class="absolute left-0 bottom-0 px-1.5 rounded text-sm font-semibold leading-5 text-white"
                                                        [class.bg-red-600]="items.type === 'png' || items.type === 'PNG'"
                                                        [class.bg-blue-600]="items.type === 'doc' || items.type === 'DOC'"
                                                        [class.bg-green-600]="items.type === 'xls' || items.type === 'XLS'"
                                                        [class.bg-gray-600]="items.type === 'txt' || items.type === 'TXT'"
                                                        [class.bg-amber-600]="items.type === 'jpg' || items.type === 'JPG'"
                                                        [class.bg-orange-600]="items.type === 'pdf' || items.type === 'PDF'">
                                                        {{items.type ? items.type.toUpperCase() : ''}}
                                                    </div>
                                                    
                                                </div>
                                            </div>
                                        </div>
                                        <div
                                            class="flex flex-col flex-auto justify-center text-center text-sm font-medium">
                                            <div class="truncate">{{ items.document_name }}</div>
                                            <!-- <ng-container *ngIf="items.contents">
                                                <div class="text-secondary truncate">{{items.contents}}</div>
                                            </ng-container> -->
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </ng-container>
                    </div>
                </ng-container>

                <!-- No items template -->
                <ng-template #noItems>
                    <div class="flex flex-auto flex-col items-center justify-center bg-gray-100 dark:bg-transparent">
                        <mat-icon class="icon-size-24" [svgIcon]="'heroicons_outline:folder-open'"></mat-icon>
                        <div class="mt-4 text-2xl font-semibold tracking-tight text-secondary">There are no items!</div>
                    </div>
                </ng-template>

            </div>

        </mat-drawer-content>

    </mat-drawer-container>

</div>