@import url(https://fonts.googleapis.com/css?family=Gabriela);
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

.page {
	position: relative;
	max-width: 100%;
	margin: 0 auto;
    margin-top: 10px;
}


.common-style-for-cards .main .card {
	height:380px !important;
  }