<div class="modal-header">
    <h4 class="modal-title">{{ fromParent ? 'Update' : 'Create New'}}</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="close()"></button>
</div>

<form [formGroup]="CreatePatrolCar">
    <div class="modal-body">

        <div class="row">
            <mat-form-field appearance="outline" class="selection">
                <mat-label>Patrol Car Name</mat-label>
                <input matInput id="numberInput" formControlName="name">
            </mat-form-field>
        </div>

        <!-- <div class="row">
            <mat-form-field appearance="outline" class="selection">
                <mat-label>Select Run Name</mat-label>
                <mat-select formControlName="patrol_site_id">
                    <mat-option *ngFor="let loc of patrollingLocations" [value]="loc.id">{{loc.site_name}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div> -->
    
        <div class="row mt-2">
            <div class="col-4 inc-width">
                <mat-form-field appearance="outline" class="selection">
                    <mat-label>Car Make/Model</mat-label>
                    <input matInput id="numberInput" formControlName="car_model">
                </mat-form-field>
            </div>
    
            <div class="col-4 inc-width">
                <mat-form-field appearance="outline" class="selection">
                    <mat-label>Rego Number</mat-label>
                    <input matInput id="numberInput" formControlName="rego_num">
                </mat-form-field>
            </div>
    
            <div class="col-4 inc-width-calendar">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Rego Expiry Date</mat-label>
                    <input matInput [matDatepicker]="picker1" readonly formControlName="rego_exp_date">
                    <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
                    <mat-datepicker #picker1></mat-datepicker>
                </mat-form-field>
            </div>
        </div>
    
        <div class="row mt-2">
            <div class="col-4 inc-width">
                <mat-form-field appearance="outline" class="selection">
                    <mat-label>Insurance Company Name</mat-label>
                    <input matInput formControlName="insurance_comp_name">
                    <!-- <mat-select formControlName="insurance">
                        <mat-option value="yes">Yes</mat-option>
                        <mat-option value="no">No</mat-option>
                    </mat-select> -->
                </mat-form-field>
            </div>

            <div class="col-4 inc-width">
                <mat-form-field appearance="outline" class="selection">
                    <mat-label>Insurance Number</mat-label>
                    <input matInput formControlName="insurance_num">
                </mat-form-field>
            </div>
    
            <div class="col-4 inc-width-calendar">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Insurance Expiry Date</mat-label>
                    <input matInput [matDatepicker]="picker2" readonly formControlName="insurance_exp_date">
                    <mat-datepicker-toggle matIconSuffix [for]="picker2"></mat-datepicker-toggle>
                    <mat-datepicker #picker2></mat-datepicker>
                </mat-form-field>
            </div>
        </div>
    
        <div class="row mt-2">
            <div class="col-8 inc-width">
                <mat-form-field appearance="outline" class="selection">
                    <mat-label>Select Mechanic</mat-label>
                    <mat-select formControlName="mech_name">
                        <mat-option value="1">Aiden Markram</mat-option>
                        <mat-option value="2">Adam</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-4">
                <button type="button" class="btn btn-secondary" style="margin-top: 10px;"  (click)="createNewMechanic()">Add a Mechanic</button>
            </div>
    
            <!-- <div class="col-4 inc-width">
                <mat-form-field appearance="outline" class="selection">
                    <mat-label>Odometer Reading</mat-label>
                    <input matInput id="numberInput" formControlName="odometer">
                </mat-form-field>
            </div>
    
            <div class="col-4 inc-width">
                <mat-form-field appearance="outline" class="selection">
                    <mat-label>Daily Km</mat-label>
                    <input matInput id="numberInput" formControlName="kilometer">
                </mat-form-field>
            </div> -->
        </div>

        <div class="row mt-2">
            <div class="col-6">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Last Service Date</mat-label>
                    <input matInput [matDatepicker]="picker3" readonly formControlName="last_serv_date">
                    <mat-datepicker-toggle matIconSuffix [for]="picker3"></mat-datepicker-toggle>
                    <mat-datepicker #picker3></mat-datepicker>
                </mat-form-field>
            </div>
            <div class="col-6">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Next Service Date</mat-label>
                    <input matInput [matDatepicker]="picker4" readonly formControlName="next_serv_date">
                    <mat-datepicker-toggle matIconSuffix [for]="picker4"></mat-datepicker-toggle>
                    <mat-datepicker #picker4></mat-datepicker>
                </mat-form-field>
            </div>
        </div>
    </div>
    
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="close()">Close</button>
        <button type="button" class="btn btn-secondary" (click)="submitDetails()">{{ fromParent ? 'Update' : 'Save'}}</button> 
    </div>
</form>
