$primary-color: var(--primary_color, #01A37E);
$color-secondary: var(--color-secondary, #1e293c);

$color-light-button: var(--color-light-button, #01a37e2e);

.sideBar {
    position: sticky;
    top: 0;
    min-height: 60vh;
    max-height: 100vh;
    overflow: auto;
}

.button-back {
    background: var(--background-primary, #01A37E);
    color: var(--color-white, #ffff);
}

.cards.selected {
    box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.2);
}

.heading {
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 8;
    border-bottom: 1px solid #DEE2E6;
}

.right-main {
    .field1 {
        padding: 0px 10px;

        mat-form-field {
            width: 100%;
        }
    }
}

.clear-btn {
    height: 28px;
    width: 28px;
}

.nextpre {
    display: flex;
    justify-content: space-between;
    padding: 17px;
    margin-top: 20px;
}

.tab2-field1,
.tab5-parent {
    mat-form-field {
        width: 47%;
    }

    .location-input {
        width: 47%;
        border: 1px solid lightgray;
        height: 56px;
        border-radius: 6px;
        // margin: 2px;
        padding: 6px;
    }
}

.tab2-field1 {
    display: flex;
    justify-content: space-around;
}

.tab2-field2 {
    #map {
        height: 40vh;
        width: 96%;
        text-align: center;
        margin: auto;
    }
}

.tab4-field1 {
    padding: 0px 24px;

    .payable {
        width: 85%;
        padding: 0px 24px;
    }

    .charge {
        width: 87%;
        padding-left: 56px;
    }
}

.tab6-field1 {
    padding: 0px 24px;

    .greencall {
        width: 85%;
        padding: 0px 24px;
    }

    .welfarecall {
        width: 90%;
        padding-left: 56px;
        float: right;
    }
}

.break-yes-no,
.walfare-yes-no {
    padding: 17px;
}

.break-charg-pay,
.tab1-field5,
.tab5-parent {
    display: flex;
    justify-content: space-between;
    padding: 17px;
}

.example-margin {
    margin: 0 5px;
}

.green {
    margin: 0 16px;
}

.tab5-parent {
    display: flex;
    // flex-direction: column;
}

.add-new-task {
    display: block;
    margin: auto;
}

.green-call {
    display: flex;
    justify-content: space-between;
    padding: 17px;
}

.scroll {
    min-height: 55vh;
    max-height: 55vh;
    overflow-y: auto;
    overflow-x: hidden;
}

.form-error {
    border: 2px dotted red !important;
}

/////hira
.timeline {
    position: relative;
    max-width: 100%;
    margin: 0 auto;
}

.timeline::after {
    border-radius: 10px;
    content: "";
    position: absolute;
    width: 9px;
    background-color: rgb(202, 202, 202);
    top: 0;
    bottom: 0;
    left: 23%;
    margin-left: 0px;
}

/* Container around content */
.container {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 76%;
    margin: 0;
}

/* The circles on the timeline */
.container::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: rgb(255, 255, 255);
    border: 4px solid var(--my-color-var);
    top: 30px;
    border-radius: 50%;
    z-index: 1;
}

/* Place the container to the left */
.left {
    left: 0;
}

/* Place the container to the right */
.right {
    left: 24%;
}

/* Add arrows to the left container (pointing right) */
.left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid rgb(234, 234, 234);
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent white;
}

/* Add arrows to the right container (pointing left) */
.right::before {
    content: " ";
    height: 0px;
    position: absolute;
    top: 24px;
    width: 0px;
    z-index: 1;
    left: 22px;
    border: medium solid rgb(79, 11, 11);
    border-width: 17px 23px 17px 0;
    border-color: transparent rgb(240 240 240) transparent transparent;
}

/* Fix the circle for containers on the right side */
.right::after {
    left: -16px;
}

/* The actual content */
.content {
    padding: 10px 20px;
    background-color: rgb(240, 240, 240);
    position: relative;
    border-radius: 6px;

    .date_sheet {
        border-radius: 10px;
        box-sizing: border-box;
        left: -185px;
        background: #eeeeee;
        width: max-content;
        position: absolute;
        top: 12px;
        padding: 7px;

        .date {
            margin: 0;
            color: #f78909;
            font-weight: bold;
            text-align: center;
            font-size: 13px;

        }

        .by {
            text-align: center;
            font-weight: 600;
            margin: 0;
            line-height: 1.2;
            width: 100px;
            color: black;
            font-size: 15px;
            padding: 10px;
            text-transform: capitalize;
            white-space: initial;

        }

        .time {
            margin: 0;
            text-align: center;
            font-size: 18px;
            color: #1d7765;
            font-weight: bold;

        }
    }

    .date_sheet::after {
        content: '';
        height: 0px;
        position: absolute;
        top: 11px;
        width: 0px;
        z-index: 1;
        right: -12px;
        transform: rotate(180deg);
        border: medium solid rgb(79, 11, 11);
        border-width: 8px 12px 8px 0;
        border-color: transparent rgb(238 238 238) transparent transparent;
    }

    .heading {
        font-weight: bold;
        width: max-content;
        font-size: 12px;
        padding: 4px 10px;
        color: white;
        // background: #4caf50;
        border-radius: 5px;
        text-transform: capitalize;
    }

    .date {
        margin: 0;
        font-size: 16px;

        // font-weight: bold;
        // display: flex;
        // width: 100%;
        // align-items: baseline;
        // justify-content: space-evenly;
        .light-text {
            color: #434343;
            font-size: 12px;
            font-weight: 300;
            margin: 0px 3px;

        }

        .dark-text {
            font-size: 14px;
            color: #1e1c1c;

            font-weight: 600;
        }
    }

    .card {
        padding: 10px;
        margin: 10px;
        // width: 200px

        border-radius: 7px;
        background: #ffffff;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 50px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 26px -18px inset;

        .head {
            font-size: 16px;
            margin: 0;
            font-weight: bold;
            color: #444;
        }

        .dates {
            font-size: 11px;
            color: rgb(137, 137, 137);
        }
    }

    .details {
        color: #444444;
        font-size: 14px;
    }

}

.reason-color {
    color: #f2bb07;
}

.custom-cta-btn {
    background: #063E69;
    border: 1px solid #2998ff;
    color: #fff;
    box-shadow: 0 5px 8px 0 rgb(41 152 255 / 21%);
    white-space: nowrap;
    height: 40px;
    font-size: 15px;
    position: relative;
    text-align: center;
    padding: 0 16px;
    line-height: 0;
    background: #fff;
    border: 1px solid #d9d9d9;
    border-radius: 20px;
    color: #2998ff;
    display: flex;
    align-items: center;
    white-space: nowrap;
    cursor: pointer;
    width: 30%;
    margin: auto;
    letter-spacing: 0.64px;
}

.header {
    position: relative;
    text-align: center;

    .image {
        width: 120px;
        height: 100px;
        position: relative;
        margin-top: 10px;

        img {
            width: 120px;
            height: 100px;
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
            border-radius: 7px;
        }
    }

    .keyimage {
        width: 120px;
        height: 100px;
        position: relative;
        // margin-top: 10px;

        img {
            width: 120px;
            height: 100px;
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
            border-radius: 7px;
        }
    }


    .close-icons {
        position: absolute;
        bottom: 28%;
        right: -8%;
        color: #ffffff;
        font-size: 15px;
        border-radius: 50%;
        background-color: red;
        padding: 12px;
    }

    .edit-icons {
        padding: 12px;
        position: absolute;
        background-color: $primary-color;
        color: #ffffff;
        border-radius: 50%;
        font-size: 15px;
        top: -2%;
        right: -9%;
    }

    .preivew-icons {
        position: absolute;
        top: 16%;
        left: 28%;
        background-color: $primary-color;
        border-radius: 50%;
        font-size: 15px;
        color: #ffffff !important;
    }
}

.same_day {
    margin: 10px;
}

.different_day {
    margin-left: 13px;
}