<mat-form-field color="accent" class="multiSiteSelect" *ngIf="bankMultiCtrl && dataArray">
    <mat-label *ngIf="label">{{label}}</mat-label>
    <mat-select [formControl]="bankMultiCtrl" [placeholder]="placeholderText" [multiple]="signleDouble=='no'?false:true"
        #multiSelect (selectionChange)="handleSelectionChange($event)">
        <mat-option>
            <ngx-mat-select-search [showToggleAllCheckbox]="true" [toggleAllCheckboxIndeterminate]="isIndeterminate"
                [toggleAllCheckboxChecked]="isChecked" (toggleAll)="toggleSelectAll($event)"
                [formControl]="bankMultiFilterCtrl" placeholderLabel="Search here"
                noEntriesFoundLabel="Locations Not Found"></ngx-mat-select-search>
        </mat-option>
        <mat-option *ngFor="let bank of filteredBanksMulti | async; trackBy: trackById" [value]="bank">
            {{bank.site_name}}
        </mat-option>
    </mat-select>
</mat-form-field>