<div class="add-custom-template-sidebar">
    <div class="sidebar-title-container">
        <div class="sidebar-title">
            <fa-icon [icon]="faXmark" (click)="close('dismiss')"></fa-icon>
            <span>Add Template</span>
        </div>
    </div>
    <div class="custom-sidebar-content-container">
        <content>
            <form [formGroup]="addCustomTemp">
                <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
                    <li [ngbNavItem]="1">
                        <a ngbNavLink>Shift Time</a>
                        <ng-template ngbNavContent>
                            <div class="template-details">
                                <div class="create-shift-form-container">
                                    <div class="add-template-body">
                                        <div class="row pb-1 mt-2">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label for="select_guard" class="py-2">Start Time</label>
                                                    <div class="ngx-timepicker-field-example">
                                                        <ngx-timepicker-field [controlOnly]="true"
                                                            formControlName="start" [format]="24"
                                                            [defaultTime]="'00:00'"></ngx-timepicker-field>
                                                    </div>
                                                    <div *ngIf="submitted && addCustomTemp.get('start').hasError('required')"
                                                        class="custom-error">
                                                        Start Time is required*
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-12 mt-3">
                                                <div class="form-group">
                                                    <label for="select_guard" class="py-3">End Time</label>
                                                    <div class="ngx-timepicker-field-example">
                                                        <ngx-timepicker-field [controlOnly]="true" formControlName="end"
                                                            [format]="24"
                                                            [defaultTime]="'00:00'"></ngx-timepicker-field>
                                                    </div>
                                                    <div *ngIf="submitted && addCustomTemp.get('end').hasError('required')"
                                                        class="custom-error">
                                                        End Time is required*
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                    </li>
                    <!-- <li [ngbNavItem]="2">
                        <a ngbNavLink>Shift Task</a>
                        <ng-template ngbNavContent>
                            <div class="shift-tasks-container">
                                <div class="tasks-rows-container" formArrayName="job_roster_tasks">
                                    <div *ngFor="let input of job_roster_tasks?.controls; let i = index"
                                        [formGroupName]="i">
                                        <fa-icon [icon]="faTrash" (click)="removeTextArea(i)"></fa-icon>
                                        <div class="row py-1">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="select_guard" class="py-2">Start Time</label>
                                                    <div class="ngx-timepicker-field-example">
                                                        <ngx-timepicker-field [controlOnly]="true"
                                                            formControlName="task_start" [format]="24"
                                                            [defaultTime]="'00:00'"></ngx-timepicker-field>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="select_guard" class="py-2">End Time</label>
                                                    <div class="ngx-timepicker-field-example">
                                                        <ngx-timepicker-field [controlOnly]="true"
                                                            formControlName="task_end" [format]="24"
                                                            [defaultTime]="'00:00'"></ngx-timepicker-field>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row px-4">
                                            <input type="text" class="form-control mt-4" formControlName="task"
                                                placeholder="Type something" />
                                        </div>
                                    </div>
                                </div>
                                <div [ngClass]="!job_roster_tasks?.controls? 'btn-90' : 'btn-40'"
                                    class="flex-row-centered flex-justify-content-center mb-4">
                                    <div class="no-shift-tasks-placeholder">
                                        <div class="flex-row-centered flex-justify-content-center py-5">
                                            <div class>
                                                <div class="width-100-percent height-100-percent">
                                                    <div class="custom-cta-btn" (click)="addTask()">
                                                        <span>+ Add new task</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                    </li> -->
                </ul>
                <div [ngbNavOutlet]="nav" class="mt-2"></div>

                <div class="add-template-footer">
                    <button class="con-custom-btn" type="submit" (click)="onFormSubmit(addCustomTemp.value)">Save as
                        template</button>
                </div>
            </form>
        </content>
    </div>
</div>