<div class="modal-header">
    <h4 class="modal-title">Split Shift</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <!-- First Shift -->
    <div class="row pb-1 mt-2">
        <p>First Shift</p>
        <div class="col-lg-4">
            <div class="form-group">
                <div class="ngx-timepicker-field-example">
                    <ngx-timepicker-field [controlOnly]="true" [disabled]="true" [format]="24"
                        [(ngModel)]="firstStartTime" name="firstStartTime"></ngx-timepicker-field>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="form-group">
                <div class="ngx-timepicker-field-example">
                    <ngx-timepicker-field [controlOnly]="true" [format]="24" name="firstEndTime"
                        [formControl]="firstEndTimeControl"></ngx-timepicker-field>
                </div>
            </div>
        </div>
        <div class="col-lg-4" *ngIf="splitData?.calenderType!=='staff'">
            <div style="display: flex; justify-content:flex-end; margin-top:-40px">
                
            <a ngbTooltip="Make This Shift Uncover" class="remove-staff-from-shift"
            (click)="clearSelection('first')"  >
                                <mat-icon>clear</mat-icon>
                            </a>
            </div>
            <mat-form-field class="w-100">
                <mat-label>Select staff</mat-label>
                <mat-select [formControl]="firstGuardControl" [matAutocomplete]="autoFirst">
                    <mat-option *ngFor="let option of filteredGuardsFirst | async" [value]="option">
                        {{option.first_name}} {{option.last_name}}
                    </mat-option>
                </mat-select>
                <mat-autocomplete #autoFirst="matAutocomplete" [displayWith]="displayGuardFn">
                    <mat-option *ngFor="let option of filteredGuardsFirst | async" [value]="option">
                        {{option.first_name}} {{option.last_name}}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
        </div>
        <div class="col-lg-4" *ngIf="splitData?.calenderType==='staff'">
            <mat-form-field class="w-100">
                <input type="text" placeholder="Select Location" matInput [formControl]="firstGuardControl"
                    [matAutocomplete]="autoLocationFirst">
                <mat-autocomplete #autoLocationFirst="matAutocomplete" [displayWith]="displayLocationFn">
                    <mat-option *ngFor="let option of filteredGuardsFirst | async" [value]="option">
                        {{option.site_name}}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
        </div>
    </div>

    <!-- Second Shift -->
    <div class="row pb-1 mt-2">
        <p>Second Shift</p>
        <div class="col-lg-4">
            <div class="form-group">
                <div class="ngx-timepicker-field-example">
                    <ngx-timepicker-field [controlOnly]="true" [format]="24" [disabled]="true" [(ngModel)]="secondStartTime"
                        name="secondStartTime" [formControl]="secondStartTimeControl"></ngx-timepicker-field>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="form-group">
                <div class="ngx-timepicker-field-example">
                    <ngx-timepicker-field [controlOnly]="true" [disabled]="true" [format]="24"
                        [(ngModel)]="secondEndTime" name="secondEndTime"></ngx-timepicker-field>
                </div>
            </div>
        </div>
        <div class="col-lg-4" *ngIf="splitData?.calenderType!=='staff'">
             <div style="display: flex; justify-content:flex-end; margin-top:-40px ">
              
            <a ngbTooltip="Make This Shift Uncover" class="remove-staff-from-shift"
            (click)="clearSelection('second')"   >
                                <mat-icon>clear</mat-icon>
                            </a>
            </div>
            <mat-form-field class="w-100">
                <mat-label>Select staff</mat-label>
                <mat-select [formControl]="secondGuardControl" [matAutocomplete]="autoSecond">
                    <mat-option *ngFor="let option of filteredGuardsSecond | async" [value]="option">
                        {{option.first_name}} {{option.last_name}}
                    </mat-option>
                </mat-select>
                <mat-autocomplete #autoSecond="matAutocomplete" [displayWith]="displayGuardFn">
                    <mat-option *ngFor="let option of filteredGuardsSecond | async" [value]="option">
                        {{option.first_name}} {{option.last_name}}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
        </div>
        <div class="col-lg-4" *ngIf="splitData?.calenderType==='staff'">
            <mat-form-field class="w-100">
                <input type="text" placeholder="Select Location" matInput [formControl]="secondGuardControl"
                    [matAutocomplete]="autoLocationSecond">
                <mat-autocomplete #autoLocationSecond="matAutocomplete" [displayWith]="displayLocationFn">
                    <mat-option *ngFor="let option of filteredGuardsSecond | async" [value]="option">
                        {{option.site_name}}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-border-3" (click)="save()">Save</button>
        <button type="button" class="btn btn-border-3" (click)="publish()"
        *ngIf="firstGuardControl.value || secondGuardControl.value"
        [disabled]="!splitData?.permissions || !splitData?.permissions.updateShift || !checkWeek(splitData?.permissions.lockPreweek)">
        Publish
    </button>
        <button type="button" class="btn btn-secondary" (click)="activeModal.close('Close click')">Close</button>
    </div>
</div>
