<div class="main-body-watermark main">
    <div class="custom-row">
        <div class="head">
            <h2>Induction Form</h2>
        </div>
    </div>

    <form [formGroup]="AddinductionForm">
        <div class="form-body px-5" style="margin-top: 5%;">

            <div class="row" style="margin-bottom: 4rem;">
                <label>Induction Title</label>
                <input class="form-control" type="text" formControlName="title">
            </div>

            <div class="rows-containers" formArrayName="subheading">
                <div *ngFor="let head of subheading.controls; let i = index">
                  <div class="row" style="margin-bottom: 15px;">
                    <div class="row" style="margin-top: 15px;">
                      <label>Subheading</label>
                      <div class="input-container">
                        <input class="form-control" type="text" [formControlName]="i">
                        <mat-icon svgIcon="delete" style="color: red; cursor: pointer;" (click)="removeSubheading(i)"></mat-icon>
                      </div>
                    </div>
                  </div>
                </div>
            </div>

            <div class="row" style="margin-bottom: 15px;">
                <div class="no-shift-tasks-placeholder">
                    <div class="flex-row-centered flex-justify-content-center py-5">
                        <div class="width-100-percent height-100-percent">
                            <div class="custom-cta-btn justify-content-center" (click)="AddSubheading()">
                                <span>+ Add Subheading</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="rows-containers" formArrayName="questionnaire">
                <div *ngFor="let field of questionnaire.controls; let i = index" [formGroupName]="i">
                    <div class="row" style="margin-bottom: 15px;">
                        <div class="">
                            <mat-icon svgIcon="delete" (click)="removeInduction(i)" style="color: red;"></mat-icon>
                        </div>
                        <div class="" *ngIf="!fileuploaded || !questionnaire.controls[i].get('file').value">
                            <label>Select pdf</label>
                            <input class="form-control mx-1" type="file" id="formFile" accept=".pdf"
                                (change)="onFileChange($event, i)">
                        </div>

                        <div class="col-6" *ngIf="fileuploaded && questionnaire.controls[i].get('file').value">
                            <div class="row pb-1 mt-1 d-flex">
                                <div class="col-8">
                                    <button (click)="viewFile(i)" mat-button color="accent"><mat-icon
                                            svgIcon="mat_outline:attach_file"></mat-icon>{{ file_name }}</button>
                                </div>
                                <div class="col-4">
                                    <mat-icon (click)="handleFileInput(i)" style="width:25px;height:25px"
                                        svgIcon="mat_outline:drive_file_rename_outline"></mat-icon>
                                </div>
                            </div>
                        </div>


                    </div>
                    <div class="row" style="margin-bottom: 15px; margin-top: 15px;">
                        <label>{{ i + 1 }}. Question</label>
                        <input class="form-control" type="text" formControlName="question">
                    </div>

                    <div class="row" style="margin-bottom: 15px;">
                        <label>Type of Question</label>
                        <div *ngFor="let option of options">
                            <input type="radio" [name]="'radioGroup' + i" formControlName="type" [value]="option">{{
                            option }}
                        </div>
                    </div>

                    <div class="show-div" *ngIf="field.get('type').value === 'MCQs'"
                        style="border-bottom: 3px solid #63c5ec;">
                        <div class="row" style="margin-bottom: 15px;">
                            <div class="col-3">
                                <input class="form-control" type="text" formControlName="optiona"
                                    placeholder="First Option">
                            </div>
                            <div class="col-3">
                                <input class="form-control" type="text" formControlName="optionb"
                                    placeholder="Second Option">
                            </div>
                            <div class="col-3">
                                <input class="form-control" type="text" formControlName="optionc"
                                    placeholder="Third Option">
                            </div>
                            <div class="col-3">
                                <input class="form-control" type="text" formControlName="optiond"
                                    placeholder="Fourth Option">
                            </div>
                        </div>
                        <div class="row" style="margin-bottom: 25px;">
                            <input class="form-control mx-1" type="text" formControlName="answer"
                                placeholder="Write Correct Answer">
                        </div>
                    </div>

                    <div class="show-div" *ngIf="field.get('type').value === 'True/False'"
                        style="border-bottom: 3px solid #63c5ec;">
                        <div class="row" style="margin-bottom: 15px;">
                            <div class="row" style="margin-bottom: 15px;">
                                <div class="col-6">
                                    <input class="form-control" type="text" formControlName="optiona"
                                        placeholder="First Option">
                                </div>
                                <div class="col-6">
                                    <input class="form-control" type="text" formControlName="optionb"
                                        placeholder="Second Option">
                                </div>
                            </div>
                            <div class="row">
                                <input class="form-control" type="text" formControlName="answer"
                                    placeholder="Write Correct option">
                            </div>
                        </div>
                    </div>

                    <div class="show-div" *ngIf="field.get('type').value === 'Short Question'"
                        style="border-bottom: 3px solid #63c5ec;">
                        <div class="row" style="margin-bottom: 25px;">
                            <input class="form-control" type="text" formControlName="answer" placeholder="Write Answer">
                        </div>
                    </div>
                </div>
            </div>


            <div class="row" style="margin-bottom: 15px;">
                <div class="no-shift-tasks-placeholder">
                    <div class="flex-row-centered flex-justify-content-center py-5">
                        <div class="width-100-percent height-100-percent">
                            <div class="custom-cta-btn justify-content-center" (click)="Add()">
                                <span>+ Add Questions</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row" style="margin-top: 6%;">
                <div class="col-12">
                    <button class="btn" style="float:right;" (click)="submitForm()">Submit</button>
                </div>
            </div>

        </div>
    </form>
</div>