<div class="flex flex-col flex-auto min-w-0 main-body-watermark">
    <!-- Main -->
    <div class="flex-auto p-6">
        <!-- CONTENT GOES HERE -->
        <div class="rounded-2xl">
            <div class="potential-guard-main" style="border-radius: 10px;">
                <div class="nav rounded-2xl">
                    <div class="col-12 d-flex justify-content-between align-items-center searchbar_main">
                        <h3>Potential New Staff</h3>
                
                        <input type="text" placeholder="Search here.." class="searchbar">
                        <mat-icon>search</mat-icon>
                
                    </div>
                </div>

                <div class="main w-100 mt-4" style="background-color: white;">

                    <div class="row main_inner">
                
                        <!-- searchbar -->
                        <!-- <div class="col-12 d-flex justify-content-between align-items-center searchbar_main">
                            <h3>Potential New Staff</h3>
                
                            <input type="text" placeholder="Search here.." class="searchbar">
                            <mat-icon>search</mat-icon>
                
                        </div> -->
                        <!-- guardslist -->
                        <div class="col-12">
                            <table class="table w-100">
                                <thead class="document-table text-light">
                                    <tr class="table-row">
                                        <th width="30%" scope="col" style="padding-left: 30px;">Info</th>
                                        <th scope="col">Apply Date</th>
                                        <th scope="col">Interview Date</th>
                                        <th width="col" scope="col">File</th>
                                        <th scope="col">Status</th>
                                        <th scope="col">Comment</th>
                                        <th scope="col" style="text-align: center;">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let guard of guards" [id]="guard.id">
                                        <th scope="row">
                                            <div class="item">
                                                <div class="row align-items-center">
                                                    <div class="col-3">
                                                        <img src="https://mdbootstrap.com/img/new/avatars/8.jpg">
                                                    </div>
                                                    <div class="col-9">
                                                        <p class="name editableText" contenteditable="true"
                                                            (input)="ok($event,guard.id)">
                                                            {{guard.name}}</p>
                                                        <p class="email editableText" contenteditable="true">{{guard.email}}</p>
                                                        <p class="phone editableText" contenteditable="true">{{guard.phone}}</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </th>
                                        <td>{{guard.applydate}}</td>
                                        <td>{{guard.interviewdate}}</td>
                                        <td>{{guard.file}}</td>
                                        <td>{{guard.status}}</td>
                                        <td>{{guard.comment}}</td>
                                        <td class="action_button">
                                            <div class="acb d-flex justify-content-center align-items-center">
                                                <!-- <mat-icon>save</mat-icon> -->
                                                <button (click)="save(guard.id)" class="btn default-btn"
                                                    [disabled]="disabldId!==guard.id">Save</button>
                                            </div>
                                        </td>
                                    </tr>
                
                                </tbody>
                            </table>
                
                
                        </div>
                
                    </div>
                
                </div>
            </div>
        </div>
    </div>
</div>
