$primary-color: var(--primary_color, #01A37E);
$color-secondary: var(--color-secondary, #1e293c);
$color-light-button: var(--color-light-button, #01a37e2e);
.activity-log {
    border-bottom: 1px solid #e2e8f0;
    .user-main {
        .job-track-nav {
            display: flex;
            justify-content: space-between;
            padding: 19px 19px;
            align-items: center;
            mat-form-field{
                margin: 5px;
                .mat-form-field-flex{
                    min-height: 37px !important;
                }
                mat-icon{
                    margin: 4px;
                }
            }
            .job-tracker-from-to{
                .mat-form-field-wrapper{
                    min-width: 250px;
                    .mat-form-field-flex{
                        min-width: 200px !important;
                    }
                }
            }
        }
    }
}


.mat-standard-chip {
    border-radius: 5px;
    padding: 7px 4px;
    margin: 5px 10px !important;
    height: 40px;
}

section{
    box-shadow: 0 2px 17px rgb(30 30 30 / 5%);
    background-color: rgba(var(--fuse-bg-card-rgb), var(--tw-bg-opacity)) !important;

}

.search-here {
    position: relative;
    display: flex;
    align-items: center;
    padding: 9px 15px;
    border-bottom: 1px solid #e2e8f0;
    min-height: 55px;
    .search-here-icon {
        color: #e2e8f0 !important;
    }

    input {
        overflow-x: scroll;
        font-weight: 500;
    }
}

.activity-log-user-icon{
    padding: 10px 3px;
    border-bottom: 1px solid #e2e8f0;
    cursor: pointer;
}

hr{
    margin: 0;
    // color: #e2e8f0;
}

.row{
    margin: 0;
}
.col-lg-3{
    border-right: 1px solid #e2e8f0;
    padding: 0;
}


thead{
    // background-color: #cce5f8;
    background-color: $color-light-button !important;
}

.user-log-heading{
    padding: 15px 6px;
}
tr{
    padding: 21px !important;
}
// tbody, td, tfoot, th, thead, tr{
//     padding: 21px !important;
// }
.table>:not(caption)>*>*{
    border-bottom-width: 0;
}

.table{
    span{
        padding: 7px 25px;
        background-color: #fb6767;
        border-radius: 30px;
    }
    .delete {
        color: #db1c1c !important;
    }
    p{
        margin: 0;
        font-weight: 500;
    }
}

.calendar__input{
    width: 100% !important;
}
.calendar__input-wrapper{
    width: 100% !important;
}

.job-tracker-main{
    .row{
        .custom-lg-2{
            .active{
                background-color: $color-light-button;
            }
            p{
                font-size: 13px;
            }
        }
        .col-lg-9 {
            overflow-x: auto;
          }
    }
    table{ 
        tbody{
            p{
                font-size: 12px !important;
            }
        }
    }
    th{
        font-size: 13px;
        word-wrap: break-word;
    }
  
}


@media only screen and (min-width: 960px) {
    /* styles for browsers larger than 960px; */
    .custom-lg-2 {
        flex: 0 0 auto;
        width: 20% !important;
    }
    .custom-lg-9 {
        flex: 0 0 auto;
        width: 80% !important;
    }
}




//wajahat
.switch {
    position: relative;
    display: inline-block;
    width: 34px;
    height: 20px;
   }
   
   .switch input {
    display: none;
   }
   
   .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #a30000;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
   }
   
   .slider:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    left: 0px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
   }
   
   input:checked + .slider {
    background-color:#01A37E;
   }
   
   input:focus + .slider {
    box-shadow: 0 0 1px#01A37E;
   }
   
   input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(34px);
   }
   
   /*------ ADDED CSS ---------*/
   .slider:after {
    content: 'NO';
    color: white;
    display: block;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 48%;
    font-size: 10px;
    font-family: Verdana, sans-serif;
   }
   
   input:checked + .slider:after {
    content: 'Yes';
   }

   .nav {
    display: flex;
    padding: 15px 25px;
    box-shadow: 0 2px 17px rgb(30 30 30 / 5%);
    background-color: rgba(var(--fuse-bg-card-rgb), var(--tw-bg-opacity)) !important;
    border-radius: var(--br-2xl);
    margin-bottom: 30px;
    justify-content: space-between;
}
   
   /*--------- END --------*/


