<div class="flex flex-col flex-auto min-w-0 main-body-watermark">
    <div class="flex-auto p-6">
        <div class="common-tracker-sheet w-100 p-4">
            <div class="user-nav">
                <h4>Job Tracker</h4>
                <mat-chip-list aria-label="Dog selection" class="dog_selection timesheet-matfield">
                    <mat-form-field class="fuse-mat-rounded job-tracker-field">
                        <mat-select [formControl]="adminId" [placeholder]="'States'" #selects multiple>
                            <div class="select-all-admin">
                                <mat-checkbox [(ngModel)]="allSelected" (change)="toggleAllSelection()">Select/Unselect
                                    All</mat-checkbox>
                            </div>
                            <mat-option (click)="optionClick()" *ngFor="let topping of states" [value]="topping">{{
                                topping }}</mat-option>
                        </mat-select>
                    </mat-form-field>

                    <app-select-multiple-customer style="height: 43px; margin: 5px;"
                        (selectedCustomer)="receiveDataFromChild($event)" class="select-job-tacker"
                        [dataArray]="customers" [placeholderText]="'Select Customers'"></app-select-multiple-customer>

                    <app-select-multiple-site style="height: 43px; margin: 5px;"
                        (selectedSite)="receiveDataFromChildSite($event)" class="select-job-tacker"
                        [dataArray]="sitesList" [placeholderText]="'Select Sites'"></app-select-multiple-site>

                    <mat-form-field appearance="fill" class="dateRange ms-2 me-2 job-tracker-from-to">
                        <mat-date-range-input [formGroup]="range" [rangePicker]="picker">
                            <input matStartDate formControlName="start" placeholder="Start date" [value]="startOfWeek">
                            <input matEndDate formControlName="end" placeholder="End date" [value]="endOfWeek">
                        </mat-date-range-input>
                        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-date-range-picker #picker></mat-date-range-picker>
                    </mat-form-field>

                    <mat-chip (click)="searchAll()" class="job-tracker-search">
                        <mat-icon viewBox="0 0 30 30">youtube_searched_for</mat-icon>
                        <span style="margin-right: 15px;">Search</span>
                    </mat-chip>
                    <mat-chip [matMenuTriggerFor]="menu">
                        <mat-icon svgIcon="mat_outline:file_upload"></mat-icon><span
                            style="margin-right: 15px;">Export</span>
                    </mat-chip>
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item>PDF</button>
                        <button mat-menu-item>EXCEL</button>
                    </mat-menu>

                </mat-chip-list>
            </div>
        </div>
      
        <div class="user-main-roster">
            <section>
                <div class="job-tracker-main">
                    <div class="row">
                        <div class="col-lg-3 custom-lg-2">
                            <div class="search-here">
                                <mat-icon svgIcon="feather:search" class="search-icon"
                                    style="color: #94a3b8 !important; margin:0 7px !important;"></mat-icon>
                                <input matInput placeholder="Search..." [(ngModel)]="searchTerm">
                            </div>

                            <div [class.active]="guardList.length>0 && selectedIndex === -1"
                                class="d-flex align-items-center activity-log-user-icon cursor-pointer"
                                (click)="searchAll()" *ngIf="guardList.length>0">
                                <img src="https://static.thenounproject.com/png/1555241-200.png" class="rounded-circle"
                                    alt="" style="width: 30px; height: 30px">
                                <div class="ml-2">
                                    <p class="fw-bold text-capitalize m-0">View All</p>
                                </div>
                            </div>
                            <div class="d-flex align-items-center activity-log-user-icon cursor-pointer  "
                                *ngFor="let item of guardList | firstLastNamefilter:searchTerm; let i = index"
                                [class.active]="selectedIndex===i" (click)="selectGuard(i, item.guard_id)">
                                <div class="border mt-2 rounded-circle d-flex justify-content-center align-items-center"
                                    style="height:40px;width:40px;  background-color: #01A37E;">
                                    <p class=" mt-3 text-uppercase text-light">
                                        {{item.first_name.charAt(0)}}{{item.last_name.charAt(0)}}
                                    </p>
                                </div>
                                <div class="ms-1  mt-2">
                                    <p class="fw-bold text-capitalize m-0">{{item.first_name}} {{item.middle_name}}
                                        {{item.last_name}}</p>
                                </div>
                            </div>

                        </div>
                        <div class="col-lg-9 col-md-9 custom-lg-9 p-0 ">
                            <table class="table table-striped px-4">
                                <colgroup>
                                    <col style="width: 100px;">
                                    <col style="width: 150px;">
                                    <col style="width: 150px;">
                                    <col style="width: 150px;">
                                    <col style="width: 200px;">
                                    <col style="width: 200px;">
                                    <col style="width: 100px;">
                                    <col style="width: 90px;">
                                    <col style="width: 100px;">
                                  </colgroup>
                                
                                <thead>
                                    <tr>
                                        <!-- <th>State</th> -->
                                        <th class="site">Site</th>
                                        <th class="guardname">Staff Name</th>
                                        <th class="customer">Customer</th>
                                        <th class="startdate">Start Date</th>
                                        <!-- <th>Schedule End Date</th> -->
                                        <th class="scheduletime">Schedule Start Time - End Time</th>
                                        <th class="Authorizedtime">Authorized Start Time - End Time</th>
                                        <!-- <th>Authorized End Time</th> -->
                                        <th class="Authorizedtothrs">Authorized Total Hours</th>
                                        <th class="publish">Status</th>
                                        <th class="statuschange">Status Change By</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let list of dataList; let i =index">
                                        <!-- <th>
                                            <p>{{ country.state_name }}</p>
                                        </th> -->
                                        <td>
                                            <p>{{ list.site_name }}</p>
                                        </td>
                                        <td>
                                            <p>{{ list.first_name }} {{ list.last_name }}</p>
                                        </td>
                                        <td>
                                            <p>{{ list.customer_name }}</p>
                                        </td>

                                        <td>
                                            <p>{{ list.start |date:'dd-MM-yyyy' }}</p>
                                        </td>

                                        <!-- <td>
                                            <p>{{ list.end |date:'dd-MM-yyyy'}}</p>
                                        </td> -->

                                        <td>
                                            <p>{{list.start |date: 'H:MM'}} - {{list.end |date: 'H:MM'}}</p>
                                        </td>
                                        <td>
                                            <p>{{list.authorized_start_time |date: 'H:MM'}} - {{list.authorized_end_time |date: 'H:MM'}}</p>
                                        </td>
                                        <td>
                                            <p>{{ list.hours}}</p>
                                        </td>

                                        <td>
                                            <label class="switch">
                                                <input type="checkbox" [checked]="list.approved === 1"
                                                    (change)="onPublishToggle($event.target.checked, i,list)">
                                                <span class="slider"></span>
                                            </label>
                                        </td>

                                        <td>
                                            <p>{{list.admin_name}}</p>
                                        </td>

                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>