.nav {
    display: flex;
    justify-content: space-between;
    padding: 15px 25px;
    box-shadow: 0 2px 17px rgb(30 30 30 / 5%);
    background-color: rgba(var(--fuse-bg-card-rgb), var(--tw-bg-opacity)) !important;
    border-radius: var(--br-2xl);
    align-items: center;
}
.save_btn{
    background-color: #01A37E;
    padding: 8px 25px;
    border-radius: 8px;
    color: white;
}
.standard{
    margin-top: 25px;
}
.private{
    margin-top: 25px; 
    border-left: 1px solid;
}
.create_btn{
    background-color: #386BC0;
    padding: 8px 25px;
    border-radius: 8px;
    color: white;
    width: 100%;
}
.searchbar_main {
    position: relative;
  
    .searchbar {
        padding: 10px 16px 10px 36px;
        border-radius: 10px;
        width: 228px;
        background-color: rgb(245, 242, 242);
        margin: 13px 13px;
    }
    mat-icon {
        top: 24px;
        position: absolute;
        right: 210px;
  
    }
  }
  .main{
    margin-top: 2rem;
    border-radius: 20px;
    background-color: white;
  }

.mat-icon {
    color: #074677;
    margin: 0 6px;
    cursor: pointer;
}

table {    
    .mat-column-first_name {
        word-wrap: break-word !important;
        white-space: unset !important;
        flex: 0 0 20% !important;
        width: 10% !important;
        overflow-wrap: break-word;
        word-wrap: break-word;
        word-break: break-word;
        -ms-hyphens: auto;
        -moz-hyphens: auto;
        -webkit-hyphens: auto;
        hyphens: auto;
        padding: 0 10px;
    }

    .mat-column-email {
        word-wrap: break-word !important;
        white-space: unset !important;
        flex: 0 0 20% !important;
        width: 8% !important;
        overflow-wrap: break-word;
        word-wrap: break-word;
        word-break: break-word;
        -ms-hyphens: auto;
        -moz-hyphens: auto;
        -webkit-hyphens: auto;
        hyphens: auto;
        padding: 0 10px;
    }
    .mat-column-select{
        flex: 0 0 20% !important;
        width: 1% !important;
        padding: 0 20px; 
    }
}

thead {
    background-color: #cce5f8 !important;
}

tr.mat-row,
tr.mat-footer-row {
    height: 75px !important;
}

th {
    font-weight: 600;
    color: black !important;
    font-size: 14px;
}

body.light .mat-header-cell,
body .light .mat-header-cell {
    color: rgb(10, 10, 10) !important;
}

.form-check-inline .form-check-input {
    margin-top: 3px;
}




