app-form{
    width: 100 !important;
}
:host{
    width: 100% !important;
    height: 100% !important;
}
.wrap_form{
    width: 100%;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    background-color: white;
}
.content{
    padding-left: 9%;
    padding-right: 9%;
    .title{
        h2{
            color: #01A37E;
        }
    }
    img{
        height: 8rem;
        width: 8rem;
    }
    .form-group{
        margin-bottom: 2rem;
        label{
            font-weight: bold;
        }  
    }

    .form-2{
        padding-left: 4%;
        padding-right: 4%;
        margin-top: 5%;
    } 

    table, th,td{
        border: 2px solid;
    }
}
.no-spin-box::-webkit-inner-spin-button,
.no-spin-box::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}