.roster-three-add-shift {
    top: 0;
    position: absolute;
    overflow: auto;
    width: 20%;
    left: 0;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 0 5px;
}

.modal-header {
    border-bottom: 1px solid #c6c6c5;
    padding: 8px 3px;
}

.roster_three_add_shift {
    padding: 3px;

    .row {
        width: 100%;
        display: block;
        margin: auto;
    }

    .ngx-timepicker-field-example {
        padding: 8px;

    }

    .search_img {
        // background-image: url("assets/icons/search.png") no-repeat scroll 7px 7px;
    }

    .search_customer_drop {

        overflow: auto;
        border: 1px solid #ddd;
        z-index: 1;

        .search_list a {
            background-color: #ffffff;
            display: block;
            padding: 2px 10px;
            overflow-y: auto;
            overflow-x: hidden;

        }
    }

    .edit_notes {
        width: 100%;
        align-items: center;
        justify-content: center;
    }

    .roster-details {
        position: relative;
        top: 10%;
        padding: 0;
        margin: 0;

        .shift-hours {
            display: flex;
            justify-content: space-between;
        }
    }

    .chift_history {
        display: block;
        margin: auto;
    }

    .multiple_shift {
        display: flex;
        justify-content: space-around;
    }
}