$primary-color: var(--primary_color, #01A37E);
$color-secondary: var(--color-secondary, #1e293c);
$color-light-button: var(--color-light-button, #01a37e2e);

.users-page {
    border-radius: var(--br-2xl);

    .user-main {
        border-radius: var(--br-2xl);

        .user-nav {
            display: flex;
            justify-content: space-between;
            padding: 19px 41px;
            box-shadow: 0 2px 17px rgb(30 30 30 / 5%);
            background-color: rgba(var(--fuse-bg-card-rgb), var(--tw-bg-opacity)) !important;
            border-radius: var(--br-2xl);
            align-items: center;

            mat-chip {
                padding: 20px 25px;
            }
        }
    }
}

.dog_selection {
    span {
        font-size: medium;
    }
}

section {
    padding: 18px 0;
}

.mat-chip {
    background-color: #cce5f8 !important;
    padding: 0 4px;
}

.mat-icon {
    color: #074677;
    margin: 0 6px;
    cursor: pointer;
}

.mat-standard-chip {
    border-radius: 5px;
    padding: 7px 4px;
    margin: 5px 10px !important;
}

section {
    box-shadow: 0 2px 17px rgb(30 30 30 / 5%);
    background-color: rgba(var(--fuse-bg-card-rgb), var(--tw-bg-opacity)) !important;
    border-radius: 13px;
    position: relative;
    top: 18px;

    .show_user {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid #e2e8f0;
        align-items: center;
        margin-right: 20px;
        min-height: 56px;

        .publish_site_color {
            background-color: $primary-color !important;
            color: #ffffff !important;
            cursor: pointer;
        }

        .search-here {
            border: 1px solid rgba(151, 141, 141, 0.516);
            border-radius: 5px;
            // margin-right: 9px;
            height: 38px;
            display: flex;
            align-items: center;

            input {
                position: relative;
            }
        }

        mat-chip {
            padding: 20px;
        }

        .add-staff-type {
            position: absolute;
            right: 0;
            top: 80px;
            background-color: #ffffff;
            border-radius: 10px;
            -webkit-border-radius: 10px 10px 10px 10px;
            -moz-border-radius: 10px 10px 10px 10px;
            box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

            p {
                margin: 0;
                padding: 5px;
                font-size: 14px;
                cursor: pointer;
                padding: 10px;
            }

            p:hover {
                background-color: #DAF4D9;
            }
        }
    }
}

ul {
    display: flex;
    align-items: center;
    margin: 0;
    padding-left: 1rem;

    li {
        cursor: pointer;
        font-weight: 500;
        margin: 0 13px;
        color: #063E69;
        padding: 23px 0;
        transition: 0.3s;
        position: relative;
    }

    li:hover {
        border-bottom: 1px solid;
        border-color: $primary-color;
    }
}

.active {
    border-bottom: 3px solid $primary-color;
}

table {
    width: 100%;
    // margin: 15px 15px;

    .mat-column-first_name {
        word-wrap: break-word !important;
        white-space: unset !important;
        flex: 0 0 28% !important;
        width: 8% !important;
        overflow-wrap: break-word;
        word-wrap: break-word;
        word-break: break-word;
        -ms-hyphens: auto;
        -moz-hyphens: auto;
        -webkit-hyphens: auto;
        hyphens: auto;
        padding: 0 5px;
    }

    // .mat-column-state {
    //     word-wrap: break-word !important;
    //     white-space: unset !important;
    //     flex: 0 0 28% !important;
    //     width: 6% !important;
    //     overflow-wrap: break-word;
    //     word-wrap: break-word;
    //     word-break: break-word;
    //     -ms-hyphens: auto;
    //     -moz-hyphens: auto;
    //     -webkit-hyphens: auto;
    //     hyphens: auto;
    //     padding: 0 5px;
    // }

    .mat-column-progress {
        word-wrap: break-word !important;
        white-space: unset !important;
        flex: 0 0 28% !important;
        width: 10% !important;
        overflow-wrap: break-word;
        word-wrap: break-word;
        word-break: break-word;
        -ms-hyphens: auto;
        -moz-hyphens: auto;
        -webkit-hyphens: auto;
        hyphens: auto;
        padding: 0 15px;
    }

    .mat-column-admin_approved,
    .mat-column-guard_status,
    .mat-column-status, .mat-column-state {
        word-wrap: break-word !important;
        white-space: unset !important;
        flex: 0 0 28% !important;
        width: 8% !important;
        overflow-wrap: break-word;
        word-wrap: break-word;
        word-break: break-word;
        -ms-hyphens: auto;
        -moz-hyphens: auto;
        -webkit-hyphens: auto;
        hyphens: auto;
        padding: 0 8px;
    }

    .mat-column-Sec_Lic_Number,
    .mat-column-residential_status,
    .mat-column-Sec_Lic_Expiry {
        word-wrap: break-word !important;
        white-space: unset !important;
        flex: 0 0 28% !important;
        width: 10% !important;
        overflow-wrap: break-word;
        word-wrap: break-word;
        word-break: break-word;
        -ms-hyphens: auto;
        -moz-hyphens: auto;
        -webkit-hyphens: auto;
        hyphens: auto;
        padding: 0 10px;
    }

    // .mat-column-profile_completion,

    .mat-column-Phone_Number {
        // word-wrap: break-word !important;
        white-space: unset !important;
        flex: 0 0 28% !important;
        width: 6% !important;
        overflow-wrap: break-word;
        padding: 0 15px;
    }

    .mat-column-action {
        // word-wrap: break-word !important;
        white-space: unset !important;
        flex: 0 0 28% !important;
        width: 12% !important;
        overflow-wrap: break-word;
        padding: 0 10px;
    }

    .mat-column-profile_image {
        word-wrap: break-word !important;
        white-space: unset !important;
        flex: 0 0 28% !important;
        width: 5% !important;
        overflow-wrap: break-word;
        padding: 0 10px;
    }
}

thead {
    background-color: #cce5f8 !important;
}

tr.mat-row,
tr.mat-footer-row {
    height: 75px !important;
}

th {
    font-weight: 600;
    color: black !important;
    font-size: 14px;
    background-color: $color-light-button !important;
}

body.light .mat-header-cell,
body .light .mat-header-cell {
    color: rgb(10, 10, 10) !important;
}

th.mat-header-cell,
td.mat-cell,
td.mat-footer-cell {
    border-bottom-width: 0 !important;
    border-bottom-style: 0 !important;
}

.mat-row:nth-child(even) {
    background-color: rgb(244 244 244);
}

.mat-cell {
    font-weight: 600 !important;
}

.name-hover:hover {
    cursor: pointer;
    text-decoration: underline;
    color: #3d1cba;
}

.mat-chip {
    background-color: $color-light-button !important;
    padding: 0 4px;
}


td.mat-footer-cell:last-of-type {
    padding-right: 0px !important;
}


.phone {
    position: absolute;
    top: 3%;

    right: 30px;
    width: 25vw;
    height: 75vh;
    box-shadow: rgba(0, 0, 0, 0.45) 11px 10px 20px;
}



.single-search {
    margin-bottom: auto;
    margin-top: auto;
    background-color: $primary-color;
    border-radius: 30px;
}

.search-area {
    display: flex;
    justify-content: center;
}

.c-height {
    height: 100%;
}

.custom-input {
    border: 0;
    outline: 0;
    width: 0;
    line-height: 40px;
    transition: width 0.4s linear;
}

input::placeholder {
    color: #262626;
    font-size: 19px;
}

input {
    font-size: 20px;
}

.single-search:hover>.custom-input {
    padding: 0 10px;
    width: 7em;
    caret-color: #262626;
    transition: width 0.4s linear;
}

.single-search:hover>.icon-area {
    background: white;
    color: #262626;
}

.icon-area {
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    float: right;
    display: flex;
    text-decoration: none;
    color: #262626;
}


.button-back {
    background: $primary-color;
    color: var(--color-primary);
}

.progress-text {
  display: inline-block;
  margin-left: 10px; /* Space between progress bar and text */
  font-size: 14px;
  vertical-align: middle;
  color: #333; /* Adjust text color as needed */
}