.map{
  height:230px;
}

.map2{
  height:230px;
}

.map-btn {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 8px 12px;
  display: flex;
  align-items: center;
  gap: 8px;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  transition: 0.3s ease;
  margin-bottom: 15px;
}

.map-btn:hover {
  background-color: #0056b3;
}