<div class="loginDetails">
    <div class="d-flex justify-content-between w-100 p-4" style="position: sticky; top: 0; background-color: white; z-index: 8;">
        <h2>SignIn/Out Details</h2> 
        <mat-icon class="bg-danger text-light rounded" role="button" (click)="close()">close</mat-icon>
    </div>

    <div class="scroll " style=" min-height: 60vh; max-height: 69vh; overflow: auto;">
        <!-- signIn/out Date -->
        <div class="row  ms-4 mb-1 justify-content-between me-4 align-items-center">
            <div class="col-5 ">
                <label for="signin_date" class="fw-bold">SignIn Date</label>
                <p>{{ getDisplayValue(datas?.signin_date)}}</p>
            </div>
            <div class="col-5  ">
                <label for="signout_date" class="fw-bold">SignOut Date</label>
                <p>{{ getDisplayValue(datas?.signout_date)}}</p>
            </div>
        </div>

        <!-- signIn/out Time -->
        <div class="row  ms-4 justify-content-between mb-1 me-4 align-items-center">
            <div class="col-5 ">
                <label for="signin_time" class="fw-bold">SignIn Time</label>
                <p>{{ getDisplayValue(datas?.signin_time)}}</p>
            </div>
            <div class="col-5   ">
                <label for="end_time" class="fw-bold">SignOut Time</label>
                <p>{{ getDisplayValue(datas?.signout_time)}}</p>
            </div>
        </div>

        <!-- SignInNotes -->
        <div class="row  ms-4 mb-1 justify-content-between me-4 align-items-center">
            <div class="col-5">
                <label for="signIn_notes" class="fw-bold">SignIn Notes</label>
                <p class="w-100 text-justify" name="signInNotes" id="" rows="5">{{getDisplayValue(datas?.signin_notes)}} </p>
            </div>
            <div class="col-5">
                <label for="signIn_notes" class="fw-bold">SignOut Notes</label>
                <p class="w-100 text-justify" name="signInNotes" id="" rows="5">{{ getDisplayValue(datas?.signout_notes) }}</p>
            </div>
        </div>

        <div class="row ms-4 mb-1 justify-content-between me-4 align-items-center">
            <div class="col-5 signInPicture">
                <label class="fw-bold" for="signIn">SignIn Picture</label>
                <div style="height:230px; overflow: hidden;" class="rounded border">
                    <img class="center" [src]="datas?.signin_selfie" alt="SignIn image" style="height: 230px;" (error)="handleImageError($event)"/>
                </div>
            </div>
            <div class="col-5 signOutPicture">
                <label class="fw-bold" for="signIn">SignOut Picture</label>
                <div style="height:230px; overflow: hidden;" class="rounded border">
                    <img class="center" [src]="datas?.signout_selfie" alt="SignOut image" style="height: 230px;"  (error)="handleImageError($event)" />
                </div>
            </div>
        </div>

        <div class="row ms-4 mb-1 justify-content-between me-4 align-items-center">
            <div class="col-5">
                <label for="signOut_location" class="fw-bold">SignIn Branch</label>
                <button (click)="loadSignInMap()" class="map-btn">
                    <i class="fa-solid fa-map-marker-alt"></i> Show Map
                </button>
                <div *ngIf="showSignInMap" class="map rounded border d-flex align-items-center justify-content-center text-muted" #map id="map">
                    Map
                </div>
                <!-- <label for="signOut_location" class="fw-bold">SignIN Location</label>
                <div class="map rounded border d-flex align-items-center justify-content-center text-muted" #map
                    id="map"> Map</div> -->
            </div>
            <div class="col-5">
                <label for="signOut_location" class="fw-bold">SignOut Branch</label>
                <!-- <div class="map rounded border d-flex align-items-center justify-content-center text-muted" #map2 id="map2"> Map
                    <img *ngIf="showPlaceholderImage" [src]="'assets/images/no_logout_image_emoji.png'" alt="Placeholder Image" style="width: 100%; height: 100%; object-fit: cover;">
                </div> -->
                <button (click)="loadSignOutMap()" class="map-btn">
                    <i class="fa-solid fa-map-marker-alt"></i> Show Map
                </button>
                <div *ngIf="showSignOutMap" class="map rounded border d-flex align-items-center justify-content-center text-muted" #map2 id="map2">
                    Map
                </div>
            </div>
        </div>
    </div>
</div>