$primary-color: var(--primary_color, #01A37E);
$color-secondary: var(--color-secondary, #1e293c);
$color-light-button: var(--color-light-button, #01a37e2e);

table {
    td, th {
        text-align: center;
        vertical-align: middle;
    }
}

.bg_light {
    background-color: $color-light-button;
}

.scrolable {
    scroll-behavior: smooth;
    overflow-x: hidden !important;
}

::ng-deep .customfield.mat-form-field-appearance-outline .mat-form-field-infix {
    padding: 0 0 5px 0 !important;
}