<div class="modal-header">
    <h5 class="modal-title">{{this.data.type?this.data.type=='view'?'View Charge Rate':'Edit Charge Rate':'Add Charge Rate'}}</h5>
    <button type="button" class="btn-close" aria-label="Close" (click)="close(this.data.type?this.data.type=='view'?'view':'edit':'add')"></button>
</div>

<div class="row w-100 p-6 overflow-scroll scrolable ">

    <br>
    <div class="content w-100">
        <form #chargeRateForm="ngForm">
            <div class="tab4-field1">
                <div class="row justify-content-between ">
                    <div class="col-6" #top>
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>Title</mat-label>
                            <input matInput [(ngModel)]="title" [disabled]="this.data.type=='view'" name="title"
                                placeholder="Placeholder" id="site_name">
                            <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
                        </mat-form-field>
                        <div class="mb-2" *ngIf="submitted && !title" style="color: red;font-size: 11px; margin-top: -3%;">
                            Title Name is required*
                        </div>
                    </div>
                    <div class="col-6">
                        <mat-form-field appearance="outline" class="w-100 customfield">
                            <mat-label>Date</mat-label>
                            <input matInput  [matDatepicker]="picker2" readonly style="width: 87%;" name="effective_date"
                            [(ngModel)]="effective_date" [ngModelOptions]="{standalone: true}" [disabled]="this.data.type=='view'">
                            <mat-datepicker-toggle matIconSuffix [for]="picker2"></mat-datepicker-toggle>
                            <mat-datepicker #picker2 color="primary"></mat-datepicker>
                        </mat-form-field>
                        <div class="mb-2" *ngIf="submitted && !effective_date" style="color: red;font-size: 11px; margin-top: -3%;">
                            Date Field is required*
                        </div>
                    </div>

                    <div class="col-12">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>Customer</mat-label>
                            <mat-select [disabled]="this.data.type=='view'" name="customer_id" [(ngModel)]="customer">
                                <mat-option *ngFor="let customer of customerList" [value]="customer.id">{{customer.name}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                        <div class="mb-2" *ngIf="submitted && !customer" style="color: red;font-size: 11px; margin-top: -3%;">
                            Customer Field is required*
                        </div>
                    </div>

                    <div class="col-4">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>Position</mat-label>
                            <mat-select [disabled]="this.data.type=='view'" name="position" [(ngModel)]="position">
                                <mat-option value="full_time">Full Time</mat-option>
                                <mat-option value="part_time">Part Time</mat-option>
                                <mat-option value="casual">Casual</mat-option>
                            </mat-select>
                        </mat-form-field>
                        <div class="mb-2" *ngIf="submitted && !position" style="color: red;font-size: 11px; margin-top: -3%;"> 
                            Position is required
                        </div>
                    </div>
                    <div class="col-4">
                        <!-- <mat-form-field appearance="outline" class="w-100">
                            <mat-label> Level</mat-label>
                            <mat-select [disabled]="this.data.type=='view'" (selectionChange)="getSpecificChargeRateWithLevel()" name="level" [(ngModel)]="level"> 
                                <mat-select [disabled]="this.data.type=='view'" name="level" [(ngModel)]="level">
                                <mat-option value="1">Level 1</mat-option>
                                <mat-option value="2">Level 2</mat-option>
                                <mat-option value="3">Level 3</mat-option>
                                <mat-option value="4">Level 4 </mat-option>
                                <mat-option value="5">Level 5</mat-option>
                            </mat-select>
                        </mat-form-field> -->
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>Level</mat-label>
                            <mat-select [disabled]="this.data.type=='view'" name="level" [(ngModel)]="level">
                                <mat-option *ngFor="let lvl of levels" [value]="lvl.value">{{ lvl.label }}</mat-option>
                            </mat-select>
                        </mat-form-field>

                        <div class=" mb-2" *ngIf="submitted && !level" style="color: red;font-size: 11px; margin-top: -3%;">
                            Level is required*
                        </div>
                    </div>
                    <div class="col-4">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>State</mat-label>
                            <mat-select [disabled]="this.data.type=='view'" name="state" [(ngModel)]="state">
                                <mat-option value="Victoria">Victoria</mat-option>
                                <mat-option value="Queensland">Queensland</mat-option>
                                <mat-option value="New South Wales">New South Wales</mat-option>
                                <mat-option value="South Australia">South Australia</mat-option>
                                <mat-option value="ACT">ACT</mat-option>
                                <mat-option value="Tasmania">Tasmania</mat-option>
                            </mat-select>
                        </mat-form-field>
                        <div class=" mb-2" *ngIf="submitted && !state" style="color: red;font-size: 11px; margin-top: -3%;">
                            State Field is required*
                        </div>
                    </div>

                    <!--  def table metro regional -->

                    <div class="col-12">

                        <h5>Default</h5>
                        <br>
                        <table class="table w-100">
                            <thead class="backg">
                                <tr class="table-row bg-light">
                                    <th scope="col">Metro</th>
                                    <th scope="col" class="text-center">Time Slots</th>
                                    <th scope="col">Regional</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let charge of chargeListMetroRegional " class="row_main">
                                    <td scope="row">
                                        <mat-form-field class="w-100 text-center bg_light">
                                            <input matInput [(ngModel)]="charge.metro" name={{charge.metroName}}
                                                [disabled]="this.data.type=='view'" type="number" placeholder="0" min="0">
                                        </mat-form-field>
                                    </td>
                                    <td scope="row" class="text-center">{{charge.date}}</td>
                                    <td scope="row">
                                        <mat-form-field class="w-100 text-center bg_light">
                                            <input matInput [(ngModel)]="charge.regional"
                                                [disabled]="this.data.type=='view'" name={{charge.regionalName}}
                                                type="number" placeholder="0" min="0">
                                        </mat-form-field>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <!-- EBA Section   -->

                    <div class="col-12">

                        <br>
                        <h4>EBA-Award</h4>

                        <br>
                        <table class="table w-100">
                            <thead class="backg">
                                <tr class="table-row bg-light">
                                    <th scope="col">Metro</th>
                                    <th scope="col" class="text-center">Time Slots</th>
                                    <th scope="col">Regional</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let charge of charge_List_Metro_Regional_EBA " class="row_main">
                                    <td scope="row">
                                        <mat-form-field class="w-100 text-center bg_light">
                                            <input matInput [(ngModel)]="charge.metro" name={{charge.metroName}}
                                                [disabled]="this.data.type=='view'" type="number" placeholder="0" min="0">
                                        </mat-form-field>
                                    </td>
                                    <td scope="row" class="text-center">{{charge.date}}</td>
                                    <td scope="row">
                                        <mat-form-field class="w-100 text-center bg_light">
                                            <input matInput [(ngModel)]="charge.regional" name={{charge.regionalName}}
                                                [disabled]="this.data.type=='view'" type="number" placeholder="0" min="0">
                                        </mat-form-field>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <!--  Awards Section -->
                    <!-- <div class="col-12">

                        <br>
                        <h4>Awards</h4>

                        <br>
                        <table class="table w-100">
                            <thead class="backg">
                                <tr class="table-row bg-light">
                                    <th scope="col">Metro</th>
                                    <th scope="col" class="text-center">Time Slots</th>
                                    <th scope="col">Regional</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let charge of charge_List_Metro_Regional_Award " class="row_main">
                                    <td scope="row">
                                        <mat-form-field class="w-100 text-center bg_light">
                                            <input matInput [(ngModel)]="charge.metro" name={{charge.metroName}}
                                                [disabled]="this.data.type=='view'" type="number" placeholder="0" min="0">
                                        </mat-form-field>
                                    </td>
                                    <td scope="row" class="text-center">{{charge.date}}</td>
                                    <td scope="row">
                                        <mat-form-field class="w-100 text-center bg_light">
                                            <input matInput [(ngModel)]="charge.regional" name={{charge.regionalName}}
                                                [disabled]="this.data.type=='view'" type="number" placeholder="0" min="0">
                                        </mat-form-field>
                                    </td>

                                </tr>
                            </tbody>
                        </table>

                    </div> -->
                </div>

                <!-- <mat-form-field appearance="outline" class="w-100">
                    <mat-label>OT Base Rate</mat-label>
                    <input matInput [(ngModel)]="ot_base_rate" type="number" name="ot_base_rate"
                        placeholder="OT Base rate" [disabled]="this.data.type=='view'" id="ot_base_rate" min="0">
                    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                </mat-form-field> -->
            </div>

        </form>

        <mat-card-footer style="margin:0 auto;" class="w-100 ">
            <div fxLayout="row" fxLayoutAlign="end end" class="nextpre d-flex justify-content-end ">
                <button *ngIf="this.data.type!='view'" class="btn" (click)="close()">Cancel</button>
                &nbsp;
                <button *ngIf="!data.rates" class="btn btn-border-3"
                    (click)="submitChargeRateForm(chargeRateForm.value , 'submit',top)">Submit
                </button>
                <button class="btn btn-border-3" *ngIf="data.rates && this.data.type!='view'"
                    (click)="submitChargeRateForm(chargeRateForm.value ,'update')">Update
                </button>
            </div>
        </mat-card-footer>
    </div>
</div>