<div class="flex flex-col flex-auto min-w-0 color-settings">
  <div class="flex-auto p-6">
    <div class="rounded-2xl">
      <div class="color-main" style="border-radius: 10px;">
        <div class="nav rounded-2xl">
          <h4>Color Settings</h4>
        </div>
        <div class="row main">
          <div class="col-4">
            <!-- <div class="row card-center">
              <mat-card class="example-card">
                <mat-card-header>
                  <mat-card-title-group>
                    <mat-card-title>Light Color</mat-card-title>
                    <mat-card-subtitle id="result">{{ lightColor }}</mat-card-subtitle>
                    <input type="color" id="favcolor" name="favcolor" [(ngModel)]="lightColor">
                  </mat-card-title-group>
                </mat-card-header>
              </mat-card>
            </div> -->

            <div class="row card-center">
              <mat-card class="example-card">
                <mat-card-header>
                  <mat-card-title-group>
                    <mat-card-title>Roster Pending Shifts</mat-card-title>
                    <mat-card-subtitle id="result">{{ pendingshiftsColor }}</mat-card-subtitle>
                    <input type="color" id="favcolor" name="favcolor" [(ngModel)]="pendingshiftsColor">
                  </mat-card-title-group>
                </mat-card-header>
              </mat-card>
            </div>

            <div class="row card-center">
              <mat-card class="example-card">
                <mat-card-header>
                  <mat-card-title-group>
                    <mat-card-title>Roster Un-publish Shifts</mat-card-title>
                    <mat-card-subtitle id="result">{{ unpublishshiftsColor }}</mat-card-subtitle>
                    <input type="color" id="favcolor" name="favcolor" [(ngModel)]="unpublishshiftsColor">
                  </mat-card-title-group>
                </mat-card-header>
              </mat-card>
            </div>

            <div class="row card-center">
              <mat-card class="example-card">
                <mat-card-header>
                  <mat-card-title-group>
                    <mat-card-title>Completed Shifts</mat-card-title>
                    <mat-card-subtitle id="result">{{ completedShifts }}</mat-card-subtitle>
                    <input type="color" id="favcolor" name="favcolor" [(ngModel)]="completedShifts">
                  </mat-card-title-group>
                </mat-card-header>
              </mat-card>
            </div>

            <div class="row card-center">
              <mat-card class="example-card">
                <mat-card-header>
                  <mat-card-title-group>
                    <mat-card-title>Confirmed Shifts</mat-card-title>
                    <mat-card-subtitle id="result">{{ confirmedShifts }}</mat-card-subtitle>
                    <input type="color" id="favcolor" name="favcolor" [(ngModel)]="confirmedShifts">
                  </mat-card-title-group>
                </mat-card-header>
              </mat-card>
            </div>
          </div>


          <div class="col-4">
            <!-- <div class="row card-center">
              <mat-card class="example-card">
                <mat-card-header>
                  <mat-card-title-group>
                    <mat-card-title>Primary Color</mat-card-title>
                    <mat-card-subtitle id="result">{{ primaryColor }}</mat-card-subtitle>
                    <input type="color" id="favcolor" name="favcolor" [(ngModel)]="primaryColor">
                  </mat-card-title-group>
                </mat-card-header>
              </mat-card>
            </div> -->

            <div class="row card-center">
              <mat-card class="example-card">
                <mat-card-header>
                  <mat-card-title-group>
                    <mat-card-title>Roster Rejected Shifts</mat-card-title>
                    <mat-card-subtitle id="result">{{ rejectedshiftsColor }}</mat-card-subtitle>
                    <input type="color" id="favcolor" name="favcolor" [(ngModel)]="rejectedshiftsColor">
                  </mat-card-title-group>
                </mat-card-header>
              </mat-card>
            </div>

            <div class="row card-center">
              <mat-card class="example-card">
                <mat-card-header>
                  <mat-card-title-group>
                    <mat-card-title>Roster Mock Shifts</mat-card-title>
                    <mat-card-subtitle id="result">{{ mockshiftsColor }}</mat-card-subtitle>
                    <input type="color" id="favcolor" name="favcolor" [(ngModel)]="mockshiftsColor">
                  </mat-card-title-group>
                </mat-card-header>
              </mat-card>
            </div>

            <div class="row card-center">
              <mat-card class="example-card">
                <mat-card-header>
                  <mat-card-title-group>
                    <mat-card-title>Roster Operational Notes Shift</mat-card-title>
                    <mat-card-subtitle id="result">{{ operationalshiftColor }}</mat-card-subtitle>
                    <input type="color" id="favcolor" name="favcolor" [(ngModel)]="operationalshiftColor">
                  </mat-card-title-group>
                </mat-card-header>
              </mat-card>
            </div>
          </div>


          <div class="col-4">
            <!-- <div class="row card-center">
              <mat-card class="example-card">
                <mat-card-header>
                  <mat-card-title-group>
                    <mat-card-title>Secondary Color</mat-card-title>
                    <mat-card-subtitle id="result">{{ secondaryColor }}</mat-card-subtitle>
                    <input type="color" id="favcolor" name="favcolor" [(ngModel)]="secondaryColor">
                  </mat-card-title-group>
                </mat-card-header>
              </mat-card>
            </div> -->

            <div class="row card-center">
              <mat-card class="example-card">
                <mat-card-header>
                  <mat-card-title-group>
                    <mat-card-title>Roster Publish Shifts</mat-card-title>
                    <mat-card-subtitle id="result">{{ publishshiftsColor }}</mat-card-subtitle>
                    <input type="color" id="favcolor" name="favcolor" [(ngModel)]="publishshiftsColor">
                  </mat-card-title-group>
                </mat-card-header>
              </mat-card>
            </div>

            <div class="row card-center">
              <mat-card class="example-card">
                <mat-card-header>
                  <mat-card-title-group>
                    <mat-card-title>Roster Missed Shifts</mat-card-title>
                    <mat-card-subtitle id="result">{{ missedshiftsColor }}</mat-card-subtitle>
                    <input type="color" id="favcolor" name="favcolor" [(ngModel)]="missedshiftsColor">
                  </mat-card-title-group>
                </mat-card-header>
              </mat-card>
            </div>

            <!-- <div class="row card-center">
              <mat-card class="example-card">
                <mat-card-header>
                  <mat-card-title-group>
                    <mat-card-title>Unpublished Site Shifts</mat-card-title>
                    <mat-card-subtitle id="result">{{ unpublishedsiteColor }}</mat-card-subtitle>
                    <input type="color" id="favcolor" name="favcolor" [(ngModel)]="unpublishedsiteColor">
                  </mat-card-title-group>
                </mat-card-header>
              </mat-card>
            </div> -->
            <div class="row card-center">
              <mat-card class="example-card">
                <mat-card-header>
                  <mat-card-title-group>
                    <mat-card-title>Roster Un-covered Shifts</mat-card-title>
                    <mat-card-subtitle id="result">{{ uncoveredshiftsColor }}</mat-card-subtitle>
                    <input type="color" id="favcolor" name="favcolor" [(ngModel)]="uncoveredshiftsColor">
                  </mat-card-title-group>
                </mat-card-header>
              </mat-card>
            </div>
          </div>

          <!-- <div style="padding: 15px;" class="row file-drop">
            <div class="col-6">
              <div class="dropzone" fileDragDrop (filesChangeEmiter)="onFileChange($event)">
                <div class="text-wrapper">
                  <div class="centered">
                    <input type="file" name="file" id="file" (change)="onFileChange($event.target.files)"
                      accept="image/*">
                    <label for="file"><span class="textLink">Select your log</span> or Drop it here!</label>
                  </div>
                </div>
              </div>
            </div>
            <hr>
            <div class="row fileItem col-6" *ngIf="file">
              <div class="col-sm-12 fileItemIconDiv">
                <img *ngIf="file.preview" [src]="file.preview" class="fileItemIcon" />
              </div>
              <div class="col-sm-12 fileItemText">
                <span>{{file.name}}</span>
              </div>
            </div>
          </div> -->

          <div class="row">
            <div class="col-12">
              <button type="button" class="btn border-btn save"
                *ngIf="adminPermissions && (adminPermissions.update || adminPermissions.cread)" (click)="save()">Save
                Changes</button>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>