<div class="flex flex-col flex-auto min-w-0 main-body-watermark">
    <div class="flex-auto p-6" *ngIf="adminPermissions && adminPermissions.read">
        <div class="rounded-2xl common-admin-customer-contractor mat-field-client">
            <form novalidate (ngSubmit)="checkVisaInfo()" [formGroup]="visaForm">
                <mat-card>
                    <mat-toolbar style="background-color: #FFF">
                        <mat-toolbar-row>
                            <span class="view-card-title">Visa Check</span>
                            <span class="title-spacer"></span>
                            <mat-card-actions>
                                <button mat-mini-fab class="primary" *ngIf="adminPermissions && adminPermissions.create"
                                    style="margin-right:10px; background-color:darkgray" type="submit">
                                    <mat-icon>search</mat-icon>
                                </button>
                                <button mat-mini-fab (click)="navigateToURL()" style="margin-right:10px; ">
                                    <mat-icon>cancel</mat-icon>
                                </button>
                            </mat-card-actions>

                        </mat-toolbar-row>
                    </mat-toolbar>
                    <span class="view-card-title ml-2 my-3">Enter Visa Information</span>
                    <mat-card-content style="margin: 5px 0 5 10px;">
                        <div class="form-card">
                            <mat-grid-list cols="12" rowHeight="80px">

                                <mat-grid-tile [colspan]="fieldColspan">
                                    <app-select-multiple-guards signleDouble="no"
                                        (selectedUsers)="receiveDataFromChildGuardsSingle($event)"
                                        class="select_job_roster w-100" [dataArray]="guardsList"
                                        [placeholderText]="'Select a staff'"></app-select-multiple-guards>
                                </mat-grid-tile>


                                <mat-grid-tile [colspan]="fieldColspan">
                                    <mat-form-field class="form-field" appearance="outline">
                                        <mat-label>Passport Number</mat-label>
                                        <input matInput type="text" placeholder="Passport Number"
                                            formControlName="passport_number" />
                                        <mat-error
                                            *ngIf="visaForm.get('passport_number').hasError('required') && visaForm.get('passport_number').touched">
                                            Passport Number is required.
                                        </mat-error>
                                    </mat-form-field>
                                </mat-grid-tile>

                                <mat-grid-tile [colspan]="fieldColspan">
                                    <mat-form-field class="form-field" appearance="outline">
                                        <mat-label>Origin Country</mat-label>
                                        <input type="text" placeholder="Search your country" matInput
                                            [matAutocomplete]="auto" formControlName="select_country" />
                                        <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                                            <mat-option *ngFor="let country of filteredCountries" [value]="country">
                                                {{ country.name }}
                                            </mat-option>
                                        </mat-autocomplete>
                                    </mat-form-field>
                                </mat-grid-tile>


                                <mat-grid-tile [colspan]="fieldColspan">
                                    <mat-form-field appearance="outline" class="form-field">
                                        <mat-label>DOB</mat-label>
                                        <input matInput [matDatepicker]="picker2" formControlName="dob"
                                            (keydown.enter)="$event.preventDefault()">
                                        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                                        <mat-datepicker #picker2 color="primary"></mat-datepicker>
                                        <mat-error
                                            *ngIf="visaForm.get('dob').hasError('required') && visaForm.get('dob').touched">
                                            Date of Birth is required.
                                        </mat-error>
                                    </mat-form-field>
                                </mat-grid-tile>
                            </mat-grid-list>
                        </div>
                    </mat-card-content>

                </mat-card>
            </form>
        </div>

        <div class="table-container common-admin-customer-contractor mat-field-client pt-3" *ngIf="showDetail">
            <h3 class="ml-3">Visa Detail</h3>
            <table class="table table-striped table-border centered-table">
                <thead>
                    <tr>
                        <th scope="col">Lable</th>
                        <th scope="col">Value</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of results">
                        <th scope="row">{{ item.label }}</th>
                        <td>{{ item.value }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>

<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="default" color="#fff" type="line-spin-fade-rotating">
    <p style="color: white">{{ textNgx }}</p>
</ngx-spinner>