thead {
  color: #337AB7;
}

.title-spacer {
  flex: 1 1 auto;
}

.search-form-fileld {
  margin-right: 20px;
}

.won-status,
.lost-status,
.low-priority {
  display: flex;
  justify-content: center;
  color: white !important;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  border-radius: 10px;
}

.won-status {
  width: 50%;
  background-color: green;
}

.lost-status {
  width: 50%;
  background-color: red;
}
.low-priority {
  width: 50%;
  background-color: rgb(0 46 255 / 96%);
}
.cursor-pointer {
  cursor: pointer;
}
