<div class="absolute inset-0 flex flex-col overflow-hidden main-body-watermark w-100">
    <div class="p-6 rounded-2xl overflow-auto common-admin-customer-contractor">
        <div class="users-page">
            <div class="user-main">
                <div class="user-nav rounded-2xl">
                    <h4>{{ pageTitle }}</h4>
                </div>
            </div>
        </div>

        <section>
            <div class="show_admin">
                <div class="user-type">
                    <ul>
                        <li [ngClass]="{'active': userType==='active'}" (click)="getUserType('active')">Active ({{ active }})</li>
                        <li [ngClass]="{'active': userType==='inactive'}" (click)="getUserType('inactive')">Inactive ({{ inactive }})</li>
                    </ul>
                </div>
                <mat-chip-list>
                    <div class="search-here">
                        <mat-icon svgIcon="feather:search" class="search-icon" style="color: #94a3b8 !important; margin:4px 7px !important;"></mat-icon>
                        <input matInput placeholder="Search..." [(ngModel)]="searchTerm" (ngModelChange)="search()">
                    </div>
                    <!-- <mat-chip (click)="createAdmin('new')" *ngIf="adminPermissions && adminPermissions.create">
                        <mat-icon svgIcon="mat_outline:file_upload"></mat-icon><span class="mr-2">Export</span>
                    </mat-chip> -->
                    <mat-chip class="publish_site_color" (click)="createAdmin('new')" *ngIf="adminPermissions && adminPermissions.create">
                        <span>Add {{ pageTitle == 'Administrators' ? 'Admin' : 'Sales Person' }}</span>
                    </mat-chip>
                </mat-chip-list>
            </div>
            <br>
            <div *ngIf="dataSource.data.length === 0">No results found.</div>
            <table mat-table [dataSource]="dataSource" matSort *ngIf="adminPermissions && adminPermissions.read">
                <ng-container matColumnDef="image">
                    <th mat-header-cell *matHeaderCellDef></th>
                    <td mat-cell *matCellDef="let element">
                        <ng-container *ngIf="element.image; else altContent">
                            <img [src]="element.image" class="rounded-circle" alt="User Image" style="width: 50px; height: 50px; object-fit: cover;">
                        </ng-container>
                        <ng-template #altContent>
                            <div class="rounded-circle d-flex justify-content-center align-items-center text-uppercase font-weight-bold"
                                style="width: 50px; height: 50px; background-color: #e8e8e8">
                                {{ element.name.charAt(0) }} {{ element.name.charAt(1) }}
                            </div>
                        </ng-template>
                    </td>
                </ng-container>

                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef>Name</th>
                    <td class="name-hover text-capitalize" mat-cell *matCellDef="let element" (click)="profileAdmin(element.id)">
                        {{ element.name }}
                    </td>
                </ng-container>

                <ng-container matColumnDef="email">
                    <th mat-header-cell *matHeaderCellDef>Email</th>
                    <td class="name-hover" mat-cell *matCellDef="let element">
                        {{ element.email }}
                    </td>
                </ng-container>

                <!-- <ng-container *ngIf="pageTitle === 'Administrators'"> -->
                <ng-container matColumnDef="role">
                    <th mat-header-cell *matHeaderCellDef>Role</th>
                    <td class="name" mat-cell *matCellDef="let element">{{ element.role }}</td>
                </ng-container>
                <!-- </ng-container> -->

                <ng-container matColumnDef="status">
                    <th mat-header-cell *matHeaderCellDef>Status</th>
                    <td mat-cell *matCellDef="let element">
                        <mat-slide-toggle [checked]="element.status === 'active'" (change)="updateActiveStatus(element)"></mat-slide-toggle>
                    </td>
                </ng-container>

                <ng-container matColumnDef="last_login">
                    <th mat-header-cell *matHeaderCellDef>Last Login</th>
                    <td mat-cell *matCellDef="let element">
                        <ng-container *ngIf="element.last_login !== 'N/A'; else naBlock">
                            {{ element.last_login }}
                        </ng-container>
                        <ng-template #naBlock>N/A</ng-template>
                    </td>
                </ng-container>

                <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef>Action</th>
                    <td mat-cell *matCellDef="let element" [matMenuTriggerFor]="menu">
                        <mat-icon class="accent" svgIcon="heroicons_solid:pencil-alt" (click)="createAdmin(element.id)" *ngIf="adminPermissions && adminPermissions?.update"></mat-icon>
                        <mat-icon color="warn" class="danger-icon" svgIcon="heroicons_outline:trash" (click)="delAdmin(element)" *ngIf="adminPermissions && adminPermissions?.delete"></mat-icon>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <mat-paginator #paginator [pageSize]="20" [pageSizeOptions]="[5, 10,20]"></mat-paginator>
        </section>
    </div>
</div>