::ng-deep .cdk-overlay-connected-position-bounding-box {
    z-index: 10000 !important;
}

::ng-deep .cdk-global-overlay-wrapper {
    z-index: 1000 !important;
}

table {
    .mat-column-image {
        word-wrap: break-word !important;
        white-space: unset !important;
        flex: 0 0 28% !important;
        width: 6% !important;
        overflow-wrap: break-word;
        padding: 0 10px;
    }

    .mat-column-name {
        word-wrap: break-word !important;
        white-space: unset !important;
        flex: 0 0 28% !important;
        width: 10% !important;
        overflow-wrap: break-word;
        word-wrap: break-word;
        word-break: break-word;
        -ms-hyphens: auto;
        -moz-hyphens: auto;
        -webkit-hyphens: auto;
        hyphens: auto;
        padding: 0 5px;
    }
}
