<div class="flex flex-col flex-auto min-w-0 main-body-watermark">
    <!-- Main -->
    <div class="flex-auto p-6">
        <!-- CONTENT GOES HERE -->
        <div class="rounded-2xl">
            <div class="Jobroster-main" style="border-radius: 10px;">
                <div class="nav rounded-2xl">
                    <h4>{{ rosterName }}</h4>
                </div>
                <div class="calender-main shadow"
                    style="background-color: var(--tw-ring-offset-color) !important; border-radius: .5rem;">
                    <div class="row" style="margin-top: 20px;">
                        <div class="container-nav">
                            <div class="user-type">
                                <ul>
                                    <li class="patrol" [ngClass]="{'active': userType=='run_sheet'}" (click)="getUserType('run_sheet')">
                                        Runsheet Location
                                    </li>
                                    <li class="staff" [ngClass]="{'active': userType=='guard'}" (click)="getUserType('guard')">
                                        Staff</li>
                                </ul>
                            </div>

                            <mat-chip-list aria-label="Dog selection" class="dog_selection">
                                <mat-chip class="custome-week">
                                    <mat-icon (click)="displayPrevWeek()"
                                        class="date_left_right">keyboard_arrow_left</mat-icon>
                                    <app-weekly-selection (startDate)="receiveStartDate($event)"
                                        (endDate)="receiveEndDate($event)"></app-weekly-selection>
                                    <mat-icon (click)="displayNextWeek()"
                                        class="date_left_right">keyboard_arrow_right</mat-icon>
                                </mat-chip>

                                <mat-chip (click)="today()">
                                    <mat-icon viewBox="0 0 30 30" svgIcon="today"></mat-icon>
                                    <span>Today</span>
                                </mat-chip>

                                <app-select-multiple-customer signleDouble="yes"
                                    (selectedCustomer)="receiveDataFromChild($event)" class="select_job_roster"
                                    [dataArray]="customers" [placeholderText]="'Select Customers'">
                                </app-select-multiple-customer>

                                <app-select-multiple-site (selectedSite)="receiveDataFromChildSite($event)"
                                    class="select_job_roster site-job-new-roster" [type]="type" [dataArray]="sitesList"
                                    [placeholderText]="userType =='guard' ? 'Select Staff' : 'Select Locations'"></app-select-multiple-site>

                                <mat-form-field class="fuse-mat-rounded">
                                    <mat-select [placeholder]="'SITE TYPE'" [(value)]="selectedType" #status
                                        (selectionChange)="siteStatus(status.value)">
                                        <mat-option value="active">Active {{userType}}</mat-option>
                                        <mat-option value="inactive">Inactive {{userType}}</mat-option>
                                        <mat-option value="all">All {{userType}}</mat-option>
                                    </mat-select>
                                </mat-form-field>

                                <mat-form-field class="fuse-mat-rounded">
                                    <mat-select [placeholder]="'View By...'" [(value)]="selected" #view
                                        (selectionChange)="viewBy(view.value)">
                                        <p class="px-3">VIEW BY Runsheet Location</p>
                                        <mat-option value="site-week" [disabled]="userType=='guard'">Week</mat-option>
                                        <mat-option value="site-two-weeks" [disabled]="userType=='guard'">2 Weeks</mat-option>
                                        <div class="view">
                                            <hr>
                                            <p class="px-3">VIEW BY Staff</p>
                                            <mat-option value="staff-week" [disabled]="userType=='run_sheet'">Week</mat-option>
                                            <mat-option value="staff-two-weeks" [disabled]="userType=='run_sheet'">2 Weeks</mat-option>
                                            </div>
                                    </mat-select>
                                </mat-form-field>

                                <mat-chip (click)="reloadCurrentPage()">
                                    <mat-icon svgIcon="heroicons_outline:refresh"></mat-icon>
                                </mat-chip>

                                <mat-chip *ngIf="rosterStatus==='active'"
                                    [matMenuTriggerFor]="setting" [ngClass]="{ 'disabled-copied' :!isCopyEnabled }">
                                    <mat-icon svgIcon="mat_outline:settings"></mat-icon>
                                </mat-chip>
                                <mat-menu #setting="matMenu">
                                    <h6 class="px-3">Export</h6>
                                    <button mat-menu-item>Print by site(CSV)</button>
                                    <button mat-menu-item>Print by site(EXCEL)</button>
                                    <button mat-menu-item>Print by staff(CSV)</button>
                                    <button mat-menu-item>Print by staff(EXCEL)</button>
                                    <button mat-menu-item (click)="generateRosterReportNormal('normal')">Download Roster(CSV)</button>
                                    <hr>
                                    <h6 class="px-3">Options</h6>
                                    <button mat-menu-item (click)="siteActionBulk('copy_current')">Copy this to Current Week</button>
                                    <button mat-menu-item (click)="siteActionBulk('rollover')">Rollover this Week</button>
                                    <button mat-menu-item (click)="siteActionBulk('clear_shifts')">Clear Shifts</button>
                                    <button mat-menu-item (click)="siteActionBulk('unpublish')">Unpublish Week</button>
                                    <button mat-menu-item (click)="siteActionBulk('unassign')">Unassign Week</button>
                                    <button mat-menu-item >Add multiple shifts</button>
                                </mat-menu>

                                <mat-chip
                                    *ngIf="rosterStatus=='active'"
                                    ngbTooltip="Add Staff on Locations" (click)="addGuardOnSites(addGuard)">
                                    <mat-icon svgIcon="mat_outline:assignment_ind"></mat-icon>
                                </mat-chip>

                                <mat-chip
                                    *ngIf="userType!='guard' && rosterStatus=='active'"
                                    ngbTooltip="Create a new Location" (click)="createSite()">
                                    <mat-icon svgIcon="mat_outline:note_alt"></mat-icon>
                                </mat-chip>

                                <mat-chip
                                    *ngIf="rosterStatus=='active'"
                                    [matMenuTriggerFor]="bulkAction"
                                    [ngClass]="{ 'disabled-copied' : this.globals.selectedSitesIds.length==0 }">
                                    <mat-icon viewBox="0 0 30 30" svgIcon="assignment_turned_in"></mat-icon>
                                    <span>Bulk Action</span>
                                </mat-chip>

                                <mat-menu #bulkAction="matMenu">
                                    <button mat-menu-item (click)="siteActionBulk('clear_shifts')">Clear Shifts</button>
                                    <button mat-menu-item (click)="siteActionBulk('unpublish')">Unpublish Week</button>
                                    <button mat-menu-item (click)="siteActionBulk('unassign')">Unassign Week</button>
                                </mat-menu>

                                <!-- <mat-chip
                                    *ngIf="rosterStatus=='active'">
                                    <mat-icon viewBox="0 0 30 30" svgIcon="mat_outline:public"></mat-icon>
                                    <span>Broadcast a job</span>
                                </mat-chip> -->

                                <mat-chip
                                    *ngIf="rosterStatus=='active' && loginUser!='customer'"
                                    [matMenuTriggerFor]="menu" [disabled]="!isCopyEnabled" (click)="CopyShiftBulk()"
                                    [ngClass]="{ 'disabled-copied' :!isCopyEnabled }">
                                    <mat-icon viewBox="0 0 30 30" svgIcon="mat_outline:content_copy"></mat-icon>
                                    <span>Copy</span>
                                </mat-chip>

                                <mat-chip>
                                    <mat-icon svgIcon="mat_solid:stacked_bar_chart"></mat-icon> <span>Stats</span>
                                    <mat-icon svgIcon="mat_solid:keyboard_arrow_down" viewBox="0 0 1024 974"
                                        class="some-space">
                                    </mat-icon>
                                </mat-chip>

                                <!-- <mat-chip
                                    *ngIf="rosterStatus=='active' && loginUser!='customer'"
                                    ngbTooltip="Available Staff">
                                    <mat-icon viewBox="0 0 30 30" svgIcon="mat_outline:supervisor_account"></mat-icon>
                                </mat-chip> -->

                                <mat-chip *ngIf="rosterStatus=='active' && loginUser!='customer'"
                                    ngbTooltip="Deleted Shifts" (click)="viewDeletedShifts()">
                                    <mat-icon viewBox="0 0 30 30" svgIcon="mat_outline:restore_from_trash"></mat-icon>
                                </mat-chip>

                                <mat-chip *ngIf="rosterStatus=='active' && loginUser!='customer'"
                                    (click)="unpublish_shift_count > 0 && publishShift()"
                                    [disabled]="unpublish_shift_count==0" class="publish_site_color"
                                    [matBadge]="unpublish_shift_count" matBadgeOverlap="false">
                                    Publish
                                </mat-chip>

                            </mat-chip-list>
                        </div>
                    </div>

                    <ng-container *ngIf="isShowSkelton">
                        <app-skelton></app-skelton>
                    </ng-container>

                    <ng-container
                        *ngIf="!isShowSkelton && selected=='site-week' || selected=='staff-week' && showCalender">
                        <app-runsheet-one-week [calenderType]="userType" [dataArray]="sitesListChild" [days_hours]="days_hours"
                            [rosterStatus]="rosterStatus"></app-runsheet-one-week>
                    </ng-container>

                    <ng-container
                        *ngIf="!isShowSkelton && selected=='site-two-weeks' || selected=='staff-two-weeks' && showCalender">
                        <app-runsheet-two-week [calenderType]="userType" [dataArray]="sitesListChild" [days_hours]="days_hours"
                        [rosterStatus]="rosterStatus"></app-runsheet-two-week>
                    </ng-container>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #addGuard let-modal>
    <div class="modal-header">
        <h5 class="modal-title">Add Staff On Locations</h5>
        <button type="button" class="close" style="color: white;opacity: 1;" data-dismiss="modal"
            (click)="close('cancel')" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="modal-body">
        <app-select-multiple-customer signleDouble="no" (selectedCus)="selectedCus($event)" class="select_job_roster"
        [dataArray]="customers" [placeholderText]="'Select Customer'"></app-select-multiple-customer>

        <app-select-multiple-site signleDouble="no" style="position: relative;top: 10px;"
        (selectedSite)="receiveDataFromChildSi($event)" class="select_job_roster site-job-new-roster mt-2"
        [type]="type" [dataArray]="singleSites"
        [placeholderText]="userType =='guard' ? 'Select Staff' : 'Select Location'"></app-select-multiple-site>

        <mat-card class="result" style="position: relative;top: 20px;">
            <mat-card-content>
                <section class="example-section">
                    <mat-slide-toggle class="example-margin" [color]="color" [checked]="checkedSlide"
                        (change)="toggleGuard($event,guards_arr,'add_to_site_at_once')" [disabled]="disabledSlide">
                        Add All at Once!
                    </mat-slide-toggle>
                </section>
            </mat-card-content>
        </mat-card>

        <mat-tab-group style="position: relative;top: 40px;" class="guard-for-site"
            (selectedTabChange)="onTabChange($event)">
            <mat-tab>
                <ng-template mat-tab-label>
                    <mat-icon class="example-tab-icon">supervised_user_circle</mat-icon>
                    Customer Staff
                </ng-template>

                <!-- search bar -->
                <div class="search-here" style="margin-bottom: 10px;">
                    <mat-icon svgIcon="feather:search" class="search-icon"
                    style="color: #94a3b8 !important; margin:4px 7px !important;"></mat-icon>
                    <input matInput placeholder="Search here..." [(ngModel)]="searchTerm" style="font-size: medium;">
                </div>
                <ng-container *ngFor="let staff of customers_guards">
                    <mat-slide-toggle (change)="toggleGuard($event, staff, 'add_to_site')">
                        {{ staff.first_name }} {{ staff.middle_name ? staff.middle_name : '' }} {{ staff.last_name ?
                        staff.last_name : '' }}
                    </mat-slide-toggle>
                </ng-container>
            </mat-tab>

            <mat-tab>
                <ng-template mat-tab-label>
                    <mat-icon class="example-tab-icon">note_add</mat-icon>
                    Location Staff
                </ng-template>
                <div class="search-here" style="margin-bottom: 10px;">
                    <mat-icon svgIcon="feather:search" class="search-icon"
                    style="color: #94a3b8 !important; margin:4px 7px !important;"></mat-icon>
                    <input matInput placeholder="Search here..." [(ngModel)]="searchlocation"
                    style="font-size: medium;">
                </div>
                <mat-slide-toggle *ngFor="let staff of site_guards"
                (change)="toggleGuard($event,staff)" [checked]="true">{{ staff.first_name }} {{
                staff.middle_name?staff.middle_name:'' }} {{ staff.last_name?staff.last_name:'' }}
                </mat-slide-toggle>
            </mat-tab>
        </mat-tab-group>

    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="close('cancel')">Close</button>
    </div>

</ng-template>
