
$color-light-button: var(--color-light-button, #01a37e2e);
.first-row{
    border-bottom: 1px solid;  
}
.example-section-left{
    float: right;
}
.main-task{
    margin-bottom: 10px;
    margin-top: 10px;
}
.sub-tasks{
    margin-bottom: 10px;
}

.completed-background {
    background-color: $color-light-button;
  }