<div class="row">
    <div class="col-12">
     <button type="button" (click)="close()" style="float: right; margin-right: 3rem; margin-top: 3rem;">
         <mat-icon>cancel</mat-icon>
     </button>
    </div> 
 </div>
<div class="wrap_form">
    <form [formGroup]="AddEmergContact">
    <div class="myContent" #modalContent>
        <div class="logo  mb-5 ">
            <img src="assets/images/logo/scouts.png" alt="" class="mb-2">
        </div>
        <div class="bar mb-1"></div>
        <div class="bar text-center text-light mb-3">
            <h5>Emergency Contact</h5>
        </div>

        <div class="form-1  ">
            <div class="body mb-2 w-100 d-flex">
                <div class="form-body w-50 d-flex ">
                    <label class="">Name:</label>
                    <input type="text" formControlName="name" class="border-secondary ps-2 border-bottom w-75 "> 
                </div>
                <div class="form-body w-50 d-flex ">
                    <label class="text-center">Contact No: </label>
                    <input type="number" formControlName="contact" class="border-secondary ps-2 border-bottom w-75">
                </div>
            </div>

            <div class="form-body   w-50 d-flex ">
                <label>Relationship:</label>
                <input type="text" formControlName="relation" class="border-secondary ps-2 border-bottom w-75 ">
            </div>

            <div class="bar text-center text-light mt-5">
                <h5>Financial Institution Details</h5>
            </div>

            <div class="form-2 mt-3">
                <div class="body w-100 d-flex justify-content-between">
                    <div class="form-body mt- 2 w-100 d-flex ">
                        <label >Bank Name</label>
                        <input type="text" formControlName="bank_name" class="border-secondary  ps-2 border-bottom w-75 ">
                    </div>
                </div>

                <div class="body w-100 d-flex ">
                    <div class="form-body mt-2 w-100 d-flex ">
                        <label >Account Name (S):</label>
                        <input type="text" formControlName="acc_name" class="border-secondary  ps-2 border-bottom w-75 ">
                    </div>
                </div>

                <div class="form-body mt-4 d-flex justify-content-between mt-1 mb-2">
                    <label>Account Type</label>
                    <div class="radio d-flex me-2">
                        <div class="border border-secondary  rounded me-2 p-1" role="button" *ngFor="let accType of accTypes; let i = index" [class.active]="selectedindexacc===i" (click)="setacc(i)">
                            <p >{{accType.name}}</p>
                        </div>
                    </div>
                
                    <p class="ms-3 text-muted">(Mark Circle Applicable)</p>
                </div>

                <div class="body mb-2 w-100 d-flex">
                    <div class="form-body w-50 d-flex ">
                        <label class="">BSB:</label>
                        <input type="text" formControlName="bsb" class="border-secondary ps-2 border-bottom w-75 ">
                    </div>
                    <div class="form-body w-50 d-flex ">
                        <label class="text-center">Account No: </label>
                        <input type="number" formControlName="acc_no" class="border-secondary ps-2 border-bottom w-75">
                    </div>
                </div> 
                                                             
                <div class="body mb-2 w-100 d-flex">
                    <div class="form-body w-50 d-flex ">
                        <label class="">Tax File No:</label>
                        <input type="number" formControlName="tax_file" class="border-secondary ps-2 border-bottom w-75 ">
                    </div>
                </div>

                <div class="body mb-2 w-100 d-flex">
                    <div class="form-body w-50 d-flex ">
                        <label class="">Super Fund Name:</label>
                        <input type="text" formControlName="fund_name" class="border-secondary ps-2 border-bottom w-75 ">
                    </div>
                </div>

                <div class="body mb-2 w-100 d-flex">
                    <div class="form-body w-50 d-flex ">
                        <label class="">Superannuation Membership number:</label>
                        <input type="text" formControlName="superannuation" class="border-secondary ps-2 border-bottom w-75 ">
                    </div>
                </div>
            </div> 
                       
            <div class="bar text-center text-light mt-5">
                <h5>Criminal History </h5>
            </div>
            <div class="form-3">
                <p>If you answer YES to any of these questions, please discuss them before continuing with this form.
                    Have you ever been convicted of any criminal offence in Australia or overseas? This does not include
                    traffic /parking fines but does include drunk driving offences. YES/ NO
                    If YES, please describe the details: -
                </p>

                <div class="body w-100 d-flex ">
                    <div class="form-body  w-100 d-flex ">
                        <label >Offence:</label>
                        <input type="text" formControlName="offence_one" class="border-secondary  ps-2 border-bottom w-50 ">
                    </div>
                </div>

                <div class="body w-100  mt-3 d-flex ">
                    <div class="form-body w-100 d-flex ">
                        <label >Results:</label>
                        <input type="text" formControlName="result_one" class="border-secondary  ps-2 border-bottom w-75 ">
                    </div>
                </div>

                <div class="body w-100 mt-2 d-flex ">
                    <div class="form-body w-100 d-flex ">
                        <label >Offence:</label>
                        <input type="text" formControlName="offence_two" class="border-secondary  ps-2 border-bottom w-50 ">
                    </div>
                </div>
                                        
                <div class="body  mt-3 w-100 d-flex ">
                    <div class="form-body w-100 d-flex ">
                        <label >Results:</label>
                        <input type="text" formControlName="result_two" class="border-secondary  ps-2 border-bottom w-75 ">
                    </div>
                </div> 
                                        
            </div>
        </div>
    </div>

    <div class="flex justify-content-center" style="margin-top: 5rem;">
        <button type="button" class="btn btn-success m-1" (click)="makePdf()"
            *ngIf="this.global.admin && this.global.admin.admin_user_type === 'super-admin'">Save pdf</button>
        <button type="button" class="btn btn-success m-1" (click)="submit()">Submit</button>
    </div>
    </form>
</div>