<div class="absolute inset-0 flex flex-col min-w-0 overflow-y-auto" cdkScrollable>

    <!-- Main -->
    <div class="flex flex-col flex-auto items-center p-4 sm:p-6">

        <div class="row w-100">
            <div class="col-6">
                <div class="md:text-6xl font-extrabold tracking-tight" *ngIf="selectedOption==='modern'">
                    Projects
                  </div>
                  <div class="md:text-6xl font-extrabold tracking-tight" *ngIf="selectedOption==='classic'">
                    Leads
                  </div>
            </div>
            <div class="col-6 text-right ">
                <mat-form-field appearance="outline">
                    <mat-label>View By</mat-label>
                    <mat-select [(ngModel)]="selectedOption" (selectionChange)="saveSelectedOption($event.value)">
                        <mat-option value="modern">Modern</mat-option>
                        <mat-option value="classic">Classic</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>

        <!-- Title -->


        <!-- Boards -->
        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-4 mt-4 md:mt-16"
            *ngIf="selectedOption=='modern'">
            <ng-container *ngFor="let board of boards; trackBy: trackByFn">
                <a style="position: relative;"
                    class="flex flex-col items-start w-56 p-6 rounded-lg shadow bg-card rounded-lg hover:shadow-xl transition-shadow duration-150 ease-in-out no-underline text-black">
                    <div [routerLink]="[board.id]"
                        class="flex items-center justify-center p-4 rounded-full bg-primary-50 text-primary-700 dark:bg-primary dark:text-on-primary">
                        <mat-icon class="text-current" svgIcon="heroicons_outline:home"></mat-icon>
                    </div>
                    <div [matMenuTriggerFor]="listMenu" style="position: absolute;right: 3px;">
                        <mat-icon>more_vert</mat-icon>
                    </div>
                    <mat-menu #listMenu="matMenu">
                        <!-- <button mat-menu-item>
                            <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:pencil-alt'"></mat-icon>
                            Edit
                        </button> -->
                        <button mat-menu-item (click)="delBoard(board.id)">
                            <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:trash'"></mat-icon>
                            Delete
                        </button>
                    </mat-menu>
                    <!-- Title -->
                    <div class="mt-5 text-lg font-medium leading-5 cursor-pointer" [routerLink]="[board.id]">
                        {{board.title}}</div>
                    <!-- Description -->
                    <div class="mt-0.5 line-clamp-2 text-secondary" [routerLink]="[board.id]">{{board.description}}
                    </div>
                    <!-- Members -->
                    <ng-container *ngIf="board.tags.length">
                        <div class="w-12 h-1 mt-6 border-t-2"></div>
                        <div class="flex items-center my-6 -space-x-1.5">
                            <div class="flex flex-wrap -mx-1 -mb-2">
                                <ng-container *ngFor="let tag of board.tags; trackBy: trackByFn">
                                    <div
                                        class="mx-1 mb-2 py-0.5 px-3 rounded-full text-sm font-medium text-gray-500 bg-gray-100 dark:text-gray-300 dark:bg-gray-700">
                                        {{tag.tag}}
                                    </div>
                                </ng-container>
                            </div>
                        </div>
                    </ng-container>
                    <!-- Last activity -->
                    <div class="flex items-center my-2 text-md font-md" style="position: absolute; bottom: 0;">
                        <div class="text-secondary">Edited:</div>
                        <div class="ml-1">{{board.updated_at}}</div>
                    </div>
                </a>
            </ng-container>
            <!-- New board -->
            <div (click)="newTaskBoard($event)"
                class="flex flex-col items-center justify-center w-56 rounded-lg cursor-pointer border-2 border-gray-300 border-dashed hover:bg-hover transition-colors duration-150 ease-in-out">
                <mat-icon class="icon-size-12 text-hint" [svgIcon]="'heroicons_outline:plus'"></mat-icon>
            </div>
        </div>
    </div>
    <div class="flex flex-col flex-auto min-w-0 main-body-watermark w-100" *ngIf="selectedOption=='classic'">
        <div class="flex-auto p-4">
            <div class="rounded-2xl">
                <mat-card class='light' style="height: 100%;">
                    <mat-toolbar class="primary">
                        <mat-toolbar-row>
                            <button mat-mini-fab style="margin-right:10px; background-color:darkgray" (click)="reset()">
                                <mat-icon>refresh</mat-icon>
                            </button>
                            <span class="title-spacer"></span>
                            <mat-form-field appearance="standard" class="search-form-fileld">
                                <mat-label>Filter</mat-label>
                                <input matInput (keyup)="applyFilter($event.target.value)">
                                <mat-icon>filter_list</mat-icon>
                            </mat-form-field>

                        </mat-toolbar-row>
                    </mat-toolbar>

                    <mat-table #table [dataSource]="dataSource" matSort>
                        <ng-container matColumnDef="name">
                            <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
                            <mat-cell *matCellDef="let customer" [routerLink]="['/crm/customer-detail', customer.id]"
                                class="cursor-pointer"> {{customer.name}} </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="email">
                            <mat-header-cell *matHeaderCellDef mat-sort-header> Email </mat-header-cell>
                            <mat-cell *matCellDef="let customer" class="break-all"> {{customer.email}} </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="phone">
                            <mat-header-cell *matHeaderCellDef mat-sort-header> Phone </mat-header-cell>
                            <mat-cell *matCellDef="let customer"> {{customer.phone }} </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="company">
                            <mat-header-cell *matHeaderCellDef mat-sort-header> Company </mat-header-cell>
                            <mat-cell *matCellDef="let customer"> {{customer.company }} </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="agent_name">
                            <mat-header-cell *matHeaderCellDef mat-sort-header> Sale Person </mat-header-cell>
                            <mat-cell *matCellDef="let customer"> {{customer.agent_name }} </mat-cell>
                        </ng-container>
                        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                    </mat-table>
                    <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[5, 10]">
                    </mat-paginator>
                </mat-card>
                <!-- </mat-sidenav-container> -->

            </div>
        </div>
    </div>

</div>