<div class="flex flex-col flex-auto min-w-0 main-body-watermark">
    <!-- Main -->
    <div class="flex-auto p-6">
        <!-- CONTENT GOES HERE -->
        <div class="rounded-2xl">
            <div class="user-main" style="border-radius: 10px;">
                <div class="nav rounded-2xl">
                    <h4>Staff</h4>
                </div>
                <div class="main p-6 w-100">
                    <div class="row main_inner">

                        <!--Add new staff-->
                        <div class="card p-0">
                            <img class="card-img-top" src="/assets/images/nav-images/newStaff.png" alt="Card image">
                            <div class="card-body">
                                <h4 class="card-title">Add New Staff</h4>
                                <p class="card-text">It is used to add a new staff and quick onboarding staff.</p>
                                <div class="actions">
                                    <button class="accept" [matMenuTriggerFor]="newGuard"  (click)="addNewStaff()">Access Now</button>
                                    <mat-menu #newGuard="matMenu">
                                        <button mat-menu-item (click)="createNewStaff('onBoarding')"><mat-icon>sentiment_very_satisfied</mat-icon>
                                            <span>Quick Onboarding Staff</span> 
                                        </button>
                                        <button mat-menu-item (click)="createNewStaff('newStaff')"><mat-icon>people</mat-icon>
                                            <span>Create New Staff</span>
                                        </button>
                                    </mat-menu>
                                </div> 
                            </div> 
                        </div>

                        <!--new staff-->


                        <div class="card p-0" *ngFor="let user of users">
                            <img class="card-img-top" [src]="user.image" alt="Card image">
                            <div class="card-body">
                              <h4 class="card-title">{{ user.name }}</h4>
                              <p class="card-text">{{ user.text }}</p>
                              <div class="actions">
                                    <button (click)="guard(user.url)" class="accept">
                                      Access Now
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
