<div class="d-flex justify-content-between w-100 p-4" style="position: sticky; top: 0; background-color: white; z-index: 8;">
    <h4>SignIn/Out Details</h4> 
    <mat-icon class="bg-danger text-light rounded" role="button" (click)="close()">close</mat-icon>
</div>

<div class="loginDetails">
    <div class="row m-0 w-100">
        <div class="col-4">
            <div class="container d-flex justify-content-center">
                <div class="profile-card">
                    <div class="top-container">
                        <img src="assets/images/download.png" class="img-fluid profile-image" style="width:120px">
                        <div class="ml-3">
                            <h5 class="name">{{ data?.name }}</h5>
                        </div>
                    </div>

                    <div class="recent-border mt-4">
                        <span class="recent-orders">SignIn Difference</span>
                    </div>

                    <div class="fashion-studio-border pt-2">
                        <span class="fashion-studio">{{ data?.signinDifference }}</span>
                    </div>

                    <div class="recent-border mt-4">
                        <span class="recent-orders">SignOut Difference</span>
                    </div>

                    <div class="fashion-studio-border pt-2">
                        <span class="fashion-studio">{{ data?.signoutDifference }}</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-8">
            <div class="scroll" style="min-height: 60vh; max-height: 70vh; overflow: auto;">
                <!-- signIn/out Date -->
                <div class="row  ms-4 mb-1 justify-content-between me-4 align-items-center">

                    <div class="col-5">
                        <label for="signin_date" class="fw-bold">SignIn Date</label>
                        <p>{{datas?.signin_date}}</p>
                    </div>

                    <div class="col-5">
                        <label for="signout_date" class="fw-bold">SignOut Date</label>
                        <p>{{datas?.signout_date}}</p>
                    </div>

                </div>

                <!-- signIn/out Time -->
                <div class="row  ms-4 justify-content-between mb-1 me-4 align-items-center">
                    <div class="col-5">
                        <label for="signin_time" class="fw-bold">SignIn Time</label>
                        <p>{{datas?.signin_time}}</p>
                    </div>
                    <div class="col-5">
                        <label for="end_time" class="fw-bold">SignOut Time</label>
                        <p>{{datas?.signout_time}}</p>
                    </div>
                </div>

                <!-- SignInNotes -->
                <div class="row  ms-4 mb-1 justify-content-between me-4 align-items-center">
                    <div class="col-5 ">
                        <label for="signIn_notes" class="fw-bold">SignIn Notes</label>
                        <p class="w-100 text-justify" name="signInNotes" id="" rows="5">{{datas?.signin_notes??'N/A'}}</p>
                    </div>
                    <div class="col-5   ">
                        <label for="signIn_notes" class="fw-bold">SignOut Notes</label>
                        <p class="w-100 text-justify" name="signInNotes" id="" rows="5">{{datas?.signout_notes??'N/A'}}</p>
                    </div>
                </div>

                <div class="row  ms-4 mb-1 justify-content-between me-4 align-items-center">
                    <div class="col-5 signInPicture">
                        <label class="fw-bold" for="signIn">Sign In Picture</label>
                        <div style="height:230px; overflow: hidden;" class="rounded border">
                            <img class="center" [src]="datas?.signin_selfie" alt="SignIn image" style="height: 230px;" />
                        </div>
                    </div>
                    <div class="col-5  signOutPicture">
                        <label class="fw-bold" for="signIn">Sign Out Picture</label>
                        <div style="height:230px; overflow: hidden;" class="rounded border">
                            <img class="center" [src]="datas?.signout_selfie" alt="SignOut image" style="height: 230px;"
                            (error)="handleImageError($event)" />
                        </div>
                    </div>
                </div>

                <div class="row  ms-4 mb-1 justify-content-between me-4 align-items-center">
                    <div class="col-5 ">
                        <label for="signOut_location" class="fw-bold">SignIN Location</label>
                        <button (click)="loadSignInMap()" class="map-btn">
                            <i class="fa-solid fa-map-marker-alt"></i> Show Map
                        </button>
                        <div *ngIf="showSignInMap" class="map rounded border d-flex align-items-center justify-content-center text-muted" style="margin-bottom: 15px;" #map id="map">
                            Map
                        </div>
                        <!-- <div class="map rounded border d-flex align-items-center justify-content-center text-muted" #map
                            id="map"> Map
                        </div> -->
                    </div>
                    <div class="col-5">
                        <label for="signOut_location" class="fw-bold">SignOut Location</label>
                        <!-- <div class="map rounded border d-flex align-items-center justify-content-center text-muted"
                            #map2 id="map2">
                            <img [src]="'assets/images/no_logout_image_emoji.png'"
                                alt="Placeholder Image" style="width: 100%; height: 100%; object-fit: cover;">
                        </div> -->
                        <button (click)="loadSignOutMap()" class="map-btn">
                            <i class="fa-solid fa-map-marker-alt"></i> Show Map
                        </button>
                        <div *ngIf="showSignOutMap" class="map rounded border d-flex align-items-center justify-content-center text-muted" style="margin-bottom: 15px;" #map2 id="map2">
                            Map
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>