.map {
	height: 230px;
}

.map2 {
	height: 230px;
}

.profile-card {
	background-color: #fff;
}

.top-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.profile-image {
	border-radius: 10px;
}

.name {
	font-size: 15px;
	font-weight: bold;
	color: #272727;
	position: relative;
	top: 8px;
}

.mail {
	font-size: 14px;
	color: grey;
	position: relative;
	top: 2px;
}

.round-div {
	border-radius: 50%;
	width: 35px;
	height: 35px;
	background-color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.dollar {
	font-size: 16px !important;
	color: #5957f9 !important;
	font-weight: bold !important;
}

.recent-border {
	border-left: 2px solid #5957f9;
	display: flex;
	align-items: center;
}

.recent-border:hover {
	border-bottom: 1px solid #dee2e6 !important;
}

.recent-orders {
	font-size: 16px;
	font-weight: 700;
	color: #5957f9;
	margin-left: 2px;
}

.wishlist {
	font-size: 16px;
	font-weight: 700;
	color: #272727;
}

.fashion-studio {
	font-size: 16px;
	font-weight: 700;
	color: #272727;
}

.fashion-studio-border:hover {
	border-bottom: 1px solid #dee2e6 !important;
}

.map-btn {
	background-color: #007bff;
	color: white;
	border: none;
	padding: 8px 12px;
	display: flex;
	align-items: center;
	gap: 8px;
	border-radius: 5px;
	font-size: 14px;
	cursor: pointer;
	transition: 0.3s ease;
	margin-bottom: 15px;
}
  
.map-btn:hover {
	background-color: #0056b3;
}