$primary-color: var(--primary_color, #01A37E);
$color-secondary: var(--color-secondary, #1e293c);

.cog-form-builder {
    padding: 10px;
    background-color: var(--primary_color);
    height: 50px;
    width: 100px;
    color: #ffffff;

    span {
        font-size: 12px;
    }

    mat-nav-lis {
        background-color: #434A60;
    }

    mat-icon {
        color: #ffffff;
    }
}

.sidenav {
    width: 100%;
    box-shadow: 1px 0 2px rgba(0, 0, 0, .24);
    overflow-x: hidden;
}

.mat-nav-list a {
    display: flex;
    align-items: center;
    transition: transform 0.2s ease-in-out;
    width: 100%;
    overflow: hidden;
    padding: 0;
    font-size: 12px;
    font-weight: bolder;
    border-top: 1px solid #00000017;
}

.nav-text {
    margin-left: 10px;
}

.mat-nav-list a:hover {
    cursor: pointer;
    background-color: var(--primary_color);
    color: #fff;
    overflow: hidden;
}

.header-area-form-builder {
    margin: 20px 0;
    position: relative;
    background-color: transparent;
    text-align: center;
    min-width: 10%;
    width: 25%;

    img {
        object-fit: contain;
    }
}

.drop-zone {
    min-height: 200px;
    width: 750px;

    .placeholder-content {
        text-align: center;

        .drag-icon {
            margin-bottom: 10px;
        }

        p {
            color: #aaa;
            font-weight: bold;
        }
    }

    .list-group-item {
        display: flex !important;
        align-items: center;
        width: fit-content;
    }

    .signature-container {
        border-style: dashed;
        border-width: 2px;
        margin-bottom: 20px;
        width: 100%;
        margin: 0 auto;
        height: 50px;
        text-align: center;
        margin-bottom: 10px;
    }
}

.example-container {
    height: 100%;
    width: 18%;
    background-color: transparent !important;
    z-index: 3;
}

.settings-container {
    position: absolute;
    right: 0;
    height: 100%;
    width: 23%;
    bottom: 0;
    background-color: transparent !important;
    z-index: 3;
}

.form-field-group {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.form-field {
    flex: 1;
    min-width: calc(50% - 10px);

    input {
        width: 100%;
    }
}

.form-field-full {
    flex-basis: 100%;
}

.input-group {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.form-field {
    flex: 1 1 100%;

    @media (min-width: 768px) {
        flex: 1 1 48%;
    }
}

.navbar-container {
    background-color: var(--primary_color);
    padding: 5px 0;
    color: white;
    position: sticky;
    top: 0;
    z-index: 2;
}

.tab-button {
    background: none;
    border: none;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.tab-button.active,
.tab-button:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.preview-button {
    background: white;
    border: none;
    color: #FF6C00;
    padding: 5px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 20px;
}

.text-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.form-element {
    border: 1px solid #ccc;
    background-color: #fff;
    z-index: 1000;
    resize: both;
    overflow: auto;
    cursor: move;
}

.form-element.selected {
    border: 1px solid blue;
    background-color: #f0f0f0;
}

.edit-form-builder,
.trash-form-builder {
    align-items: center;
    cursor: pointer;
    padding: 10px;
    border-radius: 50%;
    margin: 5px;
    height: 40px;
    width: 40px;
    justify-content: center;
}

.edit-form-builder {
    background-color: #3c3e41;
}

.trash-form-builder {
    background-color: #cb2828d0;
}

.form-element:hover .edit-form-builder,
.form-element:hover .trash-form-builder {
    visibility: visible;
}

.form-builder-action {
    position: absolute;
    top: 0%;
    left: 100%;
}

.textarea-inline-control {
    flex: 1;
    border-color: transparent;
    line-height: 1.28;
    resize: none;
    box-shadow: transparent 0px 0px 0px 1px;
    transition: background 0.1s ease 0s;
    overflow: auto;
    overflow-y: hidden;
    border-radius: 3px;
    appearance: none;
    height: auto;
    font-size: 35px;

    &:hover:not(:focus) {
        background-color: rgb(235, 236, 240);
    }

    &:focus {
        background-color: rgb(255, 255, 255);
        border: 1px solid #4c9aff;
        box-shadow: 0 0 0 1px #4c9aff;
        outline: none;
    }
}

.signature-container {
    pointer-events: none;
}

.pdf-container {
    position: relative;
}

#pdf-canvas-container {
    position: relative;
}

.signature-pad-container {
    border: 2px dashed #000;
    /* Dark border for better visibility */
    background: white;
    /* Ensure the background is white for contrast */
    padding: 10px;
    /* Add some padding for better visual separation */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    /* Optional: Add a shadow for better visibility */
}