.main-container{
  .map{
    height:250px
  }
}

.red-row {
  background-color: rgb(252, 123, 123);
}

.green-row{
  background-color: rgb(189, 241, 189);
}

.map-btn {
  background-color: #007bff; 
  color: white;
  border: none;
  width: auto;
  height: 40px;
  margin: 10px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 4px 10px;
  cursor: pointer;
  transition: 0.3s ease;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
}

.map-btn:hover {
  background-color: #0056b3;
}
