<div class="flex flex-col flex-auto min-w-0">

    <!-- Header -->
    <div
        class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between p-3 sm:py-8 sm:px-10 border-b bg-card dark:bg-transparent">
        <div class="flex-1 min-w-0">
            <div class="mt-2">
                <h2
                    class="text-1xl text-capitalize md:text-2xl font-extrabold tracking-tight leading-7 sm:leading-10 truncate">
                    {{ chatObj?.subject }}
                </h2>
            </div>
        </div>
    </div>

    <div class="flex p-3 sm:p-10">
        <div class="prose prose-sm w-3/5">
            <ng-container *ngFor="let item of chats">
                <div class="mb-6 p-4 rounded-2xl shadow bg-card">
                    <div class="d-flex align-items-center usersitediv">
                        <div style="position: relative;width: 100%;height: 100%;">
                            <div class="font-semibold text-md text-secondary" *ngIf="item?.guard_details">
                                {{item?.guard_details?.first_name}}</div>
                            <div class="font-semibold text-md text-secondary" *ngIf="item?.admin">{{item?.admin?.name}}
                            </div>
                            <div class="font-semibold text-md text-secondary">{{item.updated_at  | date:'dd-MM-yyy
                                HH:mm'}}
                            </div>
                        </div>
                    </div>
                    <hr class="m-0">
                    <div>
                        <p [innerHTML]="item.message"></p>
                    </div>


                    <h2 class="mb-2 text-lg font-semibold text-gray-900 dark:text-white"
                        *ngIf="item.attachments && item.attachments.length>0">Attachments:</h2>
                    <ol class="max-w-md space-y-1 text-gray-500 list-decimal list-inside dark:text-gray-400">
                        <li *ngFor="let attac of item?.attachments" class="cursor-pointer"
                            (click)="viewFile(attac.url)">
                            <span class="font-semibold text-gray-900 dark:text-white">{{ attac.fileName }}</span>
                        </li>
                    </ol>

                </div>
            </ng-container>
        </div>
        <fuse-card *ngIf="chatDetail"
            class="flex ml-2 flex-col w-2/5 h-100 px-8 pt-6 pb-4 filter-list position-sticky top-0">
            <div class="flex items-center justify-between">
                <div class="text-2xl font-semibold leading-tight">Ticket Detail</div>
            </div>
            <div class="flex justify-between my-3">
                <div class="font-medium leading-none">Requester</div>
                <div class="text-md leading-none text-secondary mt-1 text-capitalize">{{ chatDetail.name }}</div>
            </div>

            <div class="flex justify-between my-3">
                <div class="font-medium leading-none">Created</div>
                <div class="text-md leading-none text-secondary mt-1">{{ chatDetail.created_at | date:'dd-MM-yyy' }}
                </div>
            </div>

            <div class="flex justify-between my-3">
                <div class="font-medium leading-none">Last Activity</div>
                <div class="text-md leading-none text-secondary mt-1">{{ chatDetail.updated_at | date:'dd-MM-yyy' }}
                </div>
            </div>

            <div class="flex justify-between my-3">
                <div class="font-medium leading-none">Status</div>
                <div class="text-md leading-none text-white mt-1 badge badge-success text-capitalize"
                    *ngIf="chatDetail.status == 'open'">{{ chatDetail.status }}</div>
                <div class="text-md leading-none text-white mt-1 badge badge-warning text-capitalize"
                    *ngIf="chatDetail.status == 'closed'">{{ chatDetail.status }}</div>
                <div class="text-md leading-none text-white mt-1 badge badge-primary text-capitalize"
                    *ngIf="chatDetail.status == 'answered'">{{ chatDetail.status }}</div>
            </div>

        </fuse-card>
    </div>
    <fuse-card class="flex flex-col m-auto p-6 sm:p-8 pb-6 filter-post" *ngIf="chatObj?.status!='closed'"
        style="width: 95%;">
        <form #chatForm="ngForm">
            <div class="row">
                <div class="col-6">
                    <div class="text-xl font-semibold">Write your response here</div>

                </div>
                <div class="col-6 text-end">
                    <button class="btn-sm btn mr-2" (click)="addAttachments()">Attachments</button>
                    <button *ngIf="global.admin.admin_user_type == 'super-admin'" class="btn-sm btn"
                        (click)="closeTicket()">Close Ticket</button>
                </div>
            </div>

            <div class="progress" *ngIf="progress">
                <div class="progress-bar" [style.width]="progress + '%'">{{progress}}%</div>
            </div>
            <div class="row w-100 m-0 p-2 mb-3" *ngIf="attachments.length > 0">
                <p>Attachments</p>
                <div class="col-4 mb-2" *ngFor="let attachment of attachments">
                    <div class="crm-email-attachments">
                        <div class="attachment" (click)="viewFile(attachment.url)">
                            <mat-icon class="mr-2">insert_drive_file</mat-icon>
                            <div class="attachment-name">
                                <p>{{ attachment.fileName }}</p>
                                <p class="m-0">{{ roundSize(attachment.size) }}</p>
                            </div>
                            <mat-icon class="mr-2" (click)="removeAttachment(attachment)">delete_outline</mat-icon>
                        </div>
                    </div>
                </div>
            </div>

            <div class="flex flex-col sm:flex-row items-start mt-8">
                <app-ck-editor [(ngModel)]="message" class="w-100"></app-ck-editor>
            </div>
            <button type="submit" *ngIf="message" (click)="submitChatForm()" class="fuse-mat-button-large w-full mt-10"
                mat-stroked-button [color]="'primary'">
                Send
            </button>
        </form>
    </fuse-card>
</div>