<div class="plus_create_shift cursor-pointer ml-2 mt-2" [autoClose]="false" #p="ngbPopover" [ngbPopover]="popContent"
    [popoverTitle]="popTitle">
    <h2><span class="badge badge-info">Export</span></h2>
    <ng-template #popContent>
        <div class="search-customer w-100">
            <app-select-multiple-site (selectedSite)="receiveDataFromChildSite($event)"
                class="select_job_roster w-100 flex justify-content-center" [dataArray]="allSites"
                [placeholderText]="'Select Locations'"></app-select-multiple-site>
        </div>

        <div (click)="generateSiteLocationReport()"
            class="relative cursor-pointer grid w-25 m-auto select-none items-center whitespace-nowrap rounded-lg bg-pink-500 py-1.5 my-3 px-3 font-sans text-xs font-bold uppercase text-white">
            <span class="">Export</span>
        </div>
    </ng-template>
    <ng-template #popTitle>
        <div data-dismissible="chip"
            class="relative grid select-none items-center whitespace-nowrap rounded-lg py-1.5 px-1 font-sans text-xs font-bold uppercase text-white">
            <span class="mr-5">Export Locations</span>
            <button data-dismissible-target="chip" (click)="p.close()"
                class="!absolute  top-2/4 right-1 mx-px h-5 max-h-[32px] w-5 max-w-[32px] -translate-y-2/4 select-none rounded-md text-center align-middle font-sans text-xs font-medium uppercase text-white transition-all hover:bg-white/10 active:bg-white/30 disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
                type="button">
                <span class="absolute transform -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor"
                        class="w-4 h-4" stroke-width="2">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12"></path>
                    </svg>
                </span>
            </button>
        </div>
    </ng-template>
</div>