<div class="card mb-3 publish-unpublished" style="min-height: 450px;" #fullScreen>
    <div class="flex p-3 justify-between font-size-lg text-capitalize font-weight-normal">
        <span class="mr-2 opacity-7 fw-bold">
            Publish vs Unpublished Shifts | {{ this.globals.selectedDate }} ({{ filteredData.length }})
        </span>
        <div class="flex align-items-center">
            <label class="switch">
                <input type="checkbox" checked [(ngModel)]="showUnpublished" (change)="onCheckboxChange()">
                <div class="slider slider--0">Show All</div>
                <div class="slider slider--1">
                    <div></div>
                    <div></div>
                </div>
                <div class="slider slider--2"></div>
                <div class="slider slider--3">UnPublished</div>
            </label>
            <div class="flex align-items-center mr-3">
                <mat-icon (click)="displayPrevWeek()">navigate_before</mat-icon>
                <app-weekly-selection (startDate)="receiveStartDate($event)"
                    (endDate)="receiveEndDate($event)">
                </app-weekly-selection>
                <mat-icon (click)="displayNextWeek()">navigate_next</mat-icon>
            </div>
            <mat-icon svgIcon="mat_outline:open_in_full" class="icon-size-5 ml-2" (click)="openFullscreen()"></mat-icon>
        </div>
    </div>

    <div class="card-body" class="p-4" [ngClass]="{'full-height-license': isFullscreen, 'table-container-security': !isFullscreen}">
        <table class="table table-hover table-striped table-borderless">
            <thead class="bg-black">
                <tr>
                    <th>Location</th>
                    <th>Monday</th>
                    <th>Tuesday</th>
                    <th>Wednesday</th>
                    <th>Thursday</th>
                    <th>Friday</th>
                    <th>Saturday</th>
                    <th>Sunday</th>
                </tr>
            </thead>
            <tbody [@stagger]="filteredData.length">
                <ng-container *ngFor="let data of filteredData; trackBy: trackById">
                    <tr scope="row" [@fadeIn]="''" [@stagger]="i">
                        <td>{{ data.location }}</td>
                        <td>
                            {{ data.Monday }}
                            <div class="circle"
                                [ngClass]="{'red-circle': !showUnpublished && hasUnpublished(data.Monday)}">
                            </div>
                        </td>
                        <td>
                            {{ data.Tuesday }}
                            <div class="circle"
                                [ngClass]="{'red-circle': !showUnpublished && hasUnpublished(data.Tuesday)}">
                            </div>
                        </td>
                        <td>
                            {{ data.Wednesday }}
                            <div class="circle"
                                [ngClass]="{'red-circle': !showUnpublished && hasUnpublished(data.Wednesday)}">
                            </div>
                        </td>
                        <td>
                            {{ data.Thursday }}
                            <div class="circle"
                                [ngClass]="{'red-circle': !showUnpublished && hasUnpublished(data.Thursday)}">
                            </div>
                        </td>
                        <td>
                            {{ data.Friday }}
                            <div class="circle"
                                [ngClass]="{'red-circle': !showUnpublished && hasUnpublished(data.Friday)}">
                            </div>
                        </td>
                        <td>
                            {{ data.Saturday }}
                            <div class="circle"
                                [ngClass]="{'red-circle': !showUnpublished && hasUnpublished(data.Saturday)}">
                            </div>
                        </td>
                        <td>
                            {{ data.Sunday }}
                            <div class="circle"
                                [ngClass]="{'red-circle': !showUnpublished && hasUnpublished(data.Sunday)}">
                            </div>
                        </td>
                    </tr>
                </ng-container>
            </tbody>
        </table>
    </div>
</div>