<div class="row">
    <div class="col-12">
     <button type="button" (click)="close()" style="float: right; margin-right: 3rem; margin-top: 3rem;">
         <mat-icon>cancel</mat-icon>
     </button>
    </div> 
 </div>
<div class="wrap_form">
    <form [formGroup]="AddRef">
    <div class="content" #content>
        <div class="logo ">
            <img src="../../assets/images/logo/scouts.png" alt="" class="mb-2">
        </div>

        <div>
            <p>Do you have any pending charges or are you currently under investigation for any criminal offences
                in Australia or overseas? Does not include traffic offences but does include drunk driving offences.
                YES/NO
            </p>
                     
            <div class="body w-100  mt-3 d-flex ">
                <div class="form-body w-100 d-flex ">
                    <label >If YES, please describe: </label>
                    <input type="text" [formControl]="describeFormControl" class="border-secondary  ps-2 border-bottom w-75 ">
                </div>
            </div>

        </div>

        <h5 class="mt-3 font-italic">Health</h5>
        <p>If you answer YES to any of the below questions, please provide details in the blank space provided including
            dates of injuries and attention required.
        </p>

        <ul>
            <li class="d-flex">Have you ever suffered from, and physical disability eq. slipped disc, hernia etc? <div  class="d-flex p-2 ms-2 border border-secondary "role="button"*ngFor="let option1 of options1 let i = index" [class.active]="active1===i" (click)="setcar(i)">{{option1.name}}</div></li>
            <li class="d-flex">Do you suffer from epilepsy or any nervous system disorder?<div class="d-flex p-2 ms-2 border border-secondary "role="button"*ngFor="let option2 of options2 let i = index" [class.active]="active2===i" (click)="setcar2(i)">{{option2.name}}</div> </li>
            <li class="d-flex">Have you ever suffered from bronchitis, asthma, or diabetes? <div class="d-flex p-2 ms-2 border border-secondary "role="button"*ngFor="let option3 of options3 let i = index" [class.active]="active3===i" (click)="setcar3(i)">{{option3.name}}</div></li>
            <li class="d-flex">Have you ever been hospitalised for a medical condition? <div class="d-flex p-2 ms-2 border border-secondary "role="button"*ngFor="let option4 of options4 let i = index" [class.active]="active4===i" (click)="setcar4(i)">{{option4.name}}</div> </li>
            <li class="d-flex">Have you ever claimed compensation for any work-related injury or illness? <div class="d-flex p-2 ms-2 border border-secondary "role="button"*ngFor="let option5 of options5 let i = index" [class.active]="active5===i" (click)="setcar5(i)">{{option5.name}}</div></li>
            <li class="d-flex">Do you smoke? <div class="d-flex ms-2 border border-secondary p-2 "role="button"*ngFor="let option6 of options6 let i = index" [class.active]="active6===i" (click)="setcar6(i)">{{option6.name}}</div></li>
        </ul>
        <input type="hidden" [value]="option1" />
        <input type="hidden" [value]="option2" />
        <input type="hidden" [value]="option3" />
        <input type="hidden" [value]="option4" />
        <input type="hidden" [value]="option5" />
        <input type="hidden" [value]="option6" />

        <div class="w-100 text-center title mb-5">
            <h2 class="text-break fw-bold font-italic">References</h2>
        </div>

        <p>A company requirement and insurance condition require that satisfactory work references be obtained for up to
            a minimum of 5 years. You must supply 2 business and 1 personal reference with all contact details. Family and
            relatives are not acceptable as work history references.
        </p>

        <h5 class="mt-3 font-italic text-decoration-underline">Business / Work History References:</h5>

        <div class="form-group mt-3 justify-content-end d-flex">
            <div class="d-flex w-100">
                <div class=" d-flex employer">
                    <label for="">Employer Company Name</label>
                    <input type="text" formControlName="comp_name_one" class="border-bottom text-break ps-2 ms-2 border-secondary " style="word-break: break-all;">
                </div>
                <div class=" d-flex contactPerson">
                    <label for="">Contact Person</label>
                    <input type="number" formControlName="contact_per_one" class="border-bottom ps-2 ms-2 border-secondary no-spin-box">
                </div>
            </div>
        </div>

        <div class="d-flex mt-2 w-100">
            <label for="">Phone</label>
            <input type="number" formControlName="phone_one" class="border-bottom ps-2 ms-2 border-secondary w-25 no-spin-box">
        </div>

        <div class="d-flex from mt-2 w-100">
            <label for="">From</label>
            <input type="date" formControlName="from_date_one" class="border-bottom ps-2 ms-2 border-secondary w-25">
            <label for="">to</label>
            <input type="date" formControlName="to_date_one" class="border-bottom ps-2 ms-2 border-secondary w-25">
            <label for="">Position</label>
            <input type="text" formControlName="position_one" class="border-bottom ps-2 ms-2 border-secondary w-25">
        </div>

        <div class="d-flex mt-2 w-100">
            <label for="">Duties</label>
            <input type="text" formControlName="duties_one" class="border-bottom ps-2 ms-2 border-secondary w-75">
        </div>

        <div class="form-group mt-3 justify-content-end d-flex">
            <div class="d-flex w-100">
                <div class=" d-flex employer">
                    <label for="">Employer Company Name</label>
                    <input type="text" formControlName="comp_name_two" class="border-bottom text-break ps-2 ms-2 border-secondary " style="word-break: break-all;">
                </div>

                <div class=" d-flex contactPerson">
                    <label for="">Contact Person</label>
                    <input type="number" formControlName="contact_per_two" class="border-bottom ps-2 ms-2 border-secondary no-spin-box">
                </div>
            </div>
        </div> 

        <div class="d-flex mt-2 w-100">
            <label for="">Phone</label>
            <input type="number" formControlName="phone_two" class="border-bottom ps-2 ms-2 border-secondary w-25 no-spin-box">
        </div> 

        <div class="d-flex from mt-2 w-100">
            <label for="">From</label>
            <input type="date" formControlName="from_date_two" class="border-bottom ps-2 ms-2 border-secondary w-25">
            <label for="">to</label>
            <input type="date" formControlName="to_date_two" class="border-bottom ps-2 ms-2 border-secondary w-25">
            <label for="">Position</label>
            <input type="text" formControlName="position_two" class="border-bottom ps-2 ms-2 border-secondary w-25">
        </div>

        <div class="d-flex mt-2 w-100">
            <label for="">Duties</label>
            <input type="text" formControlName="duties_two" class="border-bottom ps-2 ms-2 border-secondary w-75">
        </div>                  
    </div>

    <div class="flex justify-content-center" style="margin-top: 5rem;">
        <button type="button" class="btn btn-success m-1" (click)="makePdf()"
             *ngIf="this.global.admin && this.global.admin.admin_user_type === 'super-admin'">Save pdf</button>
        <button type="button" class="btn btn-success m-1" (click)="submit()">Submit</button>
    </div>
    </form>
</div>