<div class=" modal-header d-flex justify-content-between ">
    <h4>{{ type === 'uniform' ? 'Uniform History' : (jobroster === 'note' ? 'Admin Shift Activities' : 'Administrator
        Feedback') }}</h4>
    <mat-icon role="button" (click)="close('dismiss')">close</mat-icon>
</div>

<div class="modal-body ">
    <div *ngIf="type=='uniform'">
        <div *ngFor="let feedback of uniforms">
            <div class="cards  d-flex  p-2">
                <div class="dp">
                    <p class="m-0 text-uppercase text-light">
                        {{feedback.action_by.charAt(0)}}{{feedback.action_by.charAt(1)}}</p>

                </div>
                <div class="d-flex text-break comment-body w-100 flex-column ms-2">
                    <div class="name d-flex justify-content-between">
                        <span class="fw-bold text-capitalize">{{feedback.action_by? feedback.action_by: ''}}</span>
                    </div>

                    <ul class="show-uniform-data">
                        <div style="width: 100%;height: 1px;border-top: 1px solid lightgray;"></div>
                        <li *ngFor="let uniform of feedback?.uniform_type">
                            <p><strong>Uniform Name:</strong> <span class="badge bg-warning white">{{
                                    uniform.uniformName }}</span></p>
                            <p><strong>Uniform Size:</strong> <span class="badge bg-warning white">{{
                                    uniform.uniformSize }}</span></p>
                            <p><strong>Quantity:</strong> <span class="badge bg-warning white">{{ uniform.quantity
                                    }}</span></p>
                            <p><strong>Return Status:</strong> <span class="badge bg-warning white">{{
                                    uniform.return_status }}</span></p>
                            <div style="width: 100%;height: 1px;border-top: 1px solid lightgray;"></div>
                        </li>
                    </ul>
                    <div class="d-flex justify-content-between text-muted mt-1">
                        <span class="badge bg-success text-white" style="width: fit-content; font-size:12px"
                            *ngIf="feedback.action_type=='Add Uniform'">{{ feedback.action_type }}</span>
                        <span class="badge bg-info text-dark" style="width: fit-content; font-size:12px"
                            *ngIf="feedback.action_type=='Update Uniform'">{{ feedback.action_type }}</span>
                        <span style="font-size:12px">{{feedback?.date}} {{ feedback?.time }}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Uniform history -->
    <ng-container *ngIf="jobroster === 'note'; else otherContent">
        <div *ngFor="let act of activity">
            <div class="cards  d-flex  p-2">
                <div class="dp">
                    <p class="m-0 text-uppercase text-light">
                        {{act.admin.name.charAt(0)}}{{act.admin.name.charAt(1)}}</p>
                </div>
                <div class="d-flex text-break comment-body w-100 flex-column ms-2">
                    <div class="name d-flex justify-content-between">

                        <span class="fw-bold text-capitalize">{{act.admin.name}} {{ formatActionType(act.action_type) }}</span>

                        <div *ngIf="(username.admin_name == act.admin.name || username.admin_user_type =='super-admin') && act.reason!==null">
                            <mat-icon class="text-danger small-icon" role="button"
                                svgIcon="heroicons_solid:trash" (click)="deleteadminNote(act)"></mat-icon><mat-icon role="button"
                                svgIcon="heroicons_solid:pencil" (click)="editadmin(act)"></mat-icon>
                        </div>
                    </div>
                    <span class="mb-3">{{act.reason}}</span>
                    <div style=" width: 100%; height: 1px; border-top: 1px solid lightgray;"></div>
                    <div class="d-flex justify-content-between text-muted mt-1"><span style="font-size:12px"></span>
                        <span style="font-size:12px">{{ act.created_at | date: 'MMMM dd, yyyy HH:mm' }}</span>
                    </div>
                </div>
            </div>
        </div>
    </ng-container>

    <ng-template #otherContent>
        <div *ngFor="let feedback of feedback" [ngClass]="{'feedback-box': feedback_id==feedback.id && selectUpdate }">
            <div class="cards  d-flex  p-2">
                <div class="dp">
                    <p class="m-0 text-uppercase text-light">
                        {{feedback.admin_name.charAt(0)}}{{feedback.admin_name.charAt(1)}}</p>

                </div>
                <div class="d-flex text-break comment-body w-100 flex-column ms-2">
                    <div class="name d-flex justify-content-between">

                        <span class="fw-bold text-capitalize">{{feedback.admin_name? feedback.admin_name: ''}}</span>
                        <div
                            *ngIf="username.admin_name == feedback.admin_name || username.admin_user_type =='super-admin'">
                            <mat-icon class="text-danger small-icon" role="button" svgIcon="heroicons_solid:trash"
                                (click)="deleteFeedback(feedback)"></mat-icon><mat-icon
                                (click)="updateFeedback(feedback)" role="button"
                                svgIcon="heroicons_solid:pencil"></mat-icon>
                        </div>
                    </div>
                    <span class="mb-3">{{feedback.feedback}}</span>
                    <div style="
                    width: 100%;
                    height: 1px;
                    border-top: 1px solid lightgray;"></div>
                    <div class="d-flex justify-content-between text-muted mt-1"><span
                            style="font-size:12px">{{feedback.on_edit}}</span>
                        <span style="font-size:12px">{{feedback.date}}</span>
                    </div>

                </div>
            </div>
        </div>

        <!-- <div class="chat">
            <div *ngFor="let message of conversation; let i = index" class="message {{ i % 2 === 0 ? 'received' : 'sent' }}">
              <div class="message-content">
                <p>{{ message }}</p>
                <mat-icon *ngIf="i % 2 !== 0" class="text-danger small-icon" role="button" svgIcon="heroicons_solid:trash"></mat-icon>
              </div>
            </div>
        </div> -->
    </ng-template>
</div>
<div class="modal-footer profileCommentFooter" *ngIf="type!='uniform'">
    <div class="d-flex w-100">
        <div class="dp">
            <p class="m-0 text-uppercase text-light">{{username.admin_name.charAt(0)}}{{username.admin_name.charAt(1)}}
            </p>
        </div>
        <mat-form-field appearance="outline" class="example-full-width profile-comment ms-2 mt-2 w-100">

            <input matInput placeholder="Share your Feedback" [(ngModel)]="inputValue"
                (keyup.enter)="inputValue && submitForm()" (keydown.shift.enter)="onShiftEnter($event)"
                #inputField="ngModel">

            <button class="text-right d-flex" (click)="submitForm()" role="button" mat-raised-button color="primary"
                [disabled]="!inputValue"> Send </button>
        </mat-form-field>
    </div>
</div>