$primary-color: var(--primary_color, #01A37E);
$color-secondary: var(--color-secondary, #1e293c);
$color-light-button: var(--color-light-button, #01a37e2e);

.modal-header {
  position: sticky;
  top: 0;
  z-index: 8;
}

.modal-body {
  min-height: 40vh;
  max-height: 50vh;
  overflow: auto;

  .comment-body {
    position: relative;
    background-color: $color-light-button;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 10px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);

    .mat-icon {
      min-height: 14px !important;
      height: 18px;
    }

  }

  .comment-body::before {
    content: "";
    position: absolute;
    border-width: 1px 15px 5px 0px;
    border-color: transparent $color-light-button transparent transparent;
    top: 0%;
    margin-left: -24px;


  }
}

.cards {
  .dp {
    height: 50px;
    border-radius: 50%;
    width: 13%;
    margin-top: 6px;
    background-color: $primary-color;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.modal-footer {
  .dp {
    height: 50px;
    border-radius: 50%;
    width: 13%;
    margin-top: 20px;
    background-color: $primary-color;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

button.gray {
  background-color: gray;
  color: black;
}

button.green {

  background-color: green;
  color: white;
}

.feedback-box {
  box-shadow: 8px 9px 8px 7px rgba(0, 0, 0, 0.5);
  background-color: lightcyan;
}

.modal-footer {
  width: 100%;
}

icon.red {
  color: red;
}

.show-uniform-data{
  padding: 5px;
  margin-bottom: 0;
  li{
    // border-bottom: 1px solid;
   p{
    margin: 5px;
    span{
      margin-left: 10px;
    }
   } 
  }
}


/// hira

.message {
  display: flex;
  align-items: flex-start;
  margin: 10px;
}

.message-content {
  background-color: #e2e2e2;
  padding: 10px;
  border-radius: 10px;
  max-width: 70%;
}

.message.sent {
  align-self: flex-end;
  flex-direction: row-reverse;
}

.message.sent .message-content {
  background-color: #dcf8c6;
}

p {
  margin: 0;
}